---
import type { HTMLAttributes } from "astro/types"
import { cva, type VariantProps } from "class-variance-authority"

import { cn } from "@/lib/utils"

const variants = cva("w-full gap-4 space-y-4 *:break-inside-avoid", {
  variants: {
    size: {
      sm: "columns-3xs",
      default: "columns-2xs",
      lg: "columns-xs",
    },
  },
  defaultVariants: {
    size: "default",
  },
})

interface Props extends HTMLAttributes<"div">, VariantProps<typeof variants> {}

const { size, class: className, ...props } = Astro.props

const slot = await Astro.slots.render("default")
---

{
  slot && (
    <div class={cn(variants({ size }), className)} {...props}>
      <Fragment set:html={slot} />
    </div>
  )
}
