---
import type { ComponentProps, HTMLAttributes } from 'astro/types'
import Head from 'fulldev-ui/components/Head.astro'

type Props = Omit<HTMLAttributes<'body'>, 'title'> & {
  head?: ComponentProps<typeof Head>
}

const { head, ...rest } = Astro.props
---

<!doctype html>
<html>
  <Head {...head} />
  <body {...rest}>
    <slot />
    <style is:global>
      @layer fulldev {
        html {
          width: 100%;
          color: var(--color-foreground);
          color-scheme: light;
          font-size: var(--text-base);
          line-height: var(--line-height-relaxed);
          font-family: var(--font-sans);
        }

        .dark {
          color-scheme: dark;
        }

        body {
          background-color: var(--color-background);
          width: 100%;
          color: var(--color-foreground);
          font-family: var(--font-sans);
        }
      }
    </style>
  </body>
</html>
