---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"span"> {}

const { class: className, ...props } = Astro.props
---

<span class={cn("", className)} {...props}>
  <slot />
</span>
