---
export interface Props {
  layout?: 'center' | 'left' | 'wide' | null
  class?: string
}

const { layout, class: className } = Astro.props
const slot = await Astro.slots.render('default')
---

{
  slot?.trim().length > 0 && (
    <div class:list={['writeup', layout, className]}>
      <slot />
    </div>
  )
}

<style>
  div {
    container-type: inline-size;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: var(--flow3);

    &:where(.center) {
      align-items: center;
      text-align: center;
    }

    &:where(.left) {
      align-items: left;
      text-align: left;
    }

    &:where(.wide) {
      flex-direction: row;
      align-items: left;
      text-align: left;
    }
  }
</style>
