---
export interface Props {
  text?: string | null
  class?: string
}

const { text, class: className } = Astro.props
const slot = await Astro.slots.render('default')
---

{
  (text || slot?.trim().length > 0) && (
    <p class:list={['text', className]}>
      {text}
      <slot />
    </p>
  )
}

<style>
  p {
    line-height: 1.625;
    color: var(--text);
    font-size: var(--text2);
  }
</style>
