---
import type { HTMLAttributes } from 'astro/types'

export interface Props {
  href?: HTMLAttributes<'a'>['href']
  frame?: 'fill' | 'panel' | null
  ratio?: 'landscape' | 'square' | 'portrait' | null
  class?: string
}

const { href, frame = 'fill', ratio, class: className } = Astro.props
---

{
  href ? (
    <a
      class:list={['card flow-compact', frame, ratio, className]}
      href={href}
    >
      <slot />
    </a>
  ) : (
    <div class:list={['card flow-compact', frame, ratio, className]}>
      <slot />
    </div>
  )
}

<style>
  div {
    container: cardwrapper / inline-size;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--flow2);
    background: var(--card-bg);
    border-width: var(--border);
    border-color: var(--card-ring);

    & > img {
      opacity: 0.75;
    }

    &:where(.surface) {
      border-width: 1px;
    }
    &:where(.soft) {
    }
    &:where(.outline) {
      border-width: 1px;
    }
    &:where(.ghost) {
      background-color: transparent;
    }
    &:where(.landscape) {
      aspect-ratio: 4/3;
      object-fit: cover;
    }
    &:where(.square) {
      aspect-ratio: 1/1;
      object-fit: cover;
    }
    &:where(.portrait) {
      aspect-ratio: 3/4;
      object-fit: cover;
    }
  }
</style>
