---
import type { HTMLAttributes } from 'astro/types'

export interface Props {
  text?: string | null
  href?: HTMLAttributes<'a'>['href'] | null
}

const { href, text } = Astro.props
---

{
  href && text && (
    <a href={href}>
      {text}
      <slot />
    </a>
  )
}

<style>
  a {
    font-size: inherit;
    color: var(--text);

    &:hover {
      color: var(--heading);
    }
  }
</style>
