---
import type { HTMLAttributes } from 'astro/types'

export interface Props {
  label?: string | null
  href?: HTMLAttributes<'a'>['href'] | null
}

const { href, label } = Astro.props
---

{
  href && label && (
    <a href={href}>
      {label}
      <slot />
    </a>
  )
}

<style>
  a {
    font-size: inherit;
  }
</style>
