---
import type { HTMLAttributes } from 'astro/types'

export type LinkProps = Props
interface Props {
  label?: string | null
  href?: HTMLAttributes<'a'>['href'] | null
}

const { href, label } = Astro.props
---

{href && label && <a href={href}>{label}</a>}

<style>
  a {
    font-size: inherit;
    /* @apply link text-size-inherit text-hue11 hover:text-hue12; */
  }
</style>
