---
import { getSlot } from 'src/utils'
import Icon from '../icon/Icon.astro'

interface Props {
  spec?: string
}

const { props } = Astro
const slot = await getSlot(Astro)
---

{
  (props.spec || slot) && (
    <li>
      <Icon icon="check" />
      <p>{props.spec}</p>
      <slot />
    </li>
  )
}

<style>
  li {
    color: var(--un-preset-theme-textColor-base);
    line-height: 1.625;
    font-family: 'Open Sans';
    gap: 0.5em;
    display: flex;
    align-items: center;

    p {
      font: var(--font);
      color: var(--color);
      font-size: var(--text1);
    }
  }
</style>
