---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"h2">

const { class: className, ...props } = Astro.props
---

<h2
  data-slot="alert-dialog-title"
  class={cn(
    "text-lg font-medium sm:group-data-[size=default]/alert-dialog-content:group-has-data-[slot=alert-dialog-media]/alert-dialog-content:col-start-2",
    className
  )}
  {...props}
>
  <slot />
</h2>
