---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div
  data-slot="alert-dialog-content"
  hidden
  class={cn(
    "bg-background fixed top-1/2 left-1/2 z-(--alert-dialog-content-stack-index) grid w-full max-w-[calc(100%-2rem)] -translate-x-1/2 -translate-y-1/2 scale-95 gap-6 rounded-lg border p-6 opacity-0 shadow-lg transition-all duration-200 data-[ending-style]:scale-95 data-[ending-style]:opacity-0 data-[open]:scale-100 data-[open]:opacity-100 data-[starting-style]:scale-95 data-[starting-style]:opacity-0 sm:max-w-lg",
    className
  )}
  {...props}
>
  <slot />
</div>
