---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  data-slot="alert-dialog-overlay"
  hidden
  class={cn(
    "fixed inset-0 z-(--alert-dialog-overlay-stack-index) bg-black/50 opacity-0 transition-opacity duration-200 data-[ending-style]:opacity-0 data-[open]:opacity-100 data-[starting-style]:opacity-0",
    className
  )}
  {...props}
>
</div>
