---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div
  data-slot="alert-dialog-media"
  class={cn(
    "bg-muted text-foreground inline-flex size-10 items-center justify-center rounded-full border font-semibold",
    className
  )}
  {...props}
>
  <slot />
</div>
