---
import type { HTMLAttributes } from 'astro/types'

interface Props {
  price?: number | null
  class?: HTMLAttributes<'div'>['class']
}

const { price } = Astro.props
const priceNumber = parseFloat(price as any)
const fixedPrice = priceNumber?.toFixed(2)
---

{price && fixedPrice && <span> &euro;{fixedPrice}</span>}

<style>
  span {
    color: var(--base-12);
    font-size: var(--font-size-2);
    line-height: 1;
  }
</style>
