---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"span">

const { class: className, hidden = true, ...props } = Astro.props
---

<span
  data-slot="combobox-item-indicator"
  hidden={hidden}
  class={cn(
    "pointer-events-none absolute right-2 flex size-4 items-center justify-center",
    className
  )}
  {...props}
>
  <slot />
</span>
