---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div
  data-slot="combobox-label"
  class={cn("text-muted-foreground px-2 py-1.5 text-xs", className)}
  {...props}
>
  <slot />
</div>
