---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, hidden = true, ...props } = Astro.props
---

<div
  data-slot="combobox-empty"
  hidden={hidden}
  class={cn(
    "text-muted-foreground hidden w-full items-center justify-center py-2 text-center text-sm group-data-empty/combobox-content:flex",
    className
  )}
  {...props}
>
  <slot>No results found.</slot>
</div>
