---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"span"> {}

const { class: className, ...props } = Astro.props
---

<span
  data-slot="combobox-value"
  class={cn(
    "data-[placeholder]:text-muted-foreground block flex-1 truncate text-left",
    className
  )}
  {...props}
>
  <slot />
</span>
