---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  data-slot="combobox-list"
  class={cn(
    "no-scrollbar max-h-[min(18rem,var(--available-height))] scroll-py-1 overflow-x-hidden overflow-y-auto overscroll-contain p-1 group-data-empty/combobox-content:p-0",
    className
  )}
  {...props}
>
  <slot />
</div>
