---
import type { HTMLAttributes } from 'astro/types'
import getSlot from '../../utils/getSlot'
interface Props {
  class?: HTMLAttributes<'div'>['class']
}

const { class: className } = Astro.props
const slot = await getSlot(Astro)
---

{
  slot && (
    <div class:list={['group', className]}>
      <Fragment set:html={slot} />
    </div>
  )
}

<style>
  .group {
    display: flex;
    gap: var(--flow2);
    flex-wrap: wrap;
  }
</style>
