---
import {
  Section,
  SectionActions,
  SectionContent,
  SectionMedia,
  SectionSplit,
  SectionTypography,
} from "@/components/ui/section"
import { Skeleton } from "@/components/ui/skeleton"
---

<Section>
  <SectionSplit>
    <SectionContent>
      <SectionTypography>
        <Skeleton class="h-12 w-8/10" />
        <Skeleton class="h-4 w-9/10" />
        <Skeleton class="h-4 w-9/10" />
        <Skeleton class="h-4 w-7/10" />
      </SectionTypography>
      <SectionActions>
        <Skeleton class="h-9 w-32" />
        <Skeleton class="h-9 w-32" />
      </SectionActions>
    </SectionContent>
    <SectionMedia>
      <Skeleton class="aspect-video w-full" />
    </SectionMedia>
  </SectionSplit>
</Section>
