---
import {
  Section,
  SectionActions,
  SectionContent,
  SectionMedia,
  SectionSpread,
  SectionTypography,
} from "@/components/ui/section"
import { Skeleton } from "@/components/ui/skeleton"
---

<Section>
  <SectionSpread>
    <SectionContent>
      <SectionTypography>
        <Skeleton class="mb-6 h-12 w-3/4" />
        <Skeleton class="mt-2 h-4 w-full" />
        <Skeleton class="mt-2 h-4 w-full" />
        <Skeleton class="mt-2 h-4 w-80" />
      </SectionTypography>
    </SectionContent>
    <SectionContent>
      <SectionActions>
        <Skeleton class="h-8 w-32" />
        <Skeleton class="h-8 w-32" />
      </SectionActions>
    </SectionContent>
  </SectionSpread>
  <SectionMedia>
    <Skeleton class="aspect-video w-full" />
  </SectionMedia>
</Section>
