---
import {
  Section,
  SectionActions,
  SectionContent,
  SectionGrid,
  SectionSpread,
  SectionTypography,
} from "@/components/ui/section"
import { Skeleton } from "@/components/ui/skeleton"
import {
  Tile,
  TileContent,
  TileMedia,
  TileTypography,
} from "@/components/ui/tile"
---

<Section>
  <SectionSpread>
    <SectionContent>
      <SectionTypography>
        <Skeleton class="mb-6 h-12 w-3/4" />
        <Skeleton class="mt-2 h-4 w-full" />
        <Skeleton class="mt-2 h-4 w-full" />
        <Skeleton class="mt-2 h-4 w-80" />
      </SectionTypography>
    </SectionContent>
    <SectionContent>
      <SectionActions>
        <Skeleton class="h-8 w-32" />
        <Skeleton class="h-8 w-32" />
      </SectionActions>
    </SectionContent>
  </SectionSpread>
  <SectionGrid>
    {
      Array.from({ length: 8 }).map(() => (
        <Tile>
          <TileMedia>
            <Skeleton class="aspect-video w-full" />
          </TileMedia>
          <TileContent>
            <TileTypography>
              <Skeleton class="h-4 w-8/10" />
              <Skeleton class="h-2 w-9/10" />
              <Skeleton class="h-2 w-7/10" />
            </TileTypography>
          </TileContent>
        </Tile>
      ))
    }
  </SectionGrid>
</Section>
