---
import {
  Section,
  SectionActions,
  SectionContent,
  SectionGrid,
  SectionTypography,
} from "@/components/ui/section"
import { Skeleton } from "@/components/ui/skeleton"
import {
  Tile,
  TileContent,
  TileMedia,
  TileTypography,
} from "@/components/ui/tile"
---

<Section>
  <SectionContent>
    <SectionTypography>
      <Skeleton class="h-12 w-8/10" />
      <Skeleton class="h-4 w-9/10" />
      <Skeleton class="h-4 w-9/10" />
      <Skeleton class="h-4 w-7/10" />
    </SectionTypography>
    <SectionActions>
      <Skeleton class="h-9 w-32" />
      <Skeleton class="h-9 w-32" />
    </SectionActions>
  </SectionContent>
  <SectionGrid>
    {
      Array.from({ length: 8 }).map(() => (
        <Tile>
          <TileMedia>
            <Skeleton class="aspect-video w-full" />
          </TileMedia>
          <TileContent>
            <TileTypography>
              <Skeleton class="h-4 w-8/10" />
              <Skeleton class="h-2 w-9/10" />
              <Skeleton class="h-2 w-7/10" />
            </TileTypography>
          </TileContent>
        </Tile>
      ))
    }
  </SectionGrid>
</Section>
