---
import {
  Section,
  SectionActions,
  SectionContent,
  SectionMasonry,
  SectionProse,
} from "@/components/ui/section"
import { Skeleton } from "@/components/ui/skeleton"
import { Tile, TileContent, TileMedia } from "@/components/ui/tile"
---

<Section>
  <SectionContent>
    <SectionProse>
      <Skeleton class="h-12 w-8/10" />
      <Skeleton class="h-4 w-9/10" />
      <Skeleton class="h-4 w-9/10" />
      <Skeleton class="h-4 w-7/10" />
    </SectionProse>
    <SectionActions>
      <Skeleton class="h-9 w-32" />
      <Skeleton class="h-9 w-32" />
    </SectionActions>
  </SectionContent>
  <SectionMasonry>
    {
      Array.from({ length: 8 }).map((_, index) => (
        <Tile>
          <TileMedia>
            <Skeleton
              class:list={[
                `w-full`,
                {
                  "h-32": index % 4 === 0,
                  "h-56": index % 4 === 1,
                  "h-44": index % 4 === 2,
                  "h-34": index % 4 === 3,
                },
              ]}
            />
          </TileMedia>
          <TileContent>
            <div class="space-y-2">
              <Skeleton class="h-4 w-8/10" />
              <Skeleton class="h-2 w-9/10" />
              <Skeleton class="h-2 w-7/10" />
            </div>
          </TileContent>
        </Tile>
      ))
    }
  </SectionMasonry>
</Section>
