---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  role="radiogroup"
  data-slot="radio-group"
  class={cn("grid gap-3", className)}
  {...props}
>
  <slot />
</div>
