---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"span"> {
  value: string
  disabled?: boolean
  indicatorClass?: string
}

const {
  class: className,
  value,
  disabled,
  indicatorClass,
  ...props
} = Astro.props
---

<span
  data-slot="radio-group-item"
  data-value={value}
  data-disabled={disabled ? "" : undefined}
  class={cn(
    "border-input bg-background group/radio-group-item data-[checked]:bg-primary data-[checked]:border-primary focus-visible:border-ring focus-visible:ring-ring/50 data-[disabled]:cursor-not-allowed data-[disabled]:opacity-50 dark:bg-input/30 relative inline-flex size-4 shrink-0 items-center justify-center rounded-full border outline-none transition-colors focus-visible:ring-3",
    className
  )}
  {...props}
>
  <span
    aria-hidden="true"
    data-slot="radio-group-indicator"
    class={cn(
      "bg-primary-foreground pointer-events-none size-2 rounded-full opacity-0 transition-[opacity,transform] data-[checked]:scale-100 data-[checked]:opacity-100 data-[unchecked]:scale-0",
      indicatorClass
    )}
  />
</span>
