---
import type { HTMLAttributes } from 'astro/types'

type Props = Omit<HTMLAttributes<'option'>, 'slot'> & {
  text?: string
}

const { text, ...rest } = Astro.props
---

<option
  class:list={['selectOption']}
  {...rest}
>
  {text}
  <slot />
</option>

<style is:global lang="scss">
  @import '../../../css/utils.scss';

  @include component('selectOption') {
    color: var(--foreground);
    font-weight: var(--font-weight);
    font-size: var(--text-label);
    line-height: 1;
    font-family: var(--font-family);
  }
</style>
