---
import type { Polymorphic } from 'astro/types'

type Props<As extends 'div'> = Polymorphic<{ as: As }> & {
  placeholder?: string
}

const { placeholder, ...rest } = Astro.props
---

{
  placeholder && (
    <option
      selected
      disabled
    >
      {placeholder}
    </option>
  )
}
