---
import type { ComponentProps } from 'astro/types'
import Label from '../../typography/Label.astro'

type Props = ComponentProps<typeof Label<'label'>>

const { contrast = true, ...rest } = Astro.props
---

<Label
  {contrast}
  {...rest}
>
  <slot />
</Label>
