---
import type { Polymorphic } from 'astro/types'
import Label from '../../typography/Label.astro'

type Props<As extends 'label'> = Polymorphic<{ as: As }> & {
  text?: string
}

const { text } = Astro.props
---

<Label>{text}<slot /></Label>
