---
import { getEntry } from "astro:content"

import Layout from "@/components/layout.astro"

export async function getStaticPaths() {
  const blocks = import.meta.glob("src/components/blocks/**/*.astro")
  return Object.entries(blocks).map(([path]) => {
    const id = path.split("/").pop()?.split(".")[0]
    return {
      params: {
        block: id,
      },
    }
  })
}

const { block } = Astro.params
const indexBlock = await getEntry("pages", "blocks")
const layout = await getEntry("layouts", "index")

const h1Html = `
  <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
`

const blocksUsingH1 = ["hero", "article", "product"]
const html = blocksUsingH1.some((name) => block?.startsWith(name))
  ? h1Html
  : indexBlock?.data?.html
---

<Layout
  {...layout?.data}
  {...indexBlock?.data}
  block={block}
  html={html}
  seo={{ title: block }}
/>
