---
import type { Props as RadioProps } from './Radio.astro'
import Radio from './Radio.astro'

export type Props = { radios: Pick<RadioProps, 'label'>[] } & {
  group: string
}

const { radios, group } = Astro.props
---

<div>
  {
    radios &&
      radios.map((radio: any) => (
        <Radio
          label={radio.label}
          group={group}
        />
      ))
  }
</div>

<style>
  div {
    gap: var(--spacing-1);
    display: flex;
    flex-direction: column;
  }
</style>
