---
interface Props {
  type: "facebook" | "instagram" | "twitter" | "pinterest" | "linkedin" | "youtube" | "tiktok" | "snapchat"
  value: string
}

const { type, value } = Astro.props

const map = {
  facebook: {
    href: "https://www.facebook.com/" + value,
    icon: 'icon:brand-facebook',
  },
  instagram: {
    href: "https://www.instagram.com/" + value,
    icon: 'icon:brand-instagram',
  },
  twitter: {
    href: "https://www.twitter.com/" + value,
    icon: 'icon:brand-twitter',
  },
  pinterest: {
    href: "https://www.pinterest.com/" + value,
    icon: 'icon:brand-pinterest',
  },
  linkedin: {
    href: "https://www.linkedin.com/" + value,
    icon: 'icon:brand-linkedin',
  },
  youtube: {
    href: "https://www.youtube.com/" + value,
    icon: 'icon:brand-youtube',
  },
  tiktok: {
    href: "https://www.tiktok.com/" + value,
    icon: 'icon:brand-tiktok',
  },
  snapchat: {
    href: "https://www.snapchat.com/" + value,
    icon: 'icon:brand-snapchat',
  },
}
---

{
  type && value && (
    <a
      class="button-secondary mode-compact !size-small !hue-base"
      href={map[type].href}
      target="_blank"
    >
      <i
        class="h-1.4em w-1.4em relative block text-inherit"
        class:list={map[type].icon}
      />
    </a>
  )
}
