---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  class={cn("mx-auto w-full max-w-6xl px-6", className)}
  data-slot="container"
  {...props}
>
  <slot />
</div>
