---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"span">

const { class: className, ...props } = Astro.props
---

<span
  data-slot="select-item-text"
  class={cn(
    "flex flex-1 shrink-0 items-center gap-2 whitespace-nowrap",
    className
  )}
  {...props}
>
  <slot />
</span>
