---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"span">

const { class: className, ...props } = Astro.props
---

<span
  data-slot="select-value"
  class={cn("flex flex-1 text-left", className)}
  {...props}
>
  <slot />
</span>
