---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  data-slot="select-group"
  class={cn("scroll-my-1 p-1", className)}
  {...props}
>
  <slot />
</div>
