---
import { CheckIcon } from "@lucide/astro"
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div"> & {
  value?: string
  disabled?: boolean
  label?: string
}

const { class: className, value, disabled, label, ...props } = Astro.props
---

<div
  data-slot="select-item"
  data-value={value}
  data-disabled={disabled ? "true" : undefined}
  data-label={label}
  class={cn(
    "group/select-item data-[highlighted]:bg-accent data-[highlighted]:text-accent-foreground relative flex w-full cursor-default items-center gap-2 rounded-sm py-1.5 pr-8 pl-2 text-sm outline-none select-none data-[disabled=true]:pointer-events-none data-[disabled=true]:opacity-50 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4 data-[highlighted]:**:[svg]:text-accent-foreground *:data-[slot=select-item-text]:flex *:data-[slot=select-item-text]:shrink-0 *:data-[slot=select-item-text]:items-center *:data-[slot=select-item-text]:gap-2 *:data-[slot=select-item-text]:whitespace-nowrap",
    className
  )}
  {...props}
>
  <slot />
  <span
    aria-hidden="true"
    class="pointer-events-none absolute right-2 flex size-4 items-center justify-center opacity-0 group-data-[selected]/select-item:opacity-100"
  >
    <CheckIcon />
  </span>
</div>
