---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  data-slot="select-viewport"
  class={cn(
    "p-1 data-[position=item-aligned]:w-full data-[position=popper]:min-w-36",
    className
  )}
  {...props}
>
  <slot />
</div>
