---
import type { HTMLAttributes } from "astro/types"

import { Icon } from "@/components/ui/icon"
import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"li"> {}

const { class: className, ...props } = Astro.props
---

<li
  data-slot="breadcrumb-separator"
  role="presentation"
  aria-hidden="true"
  class={cn("[&>svg]:size-3.5", className)}
  {...props}
>
  {
    Astro.slots.has("default") ? (
      <slot />
    ) : (
      <Icon name="chevron-right" class="rtl:rotate-180" />
    )
  }
</li>
