---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"
import { Icon } from "@/components/ui/icon"

type Props = HTMLAttributes<"span">

const { class: className, ...props } = Astro.props
---

<span
  data-slot="breadcrumb-ellipsis"
  role="presentation"
  aria-hidden="true"
  class={cn(
    "flex size-5 items-center justify-center [&>svg]:size-4",
    className
  )}
  {...props}
>
  <Icon name="ellipsis" />
  <span class="sr-only">More</span>
</span>
