# build output
dist/
**/dist
**/build
**/out
**/.astro
**/.jampack
**/.core
# generated types
.astro/

# dependencies
node_modules/
**/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# public files

**/public/images

# logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# environment variables
.env
.env.production
**/.env
**/.env.*
**/.env*.local
!**/.env.example

# macOS-specific files
.DS_Store
**/.DS_Store
*.pem
