# Dependencies
**/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Build directories
**/dist
**/build
**/out
**/.astro
**/.jampack
**/.next
**/.vercel
**/.turbo
**/.payload

# misc
**/.DS_Store
*.pem