# folders
.astro/
.netlify/
dist/
.stackbit/
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lockb

# misc
**/.DS_Store