:root {
  --blue-1: #fbfdff;
  --blue-2: #f4faff;
  --blue-3: #e6f4fe;
  --blue-4: #d5efff;
  --blue-5: #c2e5ff;
  --blue-6: #acd8fc;
  --blue-7: #8ec8f6;
  --blue-8: #5eb1ef;
  --blue-9: #0090ff;
  --blue-10: #0588f0;
  --blue-11: #0d74ce;
  --blue-12: #113264;
}

:root {
  --slate-1: #fcfcfd;
  --slate-2: #f9f9fb;
  --slate-3: #f0f0f3;
  --slate-4: #e8e8ec;
  --slate-5: #e0e1e6;
  --slate-6: #d9d9e0;
  --slate-7: #cdced6;
  --slate-8: #b9bbc6;
  --slate-9: #8b8d98;
  --slate-10: #80838d;
  --slate-11: #60646c;
  --slate-12: #1c2024;
}

:root {
  --accent-1: var( --indigo-1);
  --accent-2: var(--indigo-2);
  --accent-3: var(--indigo-3);
  --accent-4: var(--indigo-4);
  --accent-5: var(--indigo-5);
  --accent-6: var(--indigo-6);
  --accent-7: var(--indigo-7);
  --accent-8: var(--indigo-8);
  --accent-9: var(--indigo-9);
  --accent-10: var(--indigo-10);
  --accent-11: var(--indigo-11);
  --accent-12: var(--indigo-12);
}

:root {
  --base-1: var( --slate-1);
  --base-2: var(--slate-2);
  --base-3: var(--slate-3);
  --base-4: var(--slate-4);
  --base-5: var(--slate-5);
  --base-6: var(--slate-6);
  --base-7: var(--slate-7);
  --base-8: var(--slate-8);
  --base-9: var(--slate-9);
  --base-10: var(--slate-10);
  --base-11: var(--slate-11);
  --base-12: var(--slate-12);
}

:root, .color-base {
  --color-1: var( --base-1);
  --color-2: var(--base-2);
  --color-3: var(--base-3);
  --color-4: var(--base-4);
  --color-5: var(--base-5);
  --color-6: var(--base-6);
  --color-7: var(--base-7);
  --color-8: var(--base-8);
  --color-9: var(--base-9);
  --color-10: var(--base-10);
  --color-11: var(--base-11);
  --color-12: var(--base-12);
}

:root, .color-accent {
  --color-1: var( --accent-1);
  --color-2: var(--accent-2);
  --color-3: var(--accent-3);
  --color-4: var(--accent-4);
  --color-5: var(--accent-5);
  --color-6: var(--accent-6);
  --color-7: var(--accent-7);
  --color-8: var(--accent-8);
  --color-9: var(--accent-9);
  --color-10: var(--accent-10);
  --color-11: var(--accent-11);
  --color-12: var(--accent-12);
}