---
import type { CollectionEntry } from 'astro:content'

type Props = CollectionEntry<'components'>['data']

const { name, ...rest } = Astro.props
---

<div class="code-snippet">
  <div class="code">
    <p>
      {'<' + name + ' '}
      {
        Object.entries(rest.props).map(([key, value]) => {
          if (key !== 'component') {
            if (value !== 'undefined') return key + '="' + value + '" '
          }
        })
      }
      {'/>'}
    </p>
  </div>
</div>

<style>
  .code-snippet {
    margin: 20px 10px;

    .code {
      display: flex;
      justify-content: space-between;
      align-items: center;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: 2px solid var(--6);
      border-radius: var(--radius-2);
      background-color: var(--2);
      padding: var(--space-3);
      color: var(--11);
      font-size: 14px;
      text-indent: 1px;
      text-overflow: '';
    }
  }
</style>
