---
import { getCollection } from 'astro:content'
import { Button, Group, Heading, Icon, Subtext, Tag, Text } from 'fulldev-ui'

const componentEntries = await getCollection('components')
---

<div class="sidebar">
  <Heading size="xs"
    ><Tag
      as="a"
      href="/"
      >Fullui Stories</Tag
    ></Heading
  >
  <Subtext size="xs">Built with Fullui.</Subtext>

  <br />

  <Text size="xs">
    Here you can try out some of our base and typography components.
  </Text>

  <br />

  <Group>
    <Button
      href="https://ui.full.dev/"
      size="xs"
      variant="surface"
      target="_blank"
    >
      <Icon name="book-2" /> Documentation
    </Button>
    <Button
      href="https://github.com/fulldotdev/ui"
      size="xs"
      variant="surface"
      target="_blank"
    >
      <Icon name="brand-github" />
    </Button>
  </Group>

  <div class="navigation">
    <Heading
      size="xs"
      density="compact"
      >Components</Heading
    >
    <Group direction="column">
      {
        componentEntries.map((component) => (
          <Button
            href={
              '/?component=' +
              component.data.props.component +
              '&variant=' +
              component.data.props.color +
              '&html=' +
              component.data.props.html +
              '&name=' +
              component.data.props.name +
              '&placeholder=' +
              component.data.props.placeholder +
              '&rows=' +
              component.data.props.rows +
              '&src=' +
              component.data.props.src +
              '&size=' +
              component.data.props.size +
              '&type=' +
              component.data.props.type +
              '&variant=' +
              component.data.props.variant
            }
            variant="surface"
            density="compact"
          >
            {component.data.name}
          </Button>
        ))
      }
    </Group>
  </div>
</div>

<style>
  .sidebar {
    margin: 10px 10px 0 10px;
    max-width: 300px;
    max-height: 96vh;
    overflow: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;

    .full-heading {
      margin-bottom: 5px;
    }

    .navigation {
      margin: 30px 0;

      .full-heading {
        margin-bottom: 10px;
      }

      .full-button {
        justify-content: left;
        text-transform: capitalize;
      }
    }
  }

  .sidebar::-webkit-scrollbar {
    display: none;
  }
</style>
