---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"main"> {}

const { class: className, ...props } = Astro.props
---

<main
  role="list"
  data-slot="section-provider"
  class={cn(
    "group/section-provider @container/section-provider flex flex-col",
    className
  )}
  {...props}
>
  <slot />
</main>
