---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div
  class={cn(
    "relative z-10 mx-auto flex w-full max-w-container flex-col gap-y-8 px-6 in-[[data-slot=sidebar-inset]]:px-4",
    className
  )}
  {...props}
>
  <slot />
</div>
