---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div
  class={cn(
    "max-w-container relative z-10 mx-auto flex w-full flex-col gap-y-8 px-6",
    className
  )}
  {...props}
>
  <slot />
</div>
