---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  data-slot="section-media"
  class={cn(
    "relative flex items-center justify-center overflow-hidden rounded-lg *:size-full *:object-cover",
    className
  )}
  {...props}
>
  <slot />
</div>
