---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div class={cn("relative z-10 flex flex-wrap gap-2", className)} {...props}>
  <slot />
</div>
