---
import type { HTMLAttributes } from "astro/types"
import { cva, type VariantProps } from "class-variance-authority"

import { cn } from "@/lib/utils"

interface Props
  extends HTMLAttributes<"section">,
    VariantProps<typeof variants> {}

const variants = cva(
  [
    "relative mx-auto flex scroll-m-(--section-py) flex-col gap-12 px-(--section-px) py-(--section-py)",
  ],
  {
    variants: {
      variant: {
        // Filled on every screen, with content width based on padding
        default: ["w-full max-w-[2560px]"],
        // Filled on every screen, with content width based on padding, and a gutter around for floating effect
        floating: [
          "w-[calc(100%-16px)] max-w-[2560px]",
          "ring-border bg-muted my-(--section-py) overflow-hidden rounded-xl ring ring-inset first:mt-2",
        ],
        // Contained on every screen, with a border, padding and rounded corners for panel effect
        panel: [
          "w-[calc(100%-16px)] max-w-(--section-width) lg:w-[calc(100%-2*var(--section-px))]",
          "ring-border bg-muted my-(--section-py) overflow-hidden rounded-xl ring ring-inset first:mt-2",
        ],
        // Contained on every screen, with a border and padding for box effect
        box: [
          "w-[calc(100%-16px)] max-w-(--section-width) lg:w-[calc(100%-2*var(--section-px))]",
          "ring-border -mt-px overflow-hidden ring ring-inset",
        ],
      },
      width: {
        sm: "",
        xl: "",
        "2xl": "",
      },
    },
    defaultVariants: {
      variant: "default",
      width: "xl",
    },
  }
)

const { class: className, variant, width, ...props } = Astro.props

const slot = await Astro.slots.render("default")
---

{
  slot.trim().length > 0 && (
    <section
      class={cn(variants({ variant }), className)}
      data-slot="section"
      data-variant={variant}
      data-width={width}
      {...props}
    >
      <Fragment set:html={slot} />
    </section>
  )
}

<style is:global>
  /* Section width and padding vor inset calculations */
  [data-slot="section"] {
    --section-width: var(--breakpoint-xl);
    --section-py: 48px;
    --section-px: 24px;
  }

  [data-slot="section"][data-width="sm"] {
    --section-width: var(--breakpoint-sm);
  }

  [data-slot="section"][data-width="2xl"] {
    --section-width: var(--breakpoint-2xl);
  }

  [data-slot="section"][data-variant="box"],
  [data-slot="section"][data-variant="floating"],
  [data-slot="section"][data-variant="panel"] {
    --section-px: 16px;
  }

  @media (min-width: 1024px) {
    [data-slot="section"] {
      --section-py: 64px;
      --section-px: min(
        max(48px, calc((100cqw - var(--section-width)) / 2)),
        calc((2560px - var(--section-width)) / 2)
      );
    }

    [data-slot="section"][data-variant="floating"] {
      --section-px: min(
        max(48px, calc((100cqw - 16px - var(--section-width)) / 2)),
        calc((2560px - var(--section-width)) / 2)
      );
    }

    [data-slot="section"][data-variant="box"],
    [data-slot="section"][data-variant="panel"] {
      --section-py: 48px;
      --section-px: 48px;
    }
  }
</style>
