---
import type { HTMLAttributes } from "astro/types"
import { cva, type VariantProps } from "class-variance-authority"

import { cn } from "@/lib/utils"

interface Props
  extends HTMLAttributes<"section">,
    VariantProps<typeof variants> {}

const variants = cva(
  "relative mx-auto flex scroll-m-(--section-py) flex-col gap-16 px-(--section-px) py-(--section-py)",
  {
    variants: {
      frame: {
        // Filled on every screen, with content width based on padding
        default: ["bg-background w-full"],
        // Contained on every screen, with a border and padding for box effect
        box: [
          "w-[calc(100%-var(--gutter))] max-w-(--section-width)",
          "overflow-hidden",
          "bg-muted/50 border-border border",
        ],
        // Contained on every screen, with a border, padding and rounded corners for panel effect
        panel: [
          "w-[calc(100%-2*var(--gutter))] max-w-(--section-width)",
          "my-(--section-py) overflow-hidden rounded-xl first:mt-2",
          "bg-muted/50 border-border border",
        ],
      },
      variant: {
        default: "",
        muted: "bg-muted/50 border-transparent",
        outline: "border-border bg-background border",
        accent: "bg-accent/50 border-transparent",
      },
      size: {
        default: "",
        lg: "",
      },
    },
    defaultVariants: {
      frame: "default",
      variant: "default",
    },
  }
)

const { class: className, frame, variant, size, ...props } = Astro.props

const slot = await Astro.slots.render("default")
---

{
  slot?.trim().length > 0 && (
    <section
      class={cn(variants({ frame, variant }), className)}
      data-slot="section"
      data-frame={frame}
      data-size={size}
      {...props}
    >
      <Fragment set:html={slot} />
    </section>
  )
}

<style is:global>
  /* Section width and padding for inset calculations */
  [data-slot="section"] {
    --section-width: var(--container);
    --section-py: calc(var(--spacing) * 12);
    --section-px: max(var(--gutter), calc((100cqw - var(--section-width)) / 2));
  }

  [data-slot="section"][data-frame="box"],
  [data-slot="section"][data-frame="panel"] {
    --section-px: calc(var(--spacing) * 4);
  }

  [data-slot="section"][data-size="lg"] {
    --section-py: calc(var(--spacing) * 32);
  }

  @media (min-width: 1024px) {
    [data-slot="section"] {
      --section-py: calc(var(--spacing) * 16);
    }

    [data-slot="section"][data-frame="box"],
    [data-slot="section"][data-frame="panel"] {
      --section-px: calc(var(--spacing) * 16);
    }

    [data-slot="section"][data-size="lg"] {
      --section-py: calc(var(--spacing) * 48);
    }
  }
</style>
