---
import type { HTMLAttributes } from "astro/types"
import { cva, type VariantProps } from "class-variance-authority"

import { cn } from "@/lib/utils"

interface Props
  extends HTMLAttributes<"section">,
    VariantProps<typeof variants> {}

const variants = cva(
  [
    "relative @container/section flex flex-col size-full",
    "gap-y-(--section-spacer) py-(--section-spacer) px-(--section-gutter)",
    // If SectionMedia is inset, add extra spacer
    "has-[>[data-slot=section-media][data-variant=inset]]:gap-y-[calc(2*var(--section-spacer))]",
    // // When spacer is doubled (at breakpoint-xl, see CSS vars), reduce the gap to half
    // "xl:gap-y-[calc(var(--section-spacer)/2)]",
    // "xl:has-[>[data-slot=section-media][data-variant=inset]]:gap-y-[calc(1.5*var(--section-spacer))]",
  ],
  {
    variants: {
      variant: {
        default: "bg-transparent",
        outline: "border",
        muted: "bg-muted/50 border-0",
      },
      frame: {
        default:
          "w-full px-[max((100%-var(--section-width))/2,var(--section-gutter))]",
        // Panel that aligns with content
        float: [
          "bg-card border rounded-lg overflow-hidden mx-auto my-(--section-spacer) w-[calc(100%-16px)]",
          // "w-[calc(100%-16px)]", for the cool panel very small gutter effect
          "max-w-[calc(var(--section-width)-2*var(--section-gutter))]",
        ],
        // Panel where content aligns with other content
        inset: [
          "bg-card border rounded-lg overflow-hidden max-w-screen-xl my-(--section-spacer) mx-auto",
        ],
      },
      align: {
        start: "items-start",
        center: "items-center",
        end: "items-end",
      },
      order: {
        default: "",
        reverse: "flex-col-reverse",
      },
    },
    defaultVariants: {
      variant: "default",
      frame: "default",
      order: "default",
    },
  }
)

const { class: className, variant, frame, order, ...props } = Astro.props

const slot = await Astro.slots.render("default")
---

{
  slot.trim().length > 0 && (
    <section
      class={cn(variants({ variant, frame, order }), className)}
      data-slot="section"
      data-frame={frame}
      {...props}
    >
      <Fragment set:html={slot} />
    </section>
  )
}

<style is:global>
  [data-slot="section"] {
    --section-width: var(--breakpoint-2xl);
    --section-gutter: 24px;
    --section-spacer: 48px;
  }

  [data-slot="section"][data-frame="float"],
  [data-slot="section"][data-frame="inset"] {
    --section-gutter: 16px;
  }

  @media (min-width: 1024px) {
    [data-slot="section"],
    [data-slot="section"][data-frame="float"],
    [data-slot="section"][data-frame="inset"] {
      --section-gutter: 48px;
    }
  }

  @media (min-width: 1280px) {
    [data-slot="section"],
    [data-slot="section"][data-frame="float"],
    [data-slot="section"][data-frame="inset"] {
      --section-gutter: 96px;
      --section-spacer: 96px;
    }
  }
</style>
