---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props

const slot = await Astro.slots.render("default")
---

{
  slot && (
    <div
      class={cn(
        [
          "text-foreground w-full max-w-3xl space-y-4 text-base text-balance",
          "[&_p]:leading-[1.8] [&_p]:not-first:mt-4",
          "[&_ul]:list-inside [&_ul]:list-disc [&_ul]:space-y-2 [&_ul]:not-first:mt-4",
          "[&_ol]:list-inside [&_ol]:list-decimal [&_ol]:space-y-2 [&_ol]:not-first:mt-4",
          "[&_li_p]:inline",
          "[&_a]:text-primary [&_a]:hover:underline",
          "[&_:is(h1,h2,h3,h4,h5,h6)]:scroll-mt-20 [&_:is(h1,h2,h3,h4,h5,h6)]:leading-[1.1] [&_:is(h1,h2,h3,h4,h5,h6)]:font-semibold [&_:is(h1,h2,h3,h4,h5,h6)]:text-pretty [&_:is(h1,h2,h3,h4,h5,h6)]:not-first:mt-12",
          "[&_h1]:text-4xl [&_h2]:text-3xl [&_h3]:text-2xl [&_h4]:text-xl [&_h5]:text-lg [&_h6]:text-base",
          "[&_img]:rounded-lg [&_img]:not-first:mt-12",
          "[&_p:first-child:has(~:is(h1,h2,h3,h4,h5,h6))]:text-accent-foreground [&_p:first-child+:is(h1,h2,h3,h4,h5,h6)]:mt-4 [&_p:first-child:has(~:is(h1,h2,h3,h4,h5,h6))]:text-sm [&_p:first-child:has(~:is(h1,h2,h3,h4,h5,h6))]:font-medium",
          "[&_pre]:bg-muted [&_pre]:mt-6 [&_pre]:rounded-lg [&_pre]:border [&_pre]:p-4 [&_pre]:text-sm",
        ],
        className
      )}
      {...props}
    >
      <Fragment set:html={slot} />
    </div>
  )
}
