---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div
  data-slot="alert-action"
  class={cn("absolute top-2.5 right-3", className)}
  {...props}
>
  <slot />
</div>
