---
import { getSlot } from '../../utils'

interface Props {
  text?: string | null
  class?: string | null
}

const { text, class: className } = Astro.props
const slot = await getSlot(Astro)
---

{
  (text || slot) && (
    <p class:list={['text', className]}>
      {text}
      <slot />
    </p>
  )
}

<style>
  p {
    color: var(--color);
    font: var(--font);
  }
</style>
