---
import { buildProps, getSlot, type BuildProps } from '../../utils'

interface Base {
  text?: string | null
  class?: string | null
}

type Props = BuildProps<Base, 'text'>
const props = buildProps(Astro, 'text')
const slot = await getSlot(Astro)

const { text, class: className } = props
---

{
  (text || slot) && (
    <p class:list={['text', className]}>
      {text}
      <slot />
    </p>
  )
}

<style>
  p {
    color: var(--color);
    font: var(--font);
  }
</style>
