---
import { getSlot } from '@silveltman/fullui/utils'
import type { HTMLAttributes } from 'astro/types'

interface Props {
  text?: string | null
  class?: HTMLAttributes<'div'>['class']
}

const { text, class: className } = Astro.props
const slot = await getSlot(Astro)
---

{
  (text || slot) && (
    <p class:list={['text', className]}>
      {text}
      <slot />
    </p>
  )
}

<style>
  p {
    /* temp, because of error */
    --color: var(--base-11);

    font: var(--font);
    font-size: inherit;
    color: var(--color);
  }
</style>
