---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, hidden = true, ...props } = Astro.props
---

<div
  data-slot="command-empty"
  hidden={hidden}
  class={cn("py-6 text-center text-sm", className)}
  {...props}
>
  <slot>No results found.</slot>
</div>
