---
import type { HTMLAttributes } from "astro/types"
import SearchIcon from "lucide-static/icons/search.svg"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"input"> {
  wrapperClass?: string
}

const { class: className, wrapperClass, ...props } = Astro.props
---

<div
  data-slot="command-input-wrapper"
  class={cn("flex h-9 items-center gap-2 border-b px-3", wrapperClass)}
>
  <SearchIcon class="size-4 shrink-0 opacity-50" />
  <input
    type="text"
    data-slot="command-input"
    class={cn(
      "placeholder:text-muted-foreground flex h-10 w-full rounded-md bg-transparent py-3 text-sm outline-hidden disabled:cursor-not-allowed disabled:opacity-50",
      className
    )}
    {...props}
  />
</div>

