---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props

const slot = await Astro.slots.render("default")
---

<div
  data-slot="command-empty"
  class={cn("py-6 text-center text-sm", className)}
  {...props}
>
  {slot?.trim().length > 0 ? <Fragment set:html={slot} /> : "No results found."}
</div>

