---
import { SearchIcon } from "@lucide/astro"
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"input"> & {
  wrapperClass?: string
}

const { class: className, wrapperClass, ...props } = Astro.props
---

<div data-slot="command-input-wrapper" class={cn("p-1 pb-0", wrapperClass)}>
  <div
    class="border-input/30 bg-input/30 flex h-8! items-center rounded-lg! border shadow-none!"
  >
    <div class="flex items-center pl-2">
      <SearchIcon class="size-4 shrink-0 opacity-50" />
    </div>
    <input
      type="text"
      data-slot="command-input"
      class={cn(
        "placeholder:text-muted-foreground h-full min-w-0 flex-1 bg-transparent px-2.5 text-sm outline-hidden disabled:cursor-not-allowed disabled:opacity-50",
        className
      )}
      {...props}
    />
  </div>
</div>
