---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div
  data-slot="command-list"
  class={cn(
    "no-scrollbar h-[var(--command-list-height)] max-h-72 scroll-py-1 overflow-x-hidden overflow-y-auto outline-none transition-[height] duration-150 ease-out",
    className
  )}
  {...props}
>
  <slot />
</div>
