---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  data-slot="command-list"
  class={cn(
    "h-[var(--command-list-height)] max-h-[300px] scroll-py-1 overflow-x-hidden overflow-y-auto transition-[height] duration-150 ease-out",
    className
  )}
  {...props}
>
  <slot />
</div>
