---
import type { HTMLAttributes, HTMLTag } from 'astro/types'

interface Props extends Omit<HTMLAttributes<'form'>, 'slot'> {
  elements?: HTMLTag
}

const { method = 'POST', action, class: className } = Astro.props
---

<form
  class:list={['form', className]}
  {method}
  {action}
>
  <slot />
</form>

<style is:global>
  :where(.form) {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    width: 100%;
    min-width: min(500px, 85vw);
    max-width: max(calc(var(--spacing-6) * 3), 500px);
    text-align: left;
  }
</style>
