---
import { Layout, Section } from '@fulldevlabs/fullui'
---

<Title html="test">test</Title>

<Layout>
  <Section
    direction={'row'}
    frame={'screen'}
    align={'center'}
    composite={{
      display: {
        writeup: {
          title: {
            html: 'Title',
          },
          description: {
            html: 'The title of the section.',
          },
        },
      },
      action: {
        buttons: {
          items: [
            {
              html: 'Click me',
              href: '#',
            },
            {
              html: 'Click me too',
              href: '#',
            },
          ],
        },
      },
    }}
    image={{
      position: 'background',
      src: 'https://picsum.photos/400/300',
    }}
  />
</Layout>
