---
import { Layout } from 'fulldev-ui'
import '../css/radix.css'
---

<Layout>
  <div
    class="pl-space-3 color-base variant-surface full border text-fulldev bg-fulldev"
  >
    HELLO WORLD
  </div>
</Layout>
