---
import { Layout, Section } from 'fulldev-ui'
import { Heading } from '../../../package/src'
---

<Layout>
  <Section>
    <Heading class="hello text-sm font-light">Heading 1</Heading>
  </Section>
</Layout>
