---
import { Layout, Section } from 'fulldev-ui'
import { Heading } from '../../../package/src'
---

<Layout>
  <Section>
    <Heading class="hello">Heading 1</Heading>
  </Section>
  <div class="full heading">test</div>
</Layout>
