---
import { Heading, Text } from '@fullui/ui'
---

<Heading>
  hoi321
  <div class="hello color-base light">test123</div>
  <Text>hoi123</Text>
</Heading>

<style>
  div {
    background: var(--color-5);
  }
</style>
