---
import type { ComponentProps } from 'astro/types'
import { Box, Heading, Image, Layout, Section, Split } from 'fulldev-ui'

const components = {
  Heading,
}

type Text<E extends 'Heading'> = {
  hoi?: string
  extends?: E
} & ComponentProps<(typeof components)[E]>

const test: Text<'Heading'> = {
  extends: 'Heading',
}
---

<Box
  panel
  split
  align="sdfd"
/>

<Layout>
  <Split frame="container">
    <Heading>Hell oworld</Heading>
    <Image src="https://via.placeholder.com/150" />
  </Split>

  <!-- <div style={{ display: 'flex' }}>
    <div style={{ width: '100px', background: 'gray', flexShrink: '0' }}></div>
    <Section frame="container">
      <Heading
        style={{ maxWidth: 'none' }}
        class="hello"
        >Heading 1
      </Heading>
    </Section>
  </div>
  <div style={{ display: 'flex' }}>
    <div style={{ width: '100px', background: 'gray', flexShrink: '0' }}></div>
    <Section frame="wrapper">
      <Heading
        style={{ maxWidth: 'none' }}
        class="hello"
        >Heading 1</Heading
      >
    </Section>
  </div>
  <div style={{ display: 'flex' }}>
    <div style={{ width: '100px', background: 'gray', flexShrink: '0' }}></div>
    <Section frame="panel">
      <Heading
        style={{ maxWidth: 'none' }}
        class="hello"
        >Heading 1</Heading
      >
    </Section>
  </div> -->
</Layout>

<!-- Astro way of styling -->
<Heading style={{ textAlign: 'none' }} />
<!--Could be added with just a few lines of code -->
<Heading textAlign={'cemter'} />

<!-- Tailwind way of styling -->
<Heading class="text-center" />
<!-- Could be added my pre-installing UnoCSS -->
<Heading items="center" />
