---
import { Layout } from 'fulldev-ui'
---

<Layout>
  <div class="max-w-fit">
    <button class="bg-black text-white space-test rounded-1">space-test</button>
    <button class="bg-test text-white pt-space-5">pt-space-test</button>
  </div>
</Layout>
