---
type Props = {
  height: string
  width: string
}

const { height = '50', width } = Astro.props
---

<div class="decorative-box"></div>

<style is:global define:vars={{ height, width }}>
  .decorative-box {
    border: 1px solid var(--hue5);
    border-radius: var(--radius-1);
    background-color: var(--hue3);
    width: var(--width) !important;
    height: var(--height) !important;
  }
</style>
