<div class="decorative-box"></div>

<style is:global>
  .decorative-box {
    border: 1px solid var(--hue5);
    border-radius: var(--radius-1);
    background-color: var(--hue3);
    min-height: 100px !important;
  }
</style>
