---
type Props = {
  height: string
  width: string
}

const { height = '100%', width = '100%' } = Astro.props
---

<div class="full-placeholder"></div>

<style is:global define:vars={{ height, width }}>
  .full-placeholder {
    border: 1px solid var(--color-raised-border);
    border-radius: var(--full-border-radius-1);
    background-color: var(--color-raised-background);
    width: var(--width) !important;
    min-width: 100px;
    height: var(--height) !important;
    min-height: 100px;
  }
</style>
