---
type Props = {
  height: string
  width: string
}

const { height, width } = Astro.props
---

<div class="decorative-box"></div>

<style is:global define:vars={{ height, width }}>
  .decorative-box {
    border: 1px solid var(--color-5);
    border-radius: var(--radius-1);
    background-color: var(--color-3);
    width: var(--width) !important;
    height: var(--height) !important;
    min-height: 50px;
  }
</style>
