---
import { z } from 'zod'
import { componentSchema } from '../../schemas/componentSchema'

type Props = z.infer<typeof decorativeBoxSchema>

export const decorativeBoxSchema = componentSchema({
  height: z.string(),
  width: z.string(),
})

const { height, width } = Astro.props
---

<div class="decorative-box"></div>

<style is:global define:vars={{ height, width }}>
  .decorative-box {
    border: 1px solid var(--hue5);
    border-radius: var(--radius-1);
    background-color: var(--hue3);
    width: var(--width) !important;
    height: var(--height) !important;
    min-height: 50px;
  }
</style>
