---
import type { ComponentProps, HTMLTag } from 'astro/types'
import Body from './Body.astro'
import Head from './Head.astro'
import Tag from './Tag.astro'

type Props<As extends HTMLTag = 'html'> = ComponentProps<typeof Tag<As>> & {
  head?: ComponentProps<typeof Head>
  body?: ComponentProps<typeof Body>
  lang?: string
}

const { as = 'html', lang = 'en', ...rest } = Astro.props
---

<Tag
  class:list={['full-page scheme-dark']}
  if={true}
  {as}
  {lang}
  {...rest}
>
  <Head {...rest.head} />
  <Body {...rest.body}>
    <slot name="before" />
    <slot />
    <slot name="after" />
  </Body>
</Tag>
