---
import type { HTMLAttributes } from 'astro/types'

export type ButtonProps = Props
interface Props {
  label: string | null
  href: HTMLAttributes<'a'>['href']
  importance?: 'primary' | 'secondary' | 'tertiary'
}

const { label, href, importance } = Astro.props
---

<a
  href={href}
  class:list={[
    { 'button-primary': importance === 'primary' },
    { 'button-secondary': importance === 'secondary' },
    { 'button-tertiary': importance === 'tertiary' },
  ]}
>
  {label}
</a>
