---
import type { ComponentProps } from "astro/types"
import X from "lucide-static/icons/x.svg"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"

interface Props extends ComponentProps<typeof Button> {}

const { class: className, ...props } = Astro.props
---

<Button
  class={cn("ml-auto", className)}
  size="icon-sm"
  variant="ghost"
  data-slot="sheet-close"
  {...props}
>
  <X />
</Button>
