---
import type { HTMLAttributes } from "astro/types"
import { cva, type VariantProps } from "class-variance-authority"
import XIcon from "lucide-static/icons/x.svg"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"

const sheetContentVariants = cva(
  "bg-popover text-popover-foreground fixed flex flex-col gap-4 bg-clip-padding text-sm shadow-lg transition duration-200 ease-in-out outline-none data-[ending-style]:opacity-0 data-[starting-style]:opacity-0",
  {
    variants: {
      side: {
        top: [
          "inset-x-0 top-0 h-auto border-b",
          "data-[ending-style]:-translate-y-10 data-[starting-style]:-translate-y-10",
        ],
        right: [
          "inset-y-0 right-0 h-full w-3/4 border-l sm:max-w-sm",
          "data-[ending-style]:translate-x-10 data-[starting-style]:translate-x-10",
        ],
        bottom: [
          "inset-x-0 bottom-0 h-auto border-t",
          "data-[ending-style]:translate-y-10 data-[starting-style]:translate-y-10",
        ],
        left: [
          "inset-y-0 left-0 h-full w-3/4 border-r sm:max-w-sm",
          "data-[ending-style]:-translate-x-10 data-[starting-style]:-translate-x-10",
        ],
      },
    },
    defaultVariants: {
      side: "right",
    },
  }
)

interface Props
  extends HTMLAttributes<"div">, VariantProps<typeof sheetContentVariants> {
  showCloseButton?: boolean
}

const {
  class: className,
  side = "right",
  showCloseButton = true,
  style,
  ...props
} = Astro.props
---

<div data-slot="sheet-portal">
  <div
    data-slot="sheet-overlay"
    hidden
    class="fixed inset-0 bg-black/10 transition-opacity duration-150 data-[ending-style]:opacity-0 data-[starting-style]:opacity-0 supports-backdrop-filter:backdrop-blur-xs"
    style="z-index: calc(var(--sheet-overlay-stack-index, 0) + 100);"
  >
  </div>
  <div
    data-slot="sheet-content"
    data-side={side}
    hidden
    class={cn(sheetContentVariants({ side }), className)}
    style={`z-index: calc(var(--sheet-content-stack-index, 0) + 101);${style ? ` ${style}` : ""}`}
    {...props}
  >
    <slot />
    {
      showCloseButton && (
        <Button
          type="button"
          variant="ghost"
          size="icon-sm"
          class="absolute top-4 right-4"
          data-slot="sheet-close"
          aria-label="Close"
        >
          <XIcon />
          <span class="sr-only">Close</span>
        </Button>
      )
    }
  </div>
</div>
