---
import type { ComponentProps } from "astro/types"

import { Button } from "@/components/ui/button"

interface Props extends ComponentProps<typeof Button> {}

const { ...props } = Astro.props

const slot = await Astro.slots.render("default")
---

{
  slot?.trim().length > 0 && (
    <Button data-slot="sheet-trigger" name="open-sheet-button" {...props}>
      <Fragment set:html={slot} />
    </Button>
  )
}
