---
import type { HTMLAttributes } from "astro/types"
import { cva, type VariantProps } from "class-variance-authority"
import XIcon from "lucide-static/icons/x.svg"

import { cn } from "@/lib/utils"

const dialogVariants = cva(
  [
    "fixed inset-0 z-50 m-0 max-h-none max-w-none border-0 bg-transparent p-0",
    "backdrop:bg-black/50",
    // Added for quick fix over horizontal scroll issue
    "overflow-x-hidden",
  ],
  {
    variants: {
      side: {
        right: "ml-auto h-full w-3/4 sm:max-w-sm",
        left: "mr-auto h-full w-3/4 sm:max-w-sm",
        top: "mb-auto h-auto w-full",
        bottom: "mt-auto h-auto w-full",
      },
    },
    defaultVariants: {
      side: "right",
    },
  }
)

const contentVariants = cva(
  "bg-background flex h-full flex-col gap-4 shadow-lg transition-transform duration-500 ease-in-out",
  {
    variants: {
      side: {
        right: "translate-x-full border-l",
        left: "-translate-x-full border-r",
        top: "-translate-y-full border-b",
        bottom: "translate-y-full border-t",
      },
    },
    defaultVariants: {
      side: "right",
    },
  }
)

type Props = VariantProps<typeof contentVariants> &
  HTMLAttributes<"div"> & {
    showClose?: boolean
  }

const { class: className, side, showClose = true, ...props } = Astro.props

const slot = await Astro.slots.render("default")
---

<dialog
  data-slot="sheet-dialog"
  data-side={side}
  class={cn(dialogVariants({ side }))}
>
  <div
    data-slot="sheet-content"
    data-side={side}
    class={cn(contentVariants({ side }), className)}
    {...props}
  >
    {
      showClose && (
        <button
          type="button"
          data-slot="sheet-close"
          class="focus-visible:outline-ring text-foreground absolute top-4 right-4 cursor-pointer rounded-sm border-0 bg-transparent opacity-70 transition-opacity hover:opacity-100 focus-visible:outline-2 focus-visible:outline-offset-2"
          aria-label="Close"
        >
          <XIcon class="size-4" />
        </button>
      )
    }
    <Fragment set:html={slot} />
  </div>
</dialog>
