---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"p"> {}

const { class: className, ...props } = Astro.props
---

<p
  data-slot="sheet-description"
  class={cn("text-muted-foreground text-sm", className)}
  {...props}
>
  <slot />
</p>
