---
import type { HTMLAttributes } from 'astro/types'
import { getSlot } from '../../utils'

interface Props {
  class?: HTMLAttributes<'div'>['class']
}

const { class: className } = Astro.props
const slot = await getSlot(Astro)
---

{
  slot && (
    <div class:list={['textarea textarea-root', className]}>
      <Fragment set:html={slot} />
    </div>
  )
}

<style>
  div {
    gap: var(--spacing-1);
    display: flex;
    flex-direction: column;
  }
</style>
