---
import { getSlot } from 'src'
import Icon from '../Icon.astro'
import Text from '../Text.astro'

interface Props {
  spec?: string
}

const { spec, ...restProps } = Astro.props
const slot = getSlot(Astro)
---

{
  spec && (
    <li {...restProps}>
      <Icon icon="check" />
      <Text {...props} />
      <span>{spec}</span>
    </li>
  )
}

<style>
  li {
    color: var(--un-preset-theme-textColor-base);
    line-height: 1.625;
    font-family: 'Open Sans';
    gap: 0.5em;
    display: flex;

    i {
      --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m5 12l5 5L20 7'/%3E%3C/svg%3E");
      -webkit-mask: var(--un-icon) no-repeat;
      mask: var(--un-icon) no-repeat;
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
      background-color: currentColor;
      color: inherit;
      width: 1em;
      height: 1em;
      color: var(--un-preset-theme-textColor-base);
      line-height: 1.625;
      font-family: 'Open Sans';
      width: 1.5em;
      height: 1.5em;
      display: inline-block;
    }

    span {
    }
  }
</style>
