/* Dark mode colors. */
:root {
	--sl-color-accent-low: #182449;
	--sl-color-accent: #3E63DD;
	--sl-color-accent-high: #9EB1FF;
	--sl-color-white: #EDEEF0; /* 12 */
	--sl-color-gray-1: #B0B4BA; /* 11 */
	--sl-color-gray-2: #B0B4BA;/* 11 */
	--sl-color-gray-3: #B0B4BA;
	--sl-color-gray-4: green;
	--sl-color-gray-5: #363A3F;
	--sl-color-gray-6: #18191B; /* 2 */
	--sl-color-black: #111113; /* 1 */
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c3d7ff;
	--sl-color-accent: #3E63DD;
	--sl-color-accent-high: #0c2975;
	--sl-color-white: #181818;
	--sl-color-gray-1: #272727;
	--sl-color-gray-2: #383838;
	--sl-color-gray-3: #585858;
	--sl-color-gray-4: #8b8b8b;
	--sl-color-gray-5: #c2c2c2;
	--sl-color-gray-6: #eeeeee;
	--sl-color-gray-7: #f6f6f6;
	--sl-color-black: #ffffff;
}

.primary {
	--sl-color-black: white;
	--sl-color-accent-high: #3E63DD !important;
	background: #3E63DD !important;
}

.custom-primary-action {
	background: transparent !important;
}

.custom-primary-action div {
  margin-top: 50px;
  margin-bottom: 100px;
	--sl-color-black: white;
	--sl-color-accent-high: #3E63DD !important;
	background: #3E63DD !important;
}

.hero {
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 80ch;
	margin: 0 auto;
}

.hero * {
	align-items: center;
	text-align: center;
}

.sl-banner {
	background: #3E63DD !important;
	color: white

}

/* .hero h1 { */
	/* background-color: red;
  background-image: linear-gradient(45deg, var(--sl-color-black), var(--sl-color-gray-1));
	background-clip: text;
	text-fill-color: transparent;
	background-size: 100%; */

	/* background-color: var(--sl-color-black);
    background-image: linear-gradient(-20deg, var(--sl-color-black), var(--sl-color-gray-1));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; */
/* } */

.custom-primary-action a {
  display: flex;
  justify-content: center;
}

.custom-primary-action span {
  color: var(--sl-color-black) !important;
  font-size: var(--sl-text-base) !important;
}

.custom-primary-action svg {
  display: none;
}

[data-has-hero] site-search{
  display: none;
}

/* [data-has-hero] aside section{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

[data-has-hero] aside p{
  max-width: max(400px, 55%);
  width: 100%;
}

[data-has-hero] aside section .newsletter-form-container {
  width: 100%;
  max-width: 360px;
} */

[data-has-hero] aside p{
  max-width: 60ch
}

[data-has-hero] .primary, [data-has-hero] aside{
  max-width: 60ch;
	margin: 0 auto;
	align-items: center;
}

.site-title img {
	display: block;
	max-height: 20px;
}

#video {
	border-radius: 12px;
	overflow: hidden;
}