@import url(https://fonts.bunny.net/css?family=raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
@import 'fulldev-ui/color';
/* @import 'fulldev-ui/src/css/size.scss'; */

:root,
body,
main,
header {
  --sl-color-accent-low: var(--base-1);
  --sl-color-accent: var(--brand-9);
  --sl-color-accent-high: var(--base-12);
  --sl-color-white: var(--base-12);
  --sl-color-gray-1: var(--base-12);
  --sl-color-gray-2: var(--base-12);
  --sl-color-gray-3: var(--base-11);
  --sl-color-gray-4: var(--base-3);
  --sl-color-gray-5: var(--base-6);
  --sl-color-gray-6: var(--base-2);
  --sl-color-black: var(--base-1);

  --sl-color-text-accent: var(--base-12);
  --sl-color-bg-nav: var(--base-2);
  --sl-color-bg: var(--base-1);
}

.site-title span {
  font-weight: 700;
  /* FIXME size not working, becasue no import of the styles */
  font-size: var(--text-heading-lg);
  font-family: 'Raleway', sans-serif;
}
