@import url(https://fonts.bunny.net/css?family=ibm-plex-sans:100,200,300,400,500,600,700);

:root {
  --sl-color-accent-low: var(--color-primary-foreground);
  --sl-color-accent: var(--color-primary-background);
  --sl-color-accent-high: var(--color-primary-background);
  --sl-color-white: var(--color-base-foreground);
  --sl-color-gray-1: var(--color-lowered-foreground);
  --sl-color-gray-2: var(--color-lowered-foreground);
  --sl-color-gray-3: var(--color-lowered-foreground);
  --sl-color-gray-4: var(--color-secondary-border);
  --sl-color-gray-5: var(--color-secondary-border);
  --sl-color-gray-6: var(--color-raised-background);
  --sl-color-black: var(--color-base-background);
}
