---
import { getCollection } from 'astro:content'
import Link from 'fulldev-ui/components/Link.astro'
import Column from 'fulldev-ui/components/structures/Column.astro'

const componentPages = await getCollection('pages', (entry: any) =>
  entry.slug.startsWith('components/')
)
---

<aside class="sidebar">
  <nav>
    <Column>
      {
        componentPages.map((page: any) => (
          <Link href={`/${page.slug}`}>{page.data.title}</Link>
        ))
      }
    </Column>
  </nav>
</aside>

<style lang="scss">
  .sidebar {
    display: none;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    border-right: 1px solid var(--border);
    padding: var(--space-4);
    width: 250px;
    max-height: 100vh;
    overflow-y: auto;

    @media (min-width: 768px) {
      display: block;
    }
  }
</style>
