<div
  {...Astro.props}
  class:list={'decorative-box'}
>
</div>

<style>
  .decorative-box {
    border: 1px solid;
    border-radius: 4px;
    min-width: 100px;
    height: 100%;
    min-height: 100px;
  }
</style>
