---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  data-slot="slider-control"
  class={cn(
    "relative flex w-full touch-none items-center select-none data-[orientation=vertical]:h-full data-[orientation=vertical]:flex-1 data-[orientation=vertical]:justify-center",
    className
  )}
  {...props}
>
  <slot />
</div>
