---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div
  data-slot="slider-range"
  class={cn(
    "bg-primary rounded-full select-none data-[orientation=horizontal]:h-full data-[orientation=vertical]:w-full",
    className
  )}
  {...props}
>
  <slot />
</div>
