---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div
  data-slot="skeleton"
  class={cn("bg-muted animate-pulse rounded-md", className)}
  {...props}
>
</div>
