---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className } = Astro.props
---

<div class={cn("bg-accent animate-pulse rounded-md", className)}></div>
