---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"td"> {}

const { class: className, ...props } = Astro.props
---

<td
  data-slot="table-cell"
  class={cn(
    "p-2 align-middle whitespace-nowrap [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-[2px]",
    className
  )}
  {...props}
>
  <slot />
</td>

