---
import RadioControl from './RadioControl.astro'

const { label, value, name, options, ...rest } = Astro.props
---

<div class="radio-container">
  <RadioControl
    label={label}
    options={options}
    name={name}
    value={value}
    {...rest}
  />
</div>

<style is:global lang="scss">
  @import '../../../css/utils.scss';

  .radio-container {
    display: flex;
    gap: var(--space-2);
  }

  @include component('radio-field') {
    display: flex;
    gap: var(--space-2);
  }
</style>
