---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div
  class={cn("group/marquee flex overflow-hidden select-none", className)}
  {...props}
>
  <slot />
</div>
