---
import type { ComponentProps } from 'astro/types'
import { Field, Label, Root } from '.'

interface Props
  extends ComponentProps<typeof Root>,
    ComponentProps<typeof Field>,
    ComponentProps<typeof Label> {}

const { props } = Astro
---

<Root {...props}>
  <Label {...props}>
    <slot name="label" />
    <Field {...props} />
  </Label>
  <slot />
</Root>
