---
import { cn } from "@/lib/utils"

interface Props {
  class?: string
  icon?: boolean
}

const { class: className, icon = true, ...props } = Astro.props

const slot = await Astro.slots.render("default")
---

{
  slot.trim().length > 0 && (
    <li
      class={cn(
        "flex shrink-0 items-start gap-2 text-start text-sm not-first:mt-2 [&_svg]:mt-0.5 [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4",
        className
      )}
      {...props}
    >
      <Fragment set:html={slot} />
    </li>
  )
}
