---
import { CircleCheck } from "lucide-react"

import { cn } from "@/lib/utils"

interface Props {
  class?: string
  icon?: boolean
}

const { class: className, icon = true, ...props } = Astro.props

const slot = await Astro.slots.render("default")
---

{
  slot && (
    <li class={cn("flex items-start gap-2 text-sm", className)} {...props}>
      {icon && <CircleCheck className="mt-0.5 size-4 shrink-0" />}
      <Fragment set:html={slot} />
    </li>
  )
}
