---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"body"> {}

const { class: className, ...props } = Astro.props
---

<body
  class={cn(
    "bg-background text-foreground overscroll-none antialiased",
    className
  )}
  data-slot="layout-body"
  {...props}
>
  <slot />
</body>
