---
import { cn } from "@/lib/utils"

interface Props {
  class?: string
}

const { class: className, ...props } = Astro.props

const slot = await Astro.slots.render("default")
const hasSlot = slot?.trim().length > 0
---

{
  hasSlot && (
    <div
      data-slot="avatar-fallback"
      class={cn(
        "bg-muted flex size-full items-center justify-center rounded-full",
        className
      )}
      {...props}
    >
      <Fragment set:html={slot} />
    </div>
  )
}
