---
import { getSlot, type BuildProps } from '../../utils'

interface Base {}

type Props = BuildProps<Base, 'buttons', 'div'>
const { ...rest } = Astro.props
const slot = await getSlot(Astro)
---

{
  slot && (
    <div {...rest}>
      <Fragment set:html={slot} />
    </div>
  )
}

<style>
  div {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-2);
  }
</style>
