---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  role="list"
  data-slot="item-group"
  class={cn("group/item-group flex flex-col", className)}
  {...props}
>
  <slot />
</div>
