---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div
  data-slot="item-header"
  class={cn("flex basis-full items-center justify-between gap-2", className)}
  {...props}
>
  <slot />
</div>
