---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  data-slot="item-content"
  class={cn(
    "flex flex-1 flex-col gap-1 group-data-[size=xs]/item:gap-0",
    "[&+[data-slot=item-content]]:flex-none",
    className
  )}
  {...props}
>
  <slot />
</div>
