---
export interface Props {}

const slot = await Astro.slots.render('default')
const { props } = Astro
---

{
  slot?.trim().length > 0 && (
    <div class:list={['segment', props.class]}>
      <Fragment set:html={slot} />
    </div>
  )
}

<style>
  div {
    display: flex;
    gap: var(--flow4);
  }
</style>
