---
export type SpecProps = Props
interface Props {
  spec?: string
}

const { spec, ...restProps } = Astro.props
---

<li
  class="spec text text-hue12 gap-.5em flex"
  {...restProps}
>
  <i class="icon:check hue-brand text w-1.5em h-1.5em inline-block">
    checkmark
  </i>
  <span class="text-hue12">
    {spec}
  </span>
</li>
