---
import { z } from 'zod'
import { componentSchema } from '../../schemas/componentSchema'

type Props = z.infer<typeof optionSchema>

export const optionSchema = componentSchema({
  value: z.number().or(z.string()).nullable(),
})

const { value, html, ...rest } = optionSchema.parse(Astro.props)
---

{
  optionSchema && (
    <option
    class:list={["full-option"]}
      value={value}
      {...rest}
    >
      <slot>{html ? html : value}</slot>
    </option>
  )
}
