---
import type { HTMLAttributes } from 'astro/types'
import Component from '../_Component.astro'
import Label from '../typography/Label.astro'
type Props = HTMLAttributes<'input'> & {
  label?: string
}

const { label, name, ...rest } = Astro.props
---

<div class="radio-container">
  <Component
    class:list={['radio']}
    if={true}
    as="input"
    type="radio"
    name={name}
    {...rest}
  />
  <Label>{label ?? name}</Label>
</div>

<style is:global lang="scss">
  @import '../../css/utils.scss';

  .radio-container {
    display: flex;
    gap: var(--space-2);
  }

  @include component('radio') {
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-radius: var(--full-border-radius-2);
    background: var(--background);
    min-width: var(--element-2);
    accent-color: var(--10);
    font-size: var(--text-body);

    &:hover {
      border: var(--border-color-hover);
      background: var(--background-hover);
    }

    &:active {
      border: var(--border-color-active);
      background: var(--background-active);
    }
  }
</style>
