---
import type { ComponentProps, HTMLTag } from 'astro/types'
import Children from '../utility/Children.astro'
import Tag from '../utility/Tag.astro'
import Icon from './Icon.astro'

type Props<As extends HTMLTag = 'select'> = ComponentProps<typeof Tag<As>> &
  ComponentProps<typeof Children>

const { as = 'select', options, ...rest } = Astro.props
---

<div class="full-select-wrapper">
  <Tag
    if={options}
    {as}
    class:list={['full-select full-input']}
    {...rest}
  >
    <slot name="before" />
    <Children
      {options}
      {...rest}
    />
    <slot />
  </Tag>
  <Icon
    class="full-select-icon"
    name="chevron-down"
  />
</div>

<style is:global>
  .full-select {
    appearance: none;
  }

  .full-select-wrapper {
    position: relative;
    width: 100%;
  }

  .full-select-icon {
    position: absolute;
    top: var(--full-element-3);
    right: var(--full-element-2);
    bottom: var(--full-element-3);
    height: var(--full-text-1);
  }
</style>
