---
import type { HTMLAttributes } from 'astro/types'

type Props = Omit<HTMLAttributes<'option'>, 'slot'> & {
  text?: string
}

const { text, ...rest } = Astro.props
---

<option
  class:list={['option']}
  {...rest}
>
  {text}
  <slot />
</option>

<style>
  .full.option {
    color: var(--foreground);
    font-weight: var(--font-weight);
    font-size: var(--text-1);
    line-height: 1;
    font-family: var(--font-family);
  }
</style>
