---
import type { ComponentProps, HTMLTag } from 'astro/types'
import Children from '../utility/Children.astro'
import Tag from '../utility/Tag.astro'
import Icon from './Icon.astro'

type Props<As extends HTMLTag = 'select'> = ComponentProps<typeof Tag<As>> &
  ComponentProps<typeof Children>

const { as = 'select', options, ...rest } = Astro.props
---

<Tag
  as="div"
  class="full-select-wrapper"
  {...rest}
>
  <Tag
    if={options}
    {as}
    class:list={['full-select full-input']}
    {...rest}
  >
    <slot name="before" />
    <Children
      {options}
      {...rest}
    />
    <slot />
  </Tag>
  <div class="full-select-icon-wrapper">
    <Icon
      class="full-select-icon"
      name="chevron-down"
    />
  </div>
</Tag>

<style is:global lang="scss">
  .full-select {
    appearance: none;
  }

  .full-select-wrapper {
    position: relative;
    width: 100%;
  }

  .full-select-icon-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    right: var(--full-element-2);
    align-items: center;
    height: 100%;
  }
</style>
