<!-- ---
import type { CollectionEntry } from 'astro:content'
import Header from '../../elements/header/Header.astro'
import Layout from '../../elements/layout/Layout.astro'

interface Props {
  entry: CollectionEntry<'forms'>
  seo: any
}

const { entry, seo } = Astro.props
---

<Layout {seo}>
  <Header />
  <main>
    <slot />
  </main>
  <!-- <Footer /> -->-->
