---
import type { CollectionEntry } from 'astro:content'
import Layout from '../../../layouts/Layout.astro'
import Header from '../../elements/header/Header.astro'

interface Props {
  entry: CollectionEntry<'forms'>
  seo: any
}

const { entry, seo } = Astro.props
---

<Layout {seo}>
  <Header />
  <main>
    <slot />
  </main>
  <!-- <Footer /> -->
</Layout>
