---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"
import { Icon } from "@/components/ui/icon"

type Props = HTMLAttributes<"div"> & {
  value?: number
}

const { value = 5, class: className, ...props } = Astro.props
---

<div class={cn("flex items-center gap-1 text-base", className)} {...props}>
  {
    Array.from({ length: 5 }).map((_, index) => {
      const fillPercentage =
        index < Math.floor(value)
          ? 100
          : index === Math.floor(value)
            ? (value % 1) * 100
            : 0

      return (
        <span class="text-muted-foreground/25 relative inline-flex size-[1em]">
          <Icon name="star" class="size-[1em] fill-current" />
          {fillPercentage > 0 && (
            <span
              class="text-primary absolute inset-0 overflow-hidden"
              style={{ width: `${fillPercentage}%` }}
            >
              <Icon name="star" class="size-[1em] fill-current" />
            </span>
          )}
        </span>
      )
    })
  }
</div>
