---
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div data-slot="popover-portal" class={className} {...props}>
  <slot />
</div>
