---
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"button">

const { class: className, type = "button", ...props } = Astro.props
---

<button data-slot="popover-close" type={type} class={className} {...props}>
  <slot />
</button>
