---
import type { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"button"> {}

const { class: className, type = "button", ...props } = Astro.props
---

<button data-slot="popover-trigger" type={type} class={className} {...props}>
  <slot />
</button>
