---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"p">

const { class: className, ...props } = Astro.props
---

<p
  data-slot="popover-description"
  class={cn("text-muted-foreground", className)}
  {...props}
>
  <slot />
</p>
