---
import type { HTMLAttributes } from "astro/types"
import { cva, type VariantProps } from "class-variance-authority"

import { cn } from "@/lib/utils"

const variants = cva(
  [
    "flex shrink-0 items-center justify-center gap-2 group-has-[[data-slot=tile-description]]/tile:translate-y-0.5 group-has-[[data-slot=tile-description]]/tile:self-start [&_svg]:pointer-events-none",
    "transition-opacity duration-100 [&:is(a:hover>&)]:opacity-75",
    "relative overflow-hidden",
  ],
  {
    variants: {
      variant: {
        default: "*:rounded-md",
        background:
          "absolute inset-0 size-full opacity-25 *:size-full *:object-cover",
        inset: [
          "overflow-hidden rounded-md *:size-full *:object-cover",
          "-mx-(--tile-padding) h-auto w-[calc(100%+2*var(--tile-padding))] first:-mt-(--tile-padding) last:-mb-(--tile-padding)",
          // split layout adjustments
          "[&:is([data-slot=tile-split]>&)]:-my-(--tile-padding) [&:is([data-slot=tile-split]>&)]:h-[calc(100%+2*var(--tile-padding))]",
          "[&:is([data-slot=tile-split]>&)]:mx-0 [&:is([data-slot=tile-split]>&)]:w-[calc(100%+1*var(--tile-padding))]",
          "[&:is([data-slot=tile-split]>&)]:first:-ml-(--tile-padding)",
          "[&:is([data-slot=tile-split]>&)]:last:-mr-(--tile-padding)",
        ],
        icon: "bg-muted size-8 rounded-sm border [&_svg:not([class*='size-'])]:size-4",
      },
    },
    defaultVariants: {
      variant: "default",
    },
  }
)

interface Props extends HTMLAttributes<"div">, VariantProps<typeof variants> {}

const { class: className, variant, ...props } = Astro.props

const slot = await Astro.slots.render("default")
---

{
  slot?.trim().length > 0 && (
    <div
      data-slot="tile-media"
      data-variant={variant}
      class={cn(variants({ variant }), className)}
      {...props}
    >
      <Fragment set:html={slot} />
    </div>
  )
}
