---
import type { HTMLAttributes } from "astro/types"
import { cva, type VariantProps } from "class-variance-authority"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div">, VariantProps<typeof variants> {}

const variants = cva(["grid size-full gap-6 *:w-full"], {
  variants: {
    align: {
      start: "items-start",
      center: "items-center",
      end: "items-end",
    },
    order: {
      default: "",
      reverse: ["*:first:-col-start-2 *:last:not-first:col-start-1"],
    },
    ratio: {
      "2/3": "grid-cols-[2fr_3fr]",
      "1": "grid-cols-2",
      "3/2": "grid-cols-[3fr_2fr]",
    },
  },
  defaultVariants: {
    align: "start",
    order: "default",
    ratio: "2/3",
  },
})

const { class: className, align, order, ratio, ...props } = Astro.props

const slot = await Astro.slots.render("default")
---

{
  slot?.trim().length > 0 && (
    <div
      class={cn(variants({ align, order, ratio }), className)}
      data-slot="tile-split"
      {...props}
    >
      <Fragment set:html={slot} />
    </div>
  )
}
