---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  class={cn("grid size-full grid-cols-[2fr_3fr] gap-6 *:w-full", className)}
  data-slot="tile-split"
  {...props}
>
  <slot />
</div>
