---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div
  data-slot="tile-content"
  class={cn("flex min-w-0 flex-1 flex-col gap-3 p-5", className)}
  {...props}
>
  <slot />
</div>
