---
import type { HTMLAttributes } from "astro/types"
import { cva, type VariantProps } from "class-variance-authority"

import { cn } from "@/lib/utils"

const variants = cva(
  [
    "w-full space-y-2",
    "[&_p]:text-muted-foreground [&_p]:leading-[1.8] [&_p]:not-first:mt-2",
    "[&_ul]:list-inside [&_ul]:list-disc [&_ul]:space-y-1.5 [&_ul]:not-first:mt-2",
    "[&_ol]:list-inside [&_ol]:list-decimal [&_ol]:space-y-1.5 [&_ol]:not-first:mt-2",
    "[&_li_p]:inline",
    "[&_a]:text-primary [&_a]:hover:underline",
    "[&_:is(h1,h2,h3,h4,h5,h6)]:scroll-mt-20 [&_:is(h1,h2,h3,h4,h5,h6)]:leading-[1.1] [&_:is(h1,h2,h3,h4,h5,h6)]:font-medium [&_:is(h1,h2,h3,h4,h5,h6)]:text-pretty [&_:is(h1,h2,h3,h4,h5,h6)]:not-first:mt-3",
    "[&_img]:rounded-lg [&_img]:not-first:mt-3",
    "[&_p:first-child:has(~:is(h1,h2,h3,h4,h5,h6))]:text-accent-foreground [&_p:first-child+:is(h1,h2,h3,h4,h5,h6)]:mt-2 [&_p:first-child:has(~:is(h1,h2,h3,h4,h5,h6))]:text-xs [&_p:first-child:has(~:is(h1,h2,h3,h4,h5,h6))]:font-medium",
    "[&_pre]:bg-muted [&_pre]:mt-3 [&_pre]:rounded-lg [&_pre]:rounded-md [&_pre]:border [&_pre]:p-2 [&_pre]:text-xs",
  ],
  {
    variants: {
      size: {
        sm: "max-w-xl text-xs [&_h1]:text-lg [&_h2]:text-base [&_h3]:text-sm [&_h4]:text-xs [&_h5]:text-xs [&_h6]:text-xs",
        default:
          "max-w-2xl text-sm [&_h1]:text-xl [&_h2]:text-lg [&_h3]:text-base [&_h4]:text-sm [&_h5]:text-xs [&_h6]:text-xs",
        lg: "max-w-2xl text-base [&_h1]:text-2xl [&_h2]:text-xl [&_h3]:text-lg [&_h4]:text-base [&_h5]:text-sm [&_h6]:text-xs",
      },
      align: {
        start: "text-start",
        center: "text-center",
        end: "text-end",
      },
    },
    defaultVariants: {
      size: "default",
    },
  }
)

interface Props extends HTMLAttributes<"div">, VariantProps<typeof variants> {
  title?: string
  description?: string
  html?: string
}

const {
  class: className,
  size,
  title,
  description,
  html,
  ...props
} = Astro.props

const slot = await Astro.slots.render("default")
---

{
  (slot || title || description) && (
    <div class={cn(variants({ size }), className)} {...props}>
      {title && <h3>{title}</h3>}
      {description && <p>{description}</p>}
      <Fragment set:html={html} />
      <Fragment set:html={slot} />
    </div>
  )
}
