/* For starlight */
@layer base, starlight, theme, components, utilities;
@import "@astrojs/starlight-tailwind";

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --spacing: 0.25rem;
  --text: 1rem;
  --heading: 2.25rem;
  --radius: 0.35rem;
  --container: var(--breakpoint-xl);
  --gutter: 24px;

  --background: hsl(33 60% 97%);
  --foreground: hsl(20 30% 7%);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: hsl(20.5 90.2% 48.2%);
  --primary-foreground: hsl(33 70% 96%);
  --secondary: hsl(32.1 30% 90%);
  --secondary-foreground: hsl(20 10% 30%);
  --muted: hsl(32.1 30% 90%);
  --muted-foreground: hsl(20 10% 30%);
  --accent: hsl(32.1 30% 90%);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: hsl(32.1 20% 88%);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: #edeef0;
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: #edeef0;
  --sidebar-accent: hsl(32.1 30% 90%);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Starlight color palette */
  --color-gray-50: var(--background);
  --color-gray-100: var(--muted);
  --color-gray-200: var(--muted);
  --color-gray-300: var(--border);
  --color-gray-400: red;
  --color-gray-500: var(--muted-foreground);
  --color-gray-600: var(--muted);
  --color-gray-700: var(--foreground);
  --color-gray-800: var(--border);
  --color-gray-900: var(--foreground);
  --color-gray-950: red;
  /* not in tailwind adapter for starlight */
  --sl-color-gray-1: var(--foreground);
}

.dark {
  --background: hsl(20 15% 7%);
  --foreground: hsl(33 53% 95%);
  --card: oklch(0.205 0 0);
  --card-foreground: #edeef0;
  --popover: oklch(0.205 0 0);
  --popover-foreground: #edeef0;
  --primary: hsl(20.5 90.2% 48.2%);
  --primary-foreground: hsl(33 70% 96%);
  --secondary: hsl(20 5% 15%);
  --secondary-foreground: hsl(33 40% 92%);
  --muted: hsl(20 5% 15%);
  --muted-foreground: hsl(33 40% 92%);
  --accent: hsl(20 5% 15%);
  --accent-foreground: #edeef0;
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: #edeef0;
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: #edeef0;
  --sidebar-accent: hsl(20 5% 15%);
  --sidebar-accent-foreground: #edeef0;
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* Starlight color palette */
  --color-gray-50: red;
  --color-gray-100: red;
  --color-gray-200: var(--foreground); /* themer button */
  --color-gray-300: var(--foreground); /* sidebar links and docs text */
  --color-gray-400: var(--muted-foreground); /* toc text */
  --color-gray-500: red;
  --color-gray-600: red;
  --color-gray-700: var(--border); /* border */
  --color-gray-800: var(--muted); /* sidebar, header, code */
  --color-gray-900: var(--background); /* body */
  --color-gray-950: var(--background);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* primary color */
  --color-accent-50: var(--color-orange-50);
  --color-accent-100: var(--color-orange-100);
  --color-accent-200: var(--color-orange-200);
  --color-accent-300: var(--color-orange-300);
  --color-accent-400: var(--color-orange-400);
  --color-accent-500: var(--color-orange-500);
  --color-accent-600: var(--color-orange-600);
  --color-accent-700: var(--color-orange-700);
  --color-accent-800: var(--color-orange-800);
  --color-accent-900: var(--color-orange-900);
  --color-accent-950: var(--color-orange-950);

  --text-xs: calc(var(--text) - 0.25rem);
  --text-sm: calc(var(--text) - 0.125rem);
  --text-base: var(--text);
  --text-lg: calc(var(--text) + 0.125rem);
  --text-xl: calc(var(--text) + 0.25rem);

  --text-2xl: calc(var(--heading) * (4 / 6));
  --text-3xl: calc(var(--heading) * (5 / 6));
  --text-4xl: var(--heading);
  --text-5xl: calc(var(--heading) * (8 / 6));
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply bg-background scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Starlight overrides */
@layer theme {
  .page {
    --sl-nav-height: 61px;
    background-color: var(--background);
  }

  .page > .header {
    @apply bg-background h-16 border-b border-gray-800 py-0!;
  }

  .page > .sidebar > .sidebar-pane {
    @apply bg-background border-r border-gray-800;
  }

  .social-icons {
    @apply hidden;
  }
}

@utility inset-y {
  height: calc(100% + 2 * var(--section-py));
  margin-top: calc(-1 * var(--section-py));
  margin-bottom: calc(-1 * var(--section-py));
}
