
    :root {
      --background: oklch(98.3% 0.0018 292.9);
      --foreground: oklch(24.5% 0.0132 292.9);
      --card: oklch(98.3% 0.0018 292.9);
      --card-foreground: oklch(24.5% 0.0132 292.9);
      --popover: oklch(98.3% 0.0018 292.9);
      --popover-foreground: oklch(24.5% 0.0132 292.9);
      --primary: oklch(52.1% 0.2056 27.85);
      --primary-foreground: #fff;
      --secondary: oklch(94.6% 0.0059 292.9);
      --secondary-foreground: oklch(24.5% 0.0132 292.9);
      --muted: oklch(94.6% 0.0059 292.9);
      --muted-foreground: oklch(49.2% 0.0158 292.9);
      --accent: oklch(94.6% 0.0059 292.9);
      --accent-foreground: oklch(24.5% 0.0132 292.9);
      --border: oklch(89.8% 0.01 292.9);
      --input: oklch(84.1% 0.0141 292.9);
      --ring: oklch(78.1% 0.0191 292.9);
    }

    .dark {
      --background: oklch(21.8% 0.0049 292.9);
      --foreground: oklch(94.9% 0.003 292.9);
      --card: oklch(24.8% 0.0047 292.9);
      --card-foreground: oklch(94.9% 0.003 292.9);
      --popover: oklch(21.8% 0.0049 292.9);
      --popover-foreground: oklch(94.9% 0.003 292.9);
      --primary: oklch(52.1% 0.2056 27.85);
      --primary-foreground: #fff;
      --secondary: oklch(28.2% 0.0064 292.9);
      --secondary-foreground: oklch(94.9% 0.003 292.9);
      --muted: oklch(28.2% 0.0064 292.9);
      --muted-foreground: oklch(77% 0.0162 292.9);
      --accent: oklch(28.2% 0.0064 292.9);
      --accent-foreground: oklch(94.9% 0.003 292.9);
      --border: oklch(33% 0.0104 292.9);
      --input: oklch(40.9% 0.0141 292.9);
      --ring: oklch(49.5% 0.0184 292.9);
    }
  