
    :root {
      --color-background: #000;
      --color-foreground: oklch(24% 0 none);
      --color-card: oklch(-18.5% 0 none);
      --color-card-foreground: oklch(24% 0 none);
      --color-popover: oklch(-18.5% 0 none);
      --color-popover-foreground: oklch(24% 0 none);
      --color-primary: oklch(-100.9% 0 none);
      --color-primary-foreground: #fff;
      --color-secondary: oklch(-49.9% 0 none);
      --color-secondary-foreground: oklch(-105.9% 0 none);
      --color-muted: oklch(-39.8% 0 none);
      --color-muted-foreground: oklch(-105.9% 0 none);
      --color-accent: oklch(-49.9% 0 none);
      --color-accent-foreground: #fff;
      --color-border: oklch(-59.7% 0 none);
      --color-input: oklch(-81.7% 0 none);
      --color-ring: oklch(-81.7% 0 none);
    }

    .dark {
      --color-background: #1f1f1f;
      --color-foreground: oklch(94.8% 0 none);
      --color-card: oklch(27% 0 none);
      --color-card-foreground: oklch(94.8% 0 none);
      --color-popover: oklch(27% 0 none);
      --color-popover-foreground: oklch(94.8% 0 none);
      --color-primary: oklch(55.2% 0 none);
      --color-primary-foreground: #fff;
      --color-secondary: oklch(35.2% 0 none);
      --color-secondary-foreground: oklch(77.2% 0 none);
      --color-muted: oklch(32.8% 0 none);
      --color-muted-foreground: oklch(77.2% 0 none);
      --color-accent: oklch(35.2% 0 none);
      --color-accent-foreground: #fff;
      --color-border: oklch(38.3% 0 none);
      --color-input: oklch(51.3% 0 none);
      --color-ring: oklch(51.3% 0 none);
    }
  