---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  class={cn(
    "grid grid-cols-[repeat(auto-fit,minmax(200px,250px))] gap-8",
    className
  )}
  {...props}
>
  <slot />
</div>
