---
import type { HTMLAttributes } from "astro/types";

import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"p"> {}

const { class: className, ...props } = Astro.props;

const slot = await Astro.slots.render("default");
---

{
  slot?.trim().length > 0 && (
    <p
      data-slot="footer-copyright"
      class={cn("text-muted-foreground text-xs", className)}
      {...props}
    >
      &copy; {`${new Date().getFullYear()} `}
      <Fragment set:html={slot} />
    </p>
  )
}
