---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"li">

const { class: className, ...props } = Astro.props as Props
---

<li data-slot="toc-menu-item" class={cn("relative", className)} {...props}>
  <slot />
</li>
