---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"nav">

const { class: className, ...props } = Astro.props as Props
---

<nav data-slot="toc" class={cn("flex flex-col gap-3", className)} {...props}>
  <slot />
</nav>
