---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div"> & {
  inset?: boolean
}

const { class: className, inset, ...props } = Astro.props
---

<div
  data-slot="dropdown-menu-label"
  data-inset={inset}
  class={cn(
    "text-muted-foreground px-2 py-1.5 text-xs font-medium data-[inset]:pl-8",
    className
  )}
  {...props}
>
  <slot />
</div>
