---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"button"> & {
  disabled?: boolean
  variant?: "default" | "destructive"
  inset?: boolean
}

const {
  class: className,
  type = "button",
  disabled,
  variant,
  inset,
  ...props
} = Astro.props
---

<button
  data-slot="dropdown-menu-item"
  data-disabled={disabled}
  data-variant={variant}
  data-inset={inset}
  disabled={disabled ? true : undefined}
  type={type}
  class={cn(
    "group/dropdown-menu-item relative flex w-full cursor-default items-center gap-2 rounded-sm px-2 py-1.5 text-sm outline-none select-none data-[highlighted]:bg-accent data-[highlighted]:text-accent-foreground not-data-[variant=destructive]:data-[highlighted]:**:text-accent-foreground data-[inset]:pl-8 data-[variant=destructive]:text-destructive data-[variant=destructive]:data-[highlighted]:bg-destructive/10 data-[variant=destructive]:data-[highlighted]:text-destructive data-[disabled]:pointer-events-none data-[disabled]:opacity-50 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4 data-[variant=destructive]:*:[svg]:text-destructive",
    className
  )}
  {...props}
>
  <slot />
</button>
