---
import type { HTMLAttributes } from 'astro/types'
import { getSlot } from '../../utils'
interface Props {
  href?: HTMLAttributes<'a'>['href']
  class?: HTMLAttributes<'div'>['class']
}

const { href = '/', class: className } = Astro.props
const slot = await getSlot(Astro)
---

{
  slot && (
    <a
      href={href}
      class:list={['logo logo-root', className]}
    >
      <slot />
    </a>
  )
}

<style></style>
