---
import { getEntry } from 'astro:content'
const company = (await getEntry('globals', 'company')).data

interface Props {
  key: keyof typeof map
}

const { key } = Astro.props

const map = {
  facebook: {
    href: company.facebook,
    icon: 'icon:brand-facebook',
  },
  instagram: {
    href: company.instagram,
    icon: 'icon:brand-instagram',
  },
  twitter: {
    href: company.twitter,
    icon: 'icon:brand-twitter',
  },
  pinterest: {
    href: company.pinterest,
    icon: 'icon:brand-pinterest',
  },
  linkedin: {
    href: company.linkedin,
    icon: 'icon:brand-linkedin',
  },
  youtube: {
    href: company.youtube,
    icon: 'icon:brand-youtube',
  },
  tiktok: {
    href: company.tiktok,
    icon: 'icon:brand-tiktok',
  },
  snapchat: {
    href: company.snapchat,
    icon: 'icon:brand-snapchat',
  },
}
---

{
  company.socials[key] && (
    <a
      href={map[key].href}
      target="_blank"
    >
      <i class:list={map[key].icon} />
    </a>
  )
}

<style>
  a {
    i {
      height: 1.4em;
      width: 1.4em;
      position: relative;
      display: block;
      color: inherit;
    }
  }
</style>
