---
import Icon from '../Icon.astro'

export interface Props {
  key: keyof typeof map
  value: string
}

const { key, value } = Astro.props

const map = {
  facebook: {
    href: 'https://facebook.com/' + value,
    icon: 'brand-facebook',
  },
  instagram: {
    href: 'https://instagram.com/' + value,
    icon: 'brand-instagram',
  },
  twitter: {
    href: value,
    icon: 'brand-twitter',
  },
  pinterest: {
    href: value,
    icon: 'brand-pinterest',
  },
  linkedin: {
    href: value,
    icon: 'brand-linkedin',
  },
  youtube: {
    href: value,
    icon: 'brand-youtube',
  },
  tiktok: {
    href: value,
    icon: 'brand-tiktok',
  },
  snapchat: {
    href: value,
    icon: 'brand-snapchat',
  },
}
---

{
  (
    <a href={map[key].href}>
      <Icon icon={map[key].icon} />
    </a>
  )
}

<style>
  a {
    i {
      height: 1.4em;
      width: 1.4em;
      position: relative;
      display: block;
      color: inherit;
    }
  }
</style>
