---
import { ViewTransitions } from 'astro:transitions'
import { Head } from 'fulldev-ui'
import Sidebar from '../components/Sidebar.astro'
---

<!doctype html>
<html lang="en">
  <Head
    title="Fullui Stories"
    description="Here you can try out some of our base and typography components."
  >
    <ViewTransitions />
  </Head>
  <body>
    <main>
      <Sidebar />
      <slot />
    </main>
    <style>
      main {
        display: flex;
        padding: 5px;
      }
    </style>
  </body>
</html>
