---
import {
  Section,
  SectionActions,
  SectionContent,
  SectionGrid,
  SectionProse,
  SectionSplit,
} from "@/components/ui/section"
import { Skeleton } from "@/components/ui/skeleton"
import { Tile, TileContent, TileMedia } from "@/components/ui/tile"
---

<Section>
  <SectionSplit>
    <SectionContent>
      <SectionProse>
        <Skeleton class="h-12 w-8/10" />
        <Skeleton class="h-4 w-9/10" />
        <Skeleton class="h-4 w-9/10" />
        <Skeleton class="h-4 w-7/10" />
      </SectionProse>
      <SectionActions>
        <Skeleton class="h-9 w-32" />
        <Skeleton class="h-9 w-32" />
      </SectionActions>
    </SectionContent>
    <SectionGrid>
      {
        Array.from({ length: 6 }).map(() => (
          <Tile>
            <TileMedia>
              <Skeleton class="aspect-video w-full" />
            </TileMedia>
            <TileContent>
              <div class="space-y-2">
                <Skeleton class="h-4 w-8/10" />
                <Skeleton class="h-2 w-9/10" />
                <Skeleton class="h-2 w-7/10" />
              </div>
            </TileContent>
          </Tile>
        ))
      }
    </SectionGrid>
  </SectionSplit>
</Section>
