---
import type { HTMLAttributes } from 'astro/types'

interface Props {
  class?: HTMLAttributes<'div'>['class']
}

const { class: className } = Astro.props
---

<body class:list={['layout__body', className]}>
  <slot />
</body>

<style>
  :root {
    background: var(--background);
    color: var(--color);
    font: var(--font);
    transition: var(--transition);
  }
</style>
