---
import type { HTMLAttributes } from 'astro/types'

interface Props {
  class?: HTMLAttributes<'div'>['class']
}

const { class: className } = Astro.props
---

<main class:list={['layout__main', className]}>
  <slot />
</main>
