---
import type { HTMLAttributes } from 'astro/types'

interface Props {
  scheme?: 'light' | 'dark'
  class?: HTMLAttributes<'div'>['class']
}

const { scheme, class: className } = Astro.props
---

<body class:list={['layout__body', scheme, className]}>
  <slot />
</body>

<style is:global>
  body {
    background: var(--base-1);
    min-height: 100vh;
  }

  .dark {
    color-scheme: dark;
  }

  .light {
    color-scheme: light;
  }

  :root {
    transition: var(--transition);
    background: var(--background);
    color: var(--color);
    font: var(--font);
  }
</style>
