---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  data-slot="carousel-item"
  role="group"
  aria-roledescription="slide"
  class={cn(
    "min-w-0 shrink-0 grow-0 basis-full",
    "group-data-[orientation=horizontal]/carousel:pl-4",
    "group-data-[orientation=vertical]/carousel:pt-4",
    className
  )}
  {...props}
>
  <slot />
</div>
