---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div class="overflow-hidden" data-slot="carousel-content">
  <div
    data-slot="carousel-container"
    class={cn(
      "flex [touch-action:pan-y_pinch-zoom]",
      "group-data-[orientation=vertical]/carousel:-mt-4 group-data-[orientation=vertical]/carousel:[touch-action:pan-x_pinch-zoom] group-data-[orientation=vertical]/carousel:flex-col",
      "group-data-[orientation=horizontal]/carousel:-ml-4",
      className
    )}
    {...props}
  >
    <slot />
  </div>
</div>
