---
import type { HTMLAttributes } from "astro/types"
import ChevronRightIcon from "lucide-static/icons/chevron-right.svg"

import { cn } from "@/lib/utils"
import { buttonVariants, type ButtonVariantProps } from "@/components/ui/button"

interface Props
  extends Omit<HTMLAttributes<"button">, "type">, ButtonVariantProps {}

const {
  class: className,
  variant = "outline",
  size = "icon-sm",
  disabled,
  ...props
} = Astro.props
---

<button
  type="button"
  data-slot="carousel-next"
  data-manual-disabled={disabled ? "true" : undefined}
  disabled={disabled}
  class={cn(
    buttonVariants({ variant, size }),
    "absolute top-1/2 -right-12 z-10 -translate-y-1/2 touch-manipulation rounded-full",
    "group-data-[orientation=vertical]/carousel:right-auto group-data-[orientation=vertical]/carousel:-bottom-12 group-data-[orientation=vertical]/carousel:left-1/2 group-data-[orientation=vertical]/carousel:-translate-x-1/2 group-data-[orientation=vertical]/carousel:translate-y-0 group-data-[orientation=vertical]/carousel:rotate-90",
    className
  )}
  {...props}
>
  <slot>
    <ChevronRightIcon class="size-4" aria-hidden="true" />
    <span class="sr-only">Next slide</span>
  </slot>
</button>
