---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"button">

const { class: className, type = "button", ...props } = Astro.props
---

<button
  data-slot="tooltip-trigger"
  type={type}
  class={cn(className)}
  {...props}
>
  <slot />
</button>
