---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  class={cn("min-w-0 shrink-0 grow-0 basis-full snap-start", className)}
  data-slot="native-carousel-item"
  {...props}
>
  <slot />
</div>
