---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {
  orientation?: "horizontal" | "vertical"
}

const { class: className, orientation = "horizontal", ...props } = Astro.props
---

<div
  class={cn("relative", className)}
  data-slot="native-carousel"
  data-orientation={orientation}
  {...props}
>
  <slot />
</div>
