---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"
import { Separator } from "@/components/ui/separator"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props

const slot = await Astro.slots.render("default")
---

<div
  data-slot="field-separator"
  data-content={slot}
  class={cn(
    "relative -my-2 h-5 text-sm group-data-[variant=outline]/field-group:-mb-2",
    className
  )}
  {...props}
>
  <Separator class="absolute inset-0 top-1/2" />
  {
    slot?.trim().length > 0 && (
      <span
        class="bg-background text-muted-foreground relative mx-auto block w-fit px-2"
        data-slot="field-separator-content"
      >
        <Fragment set:html={slot} />
      </span>
    )
  }
</div>
