---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  data-slot="field-content"
  class={cn(
    "group/field-content flex flex-1 flex-col gap-1.5 leading-snug",
    className
  )}
  {...props}
>
  <slot />
</div>
