---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  role="alert"
  data-slot="field-error"
  class={cn("text-destructive text-sm font-normal", className)}
  {...props}
>
  <slot />
</div>
