---
const { price } = Astro.props
const priceNumber = parseFloat(price)
const fixedPrice = priceNumber?.toFixed(2)
---

{
  price && fixedPrice && (
    <span class="text-size2 text-hue12"> &euro;{fixedPrice}</span>
  )
}
