---
interface Props {
  prose?: any
  Content?: any
}

const { prose, Content } = Astro.props
---

{
  (prose || Content) && (
    <div
      class:list={[
        'max-w-3xl text-left',
        '[&_h1]:(heading mb-size3) [&_h1+p]:(mb-size6) ',
        '[&_h2]:(heading mt-size5 mb-size3)',
        '[&_h3]:(subheading mt-size5 mb-size3)',
        '[&_p]:(text mt-size3)',
        '[&_*:fisrt-child]:mt-0 [&_*:last-child]:mb-0',
      ]}
      set:html={prose}
    >
      {Content && <Content />}
    </div>
  )
}
