---
interface Props {
  rating?: number | null
}

const percentageClasses = (num: number) => {
  if (!rating) return
  if (rating >= num) return 'bg-hue9'
  if (rating < num - 0.75) return 'bg-hue-6'
  else return 'bg-gradient-to-r from-50% to-50% from-hue9 to-hue6'
}

const { rating } = Astro.props
---

{
  rating && (
    <div class="gap-xs hue-brand text-text flex">
      {[1, 2, 3, 4, 5].map((num) => (
        <i
          class="icon:star-filled h-1.25em w-1.25em [&+&]:-ml.4em"
          class:list={percentageClasses(num)}
        />
      ))}
    </div>
  )
}
