---
interface Props {
  writeup?: string | null
  tagline?: string | null
  title?: string | null
  description?: string | null
}

const { writeup, tagline, title, description } = Astro.props
---

{
  (writeup ||
    tagline ||
    title ||
    description ||
    Astro.slots.has('default')) && (
    <div
      class:list={[
        '[&_h1,&_h2,&_h3,&_h4,&_h5,&_h6]:my-size3',
        '[&_p]:mt-size2',
        '[&_p:first-child:not(:last-child)]:(hue-brand text-size1) first:[&_*]:!mt-0 last:[&_*]:!mb-0',
      ]}
    >
      {tagline && <span>{tagline}</span>}
      {title && <h4>{title}</h4>}
      {description && <p>{description}</p>}
      {writeup && typeof writeup === 'string' && (
        <Fragment set:html={writeup} />
      )}
      <slot />
    </div>
  )
}
