---
import "@/styles/globals.css"
import "@/styles/theme.css"

import { getEntries, render } from "astro:content"
import type { CollectionEntry } from "astro:content"

import Block from "@/components/misc/block.astro"
import Section from "@/components/misc/section.astro"

type Props = CollectionEntry<"pages">

const { Content } = await render(Astro.props)
const { type, variant, sections, layout, seo, ...data } = Astro.props.data

const sectionEntries = sections && (await getEntries(sections))
---

<main>
  <Block {...data}>
    <Content />
  </Block>
  {sectionEntries?.map((section) => <Section {...section} />)}
</main>
