---
import type { ComponentProps } from 'astro/types'
import { Button, Column, Heading, Image, Row, Section, Text } from 'fulldev-ui'

interface Props extends ComponentProps<typeof Section> {
  heading?: string
  text?: string
  image?: string
  buttons?: ComponentProps<typeof Button>[]
  'bookshop:live'?: boolean
}

const { heading, text, buttons, image, ...rest } = Astro.props
---

<Section
  structure="split"
  align="center"
  {...rest}
>
  <Column>
    <Heading html={heading} />
    <Text html={text} />
    <Row>
      {buttons?.map((button) => <Button {...button} />)}
    </Row>
  </Column>
  <Image src={image} />
</Section>
