---
import type { ComponentProps } from 'astro/types'
import { Button, Heading, Image, Row, Section, Text } from 'fulldev-ui'

interface Props extends ComponentProps<typeof Section> {
  heading?: string
  paragraph?: string
  text?: string
  image?: string
  buttons?: ComponentProps<typeof Button>[]
}

const { heading, text, buttons, image, ...rest } = Astro.props
---

<Section
  align="center"
  frame="panel"
  variant="subtle"
  size="lg"
  {...rest}
>
  <Heading html={heading} />
  <Text html={text} />
  <Row>
    {buttons?.map((button, i) => <Button {...button} />)}
  </Row>
  <Image src={image} />
</Section>
