---
import type { ComponentProps } from 'astro/types'
import { Button, Heading, Image, Row, Section, Text } from 'fulldev-ui'

interface Props extends ComponentProps<typeof Section> {
  heading?: string
  text?: string
  image?: string
  buttons?: ComponentProps<typeof Button>[]
  'bookshop:live'?: boolean
}

const { heading, text, buttons, image, ...rest } = Astro.props
---

<Section
  size="xl"
  align="center"
  {...rest}
>
  <Heading
    level={1}
    html={heading}
  />
  <Text html={text} />
  <Row>
    {buttons?.map((button) => <Button {...button} />)}
  </Row>
  <Image src={image} />
</Section>
