---
import type { ComponentProps } from 'astro/types'
import {
  Button,
  Column,
  Heading,
  Row,
  Section,
  Tagline,
  Text,
} from 'fulldev-ui'

interface Props extends ComponentProps<typeof Section> {
  heading?: string
  text?: string
  tagline?: string
  buttons?: ComponentProps<typeof Button>[]
}

const { heading, text, tagline, buttons, ...rest } = Astro.props
---

<Section {...rest}>
  <Column>
    <Tagline html={tagline} />
    <Heading
      level={1}
      html={heading}
    />
    <Text html={text} />
    <Row>
      {buttons?.map((button) => <Button {...button} />)}
    </Row>
  </Column>
</Section>
