---
import type { ComponentProps } from 'astro/types'
import { Heading, Logo, Section, Text, Wrap } from 'fulldev-ui'

interface Props extends ComponentProps<typeof Section> {
  heading?: string
  text?: string
  logos?: string[]
}

const { logos, heading, text, ...rest } = Astro.props
---

<Section
  align="center"
  {...rest}
>
  <Heading html={heading} />
  <Text html={text} />
  <Wrap
    align="center"
    style={{ justifyContent: 'center' }}
  >
    {logos?.map((logo) => <Logo src={logo} />)}
  </Wrap>
</Section>
