---
import type { ComponentProps } from 'astro/types'
import { Button, Heading, Input, Row, Section, Text } from 'fulldev-ui'

interface Props extends ComponentProps<typeof Section> {
  heading?: string
  paragraph?: string
  text?: string
  image?: string
  input?: {
    placeholder?: string
    button?: string
  }
}

const { heading, text, image, input, ...rest } = Astro.props
---

<Section
  align="center"
  frame="panel"
  variant="subtle"
  size="lg"
  {...rest}
>
  <Heading html={heading} />
  <Text html={text} />
  <Row>
    <Input placeholder={input?.placeholder} />
    <Button text={input?.button} />
  </Row>
</Section>
