---
import type { ComponentProps } from 'astro/types'
import { Column, Heading, Row, Section, Text } from 'fulldev-ui'

interface Props extends ComponentProps<typeof Section> {
  heading?: string
  text?: string
  stats?: { heading: string; text: string }[]
}

const { heading, text, stats, ...rest } = Astro.props
---

<Section
  align="center"
  size="lg"
  {...rest}
>
  <Heading html={heading} />
  <Text html={text} />
  <Row>
    {
      stats?.map((stat) => (
        <Column align="center">
          <Heading
            level={3}
            html={stat.heading}
          />
          <Text html={stat.text} />
        </Column>
      ))
    }
  </Row>
</Section>
