---
import tablerIcons from '@iconify-json/tabler/icons.json'
import type { HTMLAttributes } from 'astro/types'
import { buildProps, getSlot, type BuildProps } from '../../utils'
const tabler: any = tablerIcons

interface Base {
  hue?: 'accent' | 'base' | null
  icon?: keyof typeof tabler.icons
  class?: HTMLAttributes<'div'>['class']
}

type Props = BuildProps<Base, 'icon'>
const props = buildProps(Astro, 'icon')
const slot = await getSlot(Astro)

const { icon, hue = 'accent', class: className } = props
---

{
  (icon || slot) && (
    <span class:list={['icon', hue, className]}>
      {icon && (
        <svg
          class:list={[hue, className]}
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          set:html={tabler?.icons[icon]?.body}
        />
      )}
      <slot />
    </span>
  )
}

<style>
  span {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 1.315em;
    height: 1.315em;
    color: var(--hue-9);

    &.single-icon {
      width: 1.6em;
      height: 1.6em;
    }

    svg {
      position: absolute;
      width: 120%;
      height: 120%;
    }
  }
</style>
