---
import tablerIcons from '@iconify-json/tabler/icons.json'
const tabler: any = tablerIcons

import type { HTMLAttributes } from 'astro/types'
import { getSlot } from 'src/utils'
interface Props {
  icon?: keyof typeof tabler.icons
  class?: HTMLAttributes<'div'>['class']
}

const { icon, class: className } = Astro.props
const slot = await getSlot(Astro)
---

{
  (icon || slot?.trim().length > 0) && (
    <span class:list={['icon']}>
      {icon && (
        <svg
          class:list={[className]}
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          set:html={tabler?.icons[icon]?.body}
        />
      )}
      <slot />
    </span>
  )
}

<style>
  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1em;
    height: 1em;
    color: var(--color);
  }
  svg {
    position: absolute;
    height: 120%;
    width: 120%;
  }
</style>
