---
import { getSlot } from 'src/utils'

interface Props {}

let {} = Astro.props
const slot = await getSlot(Astro)
---

{
  slot && (
    <div class="prose">
      <Fragment set:html={slot} />
    </div>
  )
}

<style>
  div {
    column-gap: var(--flow5);
    column-width: 600px;
    column-count: auto;
    text-align: left;

    :global(*) {
      color: var(--color);
      font: var(--font);

      margin-bottom: 0.5em;
      align-items: flex-start;
    }

    :global(h1) {
      --prose-scale: 1;
    }
    :global(h2) {
      --prose-scale: 0.76;
    }
    :global(h3) {
      --prose-scale: 0.6;
    }
    :global(h4) {
      --prose-scale: 0.52;
    }
    :global(h5) {
      --prose-scale: 0.48;
    }
    :global(h6) {
      --prose-scale: 0.44;
    }

    :global(:is(h1, h2, h3, h4, h5, h6)) {
      --color: var(--base-12);
      --font: 700 calc(var(--text3) * var(--prose-scale)) / 1.25 Arial,
        sans-serif;

      font: var(--font);
      color: var(--color);
      margin-bottom: 0.5em;
      margin-top: 2em;
    }

    :global(:is(h1, h2, h3, h4, h5, h6):first-child) {
      margin-top: 0;
    }

    :global(*) {
      break-inside: avoid-column;
    }
  }
</style>
