---
import { getSlot } from '../../utils'

interface Props {
  density?: 'compact' | null
  frame?: 'panel' | 'fill' | 'screen' | null
  align?: 'start' | 'center' | 'stretch' | null
  class?: string | null
}

const { density, frame, align, class: className } = Astro.props
const slot = await getSlot(Astro)
---

{
  slot && (
    <div class:list={['composite', align, frame, density, className]}>
      <Fragment set:html={slot} />
    </div>
  )
}

<style>
  div {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-4);
    width: 100%;

    &:where(.fill),
    &:where(.screen) {
      z-index: 10;
    }

    &:where(.center) {
      align-items: center;
    }

    &:where(.panel) {
      padding: var(--gutter);
    }

    &:where(.panel.compact) {
      gap: var(--spacing-4);
      padding: var(--spacing-4);
    }

    &:where(.stretch) {
      @media (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
</style>
