---
import type { HTMLAttributes } from 'astro/types'
import getSlot from '../../../utils/getSlot'

interface Props {
  scheme?: 'default' | 'reverse' | 'light' | 'dark'
  impact?: 'low' | 'medium' | 'high' | 'extreme'
  align?: 'start' | 'center' | 'end' | 'stretch'
  layout?: 'split' | 'stack'
  frame?: 'fill' | 'panel' | 'screen'
  class?: HTMLAttributes<'div'>['class']
}

const {
  scheme = 'default',
  impact = 'medium',
  align = 'start',
  layout = 'left',
  frame = 'fill',
  class: className,
} = Astro.props

const slot = await getSlot(Astro)
---

{
  slot && (
    <section
      class:list={[
        'full-theme',
        'section',
        'scheme-' + scheme,
        scheme + '-theme',
        scheme,
        'impact-' + impact,
        'layout-' + layout,
        'frame-' + frame,
        className,
      ]}
    >
      <Fragment set:html={slot} />
    </section>
  )
}

<style is:global>
  section {
    container: section / inline-size;
    position: relative;
    overflow-x: hidden;
    row-gap: var(--flow5);
    gap: var(--gutter);
    padding: calc(var(--spacer) * 1.5) var(--gutter);

    &:first-child {
      padding-top: var(--spacer);
      margin-top: 0;
    }

    &,
    &:where(.layout-left) {
      display: flex;
      flex-direction: column;
    }

    &:where(.layout-split) {
      display: grid;
      align-items: center;

      @media (min-width: 1024px) {
        grid-auto-columns: 1fr;
        grid-auto-flow: column;

        /* NEEDDS GLOBAL */
        &:nth-child(even) {
          & > *:first-child {
            order: 2;
          }
        }
      }
    }

    &:where(.layout-center) {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* justify-content: center; */
      text-align: center;
    }

    &:where(.layout-wide) {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    /* &:where(.frame-panel:not(:has(.frame-panel))) {
      margin: var(--spacer) var(--gutter);
      border-width: var(--borderWidth);
      border-radius: var(--rounded2);
      gap: 0;
      padding: 0;
    } */

    &:where(.frame-panel) {
      padding: var(--spacer) var(--gutter);
      margin: var(--spacer) var(--gutter);
      gap: 0;
      padding: 0;
    }

    &:where(.frame-screen) {
      min-height: 100vh;
    }

    /* &:where(.frame-screen) {
      min-height: 100vh;
    } */
  }
</style>
