---
export interface Props {
  layout?: 'left' | 'center' | 'split' | 'wide'
  frame?: 'fill' | 'panel' | 'screen'
  class?: string
}

const { layout = 'left', frame = 'fill', class: className } = Astro.props
const slot = await Astro.slots.render('default')
---

{
  slot?.trim().length > 0 && (
    <div class:list={['segment', layout, frame, className]}>
      <Fragment set:html={slot} />
    </div>
  )
}

<style>
  .segment {
    display: flex;
    flex-direction: column;
    row-gap: max(16px, 2vw);
    position: relative;
    z-index: 10;
    row-gap: var(--flow4);
    column-gap: var(--flow5);
    container: segment / inline-size;
    width: 100%;

    &:where(.left) {
      align-items: flex-start;
      text-align: left;
    }
    &:where(.center) {
      align-items: center;
      text-align: center;
    }
    &:where(.split) {
      align-items: flex-start;
      text-align: left;
    }

    &:where(.wide) {
      align-items: flex-start;
      text-align: left;

      @media (min-width: 1024px) {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
      }
    }

    &:where(.fill) {
      padding: 0 var(--gutter);
    }

    &:where(.panel) {
      padding: 0 calc(var(--gutter) / 2);
    }
  }
</style>
