---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"span"> {}

const { class: className, ...props } = Astro.props
---

<span
  data-slot="input-group-text"
  class={cn(
    "flex items-center gap-2 text-sm text-muted-foreground [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4",
    className
  )}
  {...props}
>
  <slot />
</span>
