---
import type { VariantProps } from 'cva'
import { cva } from 'cva'

export type GroupProps = Props
type Props = VariantProps<typeof variant>

const variant = cva({
  base: 'gap-size3',
  variants: {
    layout: {
      row: 'flex',
      col: 'flex flex-col',
    },
  },
  defaultVariants: {
    layout: 'row',
  },
})

const slot = await Astro.slots.render('default')
---

{
  slot?.trim().length > 0 && (
    <div class={variant(Astro.props)}>
      <slot />
    </div>
  )
}
