---
import type { VariantProps } from 'cva'
import { cva } from 'cva'

export type SegmentProps = Props
type Props = VariantProps<typeof variant>

const variant = cva({
  base: 'segment gap-y-size4 relative z-10',
  variants: {
    layout: {
      col: 'flex flex-col',
      row: 'flex flex-col lg:flex-row gap-x-size6 justify-between',
    },
    align: {
      start: 'items-start',
      center: '',
      end: 'items-end',
    },
  },
  compoundVariants: [
    {
      layout: 'col',
      align: 'center',
      class: 'text-center items-center',
    },
    {
      layout: 'row',
      align: 'center',
      class: 'lg:items-center',
    },
    {
      layout: 'col',
      align: 'start',
      class: 'text-left',
    },
  ],
  defaultVariants: {
    layout: 'col',
  },
})

const slot = await Astro.slots.render('default')
---

{
  slot?.trim().length > 0 && (
    <div class={variant(Astro.props)}>
      <slot />
    </div>
  )
}
