---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

import navigationMenuTriggerStyle from "./navigation-menu-trigger-style"

type Props = HTMLAttributes<"button">

const { class: className, type = "button", ...props } = Astro.props
---

<button
  data-slot="navigation-menu-trigger"
  type={type}
  class={cn(navigationMenuTriggerStyle(), className)}
  {...props}
>
  <slot />
</button>
