---
import { ChevronDownIcon } from "@lucide/astro"
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

import navigationMenuTriggerStyle from "./navigation-menu-trigger-style"

type Props = HTMLAttributes<"button">

const { class: className, type = "button", ...props } = Astro.props
---

<button
  data-slot="navigation-menu-trigger"
  type={type}
  class={cn(navigationMenuTriggerStyle(), "group", className)}
  {...props}
>
  <slot />
  {" "}
  <ChevronDownIcon
    class="relative top-px ml-1 size-3 transition duration-300 group-data-open/navigation-menu-trigger:rotate-180 group-data-popup-open/navigation-menu-trigger:rotate-180"
    aria-hidden="true"
  />
</button>
