---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = {
  class?: string
  align?: "start" | "center" | "end"
  alignOffset?: number
  side?: "top" | "bottom"
  sideOffset?: number
} & HTMLAttributes<"div">

const {
  class: className = "",
  align = "start",
  alignOffset = 0,
  side = "bottom",
  sideOffset = 4,
  ...props
} = Astro.props

// Custom motion tuning for @data-slot/navigation-menu.
// Intentionally differs from shadcn/bejamas to keep transitions smooth in this Astro implementation.
---

<div
  {...props}
  data-slot="navigation-menu-content"
  data-align={align}
  data-align-offset={alignOffset}
  data-side={side}
  data-side-offset={sideOffset}
  hidden
  class={cn(
    "data-starting-style:pointer-events-none data-starting-style:opacity-0 data-ending-style:opacity-0",
    "data-[motion=from-right]:animate-in data-[motion=from-right]:fade-in-0 data-[motion=from-right]:slide-in-from-right-2",
    "data-[motion=from-left]:animate-in data-[motion=from-left]:fade-in-0 data-[motion=from-left]:slide-in-from-left-2",
    "data-[motion=to-right]:animate-out data-[motion=to-right]:fade-out-0 data-[motion=to-right]:slide-out-to-right-2",
    "data-[motion=to-left]:animate-out data-[motion=to-left]:fade-out-0 data-[motion=to-left]:slide-out-to-left-2",
    "duration-200 ease-out",
    "absolute",
    className
  )}
>
  <slot />
</div>
