---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = {
  class?: string
  align?: "start" | "center" | "end"
  alignOffset?: number
  side?: "top" | "right" | "bottom" | "left"
  sideOffset?: number
} & HTMLAttributes<"div">

const {
  class: className = "",
  align = "start",
  alignOffset = 0,
  side = "bottom",
  sideOffset = 0,
  ...props
} = Astro.props
---

<div
  {...props}
  data-slot="navigation-menu-content"
  data-align={align}
  data-align-offset={alignOffset}
  data-side={side}
  data-side-offset={sideOffset}
  hidden
  class={cn(
    "data-open:block data-closed:hidden",
    "data-starting-style:pointer-events-none data-starting-style:opacity-0",
    "data-ending-style:opacity-0",
    "duration-200 ease-out",
    className
  )}
>
  <slot />
</div>
