---
import type { HTMLAttributes } from "astro/types"
import { type VariantProps } from "class-variance-authority"
import ChevronDown from "lucide-static/icons/chevron-down.svg"

import { cn } from "@/lib/utils"

import navigationMenuTriggerStyle from "./navigation-menu-trigger-style"

type Props = HTMLAttributes<"button"> &
  VariantProps<typeof navigationMenuTriggerStyle>

const { class: className, ...props } = Astro.props
---

<button
  data-slot="navigation-menu-trigger"
  class={cn(navigationMenuTriggerStyle(), "group", className)}
  {...props}
>
  <slot />
  <!-- Rotation meganism is slighly different than shadcn. Currently using bejamas/ui approach -->
  <ChevronDown
    class="relative top-px ml-1 size-3 transition duration-300 group-data-[state=open]/navigation-menu-trigger:rotate-180"
    aria-hidden="true"
  />
</button>
