---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"a"> {
  active?: boolean
}

const { class: className, active, ...props } = Astro.props
---

<a
  data-slot="navigation-menu-link"
  data-active={active ? "true" : undefined}
  class={cn(
    "hover:bg-muted focus:bg-muted focus-visible:ring-ring/50 data-[active=true]:bg-muted/50 data-[active=true]:hover:bg-muted data-[active=true]:focus:bg-muted flex items-center gap-1.5 rounded-md p-2 text-sm transition-all outline-none focus-visible:ring-3 focus-visible:outline-1 in-data-[slot=navigation-menu-content]:rounded-sm [&_svg:not([class*='size-'])]:size-4",
    className
  )}
  {...props}
>
  <slot />
</a>
