---
import { cn } from "@/lib/utils"

interface Props {
  class?: string
}

const { class: className, ...props } = Astro.props
---

<li
  data-slot="navigation-menu-item"
  class={cn("relative", "group/navigation-menu-item", className)}
  {...props}
>
  <slot />
</li>
