---
import { cn } from "@/lib/utils"

interface Props {
  class?: string
}

const { class: className, ...props } = Astro.props
---

<li class={cn("group/navigation-menu-item relative", className)} {...props}>
  <slot />
</li>
