---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"li"> {}

const { class: className, ...props } = Astro.props

---

<li
  data-slot="navigation-menu-sub-item"
  class={cn("w-full", className)}
  {...props}
>
  <slot />
</li>
