---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  data-slot="navigation-menu-indicator"
  data-state="hidden"
  class={cn(
    "pointer-events-none absolute left-(--indicator-left,0px) top-(--indicator-top,0px)",
    "h-(--indicator-height,0px) w-(--indicator-width,0px)",
    "rounded-full bg-border/60 transition-[left,top,width,height,opacity] duration-200",
    "data-[state=hidden]:opacity-0 data-[state=visible]:opacity-100",
    className
  )}
  {...props}
>
</div>
