---
import { Form } from "@/components/ui/form"
import { Image } from "@/components/ui/image"
import {
  Section,
  SectionContent,
  SectionGrid,
  SectionProse,
  SectionSplit,
} from "@/components/ui/section"
import {
  Tile,
  TileContent,
  TileDescription,
  TileMedia,
  TileSplit,
  TileTitle,
} from "@/components/ui/tile"

interface Props {
  subtitle?: string
  form?: any
  items?: {
    title?: string
    description?: string
    href?: string
    image?: {
      src: string
      alt: string
    }
  }[]
}

const { subtitle, form, items } = Astro.props
---

<Section>
  <SectionSplit class="@5xl:grid-cols-[3fr_2fr]">
    <SectionContent>
      <SectionProse size="lg">
        <slot />
      </SectionProse>
      <SectionGrid>
        {
          items?.map(({ title, description, href, image }) => (
            <Tile href={href}>
              <TileSplit class="items-center">
                <TileMedia>
                  <Image {...image} />
                </TileMedia>
                <TileContent>
                  <TileTitle>{title}</TileTitle>
                  <TileDescription>{description}</TileDescription>
                </TileContent>
              </TileSplit>
            </Tile>
          ))
        }
      </SectionGrid>
    </SectionContent>
    <Tile frame="panel" variant="muted">
      <TileTitle
        class="text-lg leading-none font-semibold"
        set:html={subtitle}
      />
      <Form {...form} />
    </Tile>
  </SectionSplit>
</Section>
