---
import { Form } from "@/components/ui/form"
import {
  Section,
  SectionSplit,
  SectionTypography,
} from "@/components/ui/section"
import { Tile, TileTypography } from "@/components/ui/tile"

interface Props {
  subtitle?: string
  form?: any
}

const { subtitle, form } = Astro.props
---

<Section>
  <SectionSplit ratio="3/2">
    <SectionTypography>
      <slot />
    </SectionTypography>
    <Tile frame="panel">
      <SectionTypography size="sm">
        {subtitle && <h3 set:html={subtitle} />}
      </SectionTypography>
      <Form {...form} />
    </Tile>
  </SectionSplit>
</Section>
