---
import { Form } from "@/components/ui/form"
import { Section, SectionProse, SectionSplit } from "@/components/ui/section"
import { Tile } from "@/components/ui/tile"

interface Props {
  subtitle?: string
  form?: any
}

const { subtitle, form } = Astro.props
---

<Section>
  <SectionSplit ratio="3/2">
    <SectionProse>
      <slot />
    </SectionProse>
    <Tile frame="panel">
      <SectionProse size="sm">
        {subtitle && <h3 set:html={subtitle} />}
      </SectionProse>
      <Form {...form} />
    </Tile>
  </SectionSplit>
</Section>
