---
import { Avatar, AvatarImage } from "@/components/ui/avatar"
import { Image } from "@/components/ui/image"
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemMedia,
  ItemTitle,
} from "@/components/ui/item"
import { Section, SectionContent, SectionTypography } from "@/components/ui/section"

interface Props {
  title?: string
  description?: string
  image?: {
    src: string
    alt: string
    title?: string
  }
  person?: {
    href?: string
    avatar?: {
      src: string
      alt: string
      title?: string
    }
    title?: string
    tagline?: string
  }
}

const { title, description, image, person } = Astro.props
---

<Section>
  <SectionContent class="max-w-screen-md">
    <SectionTypography size="lg" title={title} description={description} />
    <SectionTypography>
      <slot />
    </SectionTypography>
  </SectionContent>
</Section>
