---
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import {
  Item,
  ItemActions,
  ItemContent,
  ItemDescription,
  ItemGroup,
  ItemTitle,
} from "@/components/ui/item"
import { Section, SectionProse, SectionSplit } from "@/components/ui/section"

interface Props {
  items?: {
    title?: string
    description?: string
    href?: string
    icon?: string
  }[]
}

const { items } = Astro.props
---

<Section>
  <SectionSplit>
    <SectionProse>
      <slot />
    </SectionProse>
    <ItemGroup class="flex flex-col gap-2">
      {
        items?.map(({ title, description, href }) => (
          <Item variant="muted">
            <ItemContent class="flex-1">
              <ItemTitle>{title}</ItemTitle>
              <ItemDescription>{description}</ItemDescription>
            </ItemContent>
            <ItemActions>
              <Button size="sm" variant="outline" href={href} download>
                {href && (
                  <>
                    <Icon name="download" />
                    Download
                  </>
                )}
              </Button>
            </ItemActions>
          </Item>
        ))
      }
    </ItemGroup>
  </SectionSplit>
</Section>
