---
import {
  Accordion,
  AccordionContent,
  AccordionItem,
  AccordionTrigger,
} from "@/components/ui/accordion"
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionSpread,
  SectionTypography,
} from "@/components/ui/section"

interface Props {
  buttons?: {
    icon?: string
    text?: string
    href?: string
    target?: string
  }[]
  items?: {
    title?: string
    description?: string
  }[]
}

const { buttons, items } = Astro.props
---

<Section>
  <SectionSpread class="lg:items-end">
    <SectionContent>
      <SectionTypography>
        <slot />
      </SectionTypography>
    </SectionContent>
    <SectionContent>
      <SectionActions class="lg:justify-end">
        {
          buttons?.map(({ icon, text, ...button }, i) => (
            <Button variant={i === 0 ? "default" : "outline"} {...button}>
              {icon && <Icon name={icon} />}
              {text}
            </Button>
          ))
        }
      </SectionActions>
    </SectionContent>
  </SectionSpread>
  <SectionContent>
    {
      items && items.length > 0 && (
        <Accordion>
          {items?.map(({ title, description }) => (
            <AccordionItem>
              <AccordionTrigger>{title}</AccordionTrigger>
              <AccordionContent>{description}</AccordionContent>
            </AccordionItem>
          ))}
        </Accordion>
      )
    }
  </SectionContent>
</Section>
