---
import { Image } from "@/components/ui/image"
import {
  Section,
  SectionContent,
  SectionGrid,
  SectionProse,
} from "@/components/ui/section"
import {
  Tile,
  TileContent,
  TileDescription,
  TileMedia,
  TileSplit,
  TileTitle,
} from "@/components/ui/tile"

interface Props {
  items?: {
    href?: string
    title?: string
    description?: string
    image?: {
      src: string
      alt: string
    }
  }[]
}

const { items } = Astro.props
---

<Section>
  <SectionContent class="items-center">
    <SectionProse align="center">
      <slot />
    </SectionProse>
  </SectionContent>
  <SectionGrid>
    {
      items?.map(({ title, description, href, image }) => (
        <Tile href={href}>
          <TileSplit align="center">
            <TileMedia>
              <Image {...image} />
            </TileMedia>
            <TileContent>
              <TileTitle>{title}</TileTitle>
              <TileDescription>{description}</TileDescription>
            </TileContent>
          </TileSplit>
        </Tile>
      ))
    }
  </SectionGrid>
</Section>
