---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import LogoImage from "@/components/ui/logo-image.astro"
import LogoText from "@/components/ui/logo-text.astro"
import Logo from "@/components/ui/logo.astro"
import Social from "@/components/ui/social.astro"

interface Props {
  class?: string
  logo?: {
    src?: string
    alt?: string
    title?: string
    href?: string
  }
  description?: string
  links?: {
    text?: string
    href?: string
  }[]
  socials?: string[]
  menus?: {
    text?: string
    links?: {
      text?: string
      href?: string
    }[]
  }[]
}

const { class: className, logo, links, socials } = Astro.props
---

<section class={cn("py-16", className)}>
  <div class="container flex flex-col items-center gap-8">
    <Logo href="/">
      <LogoImage {...logo} />
      <LogoText>{logo?.title}</LogoText>
    </Logo>
    {
      links && links.length > 0 && (
        <div class="flex flex-wrap items-center gap-x-6 gap-y-1">
          {links?.map(({ text, href }) => (
            <a
              class="text-muted-foreground hover:text-foreground text-sm transition-colors"
              href={href}
            >
              {text}
            </a>
          ))}
        </div>
      )
    }
    {
      socials && socials.length > 0 && (
        <div class="flex gap-4">
          {socials?.map((social) => (
            <Social
              class="text-muted-foreground hover:text-foreground !size-auto"
              variant="link"
              href={social}
            />
          ))}
        </div>
      )
    }
  </div>
</section>
