---
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import { Image } from "@/components/ui/image"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionMedia,
  SectionProse,
  SectionTitle,
} from "@/components/ui/section"

interface Props {
  subtitle?: string
  links?: {
    icon?: string
    text?: string
    href?: string
    target?: string
  }[]
  image?: {
    src: string
    alt: string
    title?: string
  }
}

const { subtitle, links, image } = Astro.props
---

<Section size="lg" class="mb-8 items-center">
  <SectionContent class="items-center">
    <SectionProse class="text-center" size="lg">
      <slot />
    </SectionProse>
    <SectionActions class="justify-center">
      {
        links?.map(({ icon, text, ...button }, i) => (
          <Button
            variant={i === 0 ? "default" : "outline"}
            size="lg"
            {...button}
          >
            {icon && <Icon name={icon} />}
            {text}
          </Button>
        ))
      }
    </SectionActions>
  </SectionContent>
  <SectionTitle
    class="absolute bottom-0 z-10 translate-y-1/2 text-center"
    as="h2"
  >
    {subtitle}
  </SectionTitle>
  <SectionMedia class="absolute inset-0 size-full opacity-50">
    <Image {...image} />
  </SectionMedia>
</Section>
