---
import { Logo, LogoText } from "@/components/ui/logo"
import { Section, SectionContainer } from "@/components/ui/section"

interface Props {
  brands: {
    name: string
    href?: string
  }[]
}

const { brands } = Astro.props
---

<Section class="py-12 lg:py-16">
  <SectionContainer>
    <div
      class="text-muted-foreground flex flex-wrap items-center justify-center gap-x-12 gap-y-6"
    >
      {
        brands.map((brand) => (
          <Logo
            class="hover:text-foreground grayscale transition-all hover:grayscale-0"
            href={brand.href}
          >
            <LogoText>{brand.name}</LogoText>
          </Logo>
        ))
      }
    </div>
  </SectionContainer>
</Section>
