---
import { Logo, LogoText } from "@/components/ui/logo"
import { Marquee } from "@/components/ui/marquee"
import { Section, SectionContainer } from "@/components/ui/section"

interface Props {
  title?: string
  description?: string
  brands: {
    name: string
    href?: string
  }[]
}

const { title, description, brands } = Astro.props
---

<Section>
  {
    (title || description) && (
      <SectionContainer class="items-center gap-4 text-center">
        {title && (
          <h2 class="text-foreground text-3xl font-semibold tracking-tight text-balance sm:text-4xl">
            {title}
          </h2>
        )}
        {description && (
          <p class="text-muted-foreground max-w-2xl text-lg leading-relaxed text-balance">
            {description}
          </p>
        )}
      </SectionContainer>
    )
  }
  <Marquee
    class="text-muted-foreground mask-x-from-90%"
    gap="3rem"
    duration="30s"
    pauseOnHover
    infinite
  >
    {
      brands.map((brand) => (
        <Logo
          class="hover:text-foreground grayscale transition-all hover:grayscale-0"
          href={brand.href}
        >
          <LogoText>{brand.name}</LogoText>
        </Logo>
      ))
    }
  </Marquee>
</Section>
