---
import { cn } from "@/lib/utils"
import { Logo, LogoImage, LogoText } from "@/components/ui/logo"
import { Marquee, MarqueeContent } from "@/components/ui/marquee"
import { Section, SectionProse } from "@/components/ui/section"

interface Props {
  class?: string
  id?: string
  images?: {
    src: string
    alt: string
    text?: string
  }[]
}

const { class: className, id, images } = Astro.props
---

<Section class={cn("gap-12", className)} id={id}>
  <SectionProse class="mx-auto text-center" size="sm">
    <slot />
  </SectionProse>
  <Marquee class="mask-x-from-95%">
    <MarqueeContent>
      {
        images?.map(({ src, alt, text }) => (
          <Logo>
            <LogoImage src={src} alt={alt} />
            <LogoText>{text}</LogoText>
          </Logo>
        ))
      }
    </MarqueeContent>
  </Marquee>
</Section>
