---
import { Image } from "@/components/ui/image"
import {
  Section,
  SectionContent,
  SectionGrid,
  SectionMedia,
  SectionSplit,
  SectionTypography,
} from "@/components/ui/section"

interface Props {
  id?: string
  title?: string
  description?: string
  images?: {
    src: string
    alt: string
    title?: string
  }[]
}

const { id, title, description, images } = Astro.props
---

<Section id={id}>
  <SectionSplit>
    <SectionContent>
      <SectionTypography title={title} description={description}>
        <slot />
      </SectionTypography>
    </SectionContent>
    <SectionGrid>
      {
        images?.map((image) => (
          <SectionMedia>
            <Image {...image} />
          </SectionMedia>
        ))
      }
    </SectionGrid>
  </SectionSplit>
</Section>
