---
import { Footer } from '@/blocks/footer'
import { Header } from '@/blocks/header'
import Block from '@/components/Block.astro'
import layout from '@/data/layout.json'
import Layout from '@/layouts/Layout.astro'
import { getCollection, render } from 'astro:content'

export async function getStaticPaths() {
  const collection = await getCollection('pages')
  return collection.map((entry) => ({
    params: {
      page: entry.id === 'index' ? undefined : entry.id,
    },
    props: entry,
  }))
}

const { Content } = await render(Astro.props)
const { sections, meta, type, ...restData } = Astro.props.data
const { banner, header, footer, ...restLayout } = layout
---

<Layout
  {...restLayout}
  {...restData}
  {...meta}
>
  <Header
    client:load
    {...header}
  />
  <main>
    <Block
      {type}
      {...restData}
    >
      <Content />
    </Block>
    {sections?.map((section) => <Block {...section}></Block>)}
  </main>
  <Footer {...footer} />
</Layout>
