---
import { render } from 'astro:content'
import { getEntry } from 'astro:content'
import Block from 'fulldev-ui/components/Block.astro'
import Layout from 'fulldev-ui/structures/Layout.astro'

const blocks = import.meta.glob('../blocks/**/*.astro')
const keys = Object.keys(blocks)
const names = keys.map((key) => key.split('/').pop()?.split('.')[0])

const entry = await getEntry('pages', 'blocks')
const rendered = entry && await render(entry)

const Content = rendered?.Content
const headings = rendered?.headings
---

<Layout>
  {
    names.map((name) => (
      <h2>{name}:</h2>
      <Block
        block={name}
        {headings}
        {...entry?.data}
      >
        {Content && <Content />}
      </Block>
    ))
  }
</Layout>

<style>
  h2 {
    background-color: black;
    color: white;
  }
</style>
