<!-- ---
import { getEntry } from 'astro:content'
import Button from 'fulldev-ui/components/Button.astro'
import Form from 'fulldev-ui/components/Form.astro'
import Textarea from 'fulldev-ui/components/Textarea.astro'

export const prerender = false

const index = await getEntry('pages', 'index')

const dataContent = JSON.stringify(index?.data, null, 2)
const paramsContent = Astro.url.searchParams.get('content')
const content = paramsContent || dataContent
---

<div>
  <h1>CMS</h1>
  {content}
  <Form>
    <Textarea
      value={content}
      name="content"
    />
    <Button type="submit">Save</Button>
  </Form>
</div> -->
