---
import { Banner1 } from "@/blocks/banner-1"
import { Blog1 } from "@/blocks/blog-1"
import { Code1 } from "@/blocks/code-1"
import { Collection2 } from "@/blocks/collection-1"
import { Collections1 } from "@/blocks/collections-1"
import { Contact1 } from "@/blocks/contact-1"
import { Contact2 } from "@/blocks/contact-2"
import { Content1 } from "@/blocks/content-1"
import { Cta1 } from "@/blocks/cta-1"
import { Events1 } from "@/blocks/events-1"
import { Faqs1 } from "@/blocks/faqs-1"
import { Faqs2 } from "@/blocks/faqs-2"
import { Features1 } from "@/blocks/features-1"
import { Features2 } from "@/blocks/features-2"
import { Footer1 } from "@/blocks/footer-1"
import { Header1 } from "@/blocks/header-1"
import { Header2 } from "@/blocks/header-2"
import { Hero1 } from "@/blocks/hero-1"
import { Hero2 } from "@/blocks/hero-2"
import { Hero3 } from "@/blocks/hero-3"
import { Hero4 } from "@/blocks/hero-4"
import { Hero5 } from "@/blocks/hero-5"
import { Hero6 } from "@/blocks/hero-6"
import { Locations1 } from "@/blocks/locations-1"
import { Media1 } from "@/blocks/media-1"
import { Media2 } from "@/blocks/media-2"
import { Pages1 } from "@/blocks/pages-1"
import { Persons1 } from "@/blocks/persons-1"
import { Post1 } from "@/blocks/post-1"
import { Pricings1 } from "@/blocks/pricings-1"
import { Product1 } from "@/blocks/product-1"
import { Collection1 } from "@/blocks/products-1"
import { Reviews1 } from "@/blocks/reviews-1"

import "@/styles/globals.css"
import "@/styles/theme.css"

// Common props for blocks
const props = {
  href: "#",
  title: "Build beautiful websites faster",
  description:
    "A collection of beautifully designed components that you can copy and paste into your apps, very useful.",
  children:
    "<h1>Build beautiful websites faster</h1><p>A collection of beautifully designed components that you can copy and paste into your apps, very useful.</p>",
  buttons: [
    {
      text: "Get Started",
      href: "/docs",
    },
    {
      text: "View on GitHub",
      href: "https://github.com/shadcn/ui",
    },
  ],
  image: {
    src: "/images/placeholder.webp",
    alt: "Block image",
  },
  images: [
    {
      src: "/images/placeholder.webp",
      alt: "Black Hoodie",
    },
    {
      src: "/images/placeholder.webp",
      alt: "Black Hoodie",
    },
  ],
  list: ["Responsive Design", "Component Library", "Performance Optimized"],
  items: [
    {
      href: "#",
      title: "Responsive Design",
      description:
        "Build layouts that adapt seamlessly across all screen sizes and devices with our responsive design system",
      image: {
        src: "/images/placeholder.webp",
        alt: "Black Hoodie",
      },
      price: 59.99,
      list: ["Responsive Design", "Component Library", "Performance Optimized"],
      button: {
        text: "Get Started",
        href: "#",
      },
    },
    {
      href: "#",
      title: "Component Library",
      description:
        "Access a comprehensive collection of pre-built, customizable UI components to accelerate development",
      image: {
        src: "/images/placeholder.webp",
        alt: "Black Hoodie",
      },
      price: 59.99,
      list: ["Responsive Design", "Component Library", "Performance Optimized"],
      button: {
        text: "Get Started",
        href: "#",
      },
    },
    {
      href: "#",
      title: "Performance Optimized",
      description:
        "Deliver lightning-fast experiences with optimized code and best practices for maximum performance",
      image: {
        src: "/images/placeholder.webp",
        alt: "Black Hoodie",
      },
      price: 59.99,
      list: ["Responsive Design", "Component Library", "Performance Optimized"],
      button: {
        text: "Get Started",
        href: "#",
      },
    },
    // {
    //   href: "#",
    //   title: "Performance Optimized",
    //   description:
    //     "Deliver lightning-fast experiences with optimized code and best practices for maximum performance",
    //   image: {
    //     src: "/images/placeholder.webp",
    //     alt: "Black Hoodie",
    //   },
    //   price: 59.99,
    //   list: ["Responsive Design", "Component Library", "Performance Optimized"],
    //   button: {
    //     text: "Get Started",
    //     href: "#",
    //   },
    // },
  ],
  logo: {
    src: "/images/placeholder.webp",
    alt: "Logo",
    text: "Logo",
  },
  price: 100,
  menus: [
    {
      text: "Link 1",
      href: "/",
    },
    {
      text: "Link 2",
      href: "/",
    },
    {
      text: "Link 3",
      href: "/",
    },
  ],
} as any
---

<html>
  <head>
    <meta charset="utf-8" />
    <title>Debug</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h2>Hero1</h2>
    <Hero1 {...props} />

    <h2>Hero2</h2>
    <Hero2 {...props} />

    <h2>Hero3</h2>
    <Hero3 {...props} />

    <h2>Hero4</h2>
    <Hero4 {...props} />

    <h2>Hero5</h2>
    <Hero5 {...props} />

    <h2>Hero6</h2>
    <Hero6 {...props} />

    <h2>Features1</h2>
    <Features1 {...props} />

    <h2>Features2</h2>
    <Features2 {...props} />

    <h2>Collection1</h2>
    <Collection1 {...props} />

    <h2>Collection2</h2>
    <Collection2 {...props} />

    <h2>Collections1</h2>
    <Collections1 {...props} />

    <h2>Reviews1</h2>
    <Reviews1 {...props} />

    <h2>Footer1</h2>
    <Footer1 {...props} />

    <h2>Locations1</h2>
    <Locations1 {...props} />

    <h2>Blog1</h2>
    <Blog1 {...props} />

    <h2>Cta1</h2>
    <Cta1 {...props} />

    <h2>Persons1</h2>
    <Persons1 {...props} />

    <h2>Banner1</h2>
    <Banner1 {...props} />

    <h2>Contact1</h2>
    <Contact1 {...props} />

    <h2>Contact2</h2>
    <Contact2 {...props} />

    <h2>Faqs1</h2>
    <Faqs1 client:load {...props} />

    <h2>Faqs2</h2>
    <Faqs2 client:load {...props} />

    <h2>Pages1</h2>
    <Pages1 {...props} />

    <h2>Product1</h2>
    <Product1 {...props} />

    <h2>Events1</h2>
    <Events1 {...props} />

    <h2>Pricings1</h2>
    <Pricings1 {...props} />

    <h2>Media1</h2>
    <Media1 {...props} />

    <h2>Media2</h2>
    <Media2 {...props} />
  </body>
</html>

<style>
  h2 {
    padding: 0.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    background-color: #f0f0f0;
  }
</style>
