---
import Layout from "@/components/layout.astro"

const props = {
  order: "reverse",
  align: "center",
  variant: "float",
  size: "default",
  title: "Lorem ipsum dolor sit amet",
  description:
    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
  channels: [
    {
      title: "Bellen",
      description: "06 1234 5678",
      href: "tel:0612345678",
      icon: "phone",
    },
    {
      title: "Email",
      description: "info@example.com",
      href: "mailto:info@example.com",
      icon: "mail",
    },
    {
      title: "Adres",
      description: "1234567890",
      href: "https://maps.app.goo.gl/1234567890",
      icon: "map-pin",
    },
  ],
  image: {
    src: "/placeholder.webp",
    alt: "Review 1",
  },
  form: {
    fields: [
      {
        type: "text",
        name: "name",
        id: "name",
        placeholder: "Name",
        label: "Name",
      },
      {
        type: "email",
        name: "email",
        id: "email",
        placeholder: "Email",
        label: "Email",
      },
      {
        type: "textarea",
        name: "message",
        id: "message",
        placeholder: "Message",
        label: "Message",
      },
      {
        type: "tel",
        name: "phone",
        id: "phone",
        placeholder: "Phone",
        label: "Phone",
      },
      {
        type: "checkbox",
        name: "checkbox",
        id: "checkbox",
        label: "Checkbox",
      },
      {
        type: "radio-group",
        name: "radio",
        id: "radio",
        label: "Radio",
        options: ["radio 1", "radio 2", "radio 3"],
      },
      {
        type: "select",
        name: "select",
        id: "select",
        label: "Select",
        placeholder: "Select",
        value: "select 1",
        options: ["select 1", "select 2", "select 3"],
      },
    ],
    submit: "Submit",
  },
  buttons: [
    {
      text: "Lorem ipsum",
      href: "#",
    },
    {
      text: "Lorem ipsum",
      href: "#",
    },
  ],
  menus: [
    {
      text: "Lorem ipsum",
      href: "#",
      links: [
        {
          text: "Lorem ipsum",
          href: "#",
        },
        {
          text: "Lorem ipsum",
          href: "#",
        },
      ],
    },
    {
      text: "Lorem ipsum",
      href: "#",
    },
    {
      text: "Lorem ipsum",
      href: "#",
    },
  ],
  person: {
    title: "John Doe",
    tagline: "CEO",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
    avatar: {
      src: "/placeholder.webp",
      alt: "Review 1",
    },
    href: "#",
  },
  published: "2021-01-01",
  items: [
    {
      title: "John Doe",
      tagline: "CEO",
      description:
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
      rating: 5,
      avatar: {
        src: "/placeholder.webp",
        alt: "Review 1",
      },
      href: "#",
    },
    {
      title: "Jane Doe",
      tagline: "CTO",
      description:
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
      rating: 5,
      avatar: {
        src: "/placeholder.webp",
        alt: "Review 2",
      },
      href: "#",
    },
    {
      title: "Review 3",
      tagline: "CFO",
      description:
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
      rating: 5,
      avatar: {
        src: "/placeholder.webp",
        alt: "Review 3",
      },
      href: "#",
    },
  ],
  socials: [
    "https://facebook.com",
    "https://instagram.com",
    "https://twitter.com",
    "https://linkedin.com",
    "https://youtube.com",
    "https://tiktok.com",
  ],
  features: [
    {
      title: "Lorem ipsum",
      description:
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
    },
    {
      title: "Lorem ipsum",
      description:
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
    },
    {
      title: "Lorem ipsum",
      description:
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
    },
  ],
  faqs: [
    {
      question: "Lorem ipsum",
      answer:
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
    },
    {
      question: "Lorem ipsum",
      answer:
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
    },
    {
      question: "Lorem ipsum",
      answer:
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
    },
  ],
}
const html =
  "<p>Lorem ipsum</p><h2>Lorem ipsum dolor sit amet</h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"

const allBlocks = import.meta.glob("src/components/blocks/**/*.astro", {
  eager: true,
})
---

<Layout>
  {
    Object.entries(allBlocks)
      .filter(([path]) => path.includes("cta-"))
      .map(([path, block]: [string, any], i) => {
        const BlockComponent = block.default
        return BlockComponent ? (
          <>
            <div class="flex justify-center py-1 text-sm text-gray-500">
              {path.split("/").pop()?.split(".")[0]}
            </div>
            <BlockComponent {...(props as any)} key={i}>
              <Fragment set:html={html} />
            </BlockComponent>
          </>
        ) : null
      })
  }
</Layout>
