---
import Cta1 from "@/components/blocks/cta-1.astro"
import Reviews1 from "@/components/blocks/reviews-1.astro"
import Layout from "@/components/layout.astro"

const props = {
  background: "rainbow",
  reviews: [
    {
      title: "John Doe",
      tagline: "CEO",
      description:
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
      rating: 5,
      image: {
        src: "/placeholder.webp",
        alt: "Review 1",
      },
      href: "#",
    },
    {
      title: "Jane Doe",
      tagline: "CTO",
      description:
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
      rating: 5,
      image: {
        src: "/placeholder.webp",
        alt: "Review 2",
      },
      href: "#",
    },

    {
      title: "Review 3",
      tagline: "CFO",
      description:
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
      rating: 5,
      image: {
        src: "/placeholder.webp",
        alt: "Review 3",
      },
      href: "#",
    },
  ],
}
---

<Layout>
  <Reviews1 {...props}>
    <h2>Reviews</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    </p>
  </Reviews1>
  <Cta1 {...props}>
    <h2>CTA</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    </p>
  </Cta1>
</Layout>
