---
import CtaSection from 'src/components/blocks/cta/CtaSection.astro'
import FeaturesSection from 'src/components/blocks/features/FeaturesSection.astro'
import HeroSection from 'src/components/blocks/hero/HeroSection.astro'
import IntroSection from 'src/components/blocks/intro/IntroSection.astro'
import SpotlightSection from 'src/components/blocks/spotlight/SpotlightSection.astro'
import Separator from 'src/components/elements/Separator.astro'
import Spinner from 'src/components/elements/Spinner.astro'
import { CardRoot, type CardRootProps } from '../components/elements/card'
import Layout from '../components/elements/layout/Layout.astro'

export interface Props extends CardRootProps {}
---

<CardRoot size="small">hohoi</CardRoot>
<Layout>
  <!-- <Spinner />
  <span>Hello</span>
  <Separator orientation="horizontal" />
  <span>Hello</span>
  <HeroSection
    layout="center"
    tagline="Tagline lorem ipsum"
    heading="Heading lorem ipsum dolor."
    text="Lorem ipsum dolor ipsum dolor sit amet, consectetur adipiscing elit."
    buttons={[
      {
        label: 'Click me now',
        href: '#',
      },
      {
        label: 'Click me',
        href: '#',
      },
    ]}
    image={{
      src: 'https://source.unsplash.com/random/800x600',
      alt: 'Random image',
    }}
  />
  <FeaturesSection
    layout="wide"
    tagline="Tagline features"
    heading="Heading lorem ipsum dolor."
    text="Lorem ipsum dolor ipsum dolor sit amet, consectetur adipiscing elit."
    features={[
      {
        tagline: 'Tagline 1',
        heading: 'Feature 1',
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      },
      {
        tagline: 'Tagline 1',
        heading: 'Feature 1',
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      },
      // {
      //   tagline: 'Tagline 1',
      //   heading: 'Feature 1',
      //   text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      // },
      // {
      //   tagline: 'Tagline 1',
      //   heading: 'Feature 1',
      //   text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      // },
    ]}
  />
  <SpotlightSection
    layout="split"
    tagline="Tagline lorem ipsum"
    heading="Heading lorem ipsum dolor."
    text="Lorem ipsum dolor ipsum dolor sit amet, consectetur adipiscing elit."
    buttons={[
      {
        label: 'Click me now',
        href: '#',
      },
      {
        label: 'Click me',
        href: '#',
      },
    ]}
    image={{
      src: 'https://source.unsplash.com/random/800x600',
      alt: 'Random image',
    }}
  />
  <SpotlightSection
    layout="split"
    tagline="Tagline lorem ipsum"
    heading="Heading lorem ipsum dolor."
    text="Lorem ipsum dolor ipsum dolor sit amet, consectetur adipiscing elit."
    buttons={[
      {
        label: 'Click me now',
        href: '#',
      },
      {
        label: 'Click me',
        href: '#',
      },
    ]}
    image={{
      src: 'https://source.unsplash.com/random/800x600',
      alt: 'Random image',
    }}
  />
  <CtaSection
    layout="split"
    tagline="Tagline lorem ipsum"
    heading="Heading lorem ipsum dolor."
    text="Lorem ipsum dolor ipsum dolor sit amet, consectetur adipiscing elit."
    buttons={[
      {
        label: 'Click me now',
        href: '#',
      },
      {
        label: 'Click me',
        href: '#',
      },
    ]}
  />
  <IntroSection
    layout="split"
    tagline="Tagline lorem ipsum"
    heading="Heading lorem ipsum dolor."
    text="Lorem ipsum dolor ipsum dolor sit amet, consectetur adipiscing elit."
  />

  <div class="test">
    {
      [1, 2, 3, 4, 5, 6].map((i) => (
        <div class="child">
          <img
            src="img.webp"
            alt=""
          />
          <h1>Lorem ipsum dolor{i}</h1>
        </div>
      ))
    }
  </div>
</Layout> -->

  <style>
    :root {
      --scale: 1;
    }

    /* .test {
    display: grid;
    grid-auto-flow: column;
    padding: var(--gutter-padding);
    padding-bottom: 2000px;
    grid-auto-columns: 4fr 1fr;
  }

  .child {
    counter-reset: child;
    counter-increment: child;
    background: lightgray;
    height: 100px;
    margin: -7.5%;

    &:nth-child(1) {
      grid-column-start: 1;
    }
    &:nth-child(2) {
      grid-column-start: 3;
    }
    &:nth-child(3) {
      grid-column-start: 5;
    }
    &:nth-child(4) {
      grid-column-start: 7;
    }
    &:nth-child(5) {
      grid-column-start: 9;
    }
    &:nth-child(6) {
      grid-column-start: 11;
    }
  } */
  </style>
</Layout>
