---
import { Button } from '@/components/button'
import { ShopifyCart } from '@/components/shopify-cart'
import '@/styles/global.css'
import { getCollection } from 'astro:content'

const collections = await getCollection('collections')
const collectionIds = collections?.map((collection) => collection.id)

const products = await getCollection('products')
const productCollections = products?.map((product) => ({
  collections: product.data.collections,
}))

// console.log(collectionIds)
// console.log(productCollections)
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
  </head>
  <body>
    <ShopifyCart client:load />
    <Button
      href="/"
      size="xl"
      >Test</Button
    >
  </body>
</html>
