---
import { Button, Layout, Title } from 'src'
import { Description } from '../components/description'
---

<Layout>
  hello
  <div class="font-heading">
    <h1 class="bg-hue9 hue-accent font-monoooo">hoi</h1>
  </div>
  <Description
    description={'hello desc'}
    class="hello world"
  />
  <Button text="Click me" />

  <Title as="h5" />
</Layout>
