---
import Search from '@/components/Search.astro'
import '@/styles/global.css'
---

<html>
  <head></head>
  <body>
    <Search
      groups={[
        {
          heading: 'Heading 1',
          links: [
            { text: 'Item 1', href: '/item-1' },
            { text: 'Item 2', href: '/item-2' },
            { text: 'Item 3', href: '/item-3' },
          ],
        },
      ]}
    />
  </body>
</html>
