---
import Section from '@/components/Section.astro'
import '@/styles/global.css'
import { getCollection } from 'astro:content'

const products = await getCollection('products')
console.log(products)
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Debug</title>
  </head>
  <body>
    <Section class="HELLO WORLD"> sec </Section>
  </body>
</html>
