---
import "src/styles/globals.css"

import Block from "@/test/block-2"
---

<html>
  <head> </head>
  <body>
    <Block
      size="default"
      review={{
        type: "proof",
        rating: 5,
        avatars: [
          "https://picsum.photos/100/100",
          "https://picsum.photos/101/101",
          "https://picsum.photos/102/102",
          "https://picsum.photos/103/103",
        ],
        text: "5.9k+ reviews",
      }}
      actions={[
        {
          type: "email",
          placeholder: "debug@debug.com",
          text: "Submit",
        },
      ]}
      media={{
        type: "image",
        src: "https://picsum.photos/900/450",
        alt: "Debug",
      }}
      tiles={[
        {
          icon: "check",
          title: "Lorem ipsum dolor sit",
          description:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
        },
        {
          icon: "check",
          title: "Lorem ipsum dolor sit",
          description:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
        },
        {
          icon: "check",
          title: "Lorem ipsum dolor sit",
          description:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
        },
        {
          icon: "check",
          title: "Lorem ipsum dolor sit",
          description:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
        },
      ]}
    >
      <h1>Lorem ipsum dolor sit amet</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </Block>
  </body>
</html>
