---
import { Cards, Layout, Section } from 'src'
---

<Layout>
  <div class="bg-blue">hoi</div>

  <Cards
    collection="categories"
    rating={5}
    layout="grid"
    cards={['badkamer']}
  />

  <Section
    collection="categories"
    cards={['badkamer']}
  />
</Layout>
