---
import "@/styles/globals.css"

import { Button } from "@/components/ui/button"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionMedia,
  SectionSplit,
} from "@/components/ui/section"
import { Typography } from "@/components/ui/typography"
import Layout from "@/components/layout.astro"
---

<Layout>
  <Section variant="contain">
    <SectionSplit>
      <SectionContent>
        <Typography>
          <h1>Hello World</h1>
          <p>This is a test</p>
        </Typography>
        <SectionActions>
          <Button>Click me</Button>
          <Button>Click me</Button>
        </SectionActions>
      </SectionContent>
      <SectionMedia variant="inset">
        <img src="https://placehold.co/1200x800" alt="Test img" />
      </SectionMedia>
    </SectionSplit>
  </Section>
  <Section variant="default">
    <SectionContent>
      <Typography>
        <h1>Hello World</h1>
        <p>This is a test</p>
      </Typography>
      <SectionActions>
        <Button>Click me</Button>
        <Button>Click me</Button>
      </SectionActions>
    </SectionContent>
    <SectionMedia variant="inset">
      <img src="https://placehold.co/1200x800" alt="Test img" />
    </SectionMedia>
  </Section>
  <Section variant="floating">
    <SectionContent>
      <Typography>
        <h1>Hello World</h1>
        <p>This is a test</p>
      </Typography>
      <SectionActions>
        <Button>Click me</Button>
        <Button>Click me</Button>
      </SectionActions>
    </SectionContent>
    <SectionMedia>
      <img src="https://placehold.co/1200x800" alt="Test img" />
    </SectionMedia>
  </Section>
  <Section variant="panel">
    <SectionContent>
      <Typography>
        <h1>Hello World</h1>
        <p>This is a test</p>
      </Typography>
      <SectionActions>
        <Button>Click me</Button>
        <Button>Click me</Button>
      </SectionActions>
    </SectionContent>
    <SectionMedia>
      <img src="https://placehold.co/1200x800" alt="Test img" />
    </SectionMedia>
  </Section>
  <Section variant="box">
    <SectionContent>
      <Typography>
        <h1>Hello World</h1>
        <p>This is a test</p>
      </Typography>
      <SectionActions>
        <Button>Click me</Button>
        <Button>Click me</Button>
      </SectionActions>
    </SectionContent>
    <SectionMedia>
      <img src="https://placehold.co/1200x800" alt="Test img" />
    </SectionMedia>
  </Section>
</Layout>
