---
import { Hero1 } from "@/blocks/hero-1"

import { Button } from "@/components/button"
import { ShopifyCart } from "@/components/shopify-cart"

import "@/styles/globals.css"

import { getCollection } from "astro:content"

const pages = await getCollection("products")
console.log({ pages })
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-background">
    <Hero1
      title="Lorem ipsum dolor sit amet"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
      buttons={[{ text: "Lorem ipsum", href: "/" }]}
    />
  </body>
</html>
