---
import { Cards, Layout, Section } from 'src'
---

<Layout>
  <div class="bg-blue">hoi</div>

  <Cards
    collection="categories"
    cards={['badkamer']}
  />

  <Section
    align={'start'}
    _cards={{
      collection: 'categories',
      align: 'center',
    }}
    cards={['badkamer']}
  />
</Layout>
