---
import { Price } from '@/components/Price'
import '@/styles/global.css'
import { getCollection } from 'astro:content'

const products = await getCollection('products')
console.log(products)
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Debug</title>
  </head>
  <body>
    <Price
      unit="maand"
      compare={110}
    />
  </body>
</html>
