---
import Accordion from '@/components/Accordion.tsx'
import '@/styles/global.css'
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Debug</title>
  </head>
  <body>
    <Accordion
      client:load
      items={[
        {
          title: 'Hello',
          description: 'World',
        },
      ]}
    />
  </body>
</html>
