---
import Header1 from "@/components/blocks/header-1"
import Reviews1 from "@/components/blocks/reviews-1"

import "@/styles/globals.css"
---

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Test</title>
  </head>
  <body>
    <Header1
      client:load
      links={[
        { href: "#", text: "Lorem ipsum" },
        { href: "#", text: "Dolor sit" },
      ]}
      menus={[
        {
          text: "Home",
          href: "/",
        },
        {
          text: "About us",
          href: "/",
          links: [
            { href: "#", text: "Lorem ipsum" },
            { href: "#", text: "Dolor sit" },
          ],
        },
        {
          text: "Our services",
          href: "/",
          links: [
            { href: "#", text: "Lorem ipsum" },
            { href: "#", text: "Dolor sit" },
          ],
        },
      ]}
    >
      <h2>Test</h2>
    </Header1>
  </body>
</html>
