---
import { Layout, Title } from 'src'
import { Description } from '../components/description'
---

<Layout>
  hello
  <div class="hue-base font-heading">
    <div class="bg-hue9 font-heading">hoi</div>
  </div>
  <Description
    description={'hello desc'}
    class="hello world"
  />

  <Title as="h5" />
</Layout>
