---
import { getLiveCollection } from "astro:content"

const { error, entries } = await getLiveCollection("github-pages")

console.log({ error, entries })

const response = await octokit.repos.getContent({
  owner: GITHUB_OWNER,
  repo: GITHUB_REPO,
  ref: GITHUB_REF,
  path: "src/content/images",
})

const files = Array.isArray(response.data) ? response.data : [response.data]
---

<div>
  <h1>Debug</h1>
</div>
