---

---

<button id="fullcart-button">hello there</button>

<button
  id="fullcart-backend-button"
  x-data="()lorem ipsum..."
  >hello there</button
>

<script is:inline>
  const backendButton = document.querySelector('#fullcart-backend-button')
  console.log(backendButton)
  const buttonAttributes = backendButton?.getAttributeNames()
  // console.log(buttonAttributes)
  // const button = document.querySelector('#fullcart-button')
</script>
