---
import Example from "@/components/example.astro"
import Layout from "@/components/layout.astro"
---

<Layout>
  <section>
    <section-header>
      image or video. Can be inside the container, or spread to the edges and
      top?
    </section-header>
    <section-content>
      Can be stack, split or spread.
      <section-typography> heading, p. </section-typography>
      <section-actions> buttons, newletter. </section-actions>
      <section-aside>
        image, video, faqs. For media can be spread to the edges, but not for
        faqs etc.
      </section-aside>
    </section-content>
    <section-footer>
      grid, features, faqs etc. For images can be spread to the edges, but not
      for faqs etc.
    </section-footer>
  </section>
</Layout>
