---
import BodyFlow from 'src/components/elements/body/BodyFlow.astro'
---

<BodyFlow>
  <div class="wrapper">
    <div class="flow1"></div>
    <div class="flow2"></div>
    <div class="flow3"></div>
    <div class="flow4"></div>
    <div class="flow5"></div>
    <div class="flow6"></div>
  </div>
  <div class="wrapper flow-compact">
    <div class="flow1"></div>
    <div class="flow2"></div>
    <div class="flow3"></div>
    <div class="flow4"></div>
    <div class="flow5"></div>
    <div class="flow6"></div>
  </div>
</BodyFlow>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    div {
      display: inline-block;
      background: red;
      height: 50px;
    }
  }

  .flow1 {
    padding-left: var(--flow1);
  }

  .flow2 {
    padding-left: var(--flow2);
  }

  .flow3 {
    padding-left: var(--flow3);
  }

  .flow4 {
    padding-left: var(--flow4);
  }

  .flow5 {
    padding-left: var(--flow5);
  }

  .flow6 {
    padding-left: var(--flow6);
  }
</style>
