---
import Layout from "@/components/layout.astro"

import "@/styles/global.css"
---

<div class="grid w-full grid-cols-3 flex-col gap-4 p-24">
  <div class="aspect-video w-full overflow-hidden rounded-lg border">
    <iframe
      class="size-[200%] origin-top-left scale-50"
      loading="lazy"
      src="http://localhost:4321/blocks/hero/"></iframe>
  </div>
  <div class="aspect-video w-full overflow-hidden rounded-lg border">
    <iframe
      class="size-[200%] origin-top-left scale-50"
      loading="lazy"
      src="http://localhost:4321/blocks/hero/"></iframe>
  </div>
  <div class="aspect-video w-full overflow-hidden rounded-lg border">
    <iframe
      class="size-[200%] origin-top-left scale-50"
      loading="lazy"
      src="http://localhost:4321/blocks/hero/"></iframe>
  </div>
</div>
