---
import Form from '@/components/Form.astro'
import '@/styles/global.css'
---

<html>
  <head></head>
  <body>
    <Form
      submit="Submit"
      items={[
        {
          type: 'text',
          name: 'name',
          label: 'Name',
          placeholder: 'Enter your name',
          required: true,
        },
        {
          type: 'email',
          name: 'email',
          label: 'Email',
          placeholder: 'Enter your email',
        },
      ]}
    />
  </body>
</html>
