---
import { AutoForm } from "@/components/auto-form"

import "@/styles/globals.css"

const form = {
  action: "/bedankt",
  fields: [
    {
      name: "email",
      type: "email",
      label: "Email",
    },
    {
      name: "phone",
      type: "tel",
      label: "Telefoonnummer",
    },
    {
      name: "textarea",
      type: "textarea",
      label: "Textarea",
    },
    {
      name: "select",
      type: "select",
      label: "Select",
      options: ["Option 1", "Option 2", "Option 3"],
    },
    {
      name: "radio",
      type: "radio",
      label: "Radio",
      options: ["Option 1", "Option 2", "Option 3"],
    },
  ],
} satisfies React.ComponentProps<typeof AutoForm>
---

<html>
  <head>
    <title>Form</title>
  </head>
  <body>
    <AutoForm client:load {...form} />
  </body>
</html>
