---
import Layout from "@/components/layout.astro"

const variants = ["grid", "rain", "rainbow"] as const
---

<Layout>
  <div class="grid grid-cols-2 gap-4 p-8">
    {
      variants.map((variant) => (
        <div class="border-border relative h-[300px] w-[300px] overflow-hidden border">
          <p class="bg-muted absolute bottom-2 left-2 text-xs">{variant}</p>
        </div>
      ))
    }
  </div>
</Layout>
