---
import { getRelativeLocaleUrl } from "astro:i18n"

const aboutURL = getRelativeLocaleUrl("en", "bolsward")
const aboutURLNL = getRelativeLocaleUrl("nl", "bolsward")
---

<a href={aboutURL}>Bolsward EN</a>
<a href={aboutURLNL}>Bolsward NL</a>
<a href={getRelativeLocaleUrl("en", "bolsward")}>Blog</a>
