---
import Reviews1 from "@/components/blocks/reviews-1"

import "@/styles/globals.css"
---

<html>
  <head>
    <title>Test</title>
  </head>
  <body>
    <Reviews1
      align="start"
      size="lg"
      links={[
        { href: "#", text: "Lorem ipsum" },
        { href: "#", text: "Dolor sit" },
      ]}
      reviews={[
        {
          image: {
            src: "/large.png",
            alt: "Review 1",
          },
          title: "Title",
          tagline: "tagline",
          rating: 5,
          description:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
        },
        {
          image: {
            src: "/large.png",
            alt: "Review 2",
          },
          title: "Title",
          tagline: "tagline",
          rating: 5,
          description:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
        },
      ]}
    >
      <h2>Test</h2>
    </Reviews1>
  </body>
</html>
