---
import Hero1 from 'fulldev-ui/blocks/Hero1.astro'
import Layout from 'fulldev-ui/components/Layout.astro'

import { $cart } from 'fulldev-ui/stores/cart'

const value = $cart.get()
---

<Layout>
  <Hero1
    heading="hello world"
    class="hoi"
  />
  {value}

  <button id="myyy-button">Add item</button>

  <script>
    import { addItem } from 'fulldev-ui/stores/cart'

    const button = document.querySelector('#myyy-button')
    button?.addEventListener('click', () => {
      console.log('clicked')
      addItem({
        slug: 'test',
        title: 'title',
        price: 10,
        quantity: 10,
        image: '',
        variants: [],
      })
    })
  </script>
</Layout>
