<form
  method="post"
  action="https://app.loops.so/api/newsletter-form/cljwl3ixr003pmi0pw4q1bvoy"
>
  <input
    type="text"
    name="firstName"
    required
  />
  <input
    type="email"
    name="email"
    required
  />
  <button type="submit">Sign up</button>
</form>
