---
import Drawer from 'fulldev-ui/components/Drawer.astro'
import MainLayout from 'fulldev-ui/layouts/MainLayout.astro'
---

<MainLayout>
  <Drawer label="Open">
    <h1>Hello</h1>
  </Drawer>
</MainLayout>
