---
import Dialog from 'fulldev-ui/components/Dialog.astro'
import MainLayout from 'fulldev-ui/layouts/MainLayout.astro'
---

<MainLayout>
  <Dialog label="Open">
    <h1>Hello</h1>
  </Dialog>
</MainLayout>
