---
import Stripe from 'stripe'

const key = import.meta.env.STRIPE_SECRET_KEY
let stripe = new Stripe(key)

// const products = await stripe.products.list({ limit: 100 })
// const productIds = products.data.map((product) => product.id)
// console.log(productIds)

// for (const id of productIds) {
//   await new Promise((resolve) => setTimeout(resolve, 100))
//   try {
//     await stripe.products.update(id, { active: false }) // Attempt to delete the product
//   } catch (error) {
//     console.error(`Error deleting product with ID ${id}:`, error)
//   }
// }
---

<h1>Testing stripe</h1>
