---
import type { HTMLAttributes } from 'astro/types'
import { getSlot } from '../../utils'

interface Props {
  scale?: 'small' | 'medium' | 'large'
  scheme?: 'default' | 'reverse' | 'light' | 'dark'
  frame?: 'fill' | 'panel' | 'screen'
  impact?: 'low' | 'medium' | 'high' | 'extreme'
  align?: 'start' | 'center' | 'stretch'
  class?: HTMLAttributes<'div'>['class']
}

const {
  scale,
  scheme = 'default',
  impact = 'medium',
  align = 'start',
  frame = 'fill',
  class: className,
} = Astro.props

const slot = await getSlot(Astro)
---

{
  slot && (
    <section
      class:list={[
        'deck deck-root',
        'scheme-' + scheme,
        scheme + '-theme',
        scheme,
        'frame-' + frame,
        'impact-' + impact,
        'align-' + align,
        scale,
        className,
      ]}
    >
      <Fragment set:html={slot} />
    </section>
  )
}

<style>
  section {
    container: section / inline-size;
    position: relative;
    overflow-x: hidden;
    border-color: var(--ring);
    display: flex;
    flex-direction: column;
    background: var(--background);
    gap: var(--spacing-5);
    padding: var(--spacing-6) var(--gutter);

    &:where(.frame-panel) {
      background: none;
    }

    &:first-child {
      padding-top: var(--spacing-5);
      margin-top: 0;
    }

    &:where(.align-start) {
      align-items: start;
    }

    &:where(.align-center) {
      align-items: center;
    }

    &:where(.align-stretch) {
      align-items: stretch;
    }
  }
</style>
