---
import { getSlot } from '../../utils'

interface Props {
  scale?: 'small' | 'medium' | 'large' | null
  scheme?: 'default' | 'reverse' | 'light' | 'dark' | null
  frame?: 'fill' | 'panel' | 'screen' | null
  align?: 'start' | 'center' | 'stretch' | null
  class?: string | null
}

const {
  scale,
  scheme = 'default',
  align = 'start',
  frame = 'fill',
  class: className,
} = Astro.props

const slot = await getSlot(Astro)
---

{
  slot && (
    <section class:list={['deck', scheme, frame, align, scale, className]}>
      <Fragment set:html={slot} />
    </section>
  )
}

<style>
  section {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: var(--spacing-5);
    container: section / inline-size;
    border-color: var(--ring);
    background: var(--base-1);
    padding: var(--spacing-6) var(--gutter);
    overflow-x: hidden;

    &:where(.frame-panel) {
      background: none;
    }

    &:first-child {
      margin-top: 0;
      padding-top: var(--spacing-5);
    }

    &:where(.align-start) {
      align-items: start;
    }

    &:where(.align-center) {
      align-items: center;
    }

    &:where(.align-stretch) {
      align-items: stretch;
    }
  }
</style>
