---
import '@unocss/reset/tailwind.css'
import 'src/integration/dist/fullui.css'
import CtaSection from '../../blocks/cta/CtaSection.astro'
import Whatsapp from '../Whatsapp.astro'
import Footer from '../footer/Footer.astro'
import Header from '../header/Header.astro'
import LayoutBody from './LayoutBody.astro'
import LayoutHead from './LayoutHead.astro'
import LayoutRoot from './LayoutRoot.astro'

const { props } = Astro
---

<LayoutRoot {...props}>
  <LayoutHead {...props}>
    <slot name="head" />
  </LayoutHead>
  <LayoutBody {...props}>
    <Header {...props}>
      <slot name="header" />
    </Header>
    <main>
      <slot />
      <!-- <CtaSection {...props} /> -->
      <!-- <Whatsapp {...props} /> -->
    </main>
    <!-- <Footer>
          <slot name="footer" />
        </Footer> -->
  </LayoutBody>
</LayoutRoot>
