---
import '@unocss/reset/tailwind.css'

import CtaSection from '../../blocks/cta/CtaSection.astro'
import Whatsapp from '../Whatsapp.astro'
import Footer from '../footer/Footer.astro'
import Header from '../header/Header.astro'
import LayoutBody from './LayoutBody.astro'
import LayoutFlow from './LayoutFlow.astro'
import LayoutHead from './LayoutHead.astro'
import LayoutRoot from './LayoutRoot.astro'
import LayoutTheme from './LayoutTheme.astro'

const { props } = Astro
---

<LayoutRoot {...props}>
  <LayoutHead {...props}>
    <slot name="head" />
  </LayoutHead>
  <LayoutBody {...props}>
    <LayoutFlow {...props}>
      <LayoutTheme {...props}>
        <!-- <Header {...props}>
          <slot name="header" />
        </Header> -->
        <main>
          <slot />
          <!-- <CtaSection {...props} /> -->
          <!-- <Whatsapp {...props} /> -->
        </main>
        <!-- <Footer>
          <slot name="footer" />
        </Footer> -->
      </LayoutTheme>
    </LayoutFlow>
  </LayoutBody>
</LayoutRoot>
