---
import { ChevronDownIcon, ChevronUpIcon } from "@lucide/astro"
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"button">

const { class: className, type = "button", ...props } = Astro.props
---

<button
  data-slot="accordion-trigger"
  type={type}
  class={cn(
    "group/accordion-trigger focus-visible:border-ring focus-visible:ring-ring/50 relative flex flex-1 items-start justify-between rounded-md border border-transparent bg-transparent py-4 text-left text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-3 aria-disabled:pointer-events-none aria-disabled:opacity-50 **:data-[slot=accordion-trigger-icon]:ml-auto **:data-[slot=accordion-trigger-icon]:size-4 **:data-[slot=accordion-trigger-icon]:text-muted-foreground",
    className
  )}
  {...props}
>
  <slot />
  <ChevronDownIcon
    data-slot="accordion-trigger-icon"
    aria-hidden="true"
    class="pointer-events-none shrink-0 group-aria-expanded/accordion-trigger:hidden"
  />
  <ChevronUpIcon
    data-slot="accordion-trigger-icon"
    aria-hidden="true"
    class="pointer-events-none hidden shrink-0 group-aria-expanded/accordion-trigger:inline"
  />
</button>
