---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div data-slot="accordion" class={cn("", className)} {...props}>
  <slot />
</div>
