---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {
  value: string
}

const { class: className, value, ...props } = Astro.props
---

<div
  data-slot="accordion-item"
  data-value={value}
  class={cn("group/accordion-item not-last:border-b", className)}
  {...props}
>
  <slot />
</div>
