---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  data-slot="accordion-content"
  class={cn("overflow-hidden text-sm", "pt-0 pb-4", className)}
  {...props}
>
  <slot />
</div>
