---
import type { HTMLAttributes } from "astro/types"
import ChevronDownIcon from "lucide-static/icons/chevron-down.svg"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"button">

const { class: className, type = "button", ...props } = Astro.props
---

<button
  data-slot="accordion-trigger"
  type={type}
  class={cn(
    "focus-visible:ring-ring/50 relative flex w-full items-start gap-4 rounded-md border border-transparent bg-transparent py-4 text-left text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-3 disabled:pointer-events-none disabled:opacity-50",
    className
  )}
  {...props}
>
  <slot />
  <ChevronDownIcon
    data-slot="accordion-trigger-icon"
    aria-hidden="true"
    class="text-muted-foreground pointer-events-none ml-auto size-4 shrink-0 transition-transform duration-200 ease-out group-data-[state=open]/accordion-item:rotate-180"
  />
</button>
