---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  data-slot="accordion-content"
  class="overflow-hidden text-sm [height:var(--accordion-panel-height)] transition-[height] duration-200 ease-out data-starting-style:h-0"
  {...props}
>
  <div
    data-slot="accordion-content-inner"
    class={cn(
      "pt-0 pb-4 [&_a]:underline [&_a]:underline-offset-3 [&_a]:hover:text-foreground [&_p:not(:last-child)]:mb-4",
      className
    )}
  >
    <slot />
  </div>
</div>
