---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props

const slot = await Astro.slots.render("default")
---

{
  slot?.trim().length > 0 && (
    <div
      data-slot="accordion-content"
      class={cn(
        "text-sm pt-0 pb-4",
        "grid grid-rows-[0fr] transition-[grid-template-rows] duration-200 ease-out group-open:grid-rows-[1fr]",
        className
      )}
      {...props}
    >
      <div class="overflow-hidden">
        <Fragment set:html={slot} />
      </div>
    </div>
  )
}
