---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div
  data-slot="accordion-content"
  class="data-open:animate-accordion-down data-closed:animate-accordion-up overflow-hidden text-sm"
  {...props}
>
  <div
    data-slot="accordion-content-inner"
    class={cn(
      "[&_a]:hover:text-foreground h-(--accordion-panel-height) pt-0 pb-4 data-ending-style:h-0 data-starting-style:h-0 [&_a]:underline [&_a]:underline-offset-3 [&_p:not(:last-child)]:mb-4",
      className
    )}
  >
    <slot />
  </div>
</div>
