:root {
  --border-radius: 1;
  --full-border-width: 1px;
  --full-transition: cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
}

:root,
.full-compact,
.full-size-xs,
.full-size-sm,
.full-size-md,
.full-size-lg,
.full-size-xl {
  --full-border-radius-1: calc(
    var(--border-radius) * var(--space-element-2) * 0.25
  );
  --full-border-radius-2: calc(
    var(--border-radius) * var(--space-element-2) * 0.5
  );
  --full-border-radius-3: calc(
    var(--border-radius) * var(--space-element-2) * 1
  );
}
