:root {
  /* --full-color-primary-background: #ff3c00;
  --full-color-primary-foreground: #fff;
  --full-color-primary-border: #ff3c00; */

  --full-color-base-background: #fff;
  --full-color-base-foreground: #020202;
  --full-color-base-border: #d3d3d3;

  --full-color-raised-background: #f0f0f0;
  --full-color-raised-foreground: #020202;
  --full-color-raised-border: #d3d3d3;

  --full-color-lowered-background: #fff;
  --full-color-lowered-foreground: #3b3b3b;
  --full-color-lowered-border: #d3d3d3;

  --full-color-input-background: #fff;
  --full-color-input-foreground: #020202;
  --full-color-input-border: #d3d3d3;

  --full-color-primary-background: #020202;
  --full-color-primary-foreground: #fff;
  --full-color-primary-border: #020202;

  --full-color-secondary-background: #f0f0f0;
  --full-color-secondary-foreground: #020202;
  --full-color-secondary-border: #d3d3d3;

  color-scheme: light;
}
