:root,
.light,
.light-theme,
.theme-light,
[data-theme='light'],
.dark,
.dark-theme,
.theme-dark,
[data-theme='dark'] {
  --base-background: var(--base-1);
  --base-background-surface: var(--base-surface);
  --base-background-subtle: var(--base-2);
  --base-background-soft: var(--base-3);
  --base-background-hover: var(--base-4);
  --base-background-active: var(--base-5);
  --base-border: var(--base-6);
  --base-border-outline: var(--base-7);
  --base-border-hover: var(--base-8);
  --base-solid: var(--base-9);
  --base-solid-hover: var(--base-10);
  --base-solid-foreground: var(--base-contrast);
  --base-text: var(--base-11);
  --base-text-contrast: var(--base-12);

  --brand-background: var(--brand-1);
  --brand-background-surface: var(--brand-surface);
  --brand-background-subtle: var(--brand-2);
  --brand-background-soft: var(--brand-3);
  --brand-background-hover: var(--brand-4);
  --brand-background-active: var(--brand-5);
  --brand-border: var(--brand-6);
  --brand-border-outline: var(--brand-7);
  --brand-border-hover: var(--brand-8);
  --brand-solid: var(--brand-9);
  --brand-solid-hover: var(--brand-10);
  --brand-solid-foreground: var(--brand-contrast);
  --brand-text: var(--brand-11);
  --brand-text-contrast: var(--brand-12);
}

/* --------------------------- */
/* Color */
/* --------------------------- */

:where(:root),
:where(.theme-light),
:where(.theme-dark),
.color-base,
.color-base
  [class*='theme-']:not(.color-base [class*='color-'] [class*='theme-']):not(
    .color-base [class*='color-'][class*='theme-']
  ) {
  --background: var(--base-background);
  --background-default: var(--base-background);
  --background-surface: var(--base-background-surface);
  --background-subtle: var(--base-background-subtle);
  --background-soft: var(--base-background-soft);
  --background-hover: var(--base-background-hover);
  --background-active: var(--base-background-active);
  --border: var(--base-border);
  --border-default: var(--base-border);
  --border-outline: var(--base-border-outline);
  --border-hover: var(--base-border-hover);
  --solid: var(--base-solid);
  --solid-default: var(--base-solid);
  --solid-hover: var(--base-solid-hover);
  --solid-foreground: var(--base-solid-foreground);
  --text: var(--base-text);
  --text-default: var(--base-text);
  --text-contrast: var(--base-text-contrast);
}

.color-brand,
.color-brand
  [class*='theme-']:not(.color-brand [class*='color-'] [class*='theme-']):not(
    .color-brand [class*='color-'][class*='theme-']
  ) {
  --background: var(--brand-background);
  --background-default: var(--brand-background);
  --background-surface: var(--brand-background-surface);
  --background-subtle: var(--brand-background-subtle);
  --background-soft: var(--brand-background-soft);
  --background-hover: var(--brand-background-hover);
  --background-active: var(--brand-background-active);
  --border: var(--brand-border);
  --border-default: var(--brand-border);
  --border-outline: var(--brand-border-outline);
  --border-hover: var(--brand-border-hover);
  --solid: var(--brand-solid);
  --solid-default: var(--brand-solid);
  --solid-hover: var(--brand-solid-hover);
  --solid-foreground: var(--brand-solid-foreground);
  --text: var(--brand-text);
  --text-default: var(--brand-text);
  --text-contrast: var(--brand-text-contrast);
}

// ---------------------------
// Contrast
// ---------------------------

.contrast {
  --text: var(--text-contrast);
  --solid: var(--text-contrast);
  --solid-hover: var(--text-contrast);
  --solid-foreground: var(--background-default);
}

// ---------------------------
// Variant
// ---------------------------

.variant-solid {
  --background: var(--solid);
  --border: transparent;
  --text: var(--solid-foreground);

  &:is(a, button),
  &[href] {
    &:hover {
      --background: var(--solid-hover);
    }
  }
}

.variant-surface {
  --background: var(--background-soft);
  --border: var(--border-outline);

  &:is(a, button),
  &[href] {
    &:hover {
      --background: var(--background-hover);
      --border: var(--border-hover);
    }

    &:active {
      --background: var(--background-active);
    }
  }
}

.variant-soft {
  --background: var(--background-soft);
  --border: transparent;

  &:is(a, button),
  &[href] {
    &:hover {
      --background: var(--background-hover);
    }

    &:active {
      --background: var(--background-active);
    }
  }
}

.variant-outline {
  --background: transparent;
  --border: var(--border-outline);

  &:is(a, button),
  &[href] {
    &:hover {
      --background: var(--background-soft);
      --border: var(--border-hover);
    }

    &:active {
      --background: var(--background-active);
    }
  }
}

.variant-ghost {
  --background: transparent;
  --border: transparent;

  &:is(a, button),
  &[href] {
    &:hover {
      --background: var(--background-soft);
    }

    &:active {
      --background: var(--background-active);
    }
  }
}

.variant-subtle {
  --background: var(--background-subtle);

  &:is(a, button),
  &[href] {
    &:hover {
      --border: var(--border-hover);
    }
  }
}
