.full-dark,
.dark,
[data-theme='dark'] {
  /* --color-primary-background: #ff3c00;
  --color-primary-foreground: #fff;
  --color-primary-border: #ff3c00; */

  --color-primary-background: #fff;
  --color-primary-foreground: #020202;
  --color-primary-border: #fff;

  --color-secondary-background: #272727;
  --color-secondary-foreground: #fff;
  --color-secondary-border: #272727;

  --color-input-background: #020202;
  --color-input-foreground: #fff;
  --color-input-border: #404040;

  --color-raised-background: #141414;
  --color-raised-foreground: #fff;
  --color-raised-border: #404040;

  --color-base-background: #020202;
  --color-base-foreground: #fff;
  --color-base-border: #404040;

  --color-lowered-background: #020202;
  --color-lowered-foreground: #dcdcdc;
  --color-lowered-border: #404040;

  color-scheme: dark;
}
