:root,
.full-theme-light {
  /* geen border opvangen door 'frame' prop. Kan ook op button: outline, ghost panel? = COLOR */
  /* dit is WELKE kleuren wroden toegepast: bg, fg en border ipv welke vars = VARIANT */
  --color-base-background: #fff;
  --color-base-foreground: #020202;
  --color-base-border: #d3d3d3;
  --color-base-state: #fff;

  /* --color-lowered-background: #020202;
  --color-lowered-foreground: #dcdcdc;
  --color-lowered-border: #333333;
  --color-lowered-state: #020202;

  --color-raised-background: #101010;
  --color-raised-foreground: #fff;
  --color-raised-border: #333333;
  --color-raised-state: #101010; */

  --color-primary-background: #020202;
  --color-primary-foreground: #fff;
  --color-primary-border: transparent;
  --color-primary-state: #020202;

  --color-secondary-background: #f0f0f0;
  --color-secondary-foreground: #020202;
  --color-secondary-border: #d3d3d3;
  --color-secondary-state: #f0f0f0;

  --color-input-background: #fff;
  --color-input-foreground: #020202;
  --color-input-border: #d3d3d3;
  --color-input-state: #fff;

  color-scheme: light;
}

.full-dark,
.full-theme-dark,
.dark,
[data-theme='dark'] {
  --color-base-background: #020202;
  --color-base-foreground: #fff;
  --color-base-border: #333333;
  --color-base-state: #101010;

  --color-lowered-background: #020202;
  --color-lowered-foreground: #dcdcdc;
  --color-lowered-border: transparent;
  --color-lowered-state: #101010;

  --color-raised-background: #101010;
  --color-raised-foreground: #fff;
  --color-raised-border: #333333;
  --color-raised-state: #191919;

  --color-primary-background: #fff;
  --color-primary-foreground: #020202;
  --color-primary-border: #fff;
  --color-primary-state: #dcdcdc;

  --color-secondary-background: #1f1f1f;
  --color-secondary-foreground: #fff;
  --color-secondary-border: transparent;
  --color-secondary-state: #191919;

  --color-input-background: #020202;
  --color-input-foreground: #fff;
  --color-input-border: #333333;
  --color-input-state: #020202;

  color-scheme: dark;
}

/* --------------------------- */
/* Generate colors */
/* --------------------------- */

:root,
.full-color-base {
  --color-background: var(--color-base-background);
  --color-foreground: var(--color-base-foreground);
  --color-state: var(--color-base-state);
  --color-border: var(--color-base-border);
}

.full-color-lowered,
.full-color-lowered
  *:not(
    .full-color-base,
    .full-color-lowered,
    .full-color-raised,
    .full-color-primary,
    .full-color-secondary,
    .full-color-input
  ) {
  --color-background: var(--color-lowered-background);
  --color-foreground: var(--color-lowered-foreground);
  --color-border: var(--color-lowered-border);
  --color-state: var(--color-lowered-state);
}

.full-color-raised,
.full-color-raised
  *:not(
    .full-color-base,
    .full-color-lowered,
    .full-color-raised,
    .full-color-primary,
    .full-color-secondary,
    .full-color-input
  ) {
  --color-background: var(--color-raised-background);
  --color-foreground: var(--color-raised-foreground);
  --color-border: var(--color-raised-border);
  --color-state: var(--color-raised-state);
}

.full-color-primary {
  --color-background: var(--color-primary-background);
  --color-foreground: var(--color-primary-foreground);
  --color-border: var(--color-primary-border);
  --color-state: var(--color-primary-state);
}

.full-color-secondary,
.full-color-secondary
  *:not(
    .full-color-base,
    .full-color-lowered,
    .full-color-raised,
    .full-color-primary,
    .full-color-secondary,
    .full-color-input
  ) {
  --color-background: var(--color-secondary-background);
  --color-foreground: var(--color-secondary-foreground);
  --color-border: var(--color-secondary-border);
  --color-state: var(--color-secondary-state);
}

.full-color-input,
.full-color-input
  *:not(
    .full-color-base,
    .full-color-lowered,
    .full-color-raised,
    .full-color-primary,
    .full-color-secondary,
    .full-color-input
  ) {
  --color-background: var(--color-input-background);
  --color-foreground: var(--color-input-foreground);
  --color-border: var(--color-input-border);
  --color-state: var(--color-input-state);
}
