:root,
.scheme-light {
  --full-background: #fff9f7;
  --full-foreground: #090503;
  --full-border: #d5c8c4;

  --full-input-background: unset;
  --full-input-foreground: unset;
  --full-input-border: unset;

  --full-primary-background: #ff2600;
  --full-primary-foreground: #fff9f7;
  --full-primary-border: unset;

  --full-secondary-background: #e5dfde;
  --full-secondary-foreground: #090503;
  --full-secondary-border: unset;

  --full-accent-background: #e5dfde;
  --full-accent-foreground: #bc1c00;
  --full-accent-border: unset;

  --full-raised-background: #f6edea;

  --full-lowered-foreground: #554945;

  color-scheme: light;
}

.scheme-dark,
.dark,
[data-theme='dark'] {
  --full-background: #060201;
  --full-foreground: #f9f2f0;
  --full-border: #332f2e;

  --full-input-background: unset;
  --full-input-foreground: unset;
  --full-input-border: unset;

  --full-primary-background: #ff2600;
  --full-primary-foreground: #fff9f7;
  --full-primary-border: unset;

  --full-secondary-background: #212121;
  --full-secondary-foreground: #f9f2f0;
  --full-secondary-border: unset;

  --full-accent-background: #221f1e;
  --full-accent-foreground: #cc7666;
  --full-accent-border: unset;

  --full-raised-background: #0f0806;

  --full-lowered-foreground: #daceca;

  color-scheme: dark;
}

.input {
  --full-background: var(--full-input-background);
  --full-foreground: var(--full-input-foreground);
  --full-border: var(--full-input-border);
}

.variant-primary {
  --full-background: var(--full-primary-background);
  --full-foreground: var(--full-primary-foreground);
  --full-border: var(--full-primary-border);
}

.variant-secondary {
  --full-background: var(--full-secondary-background);
  --full-foreground: var(--full-secondary-foreground);
  --full-border: var(--full-secondary-border);
}

.variant-accent {
  --full-background: var(--full-accent-background);
  --full-foreground: var(--full-accent-foreground);
  --full-border: var(--full-accent-border);
}

.variant-raised {
  --full-background: var(--full-raised-background);
}

.variant-lowered {
  --full-foreground: var(--full-lowered-foreground);
}
