:root,
.scheme-light {
  --full-background: #fff9f7;
  --full-foreground: #000000;
  --full-border: #d5c8c4;

  --full-input-background: unset;
  --full-input-foreground: unset;
  --full-input-border: unset;

  --full-primary-background: #ff2600;
  --full-primary-foreground: #fff9f7;
  --full-primary-border: unset;

  --full-secondary-background: #f0e5e2;
  --full-secondary-foreground: #554945;
  --full-secondary-border: unset;

  --full-raised-background: #f6edea;

  --full-lowered-color: #554945;

  color-scheme: light;
}

.scheme-dark {
  --full-background: #fff9f7;
  --full-foreground: #000000;
  --full-border: #d5c8c4;

  --full-input-background: unset;
  --full-input-foreground: unset;
  --full-input-border: unset;

  --full-primary-background: #ff2600;
  --full-primary-foreground: #fff9f7;
  --full-primary-border: unset;

  --full-secondary-background: #f0e5e2;
  --full-secondary-foreground: #554945;
  --full-secondary-border: unset;

  --full-raised-background: #f6edea;

  --full-lowered-color: #554945;

  color-scheme: dark;
}

.input,
.input * {
  --full-background: var(--full-input-background);
  --full-foreground: var(--full-input-background);
  --full-border: var(--full-input-background);
}

.primary,
.primary * {
  --full-background: var(--full-primary-background);
  --full-foreground: var(--full-primary-background);
  --full-border: var(--full-primary-background);
}

.secondary,
.secondary * {
  --full-background: var(--full-secondary-background);
  --full-foreground: var(--full-secondary-background);
  --full-border: var(--full-secondary-background);
}

.raised,
.raised * {
  --full-background: var(--full-raised-background);
}

.lowered,
.lowered * {
  --full-foreground: var(--full-lowered-background);
}
