VarValue(value, step)
  {unquote('var(--' + value + '-' + step + ')')}

VarPair(name, value, step)
  {unquote('--' + name + '-' + step)}: VarValue(value, step)

:root, .light, .light-theme, .dark, .dark-theme
  for key, value in config['color']
    if value == 'orange' || value == 'amber'|| value == 'yellow' || value == 'lime' || value == 'mint' || value == 'sky' 
      {unquote('--' + key + '-fg')}: black;
    else
      {unquote('--' + key + '-fg')}: white;
    for step in (1..12)
      VarPair(key, value, step)
      VarPair(key, value, 'a' + step)
  
for key, value in config['color']
  :root, .color-{key}
    VarPair('color', key, 'fg')
    for step in (1..12)
      VarPair('color', key, step)
      VarPair('color', key, 'a' + step)
