.dark {
  /* --full-color-primary-background: #ff3c00;
  --full-color-primary-foreground: #fff;
  --full-color-primary-border: #ff3c00; */

  --full-color-primary-background: #fff;
  --full-color-primary-foreground: #020202;
  --full-color-primary-border: #fff;

  --full-color-secondary-background: #272727;
  --full-color-secondary-foreground: #fff;
  --full-color-secondary-border: #404040;

  --full-color-input-background: #020202;
  --full-color-input-foreground: #fff;
  --full-color-input-border: #404040;

  --full-color-raised-background: #272727;
  --full-color-raised-foreground: #fff;
  --full-color-raised-border: #404040;

  --full-color-base-background: #020202;
  --full-color-base-foreground: #fff;
  --full-color-base-border: #404040;

  --full-color-lowered-background: #020202;
  --full-color-lowered-foreground: #dcdcdc;
  --full-color-lowered-border: #404040;

  color-scheme: dark;
}
