:root,
.theme-light [data-theme='light'] {
  --base-background: hsl(223, 54%, 98%);
  --base-hover: hsl(223, 16%, 93%);
  --base-border: hsl(223, 16%, 87%);
  --base-focus: hsl(223, 16%, 9%);
  --base-foreground: hsl(223, 10%, 3%);

  --secondary-background: hsl(223, 20%, 90%);
  --secondary-hover: hsl(223, 20%, 92%);
  --secondary-foreground: var(--base-foreground);

  --primary-background: hsl(223, 20%, 9%);
  --primary-hover: hsl(223, 20%, 16%);
  --primary-foreground: var(--base-background);

  --outline-border: hsl(223, 16%, 85%);
  --muted-foreground: hsl(223, 16%, 22%);
  --raised-background: hsl(223, 38%, 96%);
  --accent-foreground: var(--primary-background);

  color-scheme: light;
}

.theme-dark,
.dark,
[data-theme='dark'] {
  --base-background: hsl(223, 54%, 5%);
  --base-hover: hsl(223, 20%, 10%);
  --base-border: hsl(223, 16%, 20%);
  --base-focus: hsl(223, 16%, 100%);
  --base-foreground: hsl(223, 10%, 100%);

  --secondary-background: hsl(223, 20%, 15%);
  --secondary-hover: hsl(223, 20%, 13%);
  --secondary-foreground: var(--base-foreground);

  --primary-background: hsl(223, 16%, 100%);
  --primary-hover: hsl(223, 16%, 90%);
  --primary-foreground: var(--base-background);

  --outline-border: hsl(223, 16%, 26%);
  --muted-foreground: hsl(223, 16%, 86%);
  --raised-background: hsl(223, 36%, 7%);
  --accent-foreground: var(--primary-background);

  color-scheme: dark;
}

/* --------------------------- */
/* Generate colors */
/* --------------------------- */

:where(:root),
:where([class*='theme-']),
.variant-base,
.variant-base
  [class*='density-']:not(
    .variant-base [class*='variant-'] [class*='theme-']
  ):not(.variant-base[class*='variant-'][class*='theme-']) {
  --background: var(--base-background);
  --hover: var(--base-hover);
  --border: var(--base-border);
  --focus: var(--base-focus);
  --foreground: var(--base-foreground);
}

.variant-primary,
.variant-primary
  [class*='density-']:not(
    .variant-primary [class*='variant-'] [class*='theme-']
  ):not(.variant-primary[class*='variant-'][class*='theme-']) {
  --background: var(--primary-background, var(--base-foreground));
  --hover: var(--primary-hover, var(--base-hover));
  --border: var(--primary-border, transparent);
  --focus: var(--primary-focus, var(--base-focus));
  --foreground: var(--primary-foreground, var(--base-background));
}

.variant-secondary,
.variant-secondary
  [class*='density-']:not(
    .variant-secondary [class*='variant-'] [class*='theme-']
  ):not(.variant-secondary[class*='variant-'][class*='theme-']) {
  --background: var(--secondary-background, var(--base-background));
  --hover: var(--secondary-hover, var(--base-hover));
  --border: var(--secondary-border, transparent);
  --focus: var(--secondary-focus, var(--base-focus));
  --foreground: var(--secondary-foreground, var(--base-foreground));
}

.variant-accent,
.variant-accent
  [class*='density-']:not(
    .variant-accent [class*='variant-'] [class*='theme-']
  ):not(.variant-accent[class*='variant-'][class*='theme-']) {
  --background: var(--accent-background, var(--base-background));
  --hover: var(--accent-hover, var(--base-hover));
  --border: var(--accent-border, var(--base-border));
  --focus: var(--accent-focus, var(--base-focus));
  --foreground: var(--accent-foreground, var(--base-foreground));
}

.variant-muted,
.variant-muted
  [class*='density-']:not(
    .variant-muted [class*='variant-'] [class*='theme-']
  ):not(.variant-muted[class*='variant-'][class*='theme-']) {
  --background: var(--muted-background, var(--base-background));
  --hover: var(--muted-hover, var(--base-hover));
  --border: var(--muted-border, var(--base-border));
  --focus: var(--muted-focus, var(--base-focus));
  --foreground: var(--muted-foreground, var(--base-foreground));
}

.variant-ghost,
.variant-ghost
  [class*='density-']:not(
    .variant-ghost [class*='variant-'] [class*='theme-']
  ):not(.variant-ghost[class*='variant-'][class*='theme-']) {
  --background: var(--ghost-background, transparent);
  --hover: var(--ghost-hover, var(--base-hover));
  --border: var(--ghost-border, transparent);
  --focus: var(--ghost-focus, var(--base-focus));
  --foreground: var(--ghost-foreground, var(--base-foreground));
}

.variant-outline,
.variant-outline
  [class*='density-']:not(
    .variant-outline [class*='variant-'] [class*='theme-']
  ):not(.variant-outline[class*='variant-'][class*='theme-']) {
  --background: var(--outline-background, transparent);
  --hover: var(--outline-hover, var(--base-hover));
  --border: var(--outline-border, var(--base-border));
  --focus: var(--outline-focus, var(--base-focus));
  --foreground: var(--outline-foreground, var(--base-foreground));
}

.variant-raised,
.variant-raised
  [class*='density-']:not(
    .variant-raised [class*='variant-'] [class*='theme-']
  ):not(.variant-raised[class*='variant-'][class*='theme-']) {
  --background: var(--raised-background, var(--base-background));
  --hover: var(--raised-hover, var(--base-hover));
  --border: var(--raised-border, var(--base-border));
  --focus: var(--raised-focus, var(--base-focus));
  --foreground: var(--raised-foreground, var(--base-foreground));
}
