:root, .scheme-light {
  --background: white;
  --background-panel: white;
  --foreground: black;
  --foreground-subtle: black;
  --foreground-accent: white;
  --border: black;

  --primary-background: black;
  --primary-foreground: white;
  --primary-border: black;

  --secondary-background: black;
  --secondary-foreground: white;
  --secondary-border: black;

  --input-background: gray;
  --input-foreground: gray;
  --input-border: gray;

  color-scheme: light;
}

.scheme-dark {
  --background: black;
  --background-panel: black;
  --foreground: white;
  --foreground-subtle: white;
  --border: white;

  --primary-background: white;
  --primary-foreground: black;
  --primary-border: white;

  --secondary-background: white;
  --secondary-foreground: black;
  --secondary-border: white;

  --input-background: gray;
  --input-foreground: gray;
  --input-border: gray;

  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  .scheme-system {
    @extend .scheme-dark
  }
}

@media (prefers-color-scheme: light) {
  .scheme-system {
    @extend .scheme-light
  }
}

