:root {
  /* --color-primary-background: #ff3c00;
  --color-primary-foreground: #fff;
  --color-primary-border: #ff3c00; */

  --color-base-background: #fff;
  --color-base-foreground: #020202;
  --color-base-border: #d3d3d3;

  --color-soft-background: #f0f0f0;
  --color-soft-foreground: #020202;

  --color-input-background: #fff;
  --color-input-foreground: #020202;
  --color-input-border: #d3d3d3;

  --color-primary-background: #020202;
  --color-primary-foreground: #fff;
  --color-primary-border: #020202;

  --color-secondary-background: #f0f0f0;
  --color-secondary-foreground: #020202;
  --color-secondary-border: #d3d3d3;

  color-scheme: light;
}
