.full-variant-primary,
.full-variant-primary
  *:not(
    .full-variant-primary,
    .full-variant-secondary,
    .full-variant-input,
    .full-variant-raised,
    .full-variant-base,
    .full-variant-lowered
  ) {
  --full-color-background: var(--full-color-primary-background);
  --full-color-foreground: var(--full-color-primary-foreground);
  --full-color-border: var(--full-color-primary-border);
}

.full-variant-secondary,
.full-variant-secondary
  *:not(
    .full-variant-primary,
    .full-variant-secondary,
    .full-variant-input,
    .full-variant-raised,
    .full-variant-base,
    .full-variant-lowered
  ) {
  --full-color-background: var(--full-color-secondary-background);
  --full-color-foreground: var(--full-color-secondary-foreground);
  --full-color-border: var(--full-color-secondary-border);
}

.full-variant-input,
.full-variant-input
  *:not(
    .full-variant-primary,
    .full-variant-secondary,
    .full-variant-input,
    .full-variant-raised,
    .full-variant-base,
    .full-variant-lowered
  ) {
  --full-color-background: var(--full-color-input-background);
  --full-color-foreground: var(--full-color-input-foreground);
  --full-color-border: var(--full-color-input-border);
}

.full-variant-raised,
.full-variant-raised
  *:not(
    .full-variant-primary,
    .full-variant-secondary,
    .full-variant-input,
    .full-variant-raised,
    .full-variant-base,
    .full-variant-lowered
  ) {
  --full-color-background: var(--full-color-raised-background);
  --full-color-foreground: var(--full-color-raised-foreground);
  --full-color-border: var(--full-color-raised-border);
}

:is(:root, .full-variant-base),
:is(:root, .full-variant-base)
  *:not(
    .full-variant-primary,
    .full-variant-secondary,
    .full-variant-input,
    .full-variant-raised,
    .full-variant-base,
    .full-variant-lowered
  ) {
  --full-color-background: var(--full-color-base-background);
  --full-color-foreground: var(--full-color-base-foreground);
  --full-color-border: var(--full-color-base-border);
}

.full-variant-lowered,
.full-variant-lowered
  *:not(
    .full-variant-primary,
    .full-variant-secondary,
    .full-variant-input,
    .full-variant-raised,
    .full-variant-base,
    .full-variant-lowered
  ) {
  --full-color-background: var(--full-color-lowered-background);
  --full-color-foreground: var(--full-color-lowered-foreground);
  --full-color-border: var(--full-color-lowered-border);
}
