:root,
.size-md {
  --element-1: 16px;
  --element-2: 48px;

  --element-compact-1: 12px;
  --element-compact-2: 36px;

  @media (min-width: 1024px) {
    --element-1: 16px;
    --element-2: 48px;

    --element-compact-1: 12px;
    --element-compact-2: 36px;
  }
}

.size-xs,
.size-sm {
  --element-1: 12px;
  --element-2: 36px;

  --element-compact-1: 10px;
  --element-compact-2: 32px;

  @media (min-width: 1024px) {
    --element-1: 12px;
    --element-2: 36px;

    --element-compact-1: 10px;
    --element-compact-2: 32px;
  }
}

.size-lg,
.size-xl,
.size-2xl {
  --element-1: 16px;
  --element-2: 48px;

  --element-compact-1: 12px;
  --element-compact-2: 40px;

  @media (min-width: 1024px) {
    --element-1: 24px;
    --element-2: 56px;

    --element-compact-1: 12px;
    --element-compact-2: 40px;
  }
}

.compact,
.compact * {
  --element-1: var(--element-compact-1);
  --element-2: var(--element-compact-2);
}
