:root {
  --full-font-family: 'IBM Plex Sans', sans-serif;
  --full-font-weight: 400;

  --full-heading-font-family: var(--full-font-family);
  --full-heading-font-weight: 700;

  --full-button-font-family: var(--full-font-family);
  --full-button-font-weight: 500;
}

.full-density-compact {
  --full-heading-font-family: var(--full-font-family);
  --full-heading-font-weight: 600;
}
