VarValue(value)
  family = split(':', value)[0]
  weight = split(':', value)[1]
  style = unquote(weight + ' var(--text-2) "' + family + '" , sans-serif')
  style

VarPair(key, value)
  {unquote('--font-') + key}: VarValue(value)

:root
  for key, value in config['font']
    VarPair(key, value)