// for key, value in config['color']
//   path = '@radix-ui/colors/' + value + '.css'
//   path-alpha = '@radix-ui/colors/' + value + '-alpha.css'
//   path-dark = '@radix-ui/colors/' + value + '-dark.css'
//   path-dark-alpha = '@radix-ui/colors/' + value + '-dark-alpha.css'
//   @import path
//   @import path-alpha
//   @import path-dark
//   @import path-dark-alpha

for key, value in config['font']
  path = 'https://fonts.bunny.net/css?family=' + value
  @import url(path)