.full-layout {
  &.column {
    > :not(:first-child) {
      &.full-heading,
      &.full-paragraph,
      &.full-writeup,
      &.full-tagline {
        margin-top: var(--space-3);
      }

      &.full-stack,
      &.full-button {
        margin-top: var(--space-4);
      }

      &.full-image,
      &.full-deck {
        margin-top: var(--space-5);
      }

      .full-image + &.full-heading {
        margin-top: var(--space-5);
      }

      :is(.full-rating, .full-icon) + &.full-heading {
        margin-top: var(--space-4);
      }

      .full-button + &.full-button {
        margin-top: var(--space-2);
      }
      
    }
  }

  &.row {
    flex-direction: row;
    flex-wrap: wrap;

    > :not(:first-child) {
      &.full-stack,
      &.full-button {
        margin-left: var(--space-4);
      }

      &.full-image,
      &.full-deck {
        margin-left: var(--space-5);
      }

      .full-button + &.full-button {
        margin-left: var(--space-2);
      }
    }
  }
}
