:root,
.scheme-light {
  --full-background: #fff9f7;
  --full-foreground: #000000;
  --full-border: #d5c8c4;

  --full-input-background: unset;
  --full-input-foreground: unset;
  --full-input-border: unset;

  --full-primary-background: #ff2600;
  --full-primary-foreground: #fff9f7;
  --full-primary-border: unset;

  --full-secondary-background: #f0e5e2;
  --full-secondary-foreground: #554945;
  --full-secondary-border: unset;

  --full-raised-background: #f0e5e2;
  /* --full-elevated-background: #f0e5e2; */

  --full-lowered-color: #f0e5e2;
  /* --full-reduced-color: #f0e5e2; */

  color-scheme: light;
}

.scheme-dark {
  --background: 20 14.3% 4.1%;
  --background-subtle: 12 6.5% 15.1%;
  --background-accent: unset;

  --foreground: 60 9.1% 97.8%;
  --foreground-subtle: 24 5.4% 63.9%;
  --foreground-accent: unset;

  --border: 12 6.5% 15.1%;

  --primary-background: 20.5 90.2% 48.2%;
  --primary-foreground: 60 9.1% 97.8%;
  --primary-border: unset;

  --secondary-background: 12 6.5% 15.1%;
  --secondary-foreground: 60 9.1% 97.8%;
  --secondary-border: unset;

  --input-background: unset;
  --input-foreground: unset;
  --input-border: 12 6.5% 15.1%;

  color-scheme: dark;
}
