:root {
  --font-family: 'IMB Plex Sans', sans-serif;
  --font-weight: 400;

  --primary-font-family: unset;
  --primary-font-weight: 700;

  --secondary-font-family: unset;
  --secondary-font-weight: 700;

  --heading-font-family: unset;
  --heading-font-weight: 700;

  --heading-compact-font-family: unset;
  --heading-compact-font-weight: 700;

  color-scheme: light;
}
