.dark,
.dark-theme {
  --orange-1: #110a08;
  --orange-2: #1f1410;
  --orange-3: #37190e;
  --orange-4: #4f1602;
  --orange-5: #5e1e06;
  --orange-6: #6f2c15;
  --orange-7: #873c23;
  --orange-8: #ae4d2c;
  --orange-9: #f50;
  --orange-10: #ed4d00;
  --orange-11: #ff976f;
  --orange-12: #ffd8c9;

  --orange-a1: #ec000009;
  --orange-a2: #fd6f0017;
  --orange-a3: #fe560030;
  --orange-a4: #fe320049;
  --orange-a5: #fd420059;
  --orange-a6: #ff5b166a;
  --orange-a7: #ff6b3183;
  --orange-a8: #fe6c37ac;
  --orange-a9: #ff5500;
  --orange-a10: #fe5200ed;
  --orange-a11: #ff976f;
  --orange-a12: #ffd8c9;

  --orange-contrast: #fff;
  --orange-surface: #351d0d80;
  --orange-indicator: #f50;
  --orange-track: #f50;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --orange-1: oklch(15.2% 0.013 38.8);
      --orange-2: oklch(20.3% 0.02 38.8);
      --orange-3: oklch(25.4% 0.052 38.8);
      --orange-4: oklch(29.1% 0.09 38.8);
      --orange-5: oklch(33.3% 0.099 38.8);
      --orange-6: oklch(38.4% 0.101 38.8);
      --orange-7: oklch(45.1% 0.11 38.8);
      --orange-8: oklch(54% 0.136 38.8);
      --orange-9: oklch(67.6% 0.217 38.8);
      --orange-10: oklch(63.7% 0.217 38.8);
      --orange-11: oklch(79.5% 0.185 38.8);
      --orange-12: oklch(91.7% 0.056 38.8);

      --orange-a1: color(display-p3 0.984 0 0 / 0.029);
      --orange-a2: color(display-p3 0.992 0.475 0 / 0.082);
      --orange-a3: color(display-p3 1 0.412 0.008 / 0.171);
      --orange-a4: color(display-p3 0.996 0.271 0 / 0.261);
      --orange-a5: color(display-p3 1 0.325 0.016 / 0.318);
      --orange-a6: color(display-p3 0.996 0.424 0.169 / 0.383);
      --orange-a7: color(display-p3 1 0.478 0.267 / 0.476);
      --orange-a8: color(display-p3 1 0.498 0.29 / 0.622);
      --orange-a9: color(display-p3 1 0.412 0.18 / 0.923);
      --orange-a10: color(display-p3 1 0.4 0.165 / 0.854);
      --orange-a11: color(display-p3 0.996 0.643 0.49 / 0.944);
      --orange-a12: color(display-p3 1 0.871 0.816 / 0.976);

      --orange-contrast: #fff;
      --orange-surface: color(display-p3 0.188 0.11 0.059 / 0.5);
      --orange-indicator: oklch(67.6% 0.217 38.8);
      --orange-track: oklch(67.6% 0.217 38.8);
    }
  }
}

:root,
.light,
.light-theme {
  --orange-1: #f7f5f4;
  --orange-2: #fbede8;
  --orange-3: #ffe0d5;
  --orange-4: #ffccb8;
  --orange-5: #ffbca3;
  --orange-6: #ffab8c;
  --orange-7: #fa9879;
  --orange-8: #ef7e59;
  --orange-9: #f50;
  --orange-10: #ed4d00;
  --orange-11: #c04700;
  --orange-12: #5b2a1a;

  --orange-a1: #d9991c08;
  --orange-a2: #ffdfcf6e;
  --orange-a3: #ffe0d5;
  --orange-a4: #ffccb8;
  --orange-a5: #ffbca3;
  --orange-a6: #ffab8c;
  --orange-a7: #ff000049;
  --orange-a8: #ea3b00a5;
  --orange-a9: #ff5500;
  --orange-a10: #ed4d00;
  --orange-a11: #c04700;
  --orange-a12: #4a1300e5;

  --orange-contrast: #fff;
  --orange-surface: #fbebe4cc;
  --orange-indicator: #f50;
  --orange-track: #f50;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --orange-1: oklch(97% 0.003 38.8);
      --orange-2: oklch(95.5% 0.017 38.8);
      --orange-3: oklch(93.3% 0.041 38.8);
      --orange-4: oklch(89.4% 0.09 38.8);
      --orange-5: oklch(86.2% 0.119 38.8);
      --orange-6: oklch(82.8% 0.123 38.8);
      --orange-7: oklch(77.4% 0.126 38.8);
      --orange-8: oklch(71.3% 0.148 38.8);
      --orange-9: oklch(67.6% 0.217 38.8);
      --orange-10: oklch(63.7% 0.217 38.8);
      --orange-11: oklch(56% 0.208 38.8);
      --orange-12: oklch(35% 0.077 38.8);

      --orange-a1: color(display-p3 0.835 0.553 0.008 / 0.028);
      --orange-a2: color(display-p3 1 0.675 0.494 / 0.143);
      --orange-a3: color(display-p3 1 0.659 0.494 / 0.286);
      --orange-a4: color(display-p3 0.961 0.329 0.004 / 0.255);
      --orange-a5: color(display-p3 0.941 0.306 0.004 / 0.335);
      --orange-a6: color(display-p3 0.929 0.29 0.004 / 0.419);
      --orange-a7: color(display-p3 0.878 0.255 0.004 / 0.495);
      --orange-a8: color(display-p3 0.82 0.231 0 / 0.614);
      --orange-a9: color(display-p3 0.918 0.267 0 / 0.829);
      --orange-a10: color(display-p3 0.839 0.235 0 / 0.845);
      --orange-a11: color(display-p3 0.659 0.216 0 / 0.877);
      --orange-a12: color(display-p3 0.243 0.067 0 / 0.881);

      --orange-contrast: #fff;
      --orange-surface: color(display-p3 0.976 0.922 0.898 / 0.8);
      --orange-indicator: oklch(67.6% 0.217 38.8);
      --orange-track: oklch(67.6% 0.217 38.8);
    }
  }
}
