:root,
.light,
.light-theme,
.theme-light,
[data-theme='light'] {
  --base-1: #f8f9fb;
  --base-2: #f4f6f9;
  --base-3: #ebedef;
  --base-4: #e3e4e7;
  --base-5: #dcdde0;
  --base-6: #d4d5d8;
  --base-7: #c9cacd;
  --base-8: #b6b7ba;
  --base-9: #88898c;
  --base-10: #7d7f81;
  --base-11: #5f6062;
  --base-12: #1e2022;

  --base-a1: #3c3d3f04;
  --base-a2: #1c3d5f08;
  --base-a3: #0b1b1e11;
  --base-a4: #07081419;
  --base-a5: #03050f20;
  --base-a6: #03040c28;
  --base-a7: #01020933;
  --base-a8: #04050a47;
  --base-a9: #01020675;
  --base-a10: #02040681;
  --base-a11: #0102049f;
  --base-a12: #000205e1;

  --base-contrast: #000000;
  --base-surface: #ffffffcc;
  --base-indicator: #88898c;
  --base-track: #88898c;

  --brand-1: #fffcfc;
  --brand-2: #fef8f7;
  --brand-3: #fceceb;
  --brand-4: #ffdedb;
  --brand-5: #fdd1cd;
  --brand-6: #f5c1be;
  --brand-7: #ebaeaa;
  --brand-8: #e19691;
  --brand-9: #ca4e4e;
  --brand-10: #bc3f41;
  --brand-11: #bf4445;
  --brand-12: #5d2121;

  --brand-a1: #ff000003;
  --brand-a2: #e0200008;
  --brand-a3: #d90d0014;
  --brand-a4: #ff160024;
  --brand-a5: #f5150032;
  --brand-a6: #d80c0041;
  --brand-a7: #c30c0055;
  --brand-a8: #ba0c006e;
  --brand-a9: #b30000b1;
  --brand-a10: #a60003c0;
  --brand-a11: #a80002bb;
  --brand-a12: #450000de;

  --brand-contrast: #fff;
  --brand-surface: #fef6f5cc;
  --brand-indicator: #ca4e4e;
  --brand-track: #ca4e4e;

  color-scheme: light;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme,
    .theme-light,
    [data-theme='light'] {
      --base-1: oklch(98.1% 0.003 264.5);
      --base-2: oklch(97.2% 0.004 264.5);
      --base-3: oklch(94.4% 0.004 264.5);
      --base-4: oklch(91.9% 0.004 264.5);
      --base-5: oklch(89.7% 0.004 264.5);
      --base-6: oklch(87.4% 0.004 264.5);
      --base-7: oklch(83.9% 0.004 264.5);
      --base-8: oklch(77.9% 0.004 264.5);
      --base-9: oklch(63.1% 0.004 264.5);
      --base-10: oklch(59.5% 0.004 264.5);
      --base-11: oklch(48.8% 0.004 264.5);
      --base-12: oklch(24.1% 0.004 264.5);

      --base-a1: color(display-p3 0.008 0.012 0.02 / 0.012);
      --base-a2: color(display-p3 0.008 0.149 0.298 / 0.028);
      --base-a3: color(display-p3 0.008 0.071 0.078 / 0.064);
      --base-a4: color(display-p3 0.008 0.012 0.059 / 0.096);
      --base-a5: color(display-p3 0.004 0.008 0.047 / 0.124);
      --base-a6: color(display-p3 0.008 0.012 0.043 / 0.156);
      --base-a7: color(display-p3 0.004 0.008 0.035 / 0.2);
      --base-a8: color(display-p3 0.004 0.004 0.027 / 0.275);
      --base-a9: color(display-p3 0.004 0.008 0.024 / 0.459);
      --base-a10: color(display-p3 0 0.012 0.02 / 0.502);
      --base-a11: color(display-p3 0 0.008 0.016 / 0.622);
      --base-a12: color(display-p3 0 0.008 0.02 / 0.881);

      --base-contrast: #000000;
      --base-surface: color(display-p3 1 1 1 / 80%);
      --base-indicator: oklch(63.1% 0.004 264.5);
      --base-track: oklch(63.1% 0.004 264.5);

      --brand-1: oklch(99.4% 0.003 23.29);
      --brand-2: oklch(98.3% 0.007 23.29);
      --brand-3: oklch(95.6% 0.017 23.29);
      --brand-4: oklch(92.8% 0.038 23.29);
      --brand-5: oklch(89.6% 0.05 23.29);
      --brand-6: oklch(85.7% 0.06 23.29);
      --brand-7: oklch(80.7% 0.072 23.29);
      --brand-8: oklch(74.5% 0.091 23.29);
      --brand-9: oklch(58.9% 0.158 23.29);
      --brand-10: oklch(54.6% 0.16 23.29);
      --brand-11: oklch(55.7% 0.158 23.29);
      --brand-12: oklch(33.9% 0.089 23.29);

      --brand-a1: color(display-p3 0.675 0.024 0.024 / 0.012);
      --brand-a2: color(display-p3 0.757 0.145 0.02 / 0.032);
      --brand-a3: color(display-p3 0.706 0.11 0.008 / 0.079);
      --brand-a4: color(display-p3 0.859 0.094 0.008 / 0.138);
      --brand-a5: color(display-p3 0.82 0.11 0.008 / 0.193);
      --brand-a6: color(display-p3 0.722 0.063 0.004 / 0.251);
      --brand-a7: color(display-p3 0.655 0.051 0.004 / 0.326);
      --brand-a8: color(display-p3 0.624 0.059 0.004 / 0.424);
      --brand-a9: color(display-p3 0.608 0.024 0 / 0.679);
      --brand-a10: color(display-p3 0.565 0.016 0 / 0.73);
      --brand-a11: color(display-p3 0.573 0.016 0 / 0.714);
      --brand-a12: color(display-p3 0.231 0.008 0 / 0.863);

      --brand-contrast: #fff;
      --brand-surface: color(display-p3 0.992 0.965 0.961 / 0.8);
      --brand-indicator: oklch(58.9% 0.158 23.29);
      --brand-track: oklch(58.9% 0.158 23.29);

      color-scheme: dark;
    }
  }
}

.dark,
.dark-theme,
.theme-dark,
[data-theme='dark'] {
  --base-1: #080b14;
  --base-2: #141822;
  --base-3: #1c2130;
  --base-4: #232938;
  --base-5: #2a3040;
  --base-6: #333949;
  --base-7: #404758;
  --base-8: #596072;
  --base-9: #676d80;
  --base-10: #747b8e;
  --base-11: #abb3c7;
  --base-12: #eaeef8;

  --base-a1: #00000000;
  --base-a2: #c8dbf410;
  --base-a3: #adc0fa1f;
  --base-a4: #b5cbfa28;
  --base-a5: #bdd0fe30;
  --base-a6: #c6d6fe3a;
  --base-a7: #c9daff4a;
  --base-a8: #d3dfff66;
  --base-a9: #d6dffd76;
  --base-a10: #d7e2fe85;
  --base-a11: #dde6fec3;
  --base-a12: #f1f5fef8;

  --base-contrast: #ffffff;
  --base-surface: rgba(0, 0, 0, 0.05);
  --base-indicator: #676d80;
  --base-track: #676d80;

  --brand-1: #170f0e;
  --brand-2: #201312;
  --brand-3: #3d1011;
  --brand-4: #530a10;
  --brand-5: #641117;
  --brand-6: #761f22;
  --brand-7: #903031;
  --brand-8: #ba3f41;
  --brand-9: #ca4e4e;
  --brand-10: #bb4042;
  --brand-11: #ff8e89;
  --brand-12: #ffd1cd;

  --brand-a1: #ec000007;
  --brand-a2: #f22f2011;
  --brand-a3: #fb0c1130;
  --brand-a4: #ff000e47;
  --brand-a5: #ff112359;
  --brand-a6: #fd32396d;
  --brand-a7: #fe4b4d89;
  --brand-a8: #fe5154b6;
  --brand-a9: #fe5f5fc7;
  --brand-a10: #fe5255b7;
  --brand-a11: #ff8e89;
  --brand-a12: #ffd1cd;

  --brand-contrast: #fff;
  --brand-surface: #2f151380;
  --brand-indicator: #ca4e4e;
  --brand-track: #ca4e4e;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme,
    .theme-dark,
    [data-theme='dark'] {
      --base-1: oklch(15.1% 0.02 269.2);
      --base-2: oklch(20.9% 0.021 269.2);
      --base-3: oklch(25.1% 0.029 269.2);
      --base-4: oklch(28.1% 0.03 269.2);
      --base-5: oklch(31.1% 0.03 269.2);
      --base-6: oklch(34.6% 0.03 269.2);
      --base-7: oklch(39.8% 0.03 269.2);
      --base-8: oklch(49% 0.03 269.2);
      --base-9: oklch(53.7% 0.03 269.2);
      --base-10: oklch(58.3% 0.03 269.2);
      --base-11: oklch(76.8% 0.03 269.2);
      --base-12: oklch(94.9% 0.014 269.2);

      --base-a1: color(display-p3 0 0 0 / 0);
      --base-a2: color(display-p3 0.824 0.894 0.992 / 0.06);
      --base-a3: color(display-p3 0.698 0.769 1 / 0.119);
      --base-a4: color(display-p3 0.729 0.816 1 / 0.153);
      --base-a5: color(display-p3 0.749 0.82 1 / 0.187);
      --base-a6: color(display-p3 0.788 0.843 1 / 0.225);
      --base-a7: color(display-p3 0.796 0.859 0.996 / 0.289);
      --base-a8: color(display-p3 0.843 0.886 1 / 0.395);
      --base-a9: color(display-p3 0.859 0.89 1 / 0.454);
      --base-a10: color(display-p3 0.863 0.902 1 / 0.513);
      --base-a11: color(display-p3 0.882 0.914 0.996 / 0.755);
      --base-a12: color(display-p3 0.953 0.965 0.996 / 0.967);

      --base-contrast: #ffffff;
      --base-surface: color(display-p3 0 0 0 / 5%);
      --base-indicator: oklch(53.7% 0.03 269.2);
      --base-track: oklch(53.7% 0.03 269.2);

      --brand-1: oklch(17.8% 0.014 23.29);
      --brand-2: oklch(20.3% 0.023 23.29);
      --brand-3: oklch(25% 0.07 23.29);
      --brand-4: oklch(28.8% 0.104 23.29);
      --brand-5: oklch(33.1% 0.115 23.29);
      --brand-6: oklch(38.2% 0.12 23.29);
      --brand-7: oklch(45% 0.13 23.29);
      --brand-8: oklch(54.4% 0.158 23.29);
      --brand-9: oklch(58.9% 0.158 23.29);
      --brand-10: oklch(54.6% 0.158 23.29);
      --brand-11: oklch(78.4% 0.158 23.29);
      --brand-12: oklch(90.2% 0.057 23.29);

      --brand-a1: color(display-p3 0.961 0 0 / 0.022);
      --brand-a2: color(display-p3 0.996 0.282 0.141 / 0.055);
      --brand-a3: color(display-p3 1 0.118 0.094 / 0.164);
      --brand-a4: color(display-p3 1 0.067 0.102 / 0.248);
      --brand-a5: color(display-p3 1 0.169 0.18 / 0.311);
      --brand-a6: color(display-p3 1 0.282 0.275 / 0.383);
      --brand-a7: color(display-p3 1 0.373 0.349 / 0.488);
      --brand-a8: color(display-p3 1 0.396 0.38 / 0.652);
      --brand-a9: color(display-p3 1 0.443 0.424 / 0.715);
      --brand-a10: color(display-p3 1 0.4 0.384 / 0.656);
      --brand-a11: color(display-p3 1 0.616 0.584 / 0.937);
      --brand-a12: color(display-p3 1 0.851 0.831 / 0.971);

      --brand-contrast: #fff;
      --brand-surface: color(display-p3 0.165 0.078 0.071 / 0.5);
      --brand-indicator: oklch(58.9% 0.158 23.29);
      --brand-track: oklch(58.9% 0.158 23.29);
    }
  }
}

/* DEZE GEBRUIKEN */
.dark,
.dark-theme {
  --red-1: #110908;
  --red-2: #1f1310;
  --red-3: #3c130b;
  --red-4: #550a00;
  --red-5: #661002;
  --red-6: #761f0f;
  --red-7: #8f301e;
  --red-8: #b93f28;
  --red-9: #f30;
  --red-10: #e83100;
  --red-11: #ff8f73;
  --red-12: #ffd0c5;

  --red-a1: #ec000009;
  --red-a2: #fd640017;
  --red-a3: #ff320035;
  --red-a4: #ff08004f;
  --red-a5: #fd180061;
  --red-a6: #ff390971;
  --red-a7: #ff4f278b;
  --red-a8: #fe5430b7;
  --red-a9: #ff3300;
  --red-a10: #fe3500e8;
  --red-a11: #ff8f73;
  --red-a12: #ffd0c5;

  --red-contrast: #fff;
  --red-surface: #351b0d80;
  --red-indicator: #f30;
  --red-track: #f30;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --red-1: oklch(15.2% 0.015 32.62);
      --red-2: oklch(20.2% 0.021 32.62);
      --red-3: oklch(25.1% 0.068 32.62);
      --red-4: oklch(29% 0.108 32.62);
      --red-5: oklch(33.1% 0.121 32.62);
      --red-6: oklch(38% 0.124 32.62);
      --red-7: oklch(44.7% 0.133 32.62);
      --red-8: oklch(53.8% 0.162 32.62);
      --red-9: oklch(64.6% 0.241 32.62);
      --red-10: oklch(60.6% 0.241 32.62);
      --red-11: oklch(78.4% 0.203 32.62);
      --red-12: oklch(89.9% 0.058 32.62);

      --red-a1: color(display-p3 0.984 0 0 / 0.029);
      --red-a2: color(display-p3 0.992 0.427 0 / 0.082);
      --red-a3: color(display-p3 1 0.275 0 / 0.187);
      --red-a4: color(display-p3 1 0.141 0 / 0.281);
      --red-a5: color(display-p3 1 0.196 0 / 0.342);
      --red-a6: color(display-p3 1 0.306 0.114 / 0.403);
      --red-a7: color(display-p3 0.996 0.384 0.212 / 0.5);
      --red-a8: color(display-p3 1 0.404 0.255 / 0.659);
      --red-a9: color(display-p3 1 0.302 0.153 / 0.919);
      --red-a10: color(display-p3 1 0.306 0.145 / 0.834);
      --red-a11: color(display-p3 0.996 0.616 0.506 / 0.94);
      --red-a12: color(display-p3 1 0.847 0.8 / 0.972);

      --red-contrast: #fff;
      --red-surface: color(display-p3 0.188 0.11 0.059 / 0.5);
      --red-indicator: oklch(64.6% 0.241 32.62);
      --red-track: oklch(64.6% 0.241 32.62);
    }
  }
}

.dark,
.dark-theme {
  --gray-1: #080b16;
  --gray-2: #141824;
  --gray-3: #1b2133;
  --gray-4: #22283c;
  --gray-5: #293044;
  --gray-6: #32394d;
  --gray-7: #3f465c;
  --gray-8: #586076;
  --gray-9: #656d84;
  --gray-10: #727b92;
  --gray-11: #aab3cc;
  --gray-12: #e9eefa;

  --gray-a1: #000bbe03;
  --gray-a2: #a5c4f712;
  --gray-a3: #90b0fd22;
  --gray-a4: #9ab4fc2c;
  --gray-a5: #a3befb35;
  --gray-a6: #b2c9ff3e;
  --gray-a7: #b8c9fd4f;
  --gray-a8: #c6d6fd6b;
  --gray-a9: #c9d8ff7a;
  --gray-a10: #cddcff89;
  --gray-a11: #d6e2ffc8;
  --gray-a12: #eef3fffa;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #656d84;
  --gray-track: #656d84;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --gray-1: oklch(15.2% 0.024 269.9);
      --gray-2: oklch(20.9% 0.025 269.9);
      --gray-3: oklch(25.1% 0.035 269.9);
      --gray-4: oklch(28.2% 0.037 269.9);
      --gray-5: oklch(31.1% 0.037 269.9);
      --gray-6: oklch(34.6% 0.037 269.9);
      --gray-7: oklch(39.8% 0.037 269.9);
      --gray-8: oklch(49% 0.037 269.9);
      --gray-9: oklch(53.7% 0.037 269.9);
      --gray-10: oklch(58.3% 0.037 269.9);
      --gray-11: oklch(76.8% 0.037 269.9);
      --gray-12: oklch(94.9% 0.017 269.9);

      --gray-a1: color(display-p3 0.035 0.047 0.949 / 0.009);
      --gray-a2: color(display-p3 0.729 0.796 1 / 0.068);
      --gray-a3: color(display-p3 0.6 0.698 0.996 / 0.132);
      --gray-a4: color(display-p3 0.647 0.729 0.996 / 0.166);
      --gray-a5: color(display-p3 0.682 0.769 0.996 / 0.2);
      --gray-a6: color(display-p3 0.729 0.804 1 / 0.238);
      --gray-a7: color(display-p3 0.753 0.812 1 / 0.301);
      --gray-a8: color(display-p3 0.8 0.855 1 / 0.412);
      --gray-a9: color(display-p3 0.812 0.859 1 / 0.471);
      --gray-a10: color(display-p3 0.827 0.875 1 / 0.53);
      --gray-a11: color(display-p3 0.859 0.894 1 / 0.776);
      --gray-a12: color(display-p3 0.941 0.957 1 / 0.975);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(53.7% 0.037 269.9);
      --gray-track: oklch(53.7% 0.037 269.9);
    }
  }
}
