:root,
.light,
.light-theme,
.theme-light,
[data-theme='light'] {
  --base-1: #f8f9fb;
  --base-2: #f4f6f9;
  --base-3: #ebedef;
  --base-4: #e3e4e7;
  --base-5: #dcdde0;
  --base-6: #d4d5d8;
  --base-7: #c9cacd;
  --base-8: #b6b7ba;
  --base-9: #88898c;
  --base-10: #7d7f81;
  --base-11: #5f6062;
  --base-12: #1e2022;

  --base-a1: #3c3d3f04;
  --base-a2: #1c3d5f08;
  --base-a3: #0b1b1e11;
  --base-a4: #07081419;
  --base-a5: #03050f20;
  --base-a6: #03040c28;
  --base-a7: #01020933;
  --base-a8: #04050a47;
  --base-a9: #01020675;
  --base-a10: #02040681;
  --base-a11: #0102049f;
  --base-a12: #000205e1;

  --base-contrast: #000000;
  --base-surface: #ffffffcc;
  --base-indicator: #88898c;
  --base-track: #88898c;

  --brand-1: #fdfdfd;
  --brand-2: #fafafa;
  --brand-3: #f2f2f2;
  --brand-4: #e9e9e9;
  --brand-5: #e0e0e0;
  --brand-6: #d3d3d3;
  --brand-7: #c4c4c4;
  --brand-8: #afafaf;
  --brand-9: #404040;
  --brand-10: #515151;
  --brand-11: #6c6c6c;
  --brand-12: #383838;

  --brand-a1: #00000002;
  --brand-a2: #00000005;
  --brand-a3: #0000000d;
  --brand-a4: #00000016;
  --brand-a5: #0000001f;
  --brand-a6: #0000002c;
  --brand-a7: #0000003b;
  --brand-a8: #00000050;
  --brand-a9: #000000bf;
  --brand-a10: #000000ae;
  --brand-a11: #00000093;
  --brand-a12: #000000c7;

  --brand-contrast: #fff;
  --brand-surface: #f9f9f9cc;
  --brand-indicator: #404040;
  --brand-track: #404040;

  color-scheme: light;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {

    :root,
    .light,
    .light-theme,
    .theme-light,
    [data-theme='light'] {
      --base-1: oklch(98.1% 0.003 264.5);
      --base-2: oklch(97.2% 0.004 264.5);
      --base-3: oklch(94.4% 0.004 264.5);
      --base-4: oklch(91.9% 0.004 264.5);
      --base-5: oklch(89.7% 0.004 264.5);
      --base-6: oklch(87.4% 0.004 264.5);
      --base-7: oklch(83.9% 0.004 264.5);
      --base-8: oklch(77.9% 0.004 264.5);
      --base-9: oklch(63.1% 0.004 264.5);
      --base-10: oklch(59.5% 0.004 264.5);
      --base-11: oklch(48.8% 0.004 264.5);
      --base-12: oklch(24.1% 0.004 264.5);

      --base-a1: color(display-p3 0.008 0.012 0.02 / 0.012);
      --base-a2: color(display-p3 0.008 0.149 0.298 / 0.028);
      --base-a3: color(display-p3 0.008 0.071 0.078 / 0.064);
      --base-a4: color(display-p3 0.008 0.012 0.059 / 0.096);
      --base-a5: color(display-p3 0.004 0.008 0.047 / 0.124);
      --base-a6: color(display-p3 0.008 0.012 0.043 / 0.156);
      --base-a7: color(display-p3 0.004 0.008 0.035 / 0.2);
      --base-a8: color(display-p3 0.004 0.004 0.027 / 0.275);
      --base-a9: color(display-p3 0.004 0.008 0.024 / 0.459);
      --base-a10: color(display-p3 0 0.012 0.02 / 0.502);
      --base-a11: color(display-p3 0 0.008 0.016 / 0.622);
      --base-a12: color(display-p3 0 0.008 0.02 / 0.881);

      --base-contrast: #000000;
      --base-surface: color(display-p3 1 1 1 / 80%);
      --base-indicator: oklch(63.1% 0.004 264.5);
      --base-track: oklch(63.1% 0.004 264.5);

      --brand-1: oklch(99.4% 0 0);
      --brand-2: oklch(98.5% 0 0);
      --brand-3: oklch(96.1% 0 0);
      --brand-4: oklch(93.5% 0 0);
      --brand-5: oklch(90.6% 0 0);
      --brand-6: oklch(86.8% 0 0);
      --brand-7: oklch(82.2% 0 0);
      --brand-8: oklch(75.3% 0 0);
      --brand-9: oklch(37.1% 0 0);
      --brand-10: oklch(43.5% 0 0);
      --brand-11: oklch(53.2% 0 0);
      --brand-12: oklch(34% 0 0);

      --brand-a1: color(display-p3 0 0 0 / 0.008);
      --brand-a2: color(display-p3 0 0 0 / 0.02);
      --brand-a3: color(display-p3 0 0 0 / 0.051);
      --brand-a4: color(display-p3 0 0 0 / 0.086);
      --brand-a5: color(display-p3 0 0 0 / 0.122);
      --brand-a6: color(display-p3 0 0 0 / 0.173);
      --brand-a7: color(display-p3 0 0 0 / 0.231);
      --brand-a8: color(display-p3 0 0 0 / 0.314);
      --brand-a9: color(display-p3 0 0 0 / 0.749);
      --brand-a10: color(display-p3 0 0 0 / 0.682);
      --brand-a11: color(display-p3 0 0 0 / 0.576);
      --brand-a12: color(display-p3 0 0 0 / 0.78);

      --brand-contrast: #000000;
      --brand-surface: color(display-p3 0.976 0.976 0.976 / 0.8);
      --brand-indicator: oklch(37.1% 0 0);
      --brand-track: oklch(37.1% 0 0);

      color-scheme: dark;
    }
  }
}

.dark,
.dark-theme,
.theme-dark,
[data-theme='dark'] {
  --base-1: #080b14;
  --base-2: #141822;
  --base-3: #1c2130;
  --base-4: #232938;
  --base-5: #2a3040;
  --base-6: #333949;
  --base-7: #404758;
  --base-8: #596072;
  --base-9: #676d80;
  --base-10: #747b8e;
  --base-11: #abb3c7;
  --base-12: #eaeef8;

  --base-a1: #00000000;
  --base-a2: #c8dbf410;
  --base-a3: #adc0fa1f;
  --base-a4: #b5cbfa28;
  --base-a5: #bdd0fe30;
  --base-a6: #c6d6fe3a;
  --base-a7: #c9daff4a;
  --base-a8: #d3dfff66;
  --base-a9: #d6dffd76;
  --base-a10: #d7e2fe85;
  --base-a11: #dde6fec3;
  --base-a12: #f1f5fef8;

  --base-contrast: #ffffff;
  --base-surface: rgba(0, 0, 0, 0.05);
  --base-indicator: #676d80;
  --base-track: #676d80;

  --brand-1: #0c0c0c;
  --brand-2: #181818;
  --brand-3: #222;
  --brand-4: #2a2a2a;
  --brand-5: #313131;
  --brand-6: #3a3a3a;
  --brand-7: #484848;
  --brand-8: #616161;
  --brand-9: #fafafa;
  --brand-10: #f1f1f1;
  --brand-11: #b4b4b4;
  --brand-12: #eee;

  --brand-a1: #b4600003;
  --brand-a2: #f8e8580f;
  --brand-a3: #fff6a319;
  --brand-a4: #faf3b922;
  --brand-a5: #fdf8c929;
  --brand-a6: #fffbd632;
  --brand-a7: #fefbe041;
  --brand-a8: #fefcec5b;
  --brand-a9: #fffffffa;
  --brand-a10: #fefefef1;
  --brand-a11: #fffffbb1;
  --brand-a12: #fefefeee;

  --brand-contrast: #311921;
  --brand-surface: #26251c80;
  --brand-indicator: #fafafa;
  --brand-track: #fafafa;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {

    .dark,
    .dark-theme,
    .theme-dark,
    [data-theme='dark'] {
      --base-1: oklch(15.1% 0.02 269.2);
      --base-2: oklch(20.9% 0.021 269.2);
      --base-3: oklch(25.1% 0.029 269.2);
      --base-4: oklch(28.1% 0.03 269.2);
      --base-5: oklch(31.1% 0.03 269.2);
      --base-6: oklch(34.6% 0.03 269.2);
      --base-7: oklch(39.8% 0.03 269.2);
      --base-8: oklch(49% 0.03 269.2);
      --base-9: oklch(53.7% 0.03 269.2);
      --base-10: oklch(58.3% 0.03 269.2);
      --base-11: oklch(76.8% 0.03 269.2);
      --base-12: oklch(94.9% 0.014 269.2);

      --base-a1: color(display-p3 0 0 0 / 0);
      --base-a2: color(display-p3 0.824 0.894 0.992 / 0.06);
      --base-a3: color(display-p3 0.698 0.769 1 / 0.119);
      --base-a4: color(display-p3 0.729 0.816 1 / 0.153);
      --base-a5: color(display-p3 0.749 0.82 1 / 0.187);
      --base-a6: color(display-p3 0.788 0.843 1 / 0.225);
      --base-a7: color(display-p3 0.796 0.859 0.996 / 0.289);
      --base-a8: color(display-p3 0.843 0.886 1 / 0.395);
      --base-a9: color(display-p3 0.859 0.89 1 / 0.454);
      --base-a10: color(display-p3 0.863 0.902 1 / 0.513);
      --base-a11: color(display-p3 0.882 0.914 0.996 / 0.755);
      --base-a12: color(display-p3 0.953 0.965 0.996 / 0.967);

      --base-contrast: #ffffff;
      --base-surface: color(display-p3 0 0 0 / 5%);
      --base-indicator: oklch(53.7% 0.03 269.2);
      --base-track: oklch(53.7% 0.03 269.2);

      --brand-1: oklch(15.3% 0 0);
      --brand-2: oklch(21.1% 0 0);
      --brand-3: oklch(25.3% 0 0);
      --brand-4: oklch(28.3% 0 0);
      --brand-5: oklch(31.3% 0 0);
      --brand-6: oklch(35% 0 0);
      --brand-7: oklch(40.1% 0 0);
      --brand-8: oklch(49.2% 0 0);
      --brand-9: oklch(98.5% 0 0);
      --brand-10: oklch(95.7% 0 0);
      --brand-11: oklch(77% 0 0);
      --brand-12: oklch(94.9% 0 0);

      --brand-a1: color(display-p3 0.914 0.482 0 / 0.009);
      --brand-a2: color(display-p3 0.988 0.925 0.416 / 0.058);
      --brand-a3: color(display-p3 1 0.965 0.678 / 0.098);
      --brand-a4: color(display-p3 1 0.973 0.761 / 0.131);
      --brand-a5: color(display-p3 0.996 0.976 0.812 / 0.16);
      --brand-a6: color(display-p3 1 0.984 0.855 / 0.196);
      --brand-a7: color(display-p3 1 0.988 0.894 / 0.254);
      --brand-a8: color(display-p3 1 0.992 0.937 / 0.356);
      --brand-a9: color(display-p3 1 1 1 / 0.98);
      --brand-a10: color(display-p3 1 1 1 / 0.943);
      --brand-a11: color(display-p3 1 1 0.984 / 0.694);
      --brand-a12: color(display-p3 1 1 1 / 0.931);

      --brand-contrast: #311921;
      --brand-surface: color(display-p3 0.149 0.141 0.11 / 0.5);
      --brand-indicator: oklch(98.5% 0 0);
      --brand-track: oklch(98.5% 0 0);
    }
  }
}