:root {
  --media: 1536px;
  --full-space-gutter: max(4vw, calc((100vw - var(--media)) / 2));
  --full-space-spacer: calc(var(--full-space-5) + 4vw);

  --full-space-2xl-1: var(--full-space-lg-1);
  --full-space-2xl-2: var(--full-space-lg-2);
  --full-space-2xl-3: var(--full-space-lg-3);
  --full-space-2xl-4: var(--full-space-lg-4);
  --full-space-2xl-5: var(--full-space-lg-5);
  --full-space-2xl-6: var(--full-space-lg-6);

  --full-space-xl-1: var(--full-space-lg-1);
  --full-space-xl-2: var(--full-space-lg-2);
  --full-space-xl-3: var(--full-space-lg-3);
  --full-space-xl-4: var(--full-space-lg-4);
  --full-space-xl-5: var(--full-space-lg-5);
  --full-space-xl-6: var(--full-space-lg-6);

  --full-space-lg-1: var(--full-size-4);
  --full-space-lg-2: var(--full-size-10);
  --full-space-lg-3: var(--full-size-20);
  --full-space-lg-4: var(--full-size-40);
  --full-space-lg-5: var(--full-size-80);
  --full-space-lg-6: var(--full-size-160);

  --full-space-md-1: var(--full-size-4);
  --full-space-md-2: var(--full-size-8);
  --full-space-md-3: var(--full-size-16);
  --full-space-md-4: var(--full-size-32);
  --full-space-md-5: var(--full-size-64);
  --full-space-md-6: var(--full-size-128);

  --full-space-sm-1: var(--full-size-2);
  --full-space-sm-2: var(--full-size-6);
  --full-space-sm-3: var(--full-size-12);
  --full-space-sm-4: var(--full-size-24);
  --full-space-sm-5: var(--full-size-48);
  --full-space-sm-6: var(--full-size-96);

  --full-space-xs-1: var(--full-space-sm-1);
  --full-space-xs-2: var(--full-space-sm-2);
  --full-space-xs-3: var(--full-space-sm-3);
  --full-space-xs-4: var(--full-space-sm-4);
  --full-space-xs-5: var(--full-space-sm-5);
  --full-space-xs-6: var(--full-space-sm-6);
}

.full-compact {
  --full-space-2xl-1: var(--full-space-lg-1);
  --full-space-2xl-2: var(--full-space-lg-2);
  --full-space-2xl-3: var(--full-space-lg-3);
  --full-space-2xl-4: var(--full-space-lg-4);
  --full-space-2xl-5: var(--full-space-lg-5);
  --full-space-2xl-6: var(--full-space-lg-6);

  --full-space-xl-1: var(--full-space-lg-1);
  --full-space-xl-2: var(--full-space-lg-2);
  --full-space-xl-3: var(--full-space-lg-3);
  --full-space-xl-4: var(--full-space-lg-4);
  --full-space-xl-5: var(--full-space-lg-5);
  --full-space-xl-6: var(--full-space-lg-6);

  --full-space-lg-1: var(--full-size-6);
  --full-space-lg-2: var(--full-size-8);
  --full-space-lg-3: var(--full-size-12);
  --full-space-lg-4: var(--full-size-20);
  --full-space-lg-5: var(--full-size-24);
  --full-space-lg-6: var(--full-size-32);

  --full-space-md-1: var(--full-size-4);
  --full-space-md-2: var(--full-size-6);
  --full-space-md-3: var(--full-size-8);
  --full-space-md-4: var(--full-size-12);
  --full-space-md-5: var(--full-size-20);
  --full-space-md-6: var(--full-size-28);

  --full-space-sm-1: var(--full-size-2);
  --full-space-sm-2: var(--full-size-2);
  --full-space-sm-3: var(--full-size-2);
  --full-space-sm-4: var(--full-size-12);
  --full-space-sm-5: var(--full-size-16);
  --full-space-sm-6: var(--full-size-16);

  --full-space-xs-1: var(--full-space-sm-1);
  --full-space-xs-2: var(--full-space-sm-2);
  --full-space-xs-3: var(--full-space-sm-3);
  --full-space-xs-4: var(--full-space-sm-4);
  --full-space-xs-5: var(--full-space-sm-5);
  --full-space-xs-6: var(--full-space-sm-6);
}
