:root, 
.size-small, 
.size-medium, 
.size-large, 
.compact {
  --gutter: 5vw;
  --spacer: calc(var(--space-6) + 5vw);

  --scale: config.size.scale;
  --space-scale: config.size.space;
  --radius-scale: config.size.radius;
  --text-scale: config.size.text;

  --space-1: calc(4px  * var(--scale) * var(--space-scale) * var(--space-x));
  --space-2: calc(8px  * var(--scale) * var(--space-scale) * var(--space-x));
  --space-3: calc(16px * var(--scale) * var(--space-scale) * var(--space-x));
  --space-4: calc(24px * var(--scale) * var(--space-scale) * var(--space-x));
  --space-5: calc(32px * var(--scale) * var(--space-scale) * var(--space-x));
  --space-6: calc(48px * var(--scale) * var(--space-scale) * var(--space-x));

  --radius-1: calc(4px  * var(--scale) * var(--radius-scale) * var(--radius-x));
  --radius-2: calc(8px  * var(--scale) * var(--radius-scale) * var(--radius-x));
  --radius-3: calc(16px * var(--scale) * var(--radius-scale) * var(--radius-x));
}

.compact.size-small, 
.compact .size-small, 
.size-small .compact {
  --space-x: 0.625;
  --radius-x: 0.625;
  --text-1: calc(12px * var(--scale));
  --text-2: calc(13px * var(--scale));
  --text-3: calc(15px * var(--scale));

  @media (min-width: 1024px) {
    --space-x: 0.75;
    --radius-x: 0.75;
    --text-1: calc(13px * var(--scale));
    --text-2: calc(14px * var(--scale));
    --text-3: calc(16px * var(--scale));
  }
}

.compact, 
.compact.size-medium, 
.compact .size-medium, 
.size-medium .compact {
  --space-x: 0.75;
  --radius-x: 0.75;
  --text-1: calc(13px * var(--scale));
  --text-2: calc(14px * var(--scale));
  --text-3: calc(16px * var(--scale));

  @media (min-width: 1024px) {
    --space-x: 0.875;
    --radius-x: 0.875;
    --text-1: calc(14px * var(--scale));
    --text-2: calc(15px * var(--scale));
    --text-3: calc(17px * var(--scale));
  }
}

.compact.size-large, 
.compact .size-large, 
.size-large .compact {
  --space-x: 0.875;
  --radius-x: 0.875;
  --text-1: calc(14px * var(--scale));
  --text-2: calc(15px * var(--scale));
  --text-3: calc(17px * var(--scale));

  @media (min-width: 1024px) {
    --space-x: 1;
    --radius-x: 1;
    --text-1: calc(15px * var(--scale));
    --text-2: calc(16px * var(--scale));
    --text-3: calc(18px * var(--scale));
  }
}

.size-small {
  --space-x: 0.75;
  --radius-x: 0.75;
  --text-1: calc(12px * var(--scale) * var(--text-scale));
  --text-2: calc(14px * var(--scale) * var(--text-scale));
  --text-3: calc(22px * var(--scale) * var(--text-scale));
  
  @media (min-width: 1024px) {
    --space-x: 1;
    --radius-x: 1;
    --text-1: calc(14px * var(--scale));
    --text-2: calc(16px * var(--scale));
    --text-3: calc(32px * var(--scale));
  }
}

:root, 
.size-medium {
  --space-x: 1;
  --radius-x: 1;
  --text-1: calc(14px * var(--scale) * var(--text-scale));
  --text-2: calc(16px * var(--scale) * var(--text-scale));
  --text-3: calc(28px * var(--scale) * var(--text-scale));

  @media (min-width: 1024px) {
    --space-x: 1.25;
    --radius-x: 1.25;
    --text-1: calc(16px * var(--scale));
    --text-2: calc(18px * var(--scale));
    --text-3: calc(35px * var(--scale));
  }
}

.size-large {
  --space-x: 1.25;
  --radius-x: 1.25;
  --text-1: calc(16px * var(--scale) * var(--text-scale));
  --text-2: calc(18px * var(--scale) * var(--text-scale));
  --text-3: calc(48px * var(--scale) * var(--text-scale));

  @media (min-width: 1024px) {
    --space-x: 1.5;
    --radius-x: 1.5;
    --text-1: calc(18px * var(--scale));
    --text-2: calc(20px * var(--scale));
    --text-3: calc(60px * var(--scale));
  }
}