:root,
.full.density-base {
  --space-sm-1: 3px;
  --space-sm-2: 6px;
  --space-sm-3: 12px;
  --space-sm-4: 24px;
  --space-sm-5: 48px;
  --space-sm-6: 96px;
  --space-md-1: 4px;
  --space-md-2: 8px;
  --space-md-3: 16px;
  --space-md-4: 32px;
  --space-md-5: 64px;
  --space-md-6: 128px;
  --space-lg-1: 5px;
  --space-lg-2: 10px;
  --space-lg-3: 20px;
  --space-lg-4: 40px;
  --space-lg-5: 80px;
  --space-lg-6: 160px;

  --element-sm-1: 6px;
  --element-sm-2: 9px;
  --element-sm-3: 12px;
  --element-md-1: 8px;
  --element-md-2: 12px;
  --element-md-3: 16px;
  --element-lg-1: 10px;
  --element-lg-2: 16px;
  --element-lg-3: 20px;

  --text-sm-1: 12px;
  --text-sm-2: 14px;
  --text-sm-3: 20px;
  --text-sm-4: 24px;
  --text-sm-5: 30px;
  --text-md-1: 14px;
  --text-md-2: 16px;
  --text-md-3: 24px;
  --text-md-4: 30px;
  --text-md-5: 36px;
  --text-lg-1: 16px;
  --text-lg-2: 18px;
  --text-lg-3: 30px;
  --text-lg-4: 36px;
  --text-lg-5: 36px;

  @media (min-width: 1024px) {
    --text-sm-1: 14px;
    --text-sm-2: 16px;
    --text-sm-3: 24px;
    --text-sm-4: 30px;
    --text-sm-5: 36px;
    --text-md-1: 16px;
    --text-md-2: 18px;
    --text-md-3: 30px;
    --text-md-4: 36px;
    --text-md-5: 48px;
    --text-lg-1: 16px;
    --text-lg-2: 20px;
    --text-lg-3: 36px;
    --text-lg-4: 48px;
    --text-lg-5: 60px;
  }
}

.full.density-compact {
  --space-sm-1: 3px;
  --space-sm-2: 6px;
  --space-sm-3: 9px;
  --space-sm-4: 12px;
  --space-sm-5: 15px;
  --space-sm-6: 18px;
  --space-md-1: 4px;
  --space-md-2: 8px;
  --space-md-3: 12px;
  --space-md-4: 16px;
  --space-md-5: 20px;
  --space-md-6: 24px;
  --space-lg-1: 5px;
  --space-lg-2: 10px;
  --space-lg-3: 15px;
  --space-lg-4: 20px;
  --space-lg-5: 25px;
  --space-lg-6: 30px;

  --element-sm-1: 6px;
  --element-sm-2: 8px;
  --element-sm-3: 10px;
  --element-md-1: 8px;
  --element-md-2: 10px;
  --element-md-3: 12px;
  --element-lg-1: 10px;
  --element-lg-2: 12px;
  --element-lg-3: 14px;

  --text-sm-1: 12px;
  --text-sm-2: 12px;
  --text-sm-3: 12px;
  --text-sm-4: 14px;
  --text-sm-5: 16px;
  --text-md-1: 14px;
  --text-md-2: 14px;
  --text-md-3: 14px;
  --text-md-4: 16px;
  --text-md-5: 18px;
  --text-lg-1: 14px;
  --text-lg-2: 16px;
  --text-lg-3: 16px;
  --text-lg-4: 18px;
  --text-lg-5: 20px;

  @media (min-width: 1024px) {
    --text-sm-1: 12px;
    --text-sm-2: 14px;
    --text-sm-3: 14px;
    --text-sm-4: 16px;
    --text-sm-5: 18px;
    --text-md-1: 14px;
    --text-md-2: 16px;
    --text-md-3: 16px;
    --text-md-4: 18px;
    --text-md-5: 20px;
    --text-lg-1: 16px;
    --text-lg-2: 18px;
    --text-lg-3: 18px;
    --text-lg-4: 20px;
    --text-lg-5: 24px;
  }
}

/* --------------------------- */
/* Generate sizes */
/* --------------------------- */

.full.size-sm,
.full.size-sm
  *:not(
    .full.size-sm,
    .full.size-sm *,
    .full.size-md,
    .full.size-md *,
    .full.size-lg,
    .full.size-lg *,

  ) {
  --space-1: var(--space-sm-1);
  --space-2: var(--space-sm-2);
  --space-3: var(--space-sm-3);
  --space-4: var(--space-sm-4);
  --space-5: var(--space-sm-5);
  --space-6: var(--space-sm-6);

  --element-1: var(--element-sm-1);
  --element-2: var(--element-sm-2);
  --element-3: var(--element-sm-3);

  --text-1: var(--text-sm-1);
  --text-2: var(--text-sm-2);
  --text-3: var(--text-sm-3);
  --text-4: var(--text-sm-4);
  --text-5: var(--text-sm-5);

  --radius-1: calc(var(--border-radius, 1) * var(--element-sm-1));
  --radius-2: calc(var(--border-radius, 1) * var(--element-sm-2));
  --radius-3: calc(var(--border-radius, 1) * var(--element-sm-3));
}

:root,
:where([class*='density-']),
.full.size-md,
.full.size-md
  *:not(
    .full.size-sm,
    .full.size-sm *,
    .full.size-md,
    .full.size-md *,
    .full.size-lg,
    .full.size-lg *,

  ) {
  --space-1: var(--space-md-1);
  --space-2: var(--space-md-2);
  --space-3: var(--space-md-3);
  --space-4: var(--space-md-4);
  --space-5: var(--space-md-5);
  --space-6: var(--space-md-6);

  --element-1: var(--element-md-1);
  --element-2: var(--element-md-2);
  --element-3: var(--element-md-3);

  --text-1: var(--text-md-1);
  --text-2: var(--text-md-2);
  --text-3: var(--text-md-3);
  --text-4: var(--text-md-4);
  --text-5: var(--text-md-5);

  --radius-1: calc(var(--border-radius, 1) * var(--element-md-1));
  --radius-2: calc(var(--border-radius, 1) * var(--element-md-2));
  --radius-3: calc(var(--border-radius, 1) * var(--element-md-3));
}

.full.size-lg,
.full.size-lg
  *:not(
    .full.size-sm,
    .full.size-sm *,
    .full.size-md,
    .full.size-md *,
    .full.size-lg,
    .full.size-lg *,

  ) {
  --space-1: var(--space-lg-1);
  --space-2: var(--space-lg-2);
  --space-3: var(--space-lg-3);
  --space-4: var(--space-lg-4);
  --space-5: var(--space-lg-5);
  --space-6: var(--space-lg-6);

  --element-1: var(--element-lg-1);
  --element-2: var(--element-lg-2);
  --element-3: var(--element-lg-3);

  --text-1: var(--text-lg-1);
  --text-2: var(--text-lg-2);
  --text-3: var(--text-lg-3);
  --text-4: var(--text-lg-4);
  --text-5: var(--text-lg-5);

  --radius-1: calc(var(--border-radius, 1) * var(--element-lg-1));
  --radius-2: calc(var(--border-radius, 1) * var(--element-lg-2));
  --radius-3: calc(var(--border-radius, 1) * var(--element-lg-3));
}
