:root {
  --full-element-2xl-1: var(--full-element-lg-1);
  --full-element-2xl-2: var(--full-element-lg-2);
  --full-element-2xl-3: var(--full-element-lg-3);

  --full-element-xl-1: var(--full-element-lg-1);
  --full-element-xl-2: var(--full-element-lg-2);
  --full-element-xl-3: var(--full-element-lg-3);

  --full-element-lg-1: var(--full-size-12);
  --full-element-lg-2: var(--full-size-16);
  --full-element-lg-3: var(--full-size-20);

  --full-element-md-1: var(--full-size-8);
  --full-element-md-2: var(--full-size-12);
  --full-element-md-3: var(--full-size-16);

  --full-element-sm-1: var(--full-size-8);
  --full-element-sm-2: var(--full-size-10);
  --full-element-sm-3: var(--full-size-12);

  --full-element-xs-1: var(--full-element-sm-1);
  --full-element-xs-2: var(--full-element-sm-2);
  --full-element-xs-3: var(--full-element-sm-3);
}

.full-compact {
  --full-element-2xl-1: var(--full-element-lg-1);
  --full-element-2xl-2: var(--full-element-lg-2);
  --full-element-2xl-3: var(--full-element-lg-3);

  --full-element-xl-1: var(--full-element-lg-1);
  --full-element-xl-2: var(--full-element-lg-2);
  --full-element-xl-3: var(--full-element-lg-3);

  --full-element-lg-1: var(--full-size-10);
  --full-element-lg-2: var(--full-size-12);
  --full-element-lg-3: var(--full-size-14);

  --full-element-md-1: var(--full-size-8);
  --full-element-md-2: var(--full-size-10);
  --full-element-md-3: var(--full-size-12);

  --full-element-sm-1: var(--full-size-6);
  --full-element-sm-2: var(--full-size-8);
  --full-element-sm-3: var(--full-size-10);

  --full-element-xs-1: var(--full-element-sm-1);
  --full-element-xs-2: var(--full-element-sm-2);
  --full-element-xs-3: var(--full-element-sm-3);
}
