:root {
  --full-text-2xl-3: var(--full-text-lg-3);
  --full-text-2xl-2: var(--full-text-lg-2);
  --full-text-2xl-1: var(--full-text-lg-1);

  --full-text-xl-3: var(--full-text-lg-3);
  --full-text-xl-2: var(--full-text-lg-2);
  --full-text-xl-1: var(--full-text-lg-1);

  --full-text-lg-3: var(--full-size-36);
  --full-text-lg-2: var(--full-size-18);
  --full-text-lg-1: var(--full-size-16);

  --full-text-md-3: var(--full-size-30);
  --full-text-md-2: var(--full-size-16);
  --full-text-md-1: var(--full-size-14);

  --full-text-sm-3: var(--full-size-24);
  --full-text-sm-2: var(--full-size-14);
  --full-text-sm-1: var(--full-size-14);

  --full-text-xs-3: var(--full-text-sm-3);
  --full-text-xs-2: var(--full-text-sm-2);
  --full-text-xs-1: var(--full-text-sm-1);

  @media (min-width: 1024px) {
    --full-text-2xl-3: var(--full-size-72);
    --full-text-2xl-2: var(--full-text-lg-2);
    --full-text-2xl-1: var(--full-text-lg-1);

    --full-text-xl-3: var(--full-size-60);
    --full-text-xl-2: var(--full-text-lg-2);
    --full-text-xl-1: var(--full-text-lg-1);

    --full-text-lg-3: var(--full-size-48);
    --full-text-lg-2: var(--full-size-20);
    --full-text-lg-1: var(--full-size-16);

    --full-text-md-3: var(--full-size-36);
    --full-text-md-2: var(--full-size-18);
    --full-text-md-1: var(--full-size-16);

    --full-text-sm-3: var(--full-size-30);
    --full-text-sm-2: var(--full-size-16);
    --full-text-sm-1: var(--full-size-14);

    --full-text-xs-3: var(--full-size-24);
    --full-text-xs-2: var(--full-text-sm-2);
    --full-text-xs-1: var(--full-text-sm-1);
  }
}

.full-compact {
  --full-text-2xl-3: var(--full-text-lg-3);
  --full-text-2xl-2: var(--full-text-lg-2);
  --full-text-2xl-1: var(--full-text-lg-1);

  --full-text-xl-3: var(--full-text-lg-3);
  --full-text-xl-2: var(--full-text-lg-2);
  --full-text-xl-1: var(--full-text-lg-1);

  --full-text-lg-3: var(--full-size-18);
  --full-text-lg-2: var(--full-size-16);
  --full-text-lg-1: var(--full-size-16);

  --full-text-md-3: var(--full-size-16);
  --full-text-md-2: var(--full-size-14);
  --full-text-md-1: var(--full-size-14);

  --full-text-sm-3: var(--full-size-14);
  --full-text-sm-2: var(--full-size-12);
  --full-text-sm-1: var(--full-size-12);

  --full-text-xs-3: var(--full-text-sm-3);
  --full-text-xs-2: var(--full-text-sm-2);
  --full-text-xs-1: var(--full-text-sm-1);

  @media (min-width: 1024px) {
    --full-text-2xl-3: var(--full-text-lg-3);
    --full-text-2xl-2: var(--full-text-lg-2);
    --full-text-2xl-1: var(--full-text-lg-1);

    --full-text-xl-3: var(--full-text-lg-3);
    --full-text-xl-2: var(--full-text-lg-2);
    --full-text-xl-1: var(--full-text-lg-1);

    --full-text-lg-3: var(--full-size-20);
    --full-text-lg-2: var(--full-size-18);
    --full-text-lg-1: var(--full-size-14);

    --full-text-md-3: var(--full-size-18);
    --full-text-md-2: var(--full-size-16);
    --full-text-md-1: var(--full-size-14);

    --full-text-sm-3: var(--full-size-16);
    --full-text-sm-2: var(--full-size-14);
    --full-text-sm-1: var(--full-size-12);

    --full-text-xs-3: var(--full-size-sm-3);
    --full-text-xs-2: var(--full-text-sm-2);
    --full-text-xs-1: var(--full-text-sm-1);
  }
}
