:root {
  --media: 1536px;
  --space-gutter: max(4vw, calc((100vw - var(--media)) / 2));
  --space-spacer: calc(var(--space-5) + 4vw);

  --space-2xl-1: var(--space-lg-1);
  --space-2xl-2: var(--space-lg-2);
  --space-2xl-3: var(--space-lg-3);
  --space-2xl-4: var(--space-lg-4);
  --space-2xl-5: var(--space-lg-5);
  --space-2xl-6: var(--space-lg-6);

  --space-xl-1: var(--space-lg-1);
  --space-xl-2: var(--space-lg-2);
  --space-xl-3: var(--space-lg-3);
  --space-xl-4: var(--space-lg-4);
  --space-xl-5: var(--space-lg-5);
  --space-xl-6: var(--space-lg-6);

  --space-lg-1: var(--full-size-4);
  --space-lg-2: var(--full-size-10);
  --space-lg-3: var(--full-size-20);
  --space-lg-4: var(--full-size-40);
  --space-lg-5: var(--full-size-80);
  --space-lg-6: var(--full-size-160);

  --space-md-1: var(--full-size-4);
  --space-md-2: var(--full-size-8);
  --space-md-3: var(--full-size-16);
  --space-md-4: var(--full-size-32);
  --space-md-5: var(--full-size-64);
  --space-md-6: var(--full-size-128);

  --space-sm-1: var(--full-size-2);
  --space-sm-2: var(--full-size-6);
  --space-sm-3: var(--full-size-12);
  --space-sm-4: var(--full-size-24);
  --space-sm-5: var(--full-size-48);
  --space-sm-6: var(--full-size-96);

  --space-xs-1: var(--space-sm-1);
  --space-xs-2: var(--space-sm-2);
  --space-xs-3: var(--space-sm-3);
  --space-xs-4: var(--space-sm-4);
  --space-xs-5: var(--space-sm-5);
  --space-xs-6: var(--space-sm-6);
}

.full-compact {
  --space-2xl-1: var(--space-lg-1);
  --space-2xl-2: var(--space-lg-2);
  --space-2xl-3: var(--space-lg-3);
  --space-2xl-4: var(--space-lg-4);
  --space-2xl-5: var(--space-lg-5);
  --space-2xl-6: var(--space-lg-6);

  --space-xl-1: var(--space-lg-1);
  --space-xl-2: var(--space-lg-2);
  --space-xl-3: var(--space-lg-3);
  --space-xl-4: var(--space-lg-4);
  --space-xl-5: var(--space-lg-5);
  --space-xl-6: var(--space-lg-6);

  --space-lg-1: var(--full-size-6);
  --space-lg-2: var(--full-size-8);
  --space-lg-3: var(--full-size-12);
  --space-lg-4: var(--full-size-20);
  --space-lg-5: var(--full-size-24);
  --space-lg-6: var(--full-size-32);

  --space-md-1: var(--full-size-4);
  --space-md-2: var(--full-size-6);
  --space-md-3: var(--full-size-8);
  --space-md-4: var(--full-size-12);
  --space-md-5: var(--full-size-20);
  --space-md-6: var(--full-size-28);

  --space-sm-1: var(--full-size-2);
  --space-sm-2: var(--full-size-2);
  --space-sm-3: var(--full-size-2);
  --space-sm-4: var(--full-size-12);
  --space-sm-5: var(--full-size-16);
  --space-sm-6: var(--full-size-16);

  --space-xs-1: var(--space-sm-1);
  --space-xs-2: var(--space-sm-2);
  --space-xs-3: var(--space-sm-3);
  --space-xs-4: var(--space-sm-4);
  --space-xs-5: var(--space-sm-5);
  --space-xs-6: var(--space-sm-6);
}
