:root {
  --full-size-2: 0.125rem;
  --full-size-4: 0.25rem;
  --full-size-6: 0.375rem;
  --full-size-8: 0.5rem;
  --full-size-10: 0.625rem;
  --full-size-12: 0.75rem;
  --full-size-14: 0.875rem;
  --full-size-16: 1rem;
  --full-size-18: 1.125rem;
  --full-size-20: 1.25rem;
  --full-size-24: 1.5rem;
  --full-size-30: 1.875rem;
  --full-size-32: 2rem;
  --full-size-36: 2.25rem;
  --full-size-40: 2.5rem;
  --full-size-48: 3rem;
  --full-size-60: 3.75rem;
  --full-size-64: 4rem;
  --full-size-72: 4.5rem;
  --full-size-80: 5rem;
  --full-size-96: 6rem;
  --full-size-128: 8rem;
  --full-size-160: 10rem;
  --full-size-192: 12rem;
}

.full-size-2xl,
.full-size-2xl
  *:not(
    .full-size-xs,
    .full-size-sm,
    .full-size-md,
    .full-size-lg,
    .full-size-xl,
    .full-size-2xl
  ) {
  --full-text-3: var(--full-text-2xl-3);
  --full-text-2: var(--full-text-2xl-2);
  --full-text-1: var(--full-text-2xl-1);

  --full-space-1: var(--full-space-2xl-1);
  --full-space-2: var(--full-space-2xl-2);
  --full-space-3: var(--full-space-2xl-3);
  --full-space-4: var(--full-space-2xl-4);
  --full-space-5: var(--full-space-2xl-5);
  --full-space-6: var(--full-space-2xl-6);

  --full-element-1: var(--full-element-2xl-1);
  --full-element-2: var(--full-element-2xl-2);
}

.full-size-xl,
.full-size-xl
  *:not(
    .full-size-xs,
    .full-size-sm,
    .full-size-md,
    .full-size-lg,
    .full-size-xl,
    .full-size-2xl
  ) {
  --full-text-3: var(--full-text-xl-3);
  --full-text-2: var(--full-text-xl-2);
  --full-text-1: var(--full-text-xl-1);

  --full-space-1: var(--full-space-xl-1);
  --full-space-2: var(--full-space-xl-2);
  --full-space-3: var(--full-space-xl-3);
  --full-space-4: var(--full-space-xl-4);
  --full-space-5: var(--full-space-xl-5);
  --full-space-6: var(--full-space-xl-6);

  --full-element-1: var(--full-element-xl-1);
  --full-element-2: var(--full-element-xl-2);
}

.full-size-lg,
.full-size-lg
  *:not(
    .full-size-xs,
    .full-size-sm,
    .full-size-md,
    .full-size-lg,
    .full-size-xl,
    .full-size-2xl
  ) {
  --full-text-3: var(--full-text-lg-3);
  --full-text-2: var(--full-text-lg-2);
  --full-text-1: var(--full-text-lg-1);

  --full-space-1: var(--full-space-lg-1);
  --full-space-2: var(--full-space-lg-2);
  --full-space-3: var(--full-space-lg-3);
  --full-space-4: var(--full-space-lg-4);
  --full-space-5: var(--full-space-lg-5);
  --full-space-6: var(--full-space-lg-6);

  --full-element-1: var(--full-element-lg-1);
  --full-element-2: var(--full-element-lg-2);
}

:root,
.full-size-md,
.full-size-md
  *:not(
    .full-size-xs,
    .full-size-sm,
    .full-size-md,
    .full-size-lg,
    .full-size-xl,
    .full-size-2xl
  ),
:where(:root)
  *:not(
    .full-size-xs,
    .full-size-sm,
    .full-size-md,
    .full-size-lg,
    .full-size-xl,
    .full-size-2xl
  ) {
  --full-text-3: var(--full-text-md-3);
  --full-text-2: var(--full-text-md-2);
  --full-text-1: var(--full-text-md-1);

  --full-space-1: var(--full-space-md-1);
  --full-space-2: var(--full-space-md-2);
  --full-space-3: var(--full-space-md-3);
  --full-space-4: var(--full-space-md-4);
  --full-space-5: var(--full-space-md-5);
  --full-space-6: var(--full-space-md-6);

  --full-element-1: var(--full-element-md-1);
  --full-element-2: var(--full-element-md-2);
}

.full-size-sm,
.full-size-sm
  *:not(
    .full-size-xs,
    .full-size-sm,
    .full-size-md,
    .full-size-lg,
    .full-size-xl,
    .full-size-2xl
  ) {
  --full-text-3: var(--full-text-sm-3);
  --full-text-2: var(--full-text-sm-2);
  --full-text-1: var(--full-text-sm-1);

  --full-space-1: var(--full-space-sm-1);
  --full-space-2: var(--full-space-sm-2);
  --full-space-3: var(--full-space-sm-3);
  --full-space-4: var(--full-space-sm-4);
  --full-space-5: var(--full-space-sm-5);
  --full-space-6: var(--full-space-sm-6);

  --full-element-1: var(--full-element-sm-1);
  --full-element-2: var(--full-element-sm-2);
}

.full-size-xs,
.full-size-xs
  *:not(
    .full-size-xs,
    .full-size-sm,
    .full-size-md,
    .full-size-lg,
    .full-size-xl,
    .full-size-2xl
  ) {
  --full-text-3: var(--full-text-xs-3);
  --full-text-2: var(--full-text-xs-2);
  --full-text-1: var(--full-text-xs-1);

  --full-space-1: var(--full-space-xs-1);
  --full-space-2: var(--full-space-xs-2);
  --full-space-3: var(--full-space-xs-3);
  --full-space-4: var(--full-space-xs-4);
  --full-space-5: var(--full-space-xs-5);
  --full-space-6: var(--full-space-xs-6);

  --full-element-1: var(--full-element-xs-1);
  --full-element-2: var(--full-element-xs-2);
}
