:root {
  --space-sm-1: 3px;
  --space-sm-2: 6px;
  --space-sm-3: 12px;
  --space-sm-4: 24px;
  --space-sm-5: 48px;
  --space-sm-6: 72px;
  --space-md-1: 4px;
  --space-md-2: 8px;
  --space-md-3: 16px;
  --space-md-4: 32px;
  --space-md-5: 64px;
  --space-md-6: 96px;
  --space-lg-1: 5px;
  --space-lg-2: 10px;
  --space-lg-3: 20px;
  --space-lg-4: 40px;
  --space-lg-5: 80px;
  --space-lg-6: 120px;

  --element-sm-1: 6px;
  --element-sm-2: 9px;
  --element-sm-3: 12px;
  --element-md-1: 8px;
  --element-md-2: 12px;
  --element-md-3: 16px;
  --element-lg-1: 10px;
  --element-lg-2: 16px;
  --element-lg-3: 20px;

  --text-label-sm: 12px;
  --text-label-md: 14px;
  --text-label-lg: 16px;

  --text-body-xs: 12px;
  --text-body-sm: 14px;
  --text-body-md: 16px;
  --text-body-lg: 18px;
  --text-body-xl: 20px;

  --text-heading-xs: 16px;
  --text-heading-sm: 18px;
  --text-heading-md: 20px;
  --text-heading-lg: 24px;
  --text-heading-xl: 30px;
  --text-heading-2xl: 36px;
  --text-heading-3xl: 48px;
  --text-heading-4xl: 48px;
  --text-heading-5xl: 60px;

  @media (min-width: 768px) {
    --text-heading-xs: 16px;
    --text-heading-sm: 20px;
    --text-heading-md: 24px;
    --text-heading-lg: 30px;
    --text-heading-xl: 36px;
    --text-heading-2xl: 48px;
    --text-heading-3xl: 60px;
    --text-heading-4xl: 72px;
    --text-heading-5xl: 96px;
  }
}

.compact {
  --space-sm-1: 3px;
  --space-sm-2: 6px;
  --space-sm-3: 9px;
  --space-sm-4: 12px;
  --space-sm-5: 15px;
  --space-sm-6: 18px;
  --space-md-1: 4px;
  --space-md-2: 8px;
  --space-md-3: 12px;
  --space-md-4: 16px;
  --space-md-5: 20px;
  --space-md-6: 24px;
  --space-lg-1: 5px;
  --space-lg-2: 10px;
  --space-lg-3: 15px;
  --space-lg-4: 20px;
  --space-lg-5: 25px;
  --space-lg-6: 30px;

  --element-sm-1: 6px;
  --element-sm-2: 8px;
  --element-sm-3: 10px;
  --element-md-1: 8px;
  --element-md-2: 10px;
  --element-md-3: 12px;
  --element-lg-1: 10px;
  --element-lg-2: 12px;
  --element-lg-3: 14px;

  --text-heading-xs: 16px;
  --text-heading-sm: 18px;
  --text-heading-md: 20px;
  --text-heading-lg: 24px;
  --text-heading-xl: 30px;
  --text-heading-2xl: 30px;
  --text-heading-3xl: 30px;
  --text-heading-4xl: 30px;
  --text-heading-5xl: 30px;
}

/* --------------------------- */
/* Generate sizes */
/* --------------------------- */

.size-xs,
.size-xs
  .compact:not(.size-xs [class*='size-'] .compact):not(
    .size-xs [class*='size-'].compact
  ) {
  --space-1: var(--space-sm-1);
  --space-2: var(--space-sm-2);
  --space-3: var(--space-sm-3);
  --space-4: var(--space-sm-4);
  --space-5: var(--space-sm-5);
  --space-6: var(--space-sm-6);

  --element-1: var(--element-sm-1);
  --element-2: var(--element-sm-2);
  --element-3: var(--element-sm-3);

  --radius-1: calc(var(--border-radius, 1) * var(--element-sm-1));
  --radius-2: calc(var(--border-radius, 1) * var(--element-sm-2));
  --radius-3: calc(var(--border-radius, 1) * var(--element-sm-3));

  --text-label: var(--text-label-sm);
  --text-body: var(--text-body-xs);
  --text-heading: var(--text-heading-xs);
}

.size-sm,
.size-sm
  .compact:not(.size-sm [class*='size-'] .compact):not(
    .size-sm [class*='size-'].compact
  ) {
  --space-1: var(--space-sm-1);
  --space-2: var(--space-sm-2);
  --space-3: var(--space-sm-3);
  --space-4: var(--space-sm-4);
  --space-5: var(--space-sm-5);
  --space-6: var(--space-sm-6);

  --element-1: var(--element-sm-1);
  --element-2: var(--element-sm-2);
  --element-3: var(--element-sm-3);

  --radius-1: calc(var(--border-radius, 1) * var(--element-sm-1));
  --radius-2: calc(var(--border-radius, 1) * var(--element-sm-2));
  --radius-3: calc(var(--border-radius, 1) * var(--element-sm-3));

  --text-label: var(--text-label-sm);
  --text-body: var(--text-body-sm);
  --text-heading: var(--text-heading-sm);
}

:where(:root),
:where(.compact),
.size-md,
.size-md
  .compact:not(.size-md [class*='size-'] .compact):not(
    .size-md [class*='size-'].compact
  ) {
  --space-1: var(--space-md-1);
  --space-2: var(--space-md-2);
  --space-3: var(--space-md-3);
  --space-4: var(--space-md-4);
  --space-5: var(--space-md-5);
  --space-6: var(--space-md-6);

  --element-1: var(--element-md-1);
  --element-2: var(--element-md-2);
  --element-3: var(--element-md-3);

  --radius-1: calc(var(--border-radius, 1) * var(--element-md-1));
  --radius-2: calc(var(--border-radius, 1) * var(--element-md-2));
  --radius-3: calc(var(--border-radius, 1) * var(--element-md-3));

  --text-label: var(--text-label-md);
  --text-body: var(--text-body-md);
  --text-heading: var(--text-heading-md);
}

.size-lg,
.size-lg
  .compact:not(.size-lg [class*='size-'] .compact):not(
    .size-lg [class*='size-'].compact
  ) {
  --space-1: var(--space-lg-1);
  --space-2: var(--space-lg-2);
  --space-3: var(--space-lg-3);
  --space-4: var(--space-lg-4);
  --space-5: var(--space-lg-5);
  --space-6: var(--space-lg-6);

  --element-1: var(--element-lg-1);
  --element-2: var(--element-lg-2);
  --element-3: var(--element-lg-3);

  --radius-1: calc(var(--border-radius, 1) * var(--element-lg-1));
  --radius-2: calc(var(--border-radius, 1) * var(--element-lg-2));
  --radius-3: calc(var(--border-radius, 1) * var(--element-lg-3));

  --text-label: var(--text-label-lg);
  --text-body: var(--text-body-lg);
  --text-heading: var(--text-heading-lg);
}

.size-xl,
.size-xl
  .compact:not(.size-xl [class*='size-'] .compact):not(
    .size-xl [class*='size-'].compact
  ) {
  --space-1: var(--space-lg-1);
  --space-2: var(--space-lg-2);
  --space-3: var(--space-lg-3);
  --space-4: var(--space-lg-4);
  --space-5: var(--space-lg-5);
  --space-6: var(--space-lg-6);

  --element-1: var(--element-lg-1);
  --element-2: var(--element-lg-2);
  --element-3: var(--element-lg-3);

  --radius-1: calc(var(--border-radius, 1) * var(--element-lg-1));
  --radius-2: calc(var(--border-radius, 1) * var(--element-lg-2));
  --radius-3: calc(var(--border-radius, 1) * var(--element-lg-3));

  --text-label: var(--text-label-lg);
  --text-body: var(--text-body-xl);
  --text-heading: var(--text-heading-xl);
}

.size-2xl,
.size-2xl
  .compact:not(.size-2xl [class*='size-'] .compact):not(
    .size-2xl [class*='size-'].compact
  ) {
  --space-1: var(--space-lg-1);
  --space-2: var(--space-lg-2);
  --space-3: var(--space-lg-3);
  --space-4: var(--space-lg-4);
  --space-5: var(--space-lg-5);
  --space-6: var(--space-lg-6);

  --element-1: var(--element-lg-1);
  --element-2: var(--element-lg-2);
  --element-3: var(--element-lg-3);

  --radius-1: calc(var(--border-radius, 1) * var(--element-lg-1));
  --radius-2: calc(var(--border-radius, 1) * var(--element-lg-2));
  --radius-3: calc(var(--border-radius, 1) * var(--element-lg-3));

  --text-label: var(--text-label-lg);
  --text-body: var(--text-body-xl);
  --text-heading: var(--text-heading-2xl);
}

.size-3xl,
.size-3xl
  .compact:not(.size-3xl [class*='size-'] .compact):not(
    .size-3xl [class*='size-'].compact
  ) {
  --space-1: var(--space-lg-1);
  --space-2: var(--space-lg-2);
  --space-3: var(--space-lg-3);
  --space-4: var(--space-lg-4);
  --space-5: var(--space-lg-5);
  --space-6: var(--space-lg-6);

  --element-1: var(--element-lg-1);
  --element-2: var(--element-lg-2);
  --element-3: var(--element-lg-3);

  --radius-1: calc(var(--border-radius, 1) * var(--element-lg-1));
  --radius-2: calc(var(--border-radius, 1) * var(--element-lg-2));
  --radius-3: calc(var(--border-radius, 1) * var(--element-lg-3));

  --text-label: var(--text-label-lg);
  --text-body: var(--text-body-xl);
  --text-heading: var(--text-heading-3xl);
}

.size-4xl,
.size-4xl
  .compact:not(.size-4xl [class*='size-'] .compact):not(
    .size-4xl [class*='size-'].compact
  ) {
  --space-1: var(--space-lg-1);
  --space-2: var(--space-lg-2);
  --space-3: var(--space-lg-3);
  --space-4: var(--space-lg-4);
  --space-5: var(--space-lg-5);
  --space-6: var(--space-lg-6);

  --element-1: var(--element-lg-1);
  --element-2: var(--element-lg-2);
  --element-3: var(--element-lg-3);

  --radius-1: calc(var(--border-radius, 1) * var(--element-lg-1));
  --radius-2: calc(var(--border-radius, 1) * var(--element-lg-2));
  --radius-3: calc(var(--border-radius, 1) * var(--element-lg-3));

  --text-label: var(--text-label-lg);
  --text-body: var(--text-body-xl);
  --text-heading: var(--text-heading-4xl);
}

.size-5xl,
.size-5xl
  .compact:not(.size-5xl [class*='size-'] .compact):not(
    .size-5xl [class*='size-'].compact
  ) {
  --space-1: var(--space-lg-1);
  --space-2: var(--space-lg-2);
  --space-3: var(--space-lg-3);
  --space-4: var(--space-lg-4);
  --space-5: var(--space-lg-5);
  --space-6: var(--space-lg-6);

  --element-1: var(--element-lg-1);
  --element-2: var(--element-lg-2);
  --element-3: var(--element-lg-3);

  --radius-1: calc(var(--border-radius, 1) * var(--element-lg-1));
  --radius-2: calc(var(--border-radius, 1) * var(--element-lg-2));
  --radius-3: calc(var(--border-radius, 1) * var(--element-lg-3));

  --text-label: var(--text-label-lg);
  --text-body: var(--text-body-xl);
  --text-heading: var(--text-heading-5xl);
}
