.full + .full,
.full + .box,
.full + .masonry,
.full + .carousel,
.image + .full,
.icon + .full {
  --space-auto: var(--space-6);
}

.full + .group,
.full + .row,
.full + .wrap,
.full + .button,
.full + .price,
.full + .switch {
  --space-auto: var(--space-5);
}

.full + .heading,
.full + .link,
.full + .list,
.full + .paragraph,
.full + .text,
.full + .tagline,
.full + .input,
.full + .textarea,
.full + .select,
.full + .badge,
.full + .rating {
  --space-auto: var(--space-4);
}

.paragraph + .paragraph,
.text + .text,
.button + .button,
.input + .button {
  --space-auto: var(--space-3);
}

.full + .label,
.label + .input,
.label + .textarea,
.label + .select,
.icon + .icon {
  --space-auto: var(--space-2);
}

.rating + .text,
.text + .rating {
  --space-auto: var(--space-1);
}

.image + .full,
.icon + .full {
  --space-auto: var(--space-6);
}

/* // .button:not(.variant-link) + .button:not(.variant-link) {
//   margin-top: var(--space-3);
// }

// .variant-link + .variant-link{
//   margin-top: var(--space-2);
// } */
