@mixin space-x {
  > {
    .full + .full {
      margin-left: var(--space-6);
    }

    .full + .group,
    .full + .row,
    .full + .wrap,
    .full + .button,
    .full + .switch {
      margin-left: var(--space-5);
    }

    .full + .heading,
    .full + .link,
    .full + .list,
    .full + .paragraph,
    .full + .text,
    .full + .tagline,
    .full + .input,
    .full + .badge,
    .full + .rating {
      margin-left: var(--space-4);
    }

    .paragraph + .paragraph,
    .text + .text,
    .button + .button,
    .input + .button {
      margin-left: var(--space-3);
    }

    .full + .label,
    .icon + .icon,
    .label + .full {
      margin-left: var(--space-2);
    }

    .image + .full {
      margin-left: var(--space-6);
    }
  }
}

@mixin space-y {
  > {
    .full + .full,
    .full + .box,
    .full + .masonry {
      margin-top: var(--space-6);
    }

    .full + .group,
    .full + .row,
    .full + .wrap,
    .full + .button,
    .full + .price,
    .full + .switch {
      margin-top: var(--space-5);
    }

    .full + .heading,
    .full + .link,
    .full + .list,
    .full + .paragraph,
    .full + .text,
    .full + .tagline,
    .full + .input,
    .full + .textarea,
    .full + .select,
    .full + .badge,
    .full + .rating {
      margin-top: var(--space-4);
    }

    .paragraph + .paragraph,
    .text + .text,
    .button:not(.variant-link) + .button:not(.variant-link),
    .input + .button {
      margin-top: var(--space-3);
    }

    .label + .input,
    .variant-link + .variant-link,
    .label + .textarea,
    .full + .label,
    .label + .select {
      margin-top: var(--space-2);
    }

    .rating + .text,
    .text + .rating {
      margin-top: var(--space-1);
    }

    .image + .full,
    .icon + .full {
      margin-top: var(--space-6);
    }
  }
}
