/* BASE / MEDIUM */
:root,
.size-md {
  --media: 1536px;
  --gutter: max(4vw, calc((100vw - var(--media)) / 2));
  --spacer: calc(var(--space-6) + 4vw);
  --scale: 1;

  --space-1: 4px; /* space */
  --space-2: 8px; /* space */
  --space-3: 14px; /* space */
  --space-4: 28px; /* space */
  --space-5: 44px; /* height */
  --space-6: 56px; /* space */
  --space-7: 112px; /* space */

  @media (min-width: 1024px) {
    --space-1: 4px; /* space */
    --space-2: 8px; /* space */
    --space-3: 16px; /* space */
    --space-4: 32px; /* space */
    --space-5: 48px; /* height */
    --space-6: 64px; /* space */
    --space-7: 128px; /* space */
  }
}

/* SMALL */
.size-xs,
.size-sm {
  --space-1: 2px; /* space */
  --space-2: 6px; /* space */
  --space-3: 12px; /* space */
  --space-4: 24px; /* space */
  --space-5: 36px; /* Button height */
  --space-6: 48px; /* space */
  --space-7: 96px; /* space */

  @media (min-width: 1024px) {
    --space-1: 4px; /* space */
    --space-2: 8px; /* space */
    --space-3: 14px; /* space */
    --space-4: 28px; /* space */
    --space-5: 40px; /* Button height */
    --space-6: 56px; /* space */
    --space-7: 128px; /* space */
  }
}

/* LARGE */
.size-lg,
.size-xl,
.size-2xl {
  --space-1: 4px; /* space */
  --space-2: 8px; /* space */
  --space-3: 16px; /* space */
  --space-4: 32px; /* space */
  --space-5: 48px; /* Button height */
  --space-6: 64px; /* space */
  --space-7: 128px; /* space */

  @media (min-width: 1024px) {
    --space-1: 6px; /* space */
    --space-2: 10px; /* space */
    --space-3: 20px; /* space */
    --space-4: 40px; /* space */
    --space-5: 56px; /* Button height */
    --space-6: 80px; /* space */
    --space-7: 160px; /* space */
  }
}

.compact,
.compact * {
  --space-1: var(--space-compact-1);
  --space-2: var(--space-compact-2);
  --space-3: var(--space-compact-3);
}
