:root,
.size-md {
  --media: 1536px;
  --gutter: max(4vw, calc((100vw - var(--media)) / 2));
  --spacer: calc(var(--space-5) + 4vw);
  --scale: 1;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 32px;
  --space-5: 64px;

  --space-compact-1: 4px;
  --space-compact-2: 4px;
  --space-compact-3: 4px;
  --space-compact-4: 16px;
  --space-compact-5: 20px;
}

.size-xs,
.size-sm {
  --space-1: 2px;
  --space-2: 6px;
  --space-3: 12px;
  --space-4: 24px;
  --space-5: 48px;

  --space-compact-1: 2px;
  --space-compact-2: 2px;
  --space-compact-3: 2px;
  --space-compact-4: 12px;
  --space-compact-5: 16px;
}

.size-lg,
.size-xl,
.size-2xl {
  --space-1: 6px;
  --space-2: 12px;
  --space-3: 24px;
  --space-4: 48px;
  --space-5: 96px;

  --space-compact-1: 6px;
  --space-compact-2: 6px;
  --space-compact-3: 6px;
  --space-compact-4: 20px;
  --space-compact-5: 24px;
}

.compact,
.compact * {
  --space-1: var(--space-compact-1);
  --space-2: var(--space-compact-2);
  --space-3: var(--space-compact-3);
  --space-4: var(--space-compact-4);
  --space-5: var(--space-compact-5);
}
