:root {
  --media: 1536px;
  /* --gutter: max(4vw, calc((100vw - var(--media)) / 2));
  --spacer: calc(var(--space-6) + 4vw); */
  --gutter: 5vw;
  --spacer: 10vw;
  --scale: 1;
}

.size-xs {
  --space-3: 14px;
  --space-4: 18px;
  --space-5: 36px;

  @media (min-width: 1024px) {
    --space-3: 16px;
    --space-4: 20px;
    --space-5: 40px;
  }
}

.size-sm {
  --space-3: 16px;
  --space-4: 20px;
  --space-5: 40px;

  @media (min-width: 1024px) {
    --space-3: 18px;
    --space-4: 24px;
    --space-5: 44px;
  }
}

:root,
.size-md {
  --space-3: 18px;
  --space-4: 24px;
  --space-5: 44px;

  @media (min-width: 1024px) {
    --space-2: 16px;
    --space-3: 20px;
    --space-4: 28px;
    --space-5: 48px;
  }
}

.size-lg {
  --space-3: 20px;
  --space-4: 28px;
  --space-5: 48px;

  @media (min-width: 1024px) {
    --space-3: 24px;
    --space-4: 32px;
    --space-5: 56px;
  }
}

.size-xl {
  --space-2: 28px;
  --space-3: 20px;
  --space-4: 32px;
  --space-5: 56px;

  @media (min-width: 1024px) {
    --space-2: 20px;
    --space-3: 28px;
    --space-4: 36px;
    --space-5: 64px;
  }
}
