// ------------------------------------
// BASE VALUES
// ------------------------------------
:root
  --gutter 5vw
  --spacer 10vw
  --scale config.size.scale

  --space-xs 0.75rem
  --space-sm 0.875rem
  --space-md 1rem
  --space-lg 1.125rem
  --space-xl 1.25rem

  @media (min-width 1024px)
    --space-xs 0.875rem
    --space-sm 1rem
    --space-md 1.125rem
    --space-lg 1.25rem
    --space-xl 1.375rem

// ------------------------------------
// COMPACT VALUES
// ------------------------------------
.compact
  --space-xs 0.563rem
  --space-sm 0.656rem
  --space-md 0.75rem
  --space-lg 0.844rem
  --space-xl 0.938rem

  @media (min-width 1024px)
    --space-xs 0.656rem
    --space-sm 0.75rem
    --space-md 0.844rem
    --space-lg 0.938rem
    --space-xl 1.031rem

// ------------------------------------
// GENERATE VALUES
// ------------------------------------
Value(name, multiplier)
  unquote('calc(' + multiplier + '* var(--space-' + name + ') * var(--scale))')

Size(name)
  .size-{name}
    --space-1 Value(name, 0.25)
    --space-2 Value(name, 0.5)
    --space-3 Value(name, 1)
    --space-4 Value(name, 1.5)
    --space-5 Value(name, 2)
    --space-6 Value(name, 3)

Size('xs')
Size('sm')
Size('md')
Size('lg')
Size('xl')

:root 
  @extend .size-md

.compact
  @extend .size-md