// ------------------------------------
// BASE THEME SETTINGS
// ------------------------------------
:root, *  {
  --border-width: unquote(config.theme.border);
  --border-style: solid;
  --border: var(--border-width) var(--border-style) var(--border-color);
}

// ------------------------------------
// COLORS
// ------------------------------------
VarValue(value, step)
  {unquote('var(--' + value + '-' + step + ')')}

VarPair(name, value, step)
  {unquote('--' + name + '-' + step)}: VarValue(value, step)

:root, .light, .light-theme, .dark, .dark-theme
  for key, value in config['color']
    if value == 'orange' || value == 'amber'|| value == 'yellow' || value == 'lime' || value == 'mint' || value == 'sky' 
      {unquote('--' + key + '-fg')}: black;
    else
      {unquote('--' + key + '-fg')}: white;
    for step in (1..12)
      VarPair(key, value, step)
      VarPair(key, value, 'a' + step)
  
for key, value in config['color']
  :root, .color-{key}
    VarPair('color', key, 'fg')
    for step in (1..12)
      VarPair('color', key, step)
      VarPair('color', key, 'a' + step)


// ------------------------------------
// BASE VALUES
// ------------------------------------
:root
  --radius 1

// ------------------------------------
// UTILITY CLASSES
// ------------------------------------
.size-xs
  --radius-1 calc(var(--radius) * var(--space-xs) * 0.25)
  --radius-2 calc(var(--radius) * var(--space-xs) * 0.5)
  --radius-3 calc(var(--radius) * var(--space-xs) * 1)

.size-sm
  --radius-1 calc(var(--radius) * var(--space-sm) * 0.25)
  --radius-2 calc(var(--radius) * var(--space-sm) * 0.5)
  --radius-3 calc(var(--radius) * var(--space-sm) * 1)

:root, .size-md
  --radius-1 calc(var(--radius) * var(--space-md) * 0.25)
  --radius-2 calc(var(--radius) * var(--space-md) * 0.5)
  --radius-3 calc(var(--radius) * var(--space-md) * 1)

.size-lg
  --radius-1 calc(var(--radius) * var(--space-lg) * 0.25)
  --radius-2 calc(var(--radius) * var(--space-lg) * 0.5)
  --radius-3 calc(var(--radius) * var(--space-lg) * 1)

.size-xl
  --radius-1 calc(var(--radius) * var(--space-xl) * 0.25)
  --radius-2 calc(var(--radius) * var(--space-xl) * 0.5)
  --radius-3 calc(var(--radius) * var(--space-xl) * 1)

:root 
  @extend .size-md

.compact
  @extend .size-md