:root {
  --radius: 1;
  --border-style: 1px solid;
  --border: var(--border-style) var(--color-border);
  --full-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
}

:root,
.compact,
.size-xs,
.size-sm,
.size-md,
.size-lg,
.size-xl {
  --radius-1: calc(var(--radius) * var(--element-1) * 0.25);
  --radius-2: calc(var(--radius) * var(--element-1) * 0.5);
  --radius-3: calc(var(--radius) * var(--element-1) * 1);
}
