:root {
  --radius: 0.8;
  --border-style: 1px solid;
  --border: var(--border-style) var(--color-border);
}

:root,
.compact,
.size-xs,
.size-sm,
.size-md,
.size-lg,
.size-xl {
  --radius-1: calc(var(--radius) * var(--space-3) * 0.25);
  --radius-2: calc(var(--radius) * var(--space-3) * 0.5);
  --radius-3: calc(var(--radius) * var(--space-3) * 1);
}
