:root,
.full {
  --transition: cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
  --border-width: 1px;
  --border-radius: 1;

  --font-family: 'IBM Plex Sans', sans-serif;
  --font-weight: 400;

  --heading-font-family: var(--font-family);
  --heading-font-weight: 700;

  --button-font-family: var(--font-family);
  --button-font-weight: 500;
}
