.size-xs {
  --text-1: 12px;
  --text-2: 14px;
  --text-3: 18px;

  @media (min-width: 1024px) {
    --text-1: 13px;
    --text-2: 16px;
    --text-3: 24px;
  }

  &.compact,
  & .compact,
  .compact & {
    --text-1: 12px;
    --text-2: 12px;
    --text-3: 14px;

    @media (min-width: 1024px) {
      --text-1: 12px;
      --text-2: 14px;
      --text-3: 18px;
    }
  }
}

.size-sm {
  --text-1: 12px;
  --text-2: 14px;
  --text-3: 20px;

  @media (min-width: 1024px) {
    --text-1: 14px;
    --text-2: 17px;
    --text-3: 30px;
  }

  &.compact,
  & .compact,
  .compact & {
    --text-1: 12px;
    --text-2: 12px;
    --text-3: 14px;

    @media (min-width: 1024px) {
      --text-1: 12px;
      --text-2: 14px;
      --text-3: 18px;
    }
  }
}

:root,
.size-md {
  --text-1: 14px;
  --text-2: 16px;
  --text-3: 24px;

  @media (min-width: 1024px) {
    --text-1: 15px;
    --text-2: 18px;
    --text-3: 36px;
  }

  &.compact,
  & .compact,
  .compact & {
    --text-1: 14px;
    --text-2: 14px;
    --text-3: 18px;

    @media (min-width: 1024px) {
      --text-1: 14px;
      --text-2: 16px;
      --text-3: 18px;
    }
  }
}

.size-lg {
  --text-1: 16px;
  --text-2: 18px;
  --text-3: 30px;

  @media (min-width: 1024px) {
    --text-1: 16px;
    --text-2: 20px;
    --text-3: 48px;
  }

  &.compact,
  & .compact,
  .compact & {
    --text-1: 14px;
    --text-2: 14px;
    --text-3: 18px;

    @media (min-width: 1024px) {
      --text-1: 14px;
      --text-2: 16px;
      --text-3: 20px;
    }
  }
}

.size-xl {
  --text-1: 16px;
  --text-2: 18px;
  --text-3: 36px;

  @media (min-width: 1024px) {
    --text-1: 17px;
    --text-2: 22px;
    --text-3: 60px;
  }

  &.compact,
  & .compact,
  .compact & {
    --text-1: 14px;
    --text-2: 14px;
    --text-3: 18px;

    @media (min-width: 1024px) {
      --text-1: 14px;
      --text-2: 16px;
      --text-3: 20px;
    }
  }
}
