/* BASE / MEDIUM */
:root,
.size-md {
  --text-xs: 0.75rem/1rem sans-serif;
  --text-sm: 0.875rem/1.25rem sans-serif;
  --text-md: 1rem/1.5rem sans-serif;
  --text-lg: 1.125rem/1.75rem sans-serif;
  --text-xl: 1.25rem/1.75rem sans-serif;
  --text-2xl: 1.5rem/2rem sans-serif;
  --text-3xl: 1.875rem/2.25rem sans-serif;
  --text-4xl: 2.25rem/2.5rem sans-serif;
  --text-5xl: 3rem/1 sans-serif;
  --text-6xl: 3.75rem/1 sans-serif;
  --text-7xl: 4.5rem/1 sans-serif;
  --text-8xl: 6rem/1 sans-serif;
  --text-9xl: 8rem/1 sans-serif;

  --text-1: var(--text-sm);
  --text-2: var(--text-md);
  --text-3: var(--text-3xl);

  --text-compact-1: var(--text-sm);
  --text-compact-2: var(--text-sm);
  --text-compact-3: var(--text-md);

  @media (min-width: 1024px) {
    --text-1: var(--text-sm);
    --text-2: var(--text-lg);
    --text-3: var(--text-4xl);

    --text-compact-1: var(--text-sm);
    --text-compact-2: var(--text-md);
    --text-compact-3: var(--text-lg);
  }
}

/* SMALL */
.size-xs,
.size-sm {
  --text-1: var(--text-xs);
  --text-2: var(--text-sm);
  --text-3: var(--text-2xl);

  --text-compact-1: var(--text-xs);
  --text-compact-2: var(--text-xs);
  --text-compact-3: var(--text-sm);

  @media (min-width: 1024px) {
    --text-1: var(--text-xs);
    --text-2: var(--text-md);
    --text-3: var(--text-3xl);

    --text-compact-1: var(--text-xs);
    --text-compact-2: var(--text-sm);
    --text-compact-3: var(--text-md);
  }
}

.size-xs {
  @media (min-width: 1024px) {
    --text-3: var(--text-2xl);
  }
}

/* LARGE */
.size-lg,
.size-xl,
.size-2xl {
  --text-1: var(--text-md);
  --text-2: var(--text-lg);
  --text-3: var(--text-4xl);

  --text-compact-1: var(--text-md);
  --text-compact-2: var(--text-md);
  --text-compact-3: var(--text-lg);

  @media (min-width: 1024px) {
    --text-1: var(--text-md);
    --text-2: var(--text-xl);
    --text-3: var(--text-5xl);

    --text-compact-1: var(--text-md);
    --text-compact-2: var(--text-lg);
    --text-compact-3: var(--text-xl);
  }
}

.size-xl,
.size-2xl {
  @media (min-width: 1024px) {
    --text-3: var(--text-6xl);
  }
}

.size-2xl {
  --text-1: var(--text-md);
  --text-2: var(--text-lg);
  --text-3: var(--text-4xl);

  --text-compact-1: var(--text-md);
  --text-compact-2: var(--text-md);
  --text-compact-3: var(--text-lg);

  @media (min-width: 1024px) {
    --text-1: var(--text-md);
    --text-2: var(--text-xl);
    --text-3: var(--text-7xl);

    --text-comapact-1: var(--text-md);
    --text-comapact-2: var(--text-lg);
    --text-comapact-3: var(--text-xl);
  }
}

.compact,
.compact * {
  --text-1: var(--text-compact-1);
  --text-2: var(--text-compact-2);
  --text-3: var(--text-compact-3);
}
