:root {
  --text-xs: 0.75rem/1rem sans-serif;
  --text-sm: 0.875rem/1.25rem sans-serif;
  --text-md: 1rem/1.5rem sans-serif;
  --text-lg: 1.125rem/1.75rem sans-serif;
  --text-xl: 1.25rem/1.75rem sans-serif;
  --text-2xl: 1.5rem/2rem sans-serif;
  --text-3xl: 1.875rem/2.25rem sans-serif;
  --text-4xl: 2.25rem/2.5rem sans-serif;
  --text-5xl: 3rem/1 sans-serif;
  --text-6xl: 3.75rem/1 sans-serif;
  --text-7xl: 4.5rem/1 sans-serif;
  --text-8xl: 6rem/1 sans-serif;
  --text-9xl: 8rem/1 sans-serif;
}

.size-xs {
  --text-dynamic-1: var(--text-xs);
  --text-dynamic-2: var(--text-sm);
  --text-dynamic-3: var(--text-xl);

  @media (min-width: 1024px) {
    --text-dynamic-1: var(--text-xs);
    --text-dynamic-2: var(--text-md);
    --text-dynamic-3: var(--text-2xl);
  }

  &.compact,
  & .compact,
  .compact & {
    --text-dynamic-1: var(--text-xs);
    --text-dynamic-2: var(--text-xs);
    --text-dynamic-3: var(--text-sm);

    @media (min-width: 1024px) {
      --text-dynamic-1: var(--text-xs);
      --text-dynamic-2: var(--text-sm);
      --text-dynamic-3: var(--text-md);
    }
  }
}

.size-sm {
  --text-dynamic-1: var(--text-xs);
  --text-dynamic-2: var(--text-sm);
  --text-dynamic-3: var(--text-xl);

  @media (min-width: 1024px) {
    --text-dynamic-1: var(--text-xs);
    --text-dynamic-2: var(--text-md);
    --text-dynamic-3: var(--text-3xl);
  }

  &.compact,
  & .compact,
  .compact & {
    --text-dynamic-1: var(--text-xs);
    --text-dynamic-2: var(--text-xs);
    --text-dynamic-3: var(--text-sm);

    @media (min-width: 1024px) {
      --text-dynamic-1: var(--text-xs);
      --text-dynamic-2: var(--text-sm);
      --text-dynamic-3: var(--text-md);
    }
  }
}

.size-md {
  --text-dynamic-1: var(--text-sm);
  --text-dynamic-2: var(--text-md);
  --text-dynamic-3: var(--text-3xl);

  @media (min-width: 1024px) {
    --text-dynamic-1: var(--text-sm);
    --text-dynamic-2: var(--text-lg);
    --text-dynamic-3: var(--text-4xl);
  }

  &.compact,
  & .compact,
  .compact & {
    --text-dynamic-1: var(--text-sm);
    --text-dynamic-2: var(--text-sm);
    --text-dynamic-3: var(--text-md);

    @media (min-width: 1024px) {
      --text-dynamic-1: var(--text-sm);
      --text-dynamic-2: var(--text-md);
      --text-dynamic-3: var(--text-lg);
    }
  }
}

.size-lg {
  --text-dynamic-1: var(--text-md);
  --text-dynamic-2: var(--text-lg);
  --text-dynamic-3: var(--text-4xl);

  @media (min-width: 1024px) {
    --text-dynamic-1: var(--text-md);
    --text-dynamic-2: var(--text-xl);
    --text-dynamic-3: var(--text-5xl);
  }

  &.compact,
  & .compact,
  .compact & {
    --text-dynamic-1: var(--text-md);
    --text-dynamic-2: var(--text-md);
    --text-dynamic-3: var(--text-lg);

    @media (min-width: 1024px) {
      --text-dynamic-1: var(--text-md);
      --text-dynamic-2: var(--text-lg);
      --text-dynamic-3: var(--text-xl);
    }
  }
}

.size-xl {
  --text-dynamic-1: var(--text-md);
  --text-dynamic-2: var(--text-lg);
  --text-dynamic-3: var(--text-4xl);

  @media (min-width: 1024px) {
    --text-dynamic-1: var(--text-md);
    --text-dynamic-2: var(--text-xl);
    --text-dynamic-3: var(--text-6xl);
  }

  &.compact,
  & .compact,
  .compact & {
    --text-dynamic-1: var(--text-md);
    --text-dynamic-2: var(--text-md);
    --text-dynamic-3: var(--text-lg);

    @media (min-width: 1024px) {
      --text-dynamic-1: var(--text-md);
      --text-dynamic-2: var(--text-lg);
      --text-dynamic-3: var(--text-xl);
    }
  }
}

.size-2xl {
  --text-dynamic-1: var(--text-md);
  --text-dynamic-2: var(--text-lg);
  --text-dynamic-3: var(--text-4xl);

  @media (min-width: 1024px) {
    --text-dynamic-1: var(--text-md);
    --text-dynamic-2: var(--text-xl);
    --text-dynamic-3: var(--text-7xl);
  }

  &.compact,
  & .compact,
  .compact & {
    --text-dynamic-1: var(--text-md);
    --text-dynamic-2: var(--text-md);
    --text-dynamic-3: var(--text-lg);

    @media (min-width: 1024px) {
      --text-dynamic-1: var(--text-md);
      --text-dynamic-2: var(--text-lg);
      --text-dynamic-3: var(--text-xl);
    }
  }
}
