:root, *  {
  --border-width: unquote(config.theme.border);
  --border-color: var(--color-6);
  --border-style: solid;
  --border: var(--border-width) var(--border-style) var(--border-color);
  --transition-property: all;
  --transition-duration: 150ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
}