// ------------------------------------
// BASE VALUES
// ------------------------------------
:root
  --text-xs-1: 12px
  --text-xs-2: 14px
  --text-xs-3: 18px

  --text-sm-1: 12px
  --text-sm-2: 14px
  --text-sm-3: 20px

  --text-md-1: 14px
  --text-md-2: 16px
  --text-md-3: 24px
  
  --text-lg-1: 16px
  --text-lg-2: 18px
  --text-lg-3: 30px

  --text-xl-1: 16px
  --text-xl-2: 18px
  --text-xl-3: 36px

  @media (min-width 1024px)
    --text-xs-1: 13px
    --text-xs-2: 15px
    --text-xs-3: 24px

    --text-sm-1: 13px
    --text-sm-2: 15px
    --text-sm-3: 30px

    --text-md-1: 15px
    --text-md-2: 17px
    --text-md-3: 36px

    --text-lg-1: 17px
    --text-lg-2: 19px
    --text-lg-3: 48px

    --text-xl-1: 17px
    --text-xl-2: 19px
    --text-xl-3: 60px

// -------------------------------------
// COMPACT VALUES
// -------------------------------------
.compact
  --text-xs-1: 12px
  --text-xs-2: 12px
  --text-xs-3: 12px
  
  --text-sm-1: 12px
  --text-sm-2: 12px
  --text-sm-3: 14px
  
  --text-md-1: 12px
  --text-md-2: 14px
  --text-md-3: 16px

  --text-lg-1: 14px
  --text-lg-2: 16px
  --text-lg-3: 18px

  --text-lg-1: 14px
  --text-lg-2: 16px
  --text-xl-3: 20px

  @media (min-width 1024px)
    --text-xs-1: 12px
    --text-xs-2: 13px
    --text-xs-3: 13px

    --text-sm-1: 13px
    --text-sm-2: 13px
    --text-sm-3: 15px

    --text-md-1: 13px
    --text-md-2: 15px
    --text-md-3: 17px

    --text-lg-1: 15px
    --text-lg-2: 17px
    --text-lg-3: 19px

    --text-lg-1: 15px
    --text-lg-2: 17px
    --text-xl-3: 22px

// ------------------------------------
// GENERATE FONTS
// ------------------------------------
VarValue(value)
  family = split(':', value)[0]
  weight = split(':', value)[1]
  style = unquote(weight + ' var(--text-2-2, 16px) "' + family + '" , sans-serif')
  style

VarPair(key, value)
  {unquote('--font-') + key}: VarValue(value)

:root
  for key, value in config['font']
    VarPair(key, value)

// ------------------------------------
// GENERATE SIZES
// ------------------------------------
Size(name)
  .size-{name}
    --text-1 var(--text- + name + -1)
    --text-2 var(--text- + name + -2)
    --text-3 var(--text- + name + -3)

Size('xs')
Size('sm')
Size('md')
Size('lg')
Size('xl')