---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div data-slot="dialog-portal" class={cn(className)} {...props}>
  <slot />
</div>

<style>
  :global(html:has([data-slot="dialog"][data-open])) {
    scrollbar-gutter: auto !important;
  }
</style>
