---
import { XIcon } from "@lucide/astro"
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"
import DialogOverlay from "@/components/ui/dialog/dialog-overlay.astro"
import DialogPortal from "@/components/ui/dialog/dialog-portal.astro"

type Props = HTMLAttributes<"div"> & {
  showCloseButton?: boolean
}

const { class: className, showCloseButton = true, ...props } = Astro.props
---

<DialogPortal>
  <DialogOverlay />
  <div
    data-slot="dialog-content"
    hidden
    class={cn(
      "bg-popover text-popover-foreground ring-foreground/10 fixed top-1/2 left-1/2 z-50 grid w-full max-w-[calc(100%-2rem)] -translate-x-1/2 -translate-y-1/2 scale-95 gap-6 rounded-xl p-6 text-sm opacity-0 shadow-xs ring-1 transition-all duration-200 outline-none data-[ending-style]:scale-95 data-[ending-style]:opacity-0 data-[open]:scale-100 data-[open]:opacity-100 data-[starting-style]:scale-95 data-[starting-style]:opacity-0 sm:max-w-md",
      className
    )}
    {...props}
  >
    {
      showCloseButton && (
        <Button
          type="button"
          data-slot="dialog-close"
          variant="ghost"
          size="icon-sm"
          class="absolute top-4 right-4"
        >
          <XIcon class="size-4" />
          <span class="sr-only">Close</span>
        </Button>
      )
    }
    <slot />
  </div>
</DialogPortal>
