---
import type { ComponentProps } from "astro/types"

import { Button } from "@/components/ui/button"

interface Props extends ComponentProps<typeof Button> {}

const { ...props } = Astro.props

---

<Button data-slot="dialog-trigger" {...props}>
  <slot />
</Button>
