---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"h2">

const { class: className, ...props } = Astro.props
---

<h2
  data-slot="dialog-title"
  class={cn("leading-none font-medium", className)}
  {...props}
>
  <slot />
</h2>
