---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  data-slot="dialog-header"
  class={cn("flex flex-col gap-2 text-center sm:text-left", className)}
  {...props}
>
  <slot />
</div>
