---
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div data-slot="dialog" class={className} {...props}>
  <slot />
</div>

<script>
  import { create } from "@data-slot/dialog"

  create()
</script>
