---
import { X } from "@lucide/astro"
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"

type Props = ComponentProps<typeof Button>

const { class: className, ...props } = Astro.props
---

<Button class={cn(className)} data-slot="dialog-close" {...props}>
  <slot>
    <X />
  </slot>
</Button>
