---
import type { HTMLAttributes } from "astro/types"
import XIcon from "lucide-static/icons/x.svg"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div data-slot="dialog-portal">
  <div
    data-slot="dialog-overlay"
    hidden
    class="fixed inset-0 bg-black/50 opacity-0 transition-opacity duration-200 data-[open]:opacity-100 data-[starting-style]:opacity-0 data-[ending-style]:opacity-0"
  ></div>
  <div
    data-slot="dialog-content"
    hidden
    class={cn(
      "bg-background fixed top-1/2 left-1/2 z-50 grid w-full max-w-[calc(100%-2rem)] -translate-x-1/2 -translate-y-1/2 scale-95 gap-4 rounded-lg border p-6 opacity-0 shadow-lg transition-[opacity,transform] duration-200 data-[open]:scale-100 data-[open]:opacity-100 data-[starting-style]:scale-95 data-[starting-style]:opacity-0 data-[ending-style]:scale-95 data-[ending-style]:opacity-0 sm:max-w-lg",
      className
    )}
    {...props}
  >
    <button
      type="button"
      data-slot="dialog-close"
      class="ring-offset-background focus:ring-ring absolute top-4 right-4 cursor-pointer rounded-sm border-0 bg-transparent opacity-70 transition-opacity hover:opacity-100 focus:ring-2 focus:ring-offset-2 focus:outline-hidden disabled:pointer-events-none [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4"
      aria-label="Close"
    >
      <XIcon class="size-4" />
    </button>
    <slot />
  </div>
</div>
