---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, style, ...props } = Astro.props
---

<div
  data-slot="dialog-overlay"
  hidden
  class={cn(
    "fixed inset-0 z-50 bg-black/50 opacity-0 transition-opacity duration-200 data-[ending-style]:opacity-0 data-[open]:opacity-100 data-[starting-style]:opacity-0",
    className
  )}
  style={`z-index: var(--dialog-overlay-stack-index, 50);${style ? ` ${style}` : ""}`}
  {...props}
>
  <slot />
</div>
