---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"
import DialogClose from "@/components/ui/dialog/dialog-close.astro"

type Props = HTMLAttributes<"div"> & {
  showCloseButton?: boolean
}

const { class: className, showCloseButton = false, ...props } = Astro.props
---

<div
  data-slot="dialog-footer"
  class={cn(
    "flex flex-col-reverse gap-2 sm:flex-row sm:justify-end",
    className
  )}
  {...props}
>
  <slot />
  {showCloseButton && <DialogClose variant="outline">Close</DialogClose>}
</div>
