---
export interface Props {}

const slot = await Astro.slots.render('default')
---

{
  slot?.trim().length > 0 && (
    <nav class:list={['nav']}>
      <Fragment set:html={slot} />
    </nav>
  )
}

<style>
  nav {
    display: flex;
    align-items: center;
    gap: var(--flow4);
    margin-left: auto;
    width: max-content;
  }
</style>
