---
import getSlot from '../../../utils/getSlot'

interface Props {}

const slot = await getSlot(Astro)
---

{
  slot && (
    <nav class:list={['nav']}>
      <Fragment set:html={slot} />
    </nav>
  )
}

<style>
  nav {
    display: flex;
    align-items: center;
    gap: var(--flow4);
    margin-left: auto;
    width: max-content;
  }
</style>
