---
import {
  Badge,
  Button,
  Deck,
  Group,
  Heading,
  Icon,
  Input,
  Label,
  Layout,
  Link,
  List,
  ListItem,
  Main,
  Paragraph,
  Section,
  Select,
  SelectOption,
  Switch,
  Textarea,
} from 'fulldev-ui'

import ComponentCard from '../components/ComponentCard.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

// const { data, render } = await getEntry('pages', 'components')
// const { Content } = await render()
---

<Layout
  title="Fulldev UI - Astro UI component library, open-source"
  description="A library of UI components, written in Astro, compatible with all frameworks. Unique features to build entire websites, check it out."
  image="https://ui.full.dev/og-image-fulldev-ui.png"
  body={{
    class: 'not-content',
    theme: 'dark',
  }}
>
  <Header />
  <Main class="components_page">
    <Section
      class="hero-section"
      size="lg"
    >
      <Heading
        size="xl"
        as="h1"
      >
        Components
      </Heading>
      <Paragraph>
        15+ beautifully crafted components for your next Astro project!
      </Paragraph>
    </Section>

    <Section>
      <Heading>Base components</Heading>
      <Deck>
        <ComponentCard
          title="Badge"
          description="A badge useful for displaying a small amount of information."
          link="/base/badge/"
        >
          <Badge>Badge</Badge>
        </ComponentCard>

        <ComponentCard
          title="Button"
          description="A button or a component that looks like a button."
          link="/base/button/"
        >
          <Button
            as="button"
            href
            >Button</Button
          >
        </ComponentCard>

        <ComponentCard
          title="Icon"
          description="Displays a fully customizable inline svg icon."
          link="/base/icon/"
        >
          <Group>
            <Icon name="circle" />
            <Icon name="arrow-right" />
            <Icon name="brand-x" />
            <Icon name="brand-github" />
          </Group>
        </ComponentCard>

        <ComponentCard
          title="Input"
          description="A native, styled input element."
          link="/base/input/"
        >
          <Input
            name="name"
            placeholder="Name"
          />
        </ComponentCard>

        <ComponentCard
          title="Select"
          description="A native, styled select element with options to pick from."
          link="/base/select/"
        >
          <Select>
            <SelectOption>Option 1</SelectOption>
            <SelectOption>Option 2</SelectOption>
          </Select>
        </ComponentCard>

        <ComponentCard
          title="Switch"
          description="A native checkbox input, styled as a switch with pure CSS."
          link="/base/switch/"
        >
          <Switch />
        </ComponentCard>

        <ComponentCard
          title="Textarea"
          description="A native, styled textarea element."
          link="/base/textarea/"
        >
          <Textarea
            name="message"
            placeholder="Message"
          />
        </ComponentCard>
      </Deck>
    </Section>

    <Section>
      <Heading>Typography components</Heading>

      <Deck>
        <ComponentCard
          title="Heading"
          description="A native, styled heading element."
          link="/typography/heading/"
        >
          <Deck structure="carousel">
            <Group>
              <Heading size="xl">Hello World</Heading>
            </Group>
          </Deck>
        </ComponentCard>

        <ComponentCard
          title="Label"
          description="A native, styled label element."
          link="/typography/label/"
        >
          <Label size="lg">Label</Label>
        </ComponentCard>

        <ComponentCard
          title="Link"
          description="A native, styled link element."
          link="/typography/link/"
        >
          <Link
            href="#"
            size="lg"
            as="button"
            style="background: none; border: none;"
            >Link</Link
          >
        </ComponentCard>

        <ComponentCard
          title="List"
          description="A native, styled list element with list items inside."
          link="/typography/list/"
        >
          <List>
            <ListItem>Item 1</ListItem>
            <ListItem>Item 2</ListItem>
            <ListItem>Item 3</ListItem>
          </List>
        </ComponentCard>

        <ComponentCard
          title="Paragraph"
          description="A native, styled paragraph element."
          link="/typography/paragraph/"
        >
          <Paragraph>The quick brown fox jumps over the lazy dog</Paragraph>
        </ComponentCard>
      </Deck>
    </Section>
    <!-- <Footer /> -->
  </Main>
</Layout>

<style>
  .hero-section {
    background-image: url('/landing-background.png') !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
</style>
