---
import {
  Badge,
  Button,
  Card,
  Deck,
  Group,
  Heading,
  Icon,
  Input,
  Label,
  Layout,
  Link,
  List,
  ListItem,
  Main,
  Paragraph,
  Section,
  Select,
  SelectOption,
  Switch,
  Textarea,
} from 'fulldev-ui'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

// const { data, render } = await getEntry('pages', 'components')
// const { Content } = await render()
---

<Layout
  title="Fulldev UI - Astro UI component library, open-source"
  description="A library of UI components, written in Astro, compatible with all frameworks. Unique features to build entire websites, check it out."
  image="https://ui.full.dev/og-image-fulldev-ui.png"
  body={{
    class: 'not-content',
    theme: 'dark',
  }}
>
  <Header />
  <Main class="components_page">
    <Section class="hero-section">
      <Heading level={1}>Components</Heading>
      <p>15+ beautifully crafted components for your next Astro project!</p>
    </Section>

    <Section>
      <Heading level={1}>Base</Heading>

      <Deck>
        <Card>
          <div class="component_space">
            <Badge>Badge</Badge>
          </div>
          <div>
            <Heading>Badge</Heading>
            <Paragraph
              >A badge useful for displaying a small amount of information.</Paragraph
            >
          </div>
        </Card>

        <Card>
          <div class="component_space">
            <Button>Button</Button>
          </div>
          <div>
            <Heading>Button</Heading>
            <Paragraph
              >A button or a component that looks like a button.</Paragraph
            >
          </div>
        </Card>

        <Card>
          <div class="component_space">
            <Group>
              <Icon name="circle" />
              <Icon name="arrow-right" />
              <Icon name="brand-x" />
              <Icon name="brand-github" />
            </Group>
          </div>
          <div>
            <Heading>Icon</Heading>
            <Paragraph>Displays a fully customizable inline svg icon.</Paragraph
            >
          </div>
        </Card>

        <Card>
          <div class="component_space">
            <Input
              name="name"
              placeholder="Name"
            />
          </div>
          <div>
            <Heading>Input</Heading>
            <Paragraph>A native, styled input element.</Paragraph>
          </div>
        </Card>

        <Card>
          <div class="component_space">
            <Select>
              <SelectOption>Option 1</SelectOption>
              <SelectOption>Option 2</SelectOption>
            </Select>
          </div>
          <div>
            <Heading>Select</Heading>
            <Paragraph
              >A native, styled select element with options to pick from.</Paragraph
            >
          </div>
        </Card>

        <Card>
          <div class="component_space">
            <Switch />
          </div>
          <div>
            <Heading>Switch</Heading>
            <Paragraph
              >A native checkbox input, styled as a switch with pure CSS.</Paragraph
            >
          </div>
        </Card>

        <Card>
          <div class="component_space">
            <Textarea
              name="message"
              placeholder="Message"
            />
          </div>
          <div>
            <Heading>Textarea</Heading>
            <Paragraph>A native, styled textarea element.</Paragraph>
          </div>
        </Card>
      </Deck>
    </Section>

    <Section>
      <Heading level={1}>Typography</Heading>

      <Deck>
        <Card>
          <div class="component_space">
            <Deck structure="carousel">
              <Group>
                <Heading level={1}>Heading 1</Heading>
                <Heading level={2}>Heading 2</Heading>
                <Heading level={3}>Heading 3</Heading>
                <Heading level={4}>Heading 4</Heading>
                <Heading level={5}>Heading 5</Heading>
                <Heading level={6}>Heading 6</Heading>
              </Group>
            </Deck>
          </div>
          <div>
            <Heading>Heading</Heading>
            <Paragraph>A native, styled heading element.</Paragraph>
          </div>
        </Card>

        <Card>
          <div class="component_space">
            <Label size="lg">Label</Label>
          </div>
          <div>
            <Heading>Label</Heading>
            <Paragraph>A native, styled label element.</Paragraph>
          </div>
        </Card>

        <Card>
          <div class="component_space">
            <Link
              href="#"
              size="lg"
              >Link</Link
            >
          </div>
          <div>
            <Heading>Link</Heading>
            <Paragraph>A native, styled link element.</Paragraph>
          </div>
        </Card>

        <Card>
          <div class="component_space">
            <List>
              <ListItem>Item 1</ListItem>
              <ListItem>Item 2</ListItem>
              <ListItem>Item 3</ListItem>
            </List>
          </div>
          <div>
            <Heading>List</Heading>
            <Paragraph
              >A native, styled list element with list items inside.</Paragraph
            >
          </div>
        </Card>

        <Card>
          <div class="component_space">
            <Paragraph>The quick brown fox jumps over the lazy dog</Paragraph>
          </div>
          <div>
            <Heading>Paragraph</Heading>
            <Paragraph>A native, styled paragraph element.</Paragraph>
          </div>
        </Card>
      </Deck>
    </Section>
    <!-- <Footer /> -->
  </Main>
</Layout>

<style>
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px !important;
  }

  .component_space {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .hero-section {
    background-image: url('/landing-background.png') !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
</style>
