---
import { Button, Heading, Page, Paragraph, Section } from '@fullui/ui'
---

<Page>
  <Section>
    <Heading>Hello world</Heading>
    <Paragraph>Lorem ipsum dolor sit amet </Paragraph>
    <Button>Click me</Button>
  </Section>
</Page>
