---
import {
  Button,
  Card,
  Deck,
  Heading,
  Image,
  Main,
  Page,
  Paragraph,
  Section,
  Stack,
} from '@fullui/ui'

const sizes = ['2xl', 'xl', 'lg', 'md', 'sm']
---

<Page
  scheme="dark"
  head={{
    title: 'Fullui - Astro component library, open-source',
    description:
      'Fullui provides a library of UI components written completely in the Astro language. With unique features only possible in Astro. Read about it here.',
  }}
>
  <Main>
    {
      sizes.map((size) => (
        <Section
          color="raised"
          layout="column"
          size={size as any}
          x="center"
        >
          <Heading as="h1">Fullui is a Component Library</Heading>
          <Paragraph variant="subtle">
            Built to take full advantage of Astro's power, like static
            rendering.
          </Paragraph>
          <Stack layout="row">
            <Button
              variant="primary"
              html="Get Started"
              href="/overview/introduction"
            />
            <Button
              variant="secondary"
              html="Github"
              icon={{ name: 'brand-github' }}
              href="https://github.com/fullui/ui"
              target="_blank"
            />
          </Stack>
          <Deck layout="row">
            <Card>
              <Image
                src="/example.jpg"
                alt=""
              />
              <Heading>Static Rendering</Heading>
              <Paragraph>
                Fullui components are statically rendered by default, which
                means they load instantly.
              </Paragraph>
              <Button
                as="div"
                variant="primary"
                html="Get Started"
                href="/overview/introduction"
              />
            </Card>
            <Card>
              <Image
                src="/example.jpg"
                alt=""
              />
              <Heading as="h2">Static Rendering</Heading>
              <Paragraph>
                Fullui components are statically rendered by default, which
                means they load instantly.
              </Paragraph>
            </Card>
            <Card>
              <Image
                src="/example.jpg"
                alt=""
              />
              <Heading as="h2">Static Rendering</Heading>
              <Paragraph>
                Fullui components are statically rendered by default, which
                means they load instantly.
              </Paragraph>
            </Card>
          </Deck>
        </Section>
      ))
    }
  </Main>
</Page>

<style is:global lang="scss">
  main {
    font-family: Arial, Helvetica, sans-serif;
  }
  h1 {
    font-weight: 900 !important;
  }
</style>
