---
import {
Button,
  Heading,
  Main,
  Page,
  Paragraph,
  Section,
  Stack,
  Tagline,
  Writeup,
} from '@fullui/ui'

const sizes = ['xl', 'lg', 'md', 'sm', 'xs']
---

<Page
  scheme="dark"
  head={{
    title: 'Fullui - Astro component library, open-source',
    description:
      'Fullui provides a library of UI components written completely in the Astro language. With unique features only possible in Astro. Read about it here.',
  }}
>
  <Main>
    {
      sizes.map(size => (
        <Section
          key={size} // Make sure to use a unique key for each child in a list
          direction="column"
          className="hero" // Changed from `class` to `className`
          size={size as any}
          align="center"
        >
          <Tagline variant="accent">
            We just published this alpha
          </Tagline>
          <Heading as="h1">
            Fullui is a Component Library
          </Heading>
          <Paragraph variant="subtle">
            Built to take full advantage of Astro's power, like static rendering.
          </Paragraph>
          <Stack direction="row">
          <Button
            variant="primary"
            html="Get Started"
            href="/overview/introduction"
          />
          <Button
            variant="secondary"
            html="Github"
            icon={{ name: 'brand-github' }}
            href="https://github.com/fullui/ui"
            target="_blank"
          />
        </Stack>
        </Section>
      ))
    }
  </Main>
</Page>

<style is:global>
  main {
    gap: 100px 0;
    padding: 100px 0;
  }
</style>
