---
import { Heading, Page, Section } from '@fullui/ui'
import { getEntry } from 'astro:content'

const entry = await getEntry('pages', 'gym')
const { Content, headings } = await entry.render()
console.log(entry)
---

<Page>
  <Section
    color="raised"
    frame="panel"
  >
    <Heading>Hello world</Heading>
  </Section>
</Page>
