---
import { Card, Deck, Heading, Page, Paragraph, Section } from '@fullui/ui'
---

<Page>
  <Section>
    <Deck layout="carousel">
      <Card>
        <Heading>Hello world</Heading>
        <Paragraph>Lorem ipsum dolor sit amet </Paragraph>
      </Card>
      <Card>
        <Heading>Hello world</Heading>
        <Paragraph>Lorem ipsum dolor sit amet </Paragraph>
      </Card>
      <Card>
        <Heading>Hello world</Heading>
        <Paragraph>Lorem ipsum dolor sit amet </Paragraph>
      </Card>
      <Card>
        <Heading>Hello world</Heading>
        <Paragraph>Lorem ipsum dolor sit amet </Paragraph>
      </Card>
    </Deck>
  </Section>
</Page>
