---
import { getEntry } from 'astro:content'
import { Button, Group, Layout } from 'fulldev-ui'
import 'fulldev-ui/radix'

const { data, render } = await getEntry('pages', 'index')
const { Content } = await render()
---

<Layout
  title="Fulldev UI - Astro UI component library, open-source"
  description="A library of UI components, written in Astro, compatible with all frameworks. Unique features to build entire websites, check it out."
  image="https://ui.full.dev/og-image-fulldev-ui.png"
  body={{
    class: 'not-content',
    theme: 'dark',
  }}
>
  <Group>
    <Button variant="solid">Button</Button>
    <Button variant="surface">Button</Button>
    <Button variant="soft">Button</Button>
    <Button variant="outline">Button</Button>
    <Button variant="ghost">Button</Button>
  </Group>
  <Group>
    <Button
      contrast
      variant="solid"
      >Button</Button
    >
    <Button
      contrast
      variant="surface"
      >Button</Button
    >
    <Button
      contrast
      variant="soft"
      >Button</Button
    >
    <Button
      contrast
      variant="outline"
      >Button</Button
    >
    <Button
      contrast
      variant="ghost"
      >Button</Button
    >
  </Group>
  <Group>
    <Button
      color="base"
      variant="solid"
      >Button</Button
    >
    <Button
      color="base"
      variant="surface"
      >Button</Button
    >
    <Button
      color="base"
      variant="soft"
      >Button</Button
    >
    <Button
      color="base"
      variant="outline"
      >Button</Button
    >
    <Button
      color="base"
      variant="ghost"
      >Button</Button
    >
  </Group>
  <Group>
    <Button
      color="base"
      contrast
      variant="solid"
      >Button</Button
    >
    <Button
      color="base"
      contrast
      variant="surface"
      >Button</Button
    >
    <Button
      color="base"
      contrast
      variant="soft"
      >Button</Button
    >
    <Button
      color="base"
      contrast
      variant="outline"
      >Button</Button
    >
    <Button
      color="base"
      contrast
      variant="ghost"
      >Button</Button
    >
  </Group>
</Layout>
