---
import {
  Button,
  Group,
  Heading,
  Layout,
  Main,
  Paragraph,
  Section,
} from 'fulldev-ui'
import Header from '../components/Header.astro'
---

<Layout
  image="https://ui.full.dev/og-image-fulldev-ui.png"
  head={{
    title: 'Fulldev UI - Astro UI component library, open-source',
    description:
      'Fulldev UI provides a library of UI components written completely in the Astro language. With unique features only possible in Astro. Read about it here.',
    image: 'https://ui.full.dev/og-image-fulldev-ui.png',
  }}
  body={{
    class: 'not-content',
    theme: 'dark',
  }}
>
  <Header />
  <Main>
    <Section
      theme="dark"
      class="hero"
      x="center"
    >
      <Heading
        as="h1"
        size="lg"
      >
        Join our discord
      </Heading>
      <Paragraph variant="muted">
        Looking to share your work using fulldev-ui, regular talks about it or
        support; join our discord server.</Paragraph
      >
      <Group
        direction="horizontal"
        x="center"
      >
        <Button
          variant="primary"
          html="Join Discord"
          icon="brand-discord"
          href="https://discord.gg/vXZqMbadm8"
        />
      </Group>
    </Section>
  </Main>
</Layout>

<style>
  @media (min-width: 768px) {
    .nobreak {
      white-space: nowrap;
    }
  }

  .full-badge {
    border-radius: 999px;
  }
</style>
