---
import {
  Button,
  Group,
  Heading,
  Layout,
  Main,
  Paragraph,
  Section,
} from 'fulldev-ui'
import Header from '../components/Header.astro'

return Astro.redirect('https://discord.gg/vXZqMbadm8')
---

<Layout
  image="https://uihtml :where(.full.dev)/og-image-fulldev-ui.png"
  head={{
    title: 'Fulldev UI - Join our Discord server',
  }}
  body={{
    class: 'not-content',
    theme: 'dark',
  }}
>
  <Header />
  <Main>
    <Section
      theme="dark"
      class="hero"
      x="center"
    >
      <Heading
        as="h1"
        size="lg"
      >
        Join our discord
      </Heading>
      <Paragraph variant="muted">
        Looking to share your work using fulldev-ui, regular talks about it or
        support; join our discord server.</Paragraph
      >
      <Group
        direction="horizontal"
        x="center"
      >
        <Button
          variant="primary"
          html="Join Discord"
          icon="brand-discord"
          href="https://discord.gg/vXZqMbadm8"
        />
      </Group>
    </Section>
  </Main>
</Layout>

<style>
  @media (min-width: 768px) {
    .nobreak {
      white-space: nowrap;
    }
  }

  .full-badge {
    border-radius: 999px;
  }
</style>
