---
import {
  Body,
  Button,
  Group,
  Header,
  Heading,
  Image,
  Logo,
  Main,
  Nav,
  Page,
  Section,
  Subtext,
  Text,
  Writeup,
} from '@fullui/ui'
---

<Page scheme="dark">
  <Body>
    <Header
      variant="soft"
      position="fixed"
    >
      <Logo>
        <Heading style={'font-size: calc(var(--text-3) * 1.5)'}>
          Fullui
        </Heading>
      </Logo>
      <Nav>
        <Group>
          <Button
            color="base"
            variant="ghost"
            html="Home"
            href="/"
          />
          <Button
            color="base"
            variant="ghost"
            html="Docs"
            href="/overview/introduction"
          />
          <!-- <Button
            color="base"
            variant="ghost"
            html="Examples"
            href="/examples"
          /> -->
        </Group>
        <Group>
          <Button
            color="base"
            variant="soft"
            icon={{ name: 'brand-linkedin' }}
            href="https://linkedin.com/in/silveltman/"
            target="_blank"
          />
          <Button
            color="base"
            variant="soft"
            icon={{ name: 'brand-x' }}
            href="https://x.com/silveltm"
            target="_blank"
          />
          <Button
            color="base"
            variant="soft"
            icon={{ name: 'brand-github' }}
            href="https://github.com/fullui/ui"
            target="_blank"
          />
        </Group>
      </Nav>
    </Header>
    <Main>
      <Section
        class="hero"
        size="large"
        align="center"
      >
        <img
          class="star"
          src="/star-effect.png"
          alt=""
        />
        <Writeup align="center">
          <img
            class="indigo"
            src="/indigo-effect.png"
            alt=""
          />
          <Subtext color="accent">
            We just launched as beta, expect improvements 🚀
          </Subtext>
          <Heading>Fullui is a Component Library built for Astro </Heading>
          <Text>
            Built to take full advantage Astro's power, like static rendering,
            <br /> content collections and more Astro features
          </Text>
          <Group>
            <Button
              color="accent"
              html="Get Started"
              href="/overview/introduction"
            />
            <Button
              color="base"
              variant="surface"
              html="Github"
              icon={{ name: 'brand-github' }}
              href="https://github.com/fullui/ui"
              target="_blank"
            />
          </Group>
        </Writeup>
        <!-- <Image src={'/snowboard2.jpeg'} /> -->
        <div
          style="position: relative; padding-bottom: 65%; height: 0; width: 100%; z-index: 10;"
        >
          <iframe
            sandbox="allow-scripts allow-same-origin"
            src="https://app.claap.io/fulldev/fullui-demo-c-vfnaftgC8e-91v4qemBFFLv/embed"
            frameborder="0"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
          ></iframe>
        </div>
      </Section>
    </Main>
  </Body>
</Page>

<style is:global>
  <style is:global > html {
    color-scheme: dark;
  }
  body {
    > * {
      filter: contrast(1.05) saturate(1.2) hue-rotate(0deg);
    }
  }

  .full-header {
    background: transparent;
    color: var(--text-1);
  }

  .hero {
    position: relative;
    min-height: 100vh;

    .star {
      position: absolute;
      top: -22%;
      left: -10%;
      opacity: 40%;
      width: 50%;
      min-width: 400px;
    }

    .full-writeup {
      position: relative;

      & > * {
        position: relative;
        z-index: 1;
      }

      .indigo {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 70%;
        z-index: 1;
        width: 100%;
      }
    }
  }
</style>
