---
import {
  Body,
  Button,
  Group,
  Header,
  Heading,
  Logo,
  Main,
  Nav,
  Page,
  Paragraph,
  Section,
  Stack,
  Tagline,
} from '@fullui/ui'
import Head from '../components/Head.astro'
---

<Page
  head={{
    title: 'Fullui - Astro component library, open-source',
    description:
      'Fullui provides a library of UI components written completely in the Astro language. With unique features only possible in Astro. Read about it here.',
  }}
>
  <Head slot="head" />
  <Body>
    <Header
      compact
      size="md"
      position="relative"
    >
      <Logo>
        <Heading style="font-size: 24px"> Fullui </Heading>
      </Logo>
      <Nav>
        <Group>
          <Button
            variant="ghost"
            title="Linkedin"
            icon={{ name: 'brand-linkedin' }}
            href="https://linkedin.com/in/silveltman/"
            target="_blank"
          />
          <Button
            variant="ghost"
            title="X / Twitter"
            icon={{ name: 'brand-x' }}
            href="https://x.com/silveltm"
            target="_blank"
          />
          <Button
            color="base"
            variant="secondary"
            html="Github"
            icon={{ name: 'brand-github' }}
            href="https://github.com/fullui/ui"
            target="_blank"
          />
          <Button
            color="accent"
            variant="primary"
            html="Docs"
            href="/overview/introduction/"
          />
        </Group>
      </Nav>
    </Header>
    <Main>
      <Section
        direction="column"
        class="hero"
        size="xl"
        align="center"
      >
        <Tagline variant="accent">
          We just published this alpha, expect improvements
        </Tagline>
        <Heading as="h1">
          Fullui is a Component <br /> Library built for Astro
        </Heading>
        <Paragraph variant="lowered">
          Built to take full advantage Astro's power, like static rendering, <br
          />
          content collections and more Astro features.
        </Paragraph>
        <Stack direction="row">
          <Button
            variant="primary"
            html="Get Started"
            href="/overview/introduction"
          />
          <Button
            variant="secondary"
            html="Github"
            icon={{ name: 'brand-github' }}
            href="https://github.com/fullui/ui"
            target="_blank"
          />
        </Stack>
      </Section>
    </Main>
  </Body>
</Page>
