---
import {
  Badge,
  Button,
  Group,
  Heading,
  Layout,
  Main,
  Paragraph,
  Section,
} from 'fulldev-ui'
import Header from '../components/Header.astro'
---

<Layout
  image="https://ui.full.dev/og-image-fulldev-ui.png"
  head={{
    title: 'Fulldev UI - Astro UI component library, open-source',
    description:
      'Fulldev UI provides a library of UI components written completely in the Astro language. With unique features only possible in Astro. Read about it here.',
    image: 'https://ui.full.dev/og-image-fulldev-ui.png',
  }}
  body={{
    class: 'not-content',
    theme: 'dark',
  }}
>
  <Header />
  <Main>
    <Section
      theme="dark"
      class="hero"
      size="lg"
      x="center"
    >
      <Badge>Just launched, expect improvements soon 🚀</Badge>
      <Heading
        as="h1"
        size="xl"
      >
        The Astro UI library for content-driven websites
      </Heading>
      <Paragraph variant="muted">
        Rapidly build content-driven websites, with the power of modern design, <br
        />
        static / server rendering, and CSS cascading styles.
      </Paragraph>
      <Group
        direction="horizontal"
        x="center"
      >
        <Button
          variant="primary"
          html="Get Started"
          href="/overview/introduction"
        />
        <Button
          variant="secondary"
          html="Github"
          icon={{ name: 'brand-github' }}
          href="https://github.com/fulldotdev/ui"
          target="_blank"
        />
      </Group>
    </Section>
  </Main>
</Layout>
