---
import {
  Body,
  Button,
  Group,
  Header,
  Heading,
  Logo,
  Main,
  Nav,
  Page,
  Section,
  Subtext,
  Text,
  Writeup,
} from '@fullui/ui'
import { Vimeo } from 'astro-embed'
---

<Page
  scheme="dark"
  head={{
    title: 'Astro component library - Fullui',
    description:
      "Fullui is a Component Library built for Astro. Built to take full advantage Astro's power, like static rendering, content collections and more Astro features.",
  }}
>
  <Body>
    <Header
      compact
      size="md"
      variant="soft"
      position="fixed"
    >
      <Logo>
        <Heading style={'font-size: calc(var(--text-3) * 1.5)'}>
          Fullui
        </Heading>
      </Logo>
      <Nav>
        <Group>
          <Button
            color="base"
            variant="soft"
            title="Linkedin"
            icon={{ name: 'brand-linkedin' }}
            href="https://linkedin.com/in/silveltman/"
            target="_blank"
          />
          <Button
            color="base"
            variant="soft"
            title="X / Twitter"
            icon={{ name: 'brand-x' }}
            href="https://x.com/silveltm"
            target="_blank"
          />
          <Button
            color="base"
            variant="soft"
            html="Github"
            icon={{ name: 'brand-github' }}
            href="https://github.com/fullui/ui"
            target="_blank"
          />
          <Button
            color="accent"
            variant="solid"
            html="Docs"
            href="/get-started/introduction"
          />
        </Group>
      </Nav>
    </Header>
    <Main>
      <Section
        class="hero"
        size="xl"
        align="center"
      >
        <img
          class="star"
          src="/star-effect.svg"
          alt="Star effect background"
        />
        <Writeup align="center">
          <Subtext color="accent">
            We just published this alpha, expect improvements
          </Subtext>
          <Heading as="h1"
            >Fullui is a Component <br /> Library built for Astro
          </Heading>
          <Text>
            Built to take full advantage Astro's power, like static rendering, <br
            />
            content collections and more Astro features.
          </Text>
          <Group>
            <Button
              color="accent"
              html="Get Started"
              href="/get-started/introduction"
            />
            <Button
              color="base"
              variant="surface"
              html="Github"
              icon={{ name: 'brand-github' }}
              href="https://github.com/fullui/ui"
              target="_blank"
            />
          </Group>
        </Writeup>
        <!-- <div style="padding:56.25% 0 0 0;position:relative;"> -->
        <div class="videoo">
          <Vimeo id="https://vimeo.com/932210028" />
        </div>

        <!-- <div
          class="videoo"
          style="width:90vw;height:50vw;position:relative;"
        >
          <iframe
            src="https://player.vimeo.com/video/932210028?badge=0&autopause=0&player_id=0&app_id=58479"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
            style="position:absolute;top:0;left:0;width:100%;height:100%;"
            title="Fullui Alpha Demo"
          ></iframe>
        </div><script src="https://player.vimeo.com/api/player.js"></script> -->
      </Section>
    </Main>
  </Body>
</Page>

<style is:global>
  body {
    > * {
      filter: contrast(1.05) saturate(1.2) hue-rotate(0deg);
    }
  }

  .videoo {
    width: 90vw;
    max-width: 900px;
  }

  .full-header {
    background: transparent !important;
    color: var(--text-1);
  }

  .hero {
    position: relative;
    min-height: 100vh;

    .star {
      position: absolute !important;
      top: -22%;
      left: -10%;
      opacity: 40%;
      width: 50%;
      min-width: 400px;
    }

    .full-writeup {
      position: relative;

      & > * {
        position: relative;
        z-index: 1;
      }

      .indigo {
        position: absolute !important;
        top: 0;
        left: 0;
        opacity: 70%;
        z-index: 1;
        width: 100%;
      }
    }
  }
</style>
