---
import Hero from '@/blocks/Hero.astro'
import { getEntry } from 'astro:content'
import { Heading, Layout, Main, Section } from 'fulldev-ui'
import 'fulldev-ui/radix'
import Cta from '../blocks/Cta.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

const { data, render } = await getEntry('pages', 'index')
const { Content } = await render()
---

<Layout
  title="Fulldev UI - Astro UI component library, open-source"
  description="A library of UI components, written in Astro, compatible with all frameworks. Unique features to build entire websites, check it out."
  image="https://ui.full.dev/og-image-fulldev-ui.png"
  body={{
    class: 'not-content',
    theme: 'dark',
  }}
>
  <Header />
  <Main>
    <Hero {...data.hero} />
    <Section
      align="center"
      structure="column"
      class="cta-section"
    >
      <Heading size="xl"> Have a look at some examples </Heading>
    </Section>

    <div class="examples">
      <Content />
    </div>
  </Main>
  <Cta buttons={data.cta.buttons} />
</Layout>

<!-- <Footer /> -->

<style is:global>
  @import url(https://fonts.bunny.net/css?family=raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

  /* .variant-subtle {
    backdrop-filter: blur(8px) !important;
    background: rgba(23, 25, 26, 0.5) !important;
  } */

  .examples {
    border-radius: 4px;

    .example-container {
      border: none !important;
      border-top: 1px solid var(--border) !important;

      > div {
        align-items: stretch !important;
        margin: 0 !important;
        border-width: 0px !important;
        padding: 0 !important;
      }
    }

    .expressive-code {
      border-top: 1px solid var(--border);
      border-bottom: 1px solid var(--border);
      background: var(--raised-background);
      padding-right: var(--space-gutter);
      padding-left: var(--space-gutter);
    }
  }
</style>
