---
import {
  Badge,
  Button,
  Group,
  Heading,
  Layout,
  Main,
  Paragraph,
  Section,
} from '@fullui/ui'
import Header from '../components/Header.astro'
---

<Layout
  head={{
    title: 'Fullui - Astro component library, open-source',
    description:
      'Fullui provides a library of UI components written completely in the Astro language. With unique features only possible in Astro. Read about it here.',
  }}
  body={{
    class: 'not-content',
    theme: 'dark',
  }}
>
  <Header />
  <Main>
    <Section
      theme="dark"
      class="hero"
      size="lg"
      x="center"
    >
      <Badge>Just launched, expect improvements 🚀</Badge>
      <Heading
        as="h1"
        size="xl"
      >
        The Astro UI library for content-driven websites
        <!-- Fullui is a Component <br /> Library built for Astro -->
      </Heading>
      <Paragraph variant="muted">
        Rapidly build content-driven websites, with the power of modern design, <br
        />
        static / server rendering, and CSS cascading styles.
        <!-- <br /> with a combination of <b>modern design</b>, <b
          >static rendering.</b
        > -->
      </Paragraph>
      <Group
        direction="horizontal"
        x="center"
      >
        <Button
          variant="primary"
          html="Get Started"
          href="/overview/introduction"
        />
        <Button
          variant="secondary"
          html="Github"
          icon={{ name: 'brand-github' }}
          href="https://github.com/fullui/ui"
          target="_blank"
        />
      </Group>
    </Section>
  </Main>
</Layout>
