---
import {
  Button,
  Heading,
  Main,
  Page,
  Paragraph,
  Section,
  Stack,
} from '@fullui/ui'
import Header from '../components/Header.astro'
---

<Page
  head={{
    title: 'Fullui - Astro component library, open-source',
    description:
      'Fullui provides a library of UI components written completely in the Astro language. With unique features only possible in Astro. Read about it here.',
  }}
  body={{
    scheme: 'dark',
  }}
>
  <Header />
  <Main>
    <Section
      class="hero"
      size="lg"
      x="center"
    >
      <!-- <Tagline variant="accent">
        Fullui just launched, expect improvements
      </Tagline> -->
      <Heading
        as="h1"
        size="xl"
      >
        Build Astro websites <br />
        automated, customizable.
        <!-- Fullui is a Component <br /> Library built for Astro -->
      </Heading>
      <Paragraph color="lowered">
        Astro components to <b>rapidly</b> build content-driven websites,
        <br /> by leveraging the power of <b>Astro's rendering.</b>
      </Paragraph>
      <Stack layout="row">
        <Button
          variant="primary"
          html="Get Started"
          href="/overview/introduction"
        />
        <Button
          variant="secondary"
          html="Github"
          icon={{ name: 'brand-github' }}
          href="https://github.com/fullui/ui"
          target="_blank"
        />
      </Stack>
    </Section>
  </Main>
</Page>
