---
import {
  Badge,
  Button,
  Card,
  Group,
  Heading,
  Icon,
  Input,
  Layout,
  Link,
  Main,
  Paragraph,
  Section,
  Select,
  SelectOption,
  Spread,
  Switch,
  Textarea,
} from 'fulldev-ui'
import Header from '../components/Header.astro'
---

<Layout
  title="Fulldev UI - Astro UI component library, open-source"
  description="Fulldev UI provides a library of UI components written completely in the Astro language. With unique features only possible in Astro. Read about it here."
  image="https://ui.full.dev/og-image-fulldev-ui.png"
  head={{
    title: 'Fulldev UI - Astro UI component library, open-source',
    description:
      'Fulldev UI provides a library of UI components written completely in the Astro language. With unique features only possible in Astro. Read about it here.',
    image: 'https://ui.full.dev/og-image-fulldev-ui.png',
  }}
  body={{
    class: 'not-content',
    theme: 'dark',
  }}
>
  <Header />
  <Main>
    <Section
      theme="dark"
      class="hero"
      size="lg"
      align="center"
    >
      <Badge
        as="a"
        variant="outline"
        href="https://discord.gg/vXZqMbadm8"
        >Join our discord for updates and chats 🤖</Badge
      >
      <Heading level={1}>
        The Astro UI library for
        <span class="nobreak"> content-driven websites</span>
      </Heading>
      <Paragraph variant="muted">
        Rapidly build content-driven websites, with the power of modern design,
        <span class="nobreak">static / server rendering,</span>
        CSS cascading styles and more.
      </Paragraph>

      <Group>
        <Button
          variant="primary"
          text="Get Started"
          href="/overview/introduction"
        />
        <Button
          variant="secondary"
          text="Github"
          icon={{ name: 'brand-github' }}
          href="https://github.com/fulldotdev/ui"
          target="_blank"
        />
      </Group>

      <Spread>
        <Group>
          <Badge
            variant="primary"
            text="Hero"
          />
          <Badge
            variant="outline"
            text="Product Overview"
          />
          <Badge
            variant="outline"
            text="CTA"
          />
          <Badge
            variant="outline"
            text="Form"
          />
        </Group>
        <Button
          variant="ghost"
          text="view code"
        />
      </Spread>

      <div
        style="width: 100%; height: 600px; border-radius: 8px; background: #141414; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);"
      >
      </div>
    </Section>

    <Section align="center">
      <Heading level={2}> Features that let you build faster </Heading>
      <Group class="feature_wrap">
        <div class="grid-row">
          <Card
            frame="panel"
            variant="raised"
          >
            <Icon
              name="code"
              size="lg"
            />
            <Heading>Automatic Rendering</Heading>
            <Paragraph>
              Components render automatically, making it compatible with
              headless CMS and content collections.
            </Paragraph>
          </Card>

          <Card
            frame="panel"
            variant="raised"
          >
            <Icon
              name="file-type-css"
              size="lg"
            />
            <Heading>Vanilla CSS Styling</Heading>
            <Paragraph>
              All components use vanilla CSS, ensuring simple and flexible
              styling.
            </Paragraph>
          </Card>

          <Card
            frame="panel"
            variant="raised"
          >
            <Icon
              name="text-size"
              size="lg"
            />
            <Heading>Cascading styles</Heading>
            <Paragraph>
              We handle sizes and margins for you automatically, you focus on
              the content and we do the rest.
            </Paragraph>
          </Card>
        </div>

        <div class="grid-row">
          <Card
            frame="panel"
            variant="raised"
          >
            <Icon
              name="news"
              size="lg"
            />
            <Heading>Headless Capability</Heading>
            <Paragraph>
              Headless supported, allowing seamless integration with various
              backends.
            </Paragraph>
          </Card>

          <Card
            frame="panel"
            variant="raised"
          >
            <Icon
              name="braces"
              size="lg"
            />
            <Heading>Polymorphic Components</Heading>
            <Paragraph>
              All components accept any HTML attributes, offering complete
              customization.
            </Paragraph>
          </Card>
        </div>

        <div class="grid-row">
          <Card
            frame="panel"
            variant="raised"
          >
            <Icon
              name="list-tree"
              size="lg"
            />
            <Heading>Unique Structure for Content Sites</Heading>
            <Paragraph>
              Custom-designed components for content websites with adaptable
              design systems. Components are single elements, fully
              customizable, with no dependencies, working in isolation. Import
              only what you need.
            </Paragraph>
          </Card>

          <Card
            frame="panel"
            variant="raised"
          >
            <Icon
              name="pencil"
              size="lg"
            />
            <Heading>Customizability</Heading>
            <Paragraph>
              Components are one element and their styling can be overwritten
              using a css framework like Tailwind. Or even styled completely
              from scratch.
            </Paragraph>
          </Card>
        </div>
      </Group>
    </Section>

    <Section align="center">
      <Heading> Components to build your UI </Heading>

      <Group class="component_wrap">
        <Card
          frame="panel"
          variant="raised"
        >
          <div style="display: flex; justify-content: center;">
            <Badge
              variant="outline"
              text="Badge"
              size="lg"
            />
          </div>
          <br />
          <Heading>Badge</Heading>
          <Link href="/base/badge"> Learn more</Link>
        </Card>

        <Card
          frame="panel"
          variant="raised"
        >
          <div style="display: flex; justify-content: center;">
            <Button
              variant="primary"
              text="Get Started"
              href="/overview/introduction"
              size="lg"
            />
          </div>
          <br />
          <Heading>Button</Heading>
          <Link href="/base/button"> Learn more</Link>
        </Card>

        <Card
          frame="panel"
          variant="raised"
        >
          <div style="display: flex; justify-content: center;">
            <Textarea
              placeholder="Message"
              size="lg"
            />
          </div>
          <br />
          <Heading>Textarea</Heading>
          <Link href="/base/textarea"> Learn more</Link>
        </Card>

        <Card
          frame="panel"
          variant="raised"
        >
          <div style="display: flex; justify-content: center;">
            <Input
              placeholder="Name"
              size="lg"
            />
          </div>
          <br />
          <Heading>Input</Heading>
          <Link href="/base/input"> Learn more</Link>
        </Card>

        <Card
          frame="panel"
          variant="raised"
        >
          <div style="display: flex; justify-content: center;">
            <Switch size="lg" />
          </div>
          <br />
          <Heading>Switch</Heading>
          <Link href="/base/switch"> Learn more</Link>
        </Card>

        <Card
          frame="panel"
          variant="raised"
        >
          <div style="display: flex; justify-content: center;">
            <Select size="lg">
              <SelectOption>Option 1</SelectOption>
              <SelectOption>Option 2</SelectOption>
            </Select>
          </div>
          <br />
          <Heading>Select</Heading>
          <Link href="/base/select"> Learn more</Link>
        </Card>
      </Group>

      <Button
        variant="primary"
        text="Discover all components"
        href="/base/badge"
        icon="arrow-right"
      />
    </Section>

    <Section
      align="center"
      size="lg"
      class="cta-section"
    >
      <Heading
        level={1}
        as="h2"
        size="lg"
      >
        Build entire websites <br />
        in a fraction of the time
      </Heading>
      <Group>
        <Button
          variant="primary"
          text="Get Started"
          href="/overview/introduction"
        />
        <Button
          variant="secondary"
          text="Github"
          icon={{ name: 'brand-github' }}
          href="https://github.com/fulldotdev/ui"
          target="_blank"
        />
      </Group>
    </Section>

    <style>
      .feature_wrap {
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        align-items: stretch;
        gap: 22px;
        width: 100%;
      }

      .feature_wrap .card {
        flex: 1;
      }

      .component_wrap {
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        align-items: stretch;
        gap: 22px;
        width: 100%;
      }

      .component_wrap .card {
        flex: 1 0 calc(33.33% - 22px);
        justify-content: space-between;
        max-width: calc(33.33% - 22px);
      }

      @media (max-width: 768px) {
        .component_wrap .card {
          flex: 1 0 100%;
          max-width: 100%;
        }
      }

      .grid-row {
        display: flex;
        flex-direction: column;
        gap: 22px;
      }

      .cta-section {
        background-image: url('/landing-background.png') !important;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
      }

      @media (min-width: 768px) {
        .nobreak {
          white-space: nowrap;
        }
      }

      .full.badge {
        border-radius: 999px;
      }
    </style>
  </Main>
</Layout>
