---
import {
  Button,
  Group,
  Heading,
  Layout,
  Main,
  Paragraph,
  Section,
} from '@fullui/ui'
import Header from '../components/Header.astro'
---

<Layout
  head={{
    title: 'Fullui - Astro component library, open-source',
    description:
      'Fullui provides a library of UI components written completely in the Astro language. With unique features only possible in Astro. Read about it here.',
  }}
  body={{
    class: 'not-content',
    color: 'base',
    theme: 'light',
  }}
>
  <Header />
  <Main>
    <Section
      theme="light"
      class="hero"
      size="lg"
      x="center"
    >
      <Heading
        as="h1"
        size="xl"
      >
        Build Astro websites <br />
        automated, customizable.
        <!-- Fullui is a Component <br /> Library built for Astro -->
      </Heading>
      <Paragraph color="lowered">
        Astro components to <b>rapidly</b> build content-driven websites,
        <br /> by leveraging the power of <b>Astro's rendering.</b>
      </Paragraph>
      <Group layout="row">
        <Button
          color="primary"
          html="Get Started"
          href="/overview/introduction"
        />
        <Button
          color="secondary"
          html="Github"
          icon={{ name: 'brand-github' }}
          href="https://github.com/fullui/ui"
          target="_blank"
        />
      </Group>
    </Section>
  </Main>
</Layout>
