---
import {
  Body,
  Button,
  Group,
  Header,
  Heading,
  Image,
  Logo,
  Main,
  Nav,
  Page,
  Section,
  Stack,
  Subtext,
  Text,
  Writeup,
} from '@fullui/ui'
---

<Page scheme="dark">
  <Body>
    <Header
      variant="soft"
      position="fixed"
    >
      <Logo>
        <Heading style={'font-size: calc(var(--text-3) * 1.5)'}>
          Fullui
        </Heading>
      </Logo>
      <Nav>
        <Group>
          <Button
            color="base"
            variant="ghost"
            html="Home"
            href="/"
          />
          <Button
            color="base"
            variant="ghost"
            html="Docs"
            href="/overview/introduction"
          />
          <!-- <Button
            color="base"
            variant="ghost"
            html="Examples"
            href="/examples"
          /> -->
        </Group>
        <Group>
          <Button
            color="base"
            variant="soft"
            icon={{ name: 'brand-linkedin' }}
            href="https://linkedin.com/in/silveltman/"
            target="_blank"
          />
          <Button
            color="base"
            variant="soft"
            icon={{ name: 'brand-x' }}
            href="https://x.com/silveltm"
            target="_blank"
          />
          <Button
            color="base"
            variant="soft"
            icon={{ name: 'brand-github' }}
            href="https://github.com/fullui/ui"
            target="_blank"
          />
        </Group>
      </Nav>
    </Header>
    <Main>
      <Section
        size="large"
        align="center"
      >
        <Stack
          align="center"
          direction="column"
        >
          <Writeup align="center">
            <Subtext color="accent">
              We just launched as beta, expect improvements 🚀
            </Subtext>
            <Heading>Fullui is a component library built for Astro </Heading>
            <Text>
              Built to take full advantage Astro's power, like static rendering,
              <br /> content collections and more Astro features
            </Text>
          </Writeup>
          <Group>
            <Button
              color="accent"
              html="Get Started"
              href="/overview/introduction"
            />
            <Button
              color="base"
              variant="surface"
              html="Github"
              icon={{ name: 'brand-github' }}
              href="https://github.com/fullui/ui"
              target="_blank"
            />
          </Group>
        </Stack>
        <Image src={'/snowboard2.jpeg'} />
      </Section>
    </Main>
  </Body>
</Page>

<style is:global>
  <style is:global > html {
    color-scheme: dark;
  }
  body {
    > * {
      filter: contrast(1.1) saturate(1.33) hue-rotate(0deg);
    }
  }
</style>
