---
import {
  Layout,
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from 'fulldev-ui'
---

<Layout
  body={{
    class: 'not-content',
    theme: 'dark',
  }}
  theme="dark"
  style={{
    width: 'fit-content',
  }}
>
  <Table>
    <TableCaption>A list of your recent invoices.</TableCaption>
    <TableHeader>
      <TableRow>
        <TableHead style={{ width: '100px' }}>Invoice</TableHead>
        <TableHead>Status</TableHead>
        <TableHead>Method</TableHead>
        <TableHead style={{ textAlign: 'right' }}>Amount</TableHead>
      </TableRow>
    </TableHeader>
    <TableBody>
      <TableRow>
        <TableCell style={{ fontWeight: 'bold' }}>INV001</TableCell>
        <TableCell>Paid</TableCell>
        <TableCell>Credit Card</TableCell>
        <TableCell style={{ textAlign: 'right' }}>$250.00</TableCell>
      </TableRow>
    </TableBody>
  </Table>
</Layout>
