---
import {
  Layout,
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableFooter,
  TableHead,
  TableHeader,
  TableRow,
} from 'fulldev-ui'
---

<Layout
  body={{
    class: 'not-content',
    theme: 'dark',
  }}
  theme="dark"
  style={{
    width: 'fit-content',
  }}
>
  <Table>
    <TableCaption>A list of your recent invoices.</TableCaption>
    <TableHeader>
      <TableRow>
        <TableHead>Invoice</TableHead>
        <TableHead>Status</TableHead>
        <TableHead>Method</TableHead>
        <TableHead>Amount</TableHead>
      </TableRow>
    </TableHeader>
    <TableBody>
      <TableRow>
        <TableCell>INV001</TableCell>
        <TableCell>Paid</TableCell>
        <TableCell>Credit Card</TableCell>
        <TableCell>$250.00</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>INV002</TableCell>
        <TableCell>Pending</TableCell>
        <TableCell>PayPal</TableCell>
        <TableCell>$120.00</TableCell>
      </TableRow>
      <TableRow>
        <TableCell>INV003</TableCell>
        <TableCell>Failed</TableCell>
        <TableCell>Direct Debit</TableCell>
        <TableCell>$400.00</TableCell>
      </TableRow>
    </TableBody>
    <TableFooter>
      <TableRow>
        <TableCell colSpan="3">Total</TableCell>
        <TableCell>$770.00</TableCell>
      </TableRow>
    </TableFooter>
  </Table>
</Layout>
