---
import type { HTMLAttributes } from 'astro/types'
import { buildProps, getSlot, type BuildProps } from '../../utils'

interface Base {
  tagline?: string | null
  class?: HTMLAttributes<'div'>['class']
}

type Props = BuildProps<Base, 'tagline'>
const props = buildProps(Astro, 'tagline')
const slot = await getSlot(Astro)

const { tagline, class: className } = props
---

{
  (tagline || slot) && (
    <p class:list={['tagline', className]}>
      {tagline}
      <slot />
    </p>
  )
}

<style>
  p {
    --font-size: var(--font-size-1);
    --font-weight: 600;
    --color: var(--accent-11);
    color: var(--color);

    font: var(--font);
  }
</style>
