---
import type { HTMLAttributes } from 'astro/types'
import { getSlot } from '../../utils'

interface Props {
  tagline?: string | null
  class?: HTMLAttributes<'div'>['class']
}

const { tagline, class: className } = Astro.props
const slot = await getSlot(Astro)
---

{
  (tagline || slot) && (
    <p class:list={['tagline', className]}>
      {tagline}
      <slot />
    </p>
  )
}

<style>
  p {
    --font-size: var(--font-size-1);
    --font-weight: 600;
    --color: var(--accent-11);

    font: var(--font);
    color: var(--color);
  }
</style>
