.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
  text-align: var(--space-x, center);

  & > * > * {
    text-align: left;
  }
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}
