:root {
  --screen: 1536px;
  --gutter: max(4vw, calc(100vw - var(--screen)) / 2);
}

.frame-wrapper,
.frame-viewport {
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  &:is(.split > &) {
    @media (min-width: 768px) {
      &:not(:first-child) {
        padding-left: 0;
      }

      &:not(:last-child) {
        padding-right: 0;
      }
    }
  }
}

.frame-viewport {
  min-height: 100%;
}

.frame-container {
  margin-right: var(--gutter);
  margin-left: var(--gutter);
  max-width: calc(100% - var(--gutter) * 2);

  &:is(.split > &) {
    @media (min-width: 768px) {
      &:not(:first-child) {
        margin-left: 0;
      }

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

.frame-panel {
  --inner: var(--space-6);

  margin-right: var(--gutter);
  margin-left: var(--gutter);
  padding: var(--inner) min(var(--gutter), var(--inner));
  width: 100%;
  max-width: calc(100% - var(--gutter) * 2);
  overflow: hidden;

  &.card {
    margin-right: 0;
    margin-left: 0;
    max-width: none;
  }
}

.frame-inset {
  &:is(.stack > &) {
    margin-right: calc(var(--gutter) * -1);
    margin-left: calc(var(--gutter) * -1);
    width: calc(100% + var(--gutter) * 2);

    &:first-child {
      margin-top: calc(var(--inner) * -1);
      height: calc(100% + var(--inner) * 1);
    }

    &:last-child {
      margin-bottom: calc(var(--inner) * -1);
      height: calc(100% + var(--inner) * 1);
    }
  }

  &:is(.split > &) {
    @media (max-width: 767.999px) {
      margin-right: calc(var(--gutter) * -1);
      margin-left: calc(var(--gutter) * -1);
      width: calc(100% + var(--gutter) * 2);

      &:first-child {
        margin-top: calc(var(--inner) * -1);
        height: calc(100% + var(--inner) * 1);
      }

      &:last-child {
        margin-bottom: calc(var(--inner) * -1);
        height: calc(100% + var(--inner) * 1);
      }
    }

    @media (min-width: 768px) {
      margin-top: calc(var(--inner) * -1);
      margin-top: calc(var(--inner) * -1);
      height: calc(100% + var(--inner) * 2);

      &:first-child {
        margin-left: calc(var(--gutter) * -1);
        width: calc(100% + var(--gutter) * 1);
      }

      &:last-child {
        margin-right: calc(var(--gutter) * -1);
        width: calc(100% + var(--gutter) * 1);
      }
    }
  }
}

.frame-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frame-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  order: 1;
  z-index: -1;
  margin: 0 !important;
  border-radius: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;

  ~ .full {
    position: relative;
    z-index: 1;
  }
}
