.variant-solid {
  background-color: var(--solid);
  color: var(--background);

  .full {
    color: var(--background);
  }

  &:hover {
    background-color: var(--solid-hover);
  }

  &:active {
    background-color: var(--solid-hover);
  }

  &.contrast {
    background-color: var(--solid-contrast);
  }
}

.variant-soft {
  background-color: var(--background-soft);
  color: var(--foreground);

  &:is(a, button),
  &[href] {
    &:hover {
      background-color: var(--background-hover);
    }

    &:active {
      background-color: var(--background-active);
    }
  }

  &.contrast {
    color: var(--foreground-contrast);
  }
}

.variant-surface {
  box-shadow: inset 0 0 0 1px var(--border-outline);
  background-color: var(--background-surface);
  color: var(--foreground);

  &:is(a, button),
  &[href] {
    &:hover {
      box-shadow: inset 0 0 0 1px var(--border-hover);
      background-color: var(--background-surface);
    }

    &:active {
      box-shadow: inset 0 0 0 1px var(--border-hover);
      background-color: var(--background-active);
    }
  }

  &.contrast {
    color: var(--foreground-contrast);
  }
}

.variant-outline {
  box-shadow: inset 0 0 0 1px var(--border-outline);
  color: var(--foreground);

  &:is(a, button),
  &[href] {
    &:hover {
      box-shadow: inset 0 0 0 1px var(--border-hover);
      background-color: var(--background-surface);
    }

    &:active {
      box-shadow: inset 0 0 0 1px var(--border-hover);
      background-color: var(--background-active);
    }
  }

  &.contrast {
    color: var(--foreground-contrast);
  }
}

.variant-ghost {
  &:is(a, button),
  &[href] {
    &:hover {
      background-color: var(--background-soft);
    }

    &:active {
      background-color: var(--background-active);
    }
  }

  &.contrast {
    color: var(--foreground-contrast);
  }
}

.variant-subtle {
  box-shadow: inset 0 0 0 1px var(--border);
  background-color: var(--background-subtle);
  color: var(--foreground);

  &.contrast {
    color: var(--foreground-contrast);
  }
}
