---
import type { HTMLAttributes } from "astro/types"
import { cva, type VariantProps } from "class-variance-authority"

import { cn } from "@/lib/utils"
import { formatPriceValue, type PriceValue } from "./format-price-value"

interface Props extends VariantProps<typeof variants>, HTMLAttributes<"span"> {
  price?: PriceValue
  currency?: string
  locale?: string
  variant?: "default" | "sale"
}

const variants = cva("leading-tight", {
  variants: {
    variant: {
      default: "text-foreground",
      sale: "text-muted-foreground line-through",
    },
  },
})

const {
  class: className,
  price,
  currency = "USD",
  locale = "en-US",
  variant = "default",
  ...props
} = Astro.props

const formattedPrice = formatPriceValue(price, { currency, locale })
---

{
  formattedPrice && (
    <span class={cn(variants({ variant }), className)} {...props}>
      {formattedPrice}
    </span>
  )
}
