---
import { getSlot } from '../../utils'

interface Props {}

const slot = await getSlot(Astro)
---

{
  slot && (
    <nav class:list={['compact nav']}>
      <Fragment set:html={slot} />
    </nav>
  )
}

<style>
  nav {
    font: var(--font);
    font-size: var(--text2);
    display: flex;
    align-items: center;
    gap: var(--flow4);
    margin-left: auto;
    width: max-content;
  }
</style>
