---
import type { ComponentProps } from 'astro/types'
import { getEntry } from 'astro:content'
import { Buttons } from 'src'
import { HeaderNav, HeaderRoot } from '.'
import Links from '../link/Links.astro'
import Logo from '../logo/Logo.astro'

interface Props
  extends ComponentProps<typeof HeaderRoot>,
    ComponentProps<typeof Logo>,
    ComponentProps<typeof Links>,
    ComponentProps<typeof Buttons>,
    ComponentProps<typeof HeaderNav> {}

let { props } = Astro
props = {
  ...(await getEntry('globals', 'header')).data,
  ...props,
}
---

<HeaderRoot {...props}>
  <Logo {...props.logo} />
  <HeaderNav>
    <Links {...props} />
    <Buttons {...props} />
    <slot name="nav" />
  </HeaderNav>
  <slot />
</HeaderRoot>

<!-- <div class="gap-flow4 flex">
  <ButtonGroup buttons={header.buttons} />
  <label
    class="button-secondary hue-base lg:hidden"
    for="header-toggle"
  >
    <i class="icon:menu-2 peer-checked:icon:x text-flow2 h-1.4em w-1.4em block" />
  </label>
</div>
<input
  id="header-toggle"
  class="peer hidden"
  type="checkbox"
/>

<div class:list="py-flow6 z-90 bg-hue1 border-hue6 !absolute left-0 right-0 top-full !hidden flex-col items-center border-y text-center backdrop-blur-lg peer-checked:max-lg:!flex">
  <Links
    layout="col"
    align="center"
    links={header.links}
  />
  <Buttons
    layout="col"
    buttons={header.buttons}
  />
</div> -->
