---
interface Props {}
---

<nav class:list={['compact nav']}>
  <slot />
</nav>

<style is:global>
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing-4);
    margin-left: auto;
    width: max-content;
    font: var(--font);
    font-size: var(--font-size-2);
  }
</style>
