---
import { z } from 'zod'
import { buildProps, parseProps } from '../utils/props'
import Button, { buttonSchema } from './Button.astro'
import Tag from './Tag.astro'
import Writeup, { writeupSchema } from './Writeup.astro'

type Props = z.infer<typeof channelSchema>

export const channelSchema = buildProps({
  button: buttonSchema,
  writeup: writeupSchema,
})

const { ...rest } = parseProps(channelSchema, Astro.props)
---

<Tag
  class:list={['channel']}
  compact
  {...rest}
>
  <Button
    size={3}
    {...rest.button}
  >
    <span class="hidden">{rest?.writeup?.title?.html}</span>
  </Button>
  <Writeup {...rest.writeup} />
</Tag>

<style is:global>
  .channel {
    display: flex;
    align-items: start;
    gap: var(--space-4);

    .writeup {
      gap: 0;
    }
  }
</style>
