---
import { z } from 'zod'
import { buildProps, parseProps } from '../utils/props'
import Description, { descriptionSchema } from './Description.astro'
import Tagline, { taglineSchema } from './Tagline.astro'
import Title, { titleSchema } from './Title.astro'

const COMPONENTS: any = {
  Title,
  Description,
  Tagline,
} as const

type Props = z.infer<typeof writeupSchema>

export const writeupSchema = buildProps({
  tagline: taglineSchema,
  title: titleSchema,
  description: descriptionSchema,
  align: z.enum(['start', 'center']).nullish(),
})

const { align, ...rest } = parseProps(writeupSchema, Astro.props)
---

<div>
  {
    Object.entries(rest).map(([key, value]) => {
      const Component = COMPONENTS[key]
      if (!Component) return null
      return <Component {...value}>{value}</Component>
    })
  }
</div>
