---
import type { ComponentProps } from 'astro/types'
import { BuildProps, buildProps, getChildProps } from '../utils'
import Buttons from './Buttons.astro'
import Links from './Links.astro'
import Logo from './Logo.astro'
import Tag from './Tag.astro'

interface Props
  extends BuildProps<'header', Props, string>,
    Pick<ComponentProps<typeof Logo>, 'logo' | '_logo'>,
    Pick<ComponentProps<typeof Links>, 'links' | '_links'>,
    Pick<ComponentProps<typeof Buttons>, 'buttons' | '_buttons'>,
    ComponentProps<typeof Tag> {
  hue?: 'base' | 'accent' | null
  size?: 'small' | 'medium' | 'large' | null
  look?: 'ghost' | 'soft' | 'solid' | null
  position?: 'relative' | 'sticky' | 'fixed' | 'absolute'
  frame?: 'panel'
}

const {
  as = 'header',
  hue,
  size,
  look,
  position,
  frame,
  ...rest
} = buildProps('header', Astro.props)

const child = getChildProps(rest)
---

<Tag
  class:list={['header compact', hue, size, look, position, frame]}
  {as}
  {...rest}
>
  <Logo {...child} />

  <nav class="nav compact">
    <Links {...child} />
    <Buttons {...child} />
  </nav>

  <slot />
</Tag>

<style is:global>
  @layer fullui {
    .peer {
      display: none;

      @media (min-width: 1024px) {
        ~ .links {
          display: none;
        }
      }

      &:checked ~ .links {
        display: flex;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        background: var(--background);
        padding: var(--space-6);
        width: 100%;

        @media (min-width: 1024px) {
          display: none !important;
        }
      }
    }

    .fullcart-icon button {
      --background: var(--hue3) !important;
      --color: var(--hue11) !important;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;

      p {
        background: var(--orange9);
      }
    }
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-4);
    margin-left: auto;
    width: max-content;
    font: var(--font);
    font-size: var(--text-2);
  }
</style>
