---
import { z } from 'zod'
import Tag from '../components/Tag.astro'
import { componentSchema } from '../schemas/componentSchema'
import Body, { bodySchema } from './Body.astro'
import Head, { headSchema } from './Head.astro'

type Props = z.infer<typeof layoutSchema>

export const layoutSchema = componentSchema({
  body: bodySchema,
  head: headSchema,
  render: z.any().nullish(),
  hasProse: z.boolean().nullish(),
})

const {
  as = 'html',
  render,
  hasProse,
  ...rest
} = layoutSchema.parse(Astro.props)
---

<!doctype html>
<Tag
  class:list={['layout']}
  as="html"
  {...rest}
>
  <Head {...rest.head}>
    <slot name="head" />
  </Head>
  <Body
    {...rest.body}
    render={hasProse ? render : undefined}
  >
    <slot name="body" />
    <slot />
  </Body>
</Tag>
