---
import Body from './Body.astro'
import Head from './Head.astro'

// type Props = ComponentProps<typeof Head> & ComponentProps<typeof Body>

const { ...rest } = Astro.props
// const _layout = await getEntry('settings', 'layout')
---

<!doctype html>
<html
  class="layout"
  {...rest}
>
  <Head {...rest}>
    <slot name="head" />
  </Head>
  <Body {...rest}>
    <slot name="body" />
    <slot />
  </Body>
</html>
