---
import { z } from 'astro:content'
import Tag from '../components/Tag.astro'
import { buildProps, parseProps } from '../utils'
import Body, { body } from './Body.astro'
import Head, { head } from './Head.astro'

type Props = z.infer<typeof layout>

export const layout = buildProps({
  body,
  head,
})

const { as = 'html', ...rest } = parseProps(layout, Astro.props)
---

<!doctype html>
<Tag
  class:list={['layout']}
  as="html"
  {...rest}
>
  <Head {...rest.head}>
    <slot name="head" />
  </Head>
  <Body {...rest.body}>
    <slot name="body" />
    <slot />
  </Body>
</Tag>
