---
import { z } from 'zod'
import Tag from '../components/Tag.astro'
import { buildProps, parseProps } from '../utils/props'
import Body, { bodySchema } from './Body.astro'
import Head, { headSchema } from './Head.astro'

type Props = z.infer<typeof layoutSchema>

export const layoutSchema = buildProps({
  body: bodySchema,
  head: headSchema,
})

const { as = 'html', ...rest } = parseProps(layoutSchema, Astro.props)
---

<!doctype html>
<Tag
  class:list={['layout']}
  as="html"
  {...rest}
>
  <Head {...rest.head}>
    <slot name="head" />
  </Head>
  <Body {...rest.body}>
    <slot name="body" />
    <slot />
  </Body>
</Tag>
