---
import { z } from 'astro:content'
import Tag from '../components/Tag.astro'
import Body, { body } from './Body.astro'
import Head, { head } from './Head.astro'
import { tag } from './Tag.astro'

type Props = z.infer<typeof layout>

export const layout = tag.extend({
  body: body.nullish(),
  head: head.nullish(),
})

const { as = 'html', ...rest } = layout.parse(Astro.props)
---

<!doctype html>
<Tag
  class:list={['layout']}
  as="html"
  {...rest}
>
  <Head {...rest.head}>
    <slot name="head" />
  </Head>
  <Body {...rest.body}>
    <slot name="body" />
    <slot />
  </Body>
</Tag>
