---
import { z } from 'astro:content'
import Tag from '../components/Tag.astro'
import { morph } from '../utils'
import Body, { macro as body } from './Body.astro'
import Head, { macro as head } from './Head.astro'

type Props = z.infer<typeof macro>

export const { macro, meso, micro } = morph('layout', {
  ...body.shape,
  layout: z.undefined(),
  head: head.shape.head,
  _head: head.shape._head,
})

const { as = 'html', ...rest } = meso(Astro.props)
---

<!doctype html>
<Tag
  class:list={['layout']}
  as="html"
  {...rest}
>
  <Head {...micro(rest)}>
    <slot name="head" />
  </Head>
  <Body {...rest}>
    <slot name="body" />
    <slot />
  </Body>
</Tag>
