---
// TODO: convert naar zod
import type { ComponentProps } from 'astro/types'
import { Tag, endomorphic, getChildProps, type Endomorphic } from '..'
import Body from './Body.astro'
import Head from './Head.astro'

// type Props = ComponentProps<typeof Head> & ComponentProps<typeof Body>

interface Props
  extends Endomorphic<Props, 'layout'>,
    Pick<ComponentProps<typeof Head>, 'head' | '_head'>,
    ComponentProps<typeof Body> {}

const { as = 'html', ...rest } = endomorphic(Astro.props, 'layout')
const child = getChildProps(rest)
// const _layout = await getEntry('settings', 'layout')
---

<!doctype html>
<Tag
  class="layout"
  {...rest}
  as="html"
>
  <Head {...child}>
    <slot name="head" />
  </Head>
  <Body {...rest}>
    <slot name="body" />
    <slot />
  </Body>
</Tag>
