---
import type { ComponentProps, HTMLTag } from 'astro/types'
import { buildProps, type BuildProps } from '../utils'
import Tag from './Tag.astro'

type Props<As extends HTMLTag = 'div'> = BuildProps<
  'option',
  ComponentProps<typeof Tag<As>> & {
    option?: string | null
    'data-price-change'?: number | null
  }
>

const { option, ...rest } = buildProps('option', Astro.props)
---

{
  option && (
    <option
      class="option"
      value={option}
      {...rest}
    >
      <Fragment set:html={option} />
    </option>
  )
}
