---
// TODO: convert naar zod
import type { ComponentProps } from 'astro/types'
import { macromorphic, type Endomorphic } from '../utils'
import Tag from './Tag.astro'

interface Props
  extends Endomorphic<Props, 'option', string>,
    ComponentProps<typeof Tag> {
  'data-price-change'?: number | null
}

const { option, ...rest } = macromorphic(Astro.props, 'option')
---

{
  option && (
    <option
      class="option"
      value={option}
      {...rest}
    >
      <Fragment set:html={option} />
    </option>
  )
}
