---
import { z } from 'zod'
import { buildProps, parseProps } from '../utils/props'

type Props = z.infer<typeof optionSchema>

export const optionSchema = buildProps({
  value: z.number().or(z.string()).nullable(),
})

const { value, html, ...rest } = parseProps(optionSchema, Astro.props)
---

{
  optionSchema && (
    <option
      class="option"
      value={value}
      {...rest}
    >
      <slot>{html ? html : value}</slot>
    </option>
  )
}
