---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

import { switchThumbVariants } from "./switch-variants"

interface Props extends HTMLAttributes<"span"> {}

const { class: className, ...props } = Astro.props
---

<span
  aria-hidden="true"
  data-slot="switch-thumb"
  class={cn(switchThumbVariants(), className)}
  {...props}
>
  <slot />
</span>
