---
// @ts-nocheck
import { STRIPE_RESTRICTED_KEY, URL } from 'astro:env/client'
import CartCheckout from './CartCheckout.svelte'
import CartTotal from './CartTotal.svelte'
import Element from './Element.astro'
import Paragraph from './Paragraph.astro'

interface Props {}

const { ...rest } = Astro.props
---

<Element
  size="md"
  class="cart-summary"
>
  <div
    class="row"
    {...rest}
  >
    <Paragraph
      class:list="total"
      text="Totaal"
      contrast
    />
    <CartTotal client:load />
  </div>
  <Paragraph
    class:list="shipping"
    text="Verzendkosten worden berekend bij het afrekenen."
  />
  <CartCheckout
    {STRIPE_RESTRICTED_KEY}
    {URL}
    client:load
  />
</Element>

<style is:global>
  @layer fulldev {
    .cart-summary {
      @apply flex flex-col gap-3 text-foreground;

      .price,
      .total {
        @apply text-lg;
      }

      .row {
        @apply flex w-full justify-between;
      }

      .shipping {
        @apply text-sm text-muted-foreground;
      }
    }
  }
</style>
