---
// @ts-nocheck
import Element from './Element.astro'
import Paragraph from './Paragraph.astro'

interface Props {}

const { ...rest } = Astro.props
---

<Element
  size="md"
  class="cart-summary"
>
  <div
    class="row"
    {...rest}
  >
    <Paragraph
      class:list="total"
      text="Totaal"
      contrast
    />
  </div>
  <Paragraph
    class:list="shipping"
    text="Verzendkosten worden berekend bij het afrekenen."
  />
</Element>

<style is:global>
  @layer fulldev {
    .cart-summary {
      @apply flex flex-col gap-3 text-foreground;

      .price,
      .total {
        @apply text-lg;
      }

      .row {
        @apply flex w-full justify-between;
      }

      .shipping {
        @apply text-sm text-muted-foreground;
      }
    }
  }
</style>
