---
// @ts-nocheck
import Element from './Element.astro'
import Paragraph from './Paragraph.astro'

interface Props {}

const { ...rest } = Astro.props
---

<Element
  size="md"
  class="cart-summary"
>
  <div
    class="row"
    {...rest}
  >
    <Paragraph
      class:list="total"
      text="Totaal"
      contrast
    />
  </div>
  <Paragraph
    class:list="shipping"
    text="Verzendkosten worden berekend bij het afrekenen."
  />
</Element>

<style is:global>
  @layer fulldev {
    .cart-summary {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-3);
      color: var(--color-foreground);

      .price,
      .total {
        font-size: var(--text-lg);
      }

      .row {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .shipping {
        color: var(--color-muted-foreground);
        font-size: var(--text-sm);
      }
    }
  }
</style>
