---
import type { ComponentProps } from 'astro/types'
import { Code as AstroCode } from 'astro:components'
import Element from 'fulldev-ui/components/Element.astro'

interface Props extends ComponentProps<typeof AstroCode> {}

const { lang = 'astro', code, ...rest } = Astro.props
---

<Element class:list="code">
  <div class="example">
    <slot name="example" />
    <Fragment set:html={code} />
  </div>
  <slot name="code" />
  {
    code && (
      <AstroCode
        class:list="code"
        code={code}
        {lang}
        {...rest}
      />
    )
  }
</Element>

<style is:global>
  @layer fulldev {
    .code {
      margin-top: var(--spacing-8);
      border: 1px solid var(--color-border);
      border-radius: var(--radius-md);
      width: 100%;
      &:first-child {
        margin-top: 0;
      }

      .example {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--spacing-8);
        padding: var(--spacing-8);

        > *,
        > slot > * {
          margin-top: 0;
        }

        .heading,
        .paragraph {
          width: 100%;
        }
      }

      .astro-code {
        margin-top: 0;
        border: none;
        border-radius: 0;
        padding: var(--spacing-4);
        overflow-x: auto;
        font-size: var(--text-sm);

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
</style>
