<div
  class="live-code-layout not-content text-foreground bg-background font-base antialiased; overscroll-none"
>
  <div
    class="bg-background flex items-center justify-center gap-6 rounded-t-lg border border-b-0 p-10"
  >
    <slot name="example" />
  </div>
  <div
    class="bg-muted [&_pre]:bg-muted [&_pre]:max-h-[400px] [&_pre]:overflow-y-auto [&_pre]:rounded-b-lg"
  >
    <slot name="code" />
  </div>
</div>
