---
import { buildProps, type BuildProps } from '../utils'

interface Base {
  option?: string | null
  'data-price-change'?: number | null
}

type Props = BuildProps<Base, 'option', 'option'>
const props = buildProps(Astro, 'option')

const { option, ...rest } = props
---

<option
  value={option}
  {...rest}
>
  <Fragment set:html={option} />
</option>
