---
// import Image from '../elements/image/Image.astro'

// import type { HTMLAttributes } from 'astro/types'
// interface Props {
//   person?: {
//     name?: string | null
//     tagline?: string | null
//     avatar?: string | ImageType | null
//   }
//   exclude?: boolean | null
// }

// const { person, exclude } = Astro.props
---

<!-- {
  !exclude && typeof person === 'object' && (
    <div class="gap-flow3 flex items-center">
      {typeof person.avatar === 'object' && (
        <div class="p-flow6 border-hue6 relative !hidden overflow-hidden rounded-full border">
          <Image
            class="absolute inset-0 h-full w-full rounded-full object-cover object-center"
            image={person.avatar}
          />
        </div>
      )}
      <div class="gap-flow1 flex flex-col">
        {person.name && <h5>{person.name}</h5>}
        {person.tagline && <p>{person.tagline}</p>}
      </div>
    </div>
  )
} -->
