---
import PopoverShadcn from 'fulldev-ui/components/shadcn/popover/Popover.vue'
import Button from './Button.astro'

const { ...rest } = Astro.props
---

<PopoverShadcn client:load>
  <Button
    type="button"
    slot="trigger"
  >
    trigger
  </Button>
  <slot slot="content" />
</PopoverShadcn>
