---
import Box from './Box.astro'

const slug = Astro.params.page
const folder = slug?.split('/').slice(-2, -1)[0]
const component = slug
  ?.split('/')
  .pop()
  ?.replace(/^\w/, (c) => c.toUpperCase())
const path = `src/${folder}/${component}.astro`
---

<p>
  Please reference
  <Box
    target="_blank"
    href={`https://github.com/fulldotdev/ui/blob/main/${path}`}
  >
    {path}
  </Box> for now.
</p>
