---
import Search from 'astro-pagefind/components/Search'
import Icon from 'fulldev-ui/components/Icon.astro'
---

<dialog id="search-dialog">
  <div style="display: flex; justify-content: flex-end;">
    <Icon
      name="x"
      id="close-search"
      style={{ cursor: 'pointer' }}
    />
  </div>
  <Search
    id="search"
    className="search-input"
    uiOptions={{ showImages: false }}
  />
</dialog>

<style>
  :root {
    --pagefind-ui-primary: var(--primary);
    --pagefind-ui-text: var(--text);
    --pagefind-ui-background: var(--background);
    --pagefind-ui-border: var(--border);
    --pagefind-ui-tag: var(--border);
  }

  dialog {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border);
    border-radius: var(--radius-2);
    background: none;
  }

  #search-dialog {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    background-color: var(--background);
    width: 100%;
    max-width: 50vw;
    height: 100%;
    max-height: 60vh;

    @media (max-width: 768px) {
      width: 80vw;
      height: 80vh;
    }
  }

  #search-dialog[open] {
    opacity: 1;
  }
</style>

<script>
  function initializeSearchDialog() {
    const openButton = document.getElementById('open-search')
    const closeButton = document.getElementById('close-search')
    const dialog = document.getElementById('search-dialog')

    if (!openButton || !closeButton || !dialog) return

    openButton.addEventListener('click', () => {
      dialog.showModal()
      setTimeout(() => {
        dialog.style.opacity = '1'
        const searchInput = document.querySelector('.pagefind-ui__search-input')
        if (searchInput) {
          searchInput.focus()
        }
      }, 0)
    })

    closeButton.addEventListener('click', () => {
      closeDialog()
    })

    dialog.addEventListener('click', (event) => {
      if (event.target === dialog) {
        closeDialog()
      }
    })

    document.addEventListener('keydown', (event) => {
      if (event.key === 'Escape' && dialog.open) {
        event.preventDefault()
        closeDialog()
      }
    })

    function closeDialog() {
      dialog.style.opacity = '0'
      setTimeout(() => {
        dialog.close()
      }, 200)
    }
  }

  document.addEventListener('DOMContentLoaded', initializeSearchDialog)

  document.addEventListener('astro:page-load', initializeSearchDialog)
</script>
