---
import Box from '@/components/Box.astro'
import Button from '@/components/Button.astro'
import {
  SiDiscord,
  SiFacebook,
  SiGithub,
  SiInstagram,
  SiTiktok,
  SiTwitch,
  SiX,
  SiYoutube,
} from '@icons-pack/react-simple-icons'
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'div'> {
  socials?: string[] | undefined
}

const { socials, class: className, ...rest } = Astro.props
---

<Box
  class:list={['socials inline-flex gap-1', className]}
  {...rest}
>
  {
    socials?.map((social) => (
      <Button
        variant="ghost"
        size="icon"
        class="size-8 [&>svg]:fill-current"
      >
        {social.includes('x.com') ? <SiX /> : null}
        {social.includes('facebook') ? <SiFacebook /> : null}
        {social.includes('instagram') ? <SiInstagram /> : null}
        {social.includes('youtube') ? <SiYoutube /> : null}
        {social.includes('tiktok') ? <SiTiktok /> : null}
        {social.includes('twitch') ? <SiTwitch /> : null}
        {social.includes('github') ? <SiGithub /> : null}
        {social.includes('discord') ? <SiDiscord /> : null}
      </Button>
    ))
  }
</Box>
