---
import Default from "@astrojs/starlight/components/MarkdownContent.astro"

import Links1 from "@/components/blocks/links-1.astro"

const isPage = Astro.locals.starlightRoute.id === "docs/components"
---

{
  isPage ? (
    <div class="@container">
      <Links1
        class="p-0! pt-4!"
        links={[
          { text: "Accordion", href: "/docs/components/accordion/" },
          { text: "Alert", href: "/docs/components/alert/" },
          { text: "Avatar", href: "/docs/components/avatar/" },
          { text: "Badge", href: "/docs/components/badge/" },
          { text: "Banner", href: "/docs/components/banner/" },
          { text: "Button", href: "/docs/components/button/" },
          { text: "Calendar", href: "/docs/components/calendar/" },
          { text: "Checkbox", href: "/docs/components/checkbox/" },
          { text: "Collapsible", href: "/docs/components/collapsible/" },
          { text: "Command", href: "/docs/components/command/" },
          { text: "Dialog", href: "/docs/components/dialog/" },
          { text: "Empty", href: "/docs/components/empty/" },
          { text: "Field", href: "/docs/components/field/" },
          { text: "Footer", href: "/docs/components/footer/" },
          { text: "Auto Form", href: "/docs/components/auto-form/" },
          { text: "Header", href: "/docs/components/header/" },
          { text: "Icon", href: "/docs/components/icon/" },
          { text: "Image", href: "/docs/components/image/" },
          { text: "Input", href: "/docs/components/input/" },
          { text: "Item", href: "/docs/components/item/" },
          { text: "Label", href: "/docs/components/label/" },
          { text: "List", href: "/docs/components/list/" },
          { text: "Logo", href: "/docs/components/logo/" },
          { text: "Mode Toggle", href: "/docs/components/mode-toggle/" },
          {
            text: "Native Carousel",
            href: "/docs/components/native-carousel/",
          },
          { text: "Native Select", href: "/docs/components/native-select/" },
          {
            text: "Navigation Menu",
            href: "/docs/components/navigation-menu/",
          },
          { text: "Price", href: "/docs/components/price/" },
          { text: "Radio Group", href: "/docs/components/radio-group/" },
          { text: "Rating", href: "/docs/components/rating/" },
          { text: "Section", href: "/docs/components/section/" },
          { text: "Select", href: "/docs/components/select/" },
          { text: "Separator", href: "/docs/components/separator/" },
          { text: "Sheet", href: "/docs/components/sheet/" },
          { text: "Sidebar", href: "/docs/components/sidebar/" },
          { text: "Skeleton", href: "/docs/components/skeleton/" },
          { text: "Spinner", href: "/docs/components/spinner/" },
          { text: "Table", href: "/docs/components/table/" },
          { text: "Tabs", href: "/docs/components/tabs/" },
          { text: "Textarea", href: "/docs/components/textarea/" },
          { text: "Tile", href: "/docs/components/tile/" },
          { text: "Video", href: "/docs/components/video/" },
        ]}
      />
    </div>
  ) : (
    <Default>
      <slot />
    </Default>
  )
}
