---
import { getEntry } from "astro:content"

import { Logo, LogoImage, LogoText } from "@/components/ui/logo"
import {
  NavigationMenu,
  NavigationMenuItem,
  NavigationMenuLink,
  NavigationMenuList,
} from "@/components/ui/navigation-menu"

const layout = await getEntry("layouts", "index")

const header =
  layout?.data?.headers?.find(
    (entry) => entry?.logo || entry?.menus || entry?.socials
  ) ?? layout?.data?.headers?.[0]
const menus = header?.menus
const logo = header?.logo
---

<div class="flex items-center gap-8">
  <Logo href={logo?.href ?? "/"}>
    <LogoImage src={logo?.src} alt={logo?.alt ?? "fulldev/ui logo"} />
    <LogoText>{logo?.text ?? "fulldev/ui"}</LogoText>
  </Logo>
  <NavigationMenu class="mr-auto max-lg:hidden">
    <NavigationMenuList class="flex list-none items-center gap-0">
      {
        menus?.map((menu, index) => (
          <NavigationMenuItem value={`menu-${index}`}>
            <NavigationMenuLink
              class="inline-flex h-8 items-center bg-transparent px-3 py-0"
              href={menu.href}
            >
              {menu.text}
            </NavigationMenuLink>
          </NavigationMenuItem>
        ))
      }
    </NavigationMenuList>
  </NavigationMenu>
</div>
