---
import type { HTMLAttributes } from 'astro/types'
import Root from 'fulldev-ui/components/Root.astro'

type Props = HTMLAttributes<'table'> & {
  color?: 'base' | 'brand'
  size?: 'sm' | 'md' | 'lg'
  header?: string[]
  body?: string[][]
  footer?: string[]
  radius?: 'none' | 'auto'
}

const { header, body, footer, radius = 'auto', ...rest } = Astro.props
---

<Root
  class:list="table"
  {...rest}
>
  <Root
    as="table"
    {radius}
  >
    <Root as="thead">
      <Root as="tr">
        {header?.map((cell) => <th>{cell}</th>)}
      </Root>
    </Root>
    <Root as="tbody">
      {
        body?.map((row: string[]) => (
          <Root as="tr">
            {row?.map((cell) => (
              <td>{cell}</td>
            ))}
          </Root>
        ))
      }
    </Root>
    <Root as="tfoot">
      <Root as="tr">
        {footer?.map((cell) => <td>{cell}</td>)}
      </Root>
    </Root>
  </Root>
</Root>

<style is:global lang="scss">
  @layer fulldev {
    .table {
      box-shadow: 0 0 0 1px var(--color-6);
      border-radius: var(--radius-1);
      overflow-x: auto;

      table {
        display: table;
        margin: 0;
        border-collapse: collapse;
        width: 100%;
        caption-side: bottom;
        white-space: nowrap;

        &.radius-none {
          border-radius: 0;
        }

        &.radius-auto {
          border-radius: var(--radius-1);
        }

        thead {
          background-color: var(--color-3);

          &:not(:last-child) {
            border-bottom: 1px solid var(--color-6);
          }

          th {
            color: var(--color-12);
            font-weight: 500;
          }
        }

        tbody {
          display: table-row-group;
          vertical-align: middle;
          background-color: var(--color-2);
          width: 100%;
          unicode-bidi: isolate;
        }

        tfoot {
          display: table-footer-group;
          background-color: var(--color-3);
          color: var(--color-12);

          &:not(:last-child) {
            border-top: 1px solid var(--color-6);
          }
        }

        tr + tr {
          border-top: 1px solid var(--color-6);
        }

        th,
        td {
          vertical-align: middle;
          padding: var(--space-3) var(--space-4);
          font-size: var(--text-2);
          text-align: left;
        }
      }
    }
  }
</style>
