---
import type { HTMLAttributes } from 'astro/types'
import { getSlot } from 'src'

interface Props {
  text?: string | null
  class?: HTMLAttributes<'div'>['class']
}

const { text, class: className } = Astro.props
const slot = await getSlot(Astro)
---

{
  (text || slot) && (
    <p class:list={['text full-theme', className]}>
      {text}
      <slot />
    </p>
  )
}

<style>
  p {
    color: var(--color);
    font: var(--font);
  }
</style>
