---
import Button from '@/components/Button.astro'
import Icon from '@/components/Icon.astro'

interface Props {
  show?: any
  size?: any
  variant?: 'primary' | 'secondary' | 'outline' | 'ghost' | undefined
}

const { variant = 'secondary', ...rest } = Astro.props
---

<Button
  class="themer"
  {variant}
  {...rest}
>
  <Icon
    class="themer-light-icon"
    name="sun"
  />
  <Icon
    class="themer-dark-icon"
    name="moon"
  />
  <select class="themer-select">
    <option value="light">Light</option>
    <option value="dark">Dark</option>
    <option
      value="system"
      selected
    >
      System
    </option>
  </select>
</Button>

<script>
  import { navigate } from 'astro:transitions/client'

  function init(document: Document) {
    document.querySelectorAll('.themer select').forEach((select) => {
      select.addEventListener('change', (event) => {
        if (event.target instanceof HTMLSelectElement) {
          localStorage.setItem('theme', event.target.value)
          navigate(window.location.href)
        }
      })
    })
  }

  init(document)

  document.addEventListener('astro:before-swap', (event) => {
    init(event.newDocument)
  })
</script>

<style is:global>
  .themer {
    position: relative;
    padding-right: 0;
    padding-left: 0;

    .themer-select {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      appearance: none;
      opacity: 0;
      cursor: pointer;
    }
  }

  html.dark .themer-light-icon {
    display: none;
  }

  html:not(.dark) .themer-dark-icon {
    display: none;
  }
</style>
