---
import Button from './Button.astro'
import Icon from './Icon.astro'

interface Props {
  size?: 'sm' | 'md' | 'lg' | undefined
  variant?: 'primary' | 'secondary' | 'outline' | 'ghost' | undefined
}

const { size = 'sm', variant = 'secondary', ...rest } = Astro.props
---

<Button
  class="themer"
  {size}
  {variant}
  {...rest}
>
  <Icon
    class="themer-light-icon"
    name="sun"
  />
  <Icon
    class="themer-dark-icon"
    name="moon"
  />
  <select class="themer-select">
    <option value="light">Light</option>
    <option value="dark">Dark</option>
    <option
      value="system"
      selected
    >
      System
    </option>
  </select>
</Button>

<script>
  import { navigate } from 'astro:transitions/client'

  function init(document: Document) {
    document.querySelectorAll('.themer select').forEach((select) => {
      select.addEventListener('change', (event) => {
        if (event.target instanceof HTMLSelectElement) {
          localStorage.setItem('theme', event.target.value)
          navigate(window.location.href)
        }
      })
    })
  }

  init(document)

  document.addEventListener('astro:before-swap', (event) => {
    init(event.newDocument)
  })
</script>

<style is:global>
  .themer {
    @apply relative;

    &:not(.dark) .themer-dark-icon,
    &.dark .themer-light-icon {
      display: none;
    }

    .themer-select {
      @apply absolute inset-0 cursor-pointer appearance-none opacity-0;
    }
  }
</style>
