---
import { PanelLeftIcon } from "@lucide/astro"
import type { HTMLAttributes } from "astro/types"

import { Button } from "@/components/ui/button"

type Props = HTMLAttributes<"button">

const { class: className, ...props } = Astro.props
---

<Button
  data-sidebar="trigger"
  data-slot="sidebar-trigger"
  variant="ghost"
  size="icon-sm"
  class={className}
  {...props}
>
  <PanelLeftIcon />
  <span class="sr-only">Toggle Sidebar</span>
</Button>
