---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div
  data-slot="sidebar-content"
  data-sidebar="content"
  class={cn(
    "no-scrollbar flex min-h-0 flex-1 flex-col gap-2 overflow-auto [mask-image:linear-gradient(to_bottom,transparent,black_2rem,black_calc(100%_-_2rem),transparent)] [-webkit-mask-image:linear-gradient(to_bottom,transparent,black_2rem,black_calc(100%_-_2rem),transparent)] group-data-[collapsible=icon]:overflow-hidden group-data-[collapsible=icon]:[mask-image:none] group-data-[collapsible=icon]:[-webkit-mask-image:none]",
    className
  )}
  {...props}
>
  <slot />
</div>
