---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div
  data-slot="sidebar-separator"
  data-sidebar="separator"
  role="none"
  class={cn("bg-sidebar-border mx-2 h-px w-auto shrink-0", className)}
  {...props}
>
</div>
