---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"
import { Skeleton } from "@/components/ui/skeleton"

type Props = HTMLAttributes<"div"> & {
  showIcon?: boolean
}

const { class: className, showIcon = false, ...props } = Astro.props
const width = `${Math.floor(Math.random() * 40) + 50}%`
---

<div
  data-slot="sidebar-menu-skeleton"
  data-sidebar="menu-skeleton"
  class={cn("flex h-8 items-center gap-2 rounded-md px-2", className)}
  {...props}
>
  {
    showIcon && (
      <Skeleton class="size-4 rounded-md" data-sidebar="menu-skeleton-icon" />
    )
  }
  <Skeleton
    class="h-4 max-w-(--skeleton-width) flex-1"
    data-sidebar="menu-skeleton-text"
    style={`--skeleton-width: ${width};`}
  />
</div>
