---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {
  defaultOpen?: boolean
}

const { class: className, style, defaultOpen = true, ...props } = Astro.props

const slot = await Astro.slots.render("default")

const SIDEBAR_WIDTH = "16rem"
const SIDEBAR_WIDTH_ICON = "3rem"
---

{
  slot && (
    <>
      <input
        type="checkbox"
        id="sidebar-state"
        class="peer/sidebar-toggle sr-only"
        checked={defaultOpen}
      />
      <div
        data-slot="sidebar-wrapper"
        style={`--sidebar-width: ${SIDEBAR_WIDTH}; --sidebar-width-icon: ${SIDEBAR_WIDTH_ICON}; ${style || ""}`}
        class={cn(
          "group/sidebar-wrapper has-data-[variant=inset]:bg-sidebar flex min-h-svh w-full",
          className
        )}
        {...props}
      >
        <Fragment set:html={slot} />
      </div>
    </>
  )
}
