---
import type { HTMLAttributes } from "astro/types"
import PanelLeftIcon from "lucide-static/icons/panel-left.svg"

import { cn } from "@/lib/utils"

interface Props extends Omit<HTMLAttributes<"label">, "for"> {}

const { class: className, ...props } = Astro.props
---

<label
  for="sidebar-state"
  data-sidebar="trigger"
  data-slot="sidebar-trigger"
  class={cn(
    "inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px]",
    "hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50",
    "size-7 cursor-pointer",
    className
  )}
  {...props}
>
  <PanelLeftIcon />
  <span class="sr-only">Toggle Sidebar</span>
</label>
