---
import type { HTMLAttributes } from "astro/types"

import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"

type Props = HTMLAttributes<"button"> & {
  variant?: "ghost" | "secondary"
}

const { class: className, ...props } = Astro.props
---

<Button
  data-sidebar="trigger"
  data-slot="sidebar-trigger"
  variant="ghost"
  size="icon-sm"
  class={className}
  aria-keyshortcuts="Meta+B"
  {...props}
>
  <Icon name="panel-left" />
  <span class="sr-only">Toggle Sidebar</span>
  <slot />
</Button>
