---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {
  showIcon?: boolean
}

const { class: className, showIcon = false, ...props } = Astro.props

// Random width between 50 to 90%
const width = `${Math.floor(Math.random() * 40) + 50}%`
---

<div
  data-slot="sidebar-menu-skeleton"
  data-sidebar="menu-skeleton"
  class={cn("flex h-8 items-center gap-2 rounded-md px-2", className)}
  {...props}
>
  {
    showIcon && (
      <div
        class="bg-muted size-4 animate-pulse rounded-md"
        data-sidebar="menu-skeleton-icon"
      />
    )
  }
  <div
    class="bg-muted h-4 flex-1 animate-pulse rounded-md"
    data-sidebar="menu-skeleton-text"
    style={`max-width: ${width}`}
  >
  </div>
</div>
