---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props

const slot = await Astro.slots.render("default")
---

{
  slot && (
    <div
      data-slot="sidebar-group-label"
      data-sidebar="group-label"
      class={cn(
        "text-sidebar-foreground/70 ring-sidebar-ring flex h-8 shrink-0 items-center rounded-md px-2 text-xs font-medium outline-hidden transition-[margin,opacity] duration-200 ease-linear focus-visible:ring-2 [&>svg]:size-4 [&>svg]:shrink-0",
        "peer-[:not(:checked)]/sidebar-toggle:group-data-[collapsible=icon]:-mt-8 peer-[:not(:checked)]/sidebar-toggle:group-data-[collapsible=icon]:opacity-0",
        className
      )}
      {...props}
    >
      <Fragment set:html={slot} />
    </div>
  )
}
