---
import type { HTMLAttributes } from "astro/types"
import PanelLeftIcon from "lucide-static/icons/panel-left.svg"

import { Button } from "@/components/ui/button"

interface Props extends HTMLAttributes<"button"> {}

const { class: className, ...props } = Astro.props
---

<Button
  data-sidebar="trigger"
  data-slot="sidebar-trigger"
  variant="ghost"
  size="icon-sm"
  class={className}
  {...props}
>
  <PanelLeftIcon class="rtl:rotate-180" />
  <span class="sr-only">Toggle Sidebar</span>
</Button>
