---
interface Props {
  gallery?: boolean
}

const { gallery } = Astro.props

const images = [
  {
    src: 'https://picsum.photos/seed/1/800/600',
    alt: 'Image 1',
  },
  {
    src: 'https://picsum.photos/seed/2/1000/600',
    alt: 'Image 1',
  },
  {
    src: 'https://picsum.photos/seed/3/800/600',
    alt: 'Image 1',
  },
  {
    src: 'https://picsum.photos/seed/4/800/600',
    alt: 'Image 1',
  },
  {
    src: 'https://picsum.photos/seed/5/800/600',
    alt: 'Image 1',
  },
  {
    src: 'https://picsum.photos/seed/6/800/600',
    alt: 'Image 1',
  },
  {
    src: 'https://picsum.photos/seed/4/800/600',
    alt: 'Image 1',
  },
  {
    src: 'https://picsum.photos/seed/5/800/600',
    alt: 'Image 1',
  },
  {
    src: 'https://picsum.photos/seed/6/800/600',
    alt: 'Image 1',
  },
]
---

{
  gallery && (
    <div class="container">
      <div class="large">
        {images.map((image, i) => (
          <img
            class="main"
            src={image.src}
          />
        ))}
      </div>
      <div class="small">
        {images.map((image, i) => (
          <img
            class="secondary"
            src={image.src}
          />
        ))}
      </div>
    </div>
  )
}

<style>
  .container {
  }

  .large,
  .small {
    scroll-behavior: smooth;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: var(--flow1);
    padding-bottom: var(--flow1);
  }

  .small {
    gap: var(--flow1);
    padding-bottom: var(--flow1);
    padding-top: var(--flow1);
  }

  img {
    object-fit: contain;
    border-radius: var(--radius);
  }

  .large > img {
    scroll-snap-align: start;
    width: 100%;
  }

  .small > img {
    scroll-snap-align: start;
    width: 20%;
    transition: var(--transition);
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }
  }

  .small {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0px;
    order: 10;
  }

  input {
    display: none;
  }

  label:checked {
    border: 4px solid red;
  }
</style>
