---
import type { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"option"> {}

const { ...props } = Astro.props
---

<option data-slot="native-select-option" {...props}>
  <slot />
</option>

