---
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"option">

const { ...props } = Astro.props
---

<option data-slot="native-select-option" {...props}>
  <slot />
</option>
