---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"

interface Props extends ComponentProps<typeof Button> {}

const { class: className, ...props } = Astro.props
---

<Button
  class={cn("z-10 ml-auto", className)}
  size="icon-sm"
  variant="ghost"
  data-slot="banner-close"
  {...props}
>
  <Icon name="x" />
</Button>
