---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

import BannerClose from "./banner-close.astro"

type Props = HTMLAttributes<"div"> & {
  showClose?: boolean
}

const { class: className, showClose = true, ...props } = Astro.props
---

<div
  class={cn(
    "relative flex w-full flex-col gap-2 py-1 @5xl:flex-row @5xl:items-center",
    className
  )}
  {...props}
>
  <slot />
  {
    showClose && (
      <BannerClose
        class="absolute top-1/2 right-0 z-20 -translate-y-1/2 opacity-70 transition-opacity hover:opacity-100"
        aria-label="Close"
      />
    )
  }
</div>
