---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

import BannerClose from "./banner-close.astro"

type Props = HTMLAttributes<"div"> & {
  showClose?: boolean
}

const { class: className, showClose = true, ...props } = Astro.props
---

<div
  class={cn(
    "relative mx-auto flex w-full max-w-container flex-col gap-2 px-6 pr-10 in-[[data-slot=sidebar-inset]]:px-4 in-[[data-slot=sidebar-inset]]:pr-8 @5xl:flex-row @5xl:items-center",
    className
  )}
  {...props}
>
  <slot />
  {
    showClose && (
      <BannerClose
        class="absolute top-1/2 right-4 z-20 -translate-y-1/2 in-[[data-variant=floating]]:right-5"
        aria-label="Close"
      />
    )
  }
</div>
