---
import type { HTMLAttributes } from "astro/types"
import XIcon from "lucide-static/icons/x.svg"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div"> & {
  showClose?: boolean
}

const { class: className, showClose = true, ...props } = Astro.props
---

<div
  class={cn(
    "relative mx-auto flex w-full max-w-7xl gap-4 px-4",
    showClose && "pr-10",
    className
  )}
  {...props}
>
  <slot />
  {
    showClose && (
      <button
        type="button"
        class="focus-visible:ring-ring/50 absolute top-1/2 right-4 z-20 inline-flex shrink-0 -translate-y-1/2 items-center justify-center rounded-sm text-current/65 transition-colors outline-none hover:text-current focus-visible:text-current focus-visible:ring-2 disabled:pointer-events-none disabled:opacity-50 in-data-[variant=floating]:right-5"
        aria-label="Close"
        data-slot="banner-close"
      >
        <XIcon class="size-4" />
        <span class="sr-only">Close</span>
      </button>
    )
  }
</div>
