<!-- ---
import type { CollectionEntry } from 'astro:content'
import Layout from '../../../layouts/Layout.astro'
// import Footer from '../../elements/Footer.astro'
import Whatsapp from '../../elements/Whatsapp.astro'
import Header from '../../elements/header/Header.astro'
import SectionRenderer from '../../misc/SectionRenderer.astro'

interface Props {
  entry: CollectionEntry<'pages'>
  frontmatter: CollectionEntry<'pages'>['data']
}

const { entry, frontmatter } = Astro.props
---

<Layout {frontmatter.seo}>
  <Header />
  <main>
    <SectionRenderer sections={frontmatter.sections} />
    <slot />
    <Whatsapp />
  </main>
  <Footer />
</Layout> -->
