---
import { Button, Group, Heading, Section, Tagline } from 'fulldev-ui'

const { tagline, heading, buttons } = Astro.props
---

<Section
  align="center"
  size="3xl"
  structure="column"
  align="center"
  class="cta-section"
  style={{ margin: ' var(--space-spacer) 0' }}
>
  <Tagline>{tagline ?? 'Let Fulldev UI help you'}</Tagline>
  <Heading
    as="h2"
    set:html={heading ?? 'Build content websites <br /> in a fraction of time'}
  />
  <Group>
    {buttons && buttons?.map((button: any) => <Button {...button} />)}
    <slot />
  </Group>
</Section>

<style>
  .cta-section {
    background-image: url('/landing-background.png') !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
</style>
