---
import { Button, Group, Heading, Section, Tagline } from 'fulldev-ui'

const { tagline, heading, buttons } = Astro.props
---

<Section
  align="center"
  size="3xl"
  align="center"
  class="cta-section cta"
>
  <Tagline color="brand"> Let Fulldev UI help you </Tagline>
  <Heading
    as="h2"
    set:html={heading ?? 'Build content websites <br /> in a fraction of time'}
  />
  <Group>
    {
      buttons &&
        buttons?.map((button: any, i: number) => (
          <Button
            color="brand"
            variant={i > 0 ? 'soft' : 'solid'}
            contrast={i > 0}
            {...button}
          />
        ))
    }
    <slot />
  </Group>
</Section>
