---
import { Group, Heading, Section, Tagline } from 'fulldev-ui'

const { tagline, heading } = Astro.props
---

<Section
  align="center"
  size="2xl"
  structure="column"
  align="center"
  class="cta-section"
  style={{ margin: ' var(--space-spacer) 0' }}
>
  <Tagline>{tagline ?? 'Let Fulldev UI help you'}</Tagline>
  <Heading
    as="h2"
    set:html={heading ?? 'Build content websites <br /> in a fraction of time'}
  />
  <Group>
    <slot />
  </Group>
</Section>
