---
const { style } = Astro.props
---

<div
  class="decorative-box full"
  style={style}
>
</div>

<style>
  .decorative-box {
    border: 1px solid #333949;
    border-radius: 4px;
    background-image: url('/landing-background.png');
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    background-color: #141822;
    width: 100%;
    min-width: 100px;
    height: 100%;
    min-height: 100px;
  }
</style>
