---
const { style, ...rest } = Astro.props
---

<div
  class:list={'decorative-box full'}
  style={style}
  {...rest}
>
</div>

<style>
  .decorative-box {
    border: 1px solid var(--base-border);
    border-radius: 4px;
    width: 100%;
    min-width: 100px;
    height: 100%;
    min-height: 100px;
  }
</style>
