---
import {
  Badge,
  Group,
  Heading,
  Link,
  Paragraph,
  Section,
  Spread,
} from 'fulldev-ui'
---

<footer>
  <Section
    align="start"
    size="sm"
    style="border-top: 1px solid #262626;"
  >
    <Spread align="start">
      <div>
        <Heading level={2}>Fulldev UI</Heading>
        <Paragraph>
          Rapidly build content-driven websites, with the power of modern
          styling, static / server rendering, and cascading styles.
        </Paragraph>
        <Group>
          <Badge text="pnpm install fulldev-ui" />
        </Group>
      </div>
      <div>
        <Spread>
          <div>
            <Heading level={3}>Socials</Heading>
            <Group style="flex-direction: column;">
              <Link href="https://github.com/fulldotdev/">Github</Link>
              <Link href="https://x.com/silveltm">Twitter</Link>
              <Link href="https://discord.gg/vXZqMbadm8">Discord</Link>
              <Link href="https://www.linkedin.com/in/silveltman/"
                >LinkedIn</Link
              >
            </Group>
          </div>
          <div>
            <Heading level={3}>Resources</Heading>
            <Group style="flex-direction: column;">
              <Link href="/overview/introduction">Docs</Link>
              <Link href="https://github.com/fulldotdev/ui">Source Code</Link>
              <Link href="https://github.com/fulldotdev/ui/issues"
                >Github Issues</Link
              >
              <Link
                href="https://github.com/fulldotdev/ui/blob/main/CONTRIBUTING.md"
                >Contrubuting</Link
              >
            </Group>
          </div>
        </Spread>
      </div>
    </Spread>
  </Section>
</footer>
