---
import {
  Badge,
  Box,
  Group,
  Heading,
  Link,
  Paragraph,
  Section,
} from 'fulldev-ui'
---

<footer>
  <Section
    size="sm"
    style="border-top: 1px solid #262626;"
  >
    <Box structure="spread">
      <Box structure="column">
        <Heading level={2}>Fulldev UI</Heading>
        <Paragraph>
          Rapidly build content-driven websites, with the power of modern
          styling, static / server rendering, and cascading styles.
        </Paragraph>
        <Group>
          <Badge text="pnpm install fulldev-ui" />
        </Group>
      </Box>

      <Box structure="spread">
        <div style="display: flex; flex-direction: column; gap: 5px;">
          <Heading level={3}>Socials</Heading>
          <Box style="display: flex; flex-direction: column; gap: 5px;">
            <Link href="https://github.com/fulldotdev/">Github</Link>
            <Link href="https://x.com/fulldotdev">Twitter</Link>
            <Link href="https://discord.gg/vXZqMbadm8">Discord</Link>
          </Box>
        </div>

        <div style="display: flex; flex-direction: column; gap: 5px;">
          <Heading level={3}>Resources</Heading>
          <Box style="display: flex; flex-direction: column; gap: 5px;">
            <Link href="/overview/introduction">Docs</Link>
            <Link href="https://github.com/fulldotdev/ui">Source Code</Link>
            <Link href="https://github.com/fulldotdev/ui/issues"
              >Github Issues</Link
            >
            <Link
              href="https://github.com/fulldotdev/ui/blob/main/CONTRIBUTING.md"
              >Contributing</Link
            >
          </Box>
        </div>
      </Box>
    </Box>
  </Section>
</footer>
