---

---

<div class="live-code-layout not-content full color-base size-md">
  <div class="example-container">
    <div>
      <slot name="example" />
    </div>
  </div>
  <slot name="code" />
</div>

<style>
  .live-code-layout {
    display: flex;
    flex-direction: column;

    .example-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border-width: var(--ec-brdWd, 1px);
      border-style: solid;
      border-color: var(--ec-brdCol, var(--sl-color-gray-5));
      border-bottom: none;
      background: var(--background);

      > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        justify-items: center;
        gap: 12px;
        padding: 2.5rem;
        width: 100%;
        overflow-x: auto;

        /* .full.heading {
          width: 100%;
        } */

        > .full,
        > slot > .full {
          flex-grow: 0;
          white-space: nowrap;

          * {
            white-space: wrap;
          }
        }
      }
    }

    code,
    pre {
      background-color: var(--background-subtle) !important;
    }
  }
</style>
