---

---

<div class="live-code-layout not-content color-base full-size-md">
  <div class="example-container">
    <div>
      <slot name="example" />
    </div>
  </div>
  <slot name="code" />
</div>

<style>
  .live-code-layout {
    display: flex;
    flex-direction: column;

    .example-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border-width: var(--ec-brdWd, 1px);
      border-style: solid;
      border-color: var(--ec-brdCol, var(--sl-color-gray-5));
      border-bottom: none;
      background: var(--color-raised-background);

      .full-heading,
      .full-paragraph,
      .full-list {
        width: 100%;
      }

      .full-section {
        border: 4px dotted var(--primary-background);

        .full-heading,
        .full-paragraph,
        .full-list {
          width: auto;
        }
      }

      > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        justify-items: center;
        gap: 12px;
        padding: 2.5rem;
        width: 100%;
        overflow-x: auto;

        * {
          flex-grow: 0;
          white-space: nowrap;
        }
      }
    }
  }
</style>
