---
import { Table, TableHeader, TableRow } from 'fulldev-ui'

const { props } = Astro.props
---

<Table
  class:list={'not-content'}
  size="md"
>
  <TableHeader cells={['Prop', 'Type', 'Default']} />
  {
    props.map((item) => (
      <TableRow cells={[item.prop, item.type, item.default || `&mdash;`]} />
    ))
  }
</Table>
