---
import { Table, TableHeader, TableRow } from 'fulldev-ui'

const { props } = Astro.props

console.log(props)
---

<Table class:list={'not-content'}>
  <TableHeader cells={['Prop', 'Type', 'Default']} />
  {
    props.map((item) => (
      <TableRow cells={[item.prop, item.type, item.default || `&mdash;`]} />
    ))
  }
</Table>
