---
import PropsTable from './PropsTable.astro'

const { props } = Astro.props

console.log(props)
---

<h2>Props</h2>
{
  Array.isArray(props) ? (
    <PropsTable {props} />
  ) : (
    Object.entries(props || {})?.map(([key, value]) => (
      <>
        <h3>{key}</h3>
        <PropsTable props={value} />
      </>
    ))
  )
}

<style>
  h3 {
    text-transform: capitalize;
  }
</style>
