---
import { Table, TableHeader, TableRow } from 'fulldev-ui'

const { props } = Astro.props

console.log(props)
---

<Table>
  <TableHeader rows={['Prop', 'Type', 'Default']} />
  {
    props.map((item) => (
      <TableRow rows={[item.prop, item.type, item.default || `&mdash;`]} />
    ))
  }
</Table>
