---
import Icon from '../components/Icon.astro'

interface Props {
  // theme: string
  // hue: string
  icon?: string
  title?: string
  description?: string
}

const { icon, description, title } = Astro.props
let iconDisplay

switch (icon) {
  case 'info':
    iconDisplay = 'info-circle'
    break
  case 'caution':
    iconDisplay = 'alert-triangle'
    break
  case 'danger':
    iconDisplay = 'alert-hexagon'
    break
  default:
    iconDisplay = icon
}
---

<div class={icon}>
  <div>
    <Icon icon={iconDisplay} />
    <p>{title}</p>
  </div>
  {description}
  <slot />
</div>

<style lang="postcss">
  .alert {
    background-color: rgb(67, 67, 68);
    border-left: 4px solid rgb(109, 109, 118);
    color: white;
    padding: 1rem;
    width: 100%;
    gap: 0.25rem;

    div {
      display: flex;
      border-left: none;
    }

    &:where(.info) {
      background-color: rgb(23,29,79);
      border-left: 4px solid rgb(51,71,255);
      div {
        background-color: transparent;
      }
    }

    &:where(.caution) {
      background-color: rgb(78,64,34);
      border-left: 4px solid rgb(238,189,83);
      div {
        background-color: transparent;
      }
    }

    &:where(.danger) {
      background-color: rgb(78,34,50);
      border-left: 4px solid rgb(238,83,137);
      div {
        background-color: transparent;
      }
    }
  }
</style>
