---
import type { HTMLAttributes } from 'astro/types'
interface Props {
  caption?: string | null
  class?: HTMLAttributes<'div'>['class']
}

const { caption, class: className } = Astro.props
---

{
  caption && (
    <p class:list={['caption', className]}>
      {caption}
      <slot />
    </p>
  )
}

<style is:global>
  :root {
    --tagline-large: clamp(16px, 3cqw, min(2.5vw, 26px));
  }
  p {
    margin: 0;
    color: var(--un-preset-theme-descriptionColor-base);
    font-size: var(--tagline-large);
    line-height: 1.625;
    font-family: 'Open Sans';
  }
</style>
