.theme-light,
.theme-light * {
  color-scheme: light;
}

.theme-dark,
.theme-dark * {
  color-scheme: dark;
}

:where(:root),
:where(.theme-light),
:where(.theme-dark),
.color-base,
.color-base
  *:where(:not([class*='color-']):not(.color-base [class*='color-'] *)) {
  --color-1: var(--base-1);
  --color-2: var(--base-2);
  --color-3: var(--base-3);
  --color-4: var(--base-4);
  --color-5: var(--base-5);
  --color-6: var(--base-6);
  --color-7: var(--base-7);
  --color-8: var(--base-8);
  --color-9: var(--base-9);
  --color-10: var(--base-10);
  --color-11: var(--base-11);
  --color-12: var(--base-12);

  --color-a1: var(--base-a1, var(--base-1));
  --color-a2: var(--base-a2, var(--base-2));
  --color-a3: var(--base-a3, var(--base-3));
  --color-a4: var(--base-a4, var(--base-4));
  --color-a5: var(--base-a5, var(--base-5));
  --color-a6: var(--base-a6, var(--base-6));
  --color-a7: var(--base-a7, var(--base-7));
  --color-a8: var(--base-a8, var(--base-8));
  --color-a9: var(--base-a9, var(--base-9));
  --color-a10: var(--base-a10, var(--base-10));
  --color-a11: var(--base-a11, var(--base-11));
  --color-a12: var(--base-a12, var(--base-12));

  --color-contrast: var(--base-contrast);
  --color-background: var(--base-background);
}

.color-brand,
.color-brand
  *:where(:not([class*='color-']):not(.color-brand [class*='color-'] *)) {
  --color-1: var(--brand-1);
  --color-2: var(--brand-2);
  --color-3: var(--brand-3);
  --color-4: var(--brand-4);
  --color-5: var(--brand-5);
  --color-6: var(--brand-6);
  --color-7: var(--brand-7);
  --color-8: var(--brand-8);
  --color-9: var(--brand-9);
  --color-10: var(--brand-10);
  --color-11: var(--brand-11);
  --color-12: var(--brand-12);

  --color-a1: var(--brand-a1, var(--brand-1));
  --color-a2: var(--brand-a2, var(--brand-2));
  --color-a3: var(--brand-a3, var(--brand-3));
  --color-a4: var(--brand-a4, var(--brand-4));
  --color-a5: var(--brand-a5, var(--brand-5));
  --color-a6: var(--brand-a6, var(--brand-6));
  --color-a7: var(--brand-a7, var(--brand-7));
  --color-a8: var(--brand-a8, var(--brand-8));
  --color-a9: var(--brand-a9, var(--brand-9));
  --color-a10: var(--brand-a10, var(--brand-10));
  --color-a11: var(--brand-a11, var(--brand-11));
  --color-a12: var(--brand-a12, var(--brand-12));

  --color-contrast: var(--brand-contrast);
  --color-background: var(--brand-background);
}

.contrast,
.contrast * {
  --color-9: var(--color-12);
  --color-10: var(--color-12);
  --color-11: var(--color-12);
  --color-contrast: var(--color-1);
}

/* :where(:root),
:where(.theme-light),
:where(.theme-dark),
:where(.color-base),
:where(.color-brand),
.variant-base,
.variant-base
  *:not([class*='variant-']):not(.variant-base [class*='variant-'] *) {
  --background: var(--color-background, var(--color-1));
  --background-hover: var(--color-1);
  --background-active: var(--color-1);
  --border: var(--color-6);
  --border-hover: var(--color-6);
  --text: var(--color-11);
}

.variant-subtle,
.variant-subtle
  *:not([class*='variant-']):not(.variant-subtle [class*='variant-'] *) {
  --background: var(--color-2);
  --background-hover: var(--color-2);
  --background-active: var(--color-2);
  --border: var(--color-6);
  --border-hover: var(--color-6);
  --text: var(--color-11);
}

.variant-ghost,
.variant-ghost
  *:not([class*='variant-']):not(.variant-ghost [class*='variant-'] *) {
  --background: transparent;
  --background-hover: var(--color-3);
  --background-active: var(--color-4);
  --border: transparent;
  --border-hover: transparent;
  --text: var(--color-11);
}

.variant-outline,
.variant-outline
  *:not([class*='variant-']):not(.variant-outline [class*='variant-'] *) {
  --background: transparent;
  --background-hover: var(--color-3);
  --background-active: var(--color-5);
  --border: var(--color-7);
  --border-hover: var(--color-8);
  --text: var(--color-11);
}

.variant-soft,
.variant-soft
  *:not([class*='variant-']):not(.variant-soft [class*='variant-'] *) {
  --background: var(--color-3);
  --background-hover: var(--color-4);
  --background-active: var(--color-5);
  --border: transparent;
  --border-hover: transparent;
  --text: var(--color-11);
}

.variant-surface,
.variant-surface
  *:not([class*='variant-']):not(.variant-surface [class*='variant-'] *) {
  --background: var(--color-3);
  --background-hover: var(--color-4);
  --background-active: var(--color-5);
  --border: var(--color-7);
  --border-hover: var(--color-8);
  --text: var(--color-11);
}

.variant-solid,
.variant-solid
  *:not([class*='variant-']):not(.variant-solid [class*='variant-'] *) {
  --background: var(--color-9);
  --background-hover: var(--color-10);
  --background-active: var(--color-10);
  --border: transparent;
  --border-hover: transparent;
  --text: var(--color-contrast);
} */
