.theme-light,
.theme-light * {
  color-scheme: light;
}

.theme-dark,
.theme-dark * {
  color-scheme: dark;
}

:where(:root),
:where(.theme-light),
:where(.theme-dark),
.color-base,
.color-base
  *:where(:not([class*='color-']):not(.color-base [class*='color-'] *)) {
  --color-1: var(--base-1);
  --color-2: var(--base-2);
  --color-3: var(--base-3);
  --color-4: var(--base-4);
  --color-5: var(--base-5);
  --color-6: var(--base-6);
  --color-7: var(--base-7);
  --color-8: var(--base-8);
  --color-9: var(--base-9);
  --color-10: var(--base-10);
  --color-11: var(--base-11);
  --color-12: var(--base-12);

  --color-a1: var(--base-a1, var(--base-1));
  --color-a2: var(--base-a2, var(--base-2));
  --color-a3: var(--base-a3, var(--base-3));
  --color-a4: var(--base-a4, var(--base-4));
  --color-a5: var(--base-a5, var(--base-5));
  --color-a6: var(--base-a6, var(--base-6));
  --color-a7: var(--base-a7, var(--base-7));
  --color-a8: var(--base-a8, var(--base-8));
  --color-a9: var(--base-a9, var(--base-9));
  --color-a10: var(--base-a10, var(--base-10));
  --color-a11: var(--base-a11, var(--base-11));
  --color-a12: var(--base-a12, var(--base-12));

  --color-contrast: var(--base-contrast);
  --color-background: var(--base-background);
}

.color-brand,
.color-brand
  *:where(:not([class*='color-']):not(.color-brand [class*='color-'] *)) {
  --color-1: var(--brand-1);
  --color-2: var(--brand-2);
  --color-3: var(--brand-3);
  --color-4: var(--brand-4);
  --color-5: var(--brand-5);
  --color-6: var(--brand-6);
  --color-7: var(--brand-7);
  --color-8: var(--brand-8);
  --color-9: var(--brand-9);
  --color-10: var(--brand-10);
  --color-11: var(--brand-11);
  --color-12: var(--brand-12);

  --color-a1: var(--brand-a1, var(--brand-1));
  --color-a2: var(--brand-a2, var(--brand-2));
  --color-a3: var(--brand-a3, var(--brand-3));
  --color-a4: var(--brand-a4, var(--brand-4));
  --color-a5: var(--brand-a5, var(--brand-5));
  --color-a6: var(--brand-a6, var(--brand-6));
  --color-a7: var(--brand-a7, var(--brand-7));
  --color-a8: var(--brand-a8, var(--brand-8));
  --color-a9: var(--brand-a9, var(--brand-9));
  --color-a10: var(--brand-a10, var(--brand-10));
  --color-a11: var(--brand-a11, var(--brand-11));
  --color-a12: var(--brand-a12, var(--brand-12));

  --color-contrast: var(--brand-contrast);
  --color-background: var(--brand-background);
}

.contrast,
.contrast * {
  --color-9: var(--color-12);
  --color-10: var(--color-12);
  --color-11: var(--color-12);
  --color-contrast: var(--color-1);
}
