/* TODO: temporary decreased due to z-index issue over header */
.hero:not(.window .hero)::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: radial-gradient(
    ellipse closest-side,
    rgba(255, 85, 0, 0.1),
    #f500 70%
  );
  width: 100%;
  height: 100%;
  content: '';
}
/* .hero:not(.window .hero)::before {
  position: absolute;
  top: -80%;
  left: 0;
  z-index: -1;
  background: radial-gradient(
    ellipse closest-side,
    rgba(255, 85, 0, 0.1),
    #f500 90%
  );
  width: 100%;
  height: 170%;
  content: '';
} */

.header:not(.window .header) {
  backdrop-filter: blur(10px);
  border-color: var(--base-a6) !important;
  background-color: rgba(17, 17, 16, 0.2) !important;
}

.cta:not(.window .cta) {
  backdrop-filter: blur(10px);
  border-color: var(--base-a6) !important;
  background-color: rgba(17, 17, 16, 0.2) !important;
  overflow: visible;

  &::before {
    position: absolute;
    top: -30%;
    left: 0;
    z-index: -1;
    background: radial-gradient(
      ellipse closest-side,
      rgba(255, 85, 0, 0.06),
      #f500 90%
    );
    width: 100%;
    height: 160%;
    content: '';
  }
}

mark {
  background-color: var(--brand-12) !important;
  color: var(--brand-1) !important;
}

.astro-code {
  border: 1px solid var(--base-6);
  border-radius: var(--radius-2);
  background-color: var(--base-2) !important;
  padding: var(--space-5);
}
