.hero:not(.live-code-layout .hero)::before {
  position: absolute;
  top: -80%;
  left: 0;
  z-index: -1;
  background: radial-gradient(
    ellipse closest-side,
    rgba(255, 85, 0, 0.1),
    #f500 90%
  );
  width: 100%;
  height: 170%;
  content: '';
}

.header:not(.live-code-layout .header) {
  backdrop-filter: blur(10px);
  border-color: var(--base-a6) !important;
  background-color: rgba(17, 17, 16, 0.2) !important;
}
