:root,
:where(.flow) {
  --scale: 1;
  --rounded: 1;
  --borderWidth: 1px;
  --gutter: calc(5vw);
  --spacer: calc(64px + 3.2vw);

  /* --flow1: calc((4px + min(0.1vw, 0.2cqw)) * var(--scale));
  --flow2: calc((8px + min(0.2vw, 0.4cqw)) * var(--scale));
  --flow3: calc((16px + min(0.4vw, 0.8cqw)) * var(--scale));
  --flow4: calc((32px + min(0.8vw, 1.6cqw)) * var(--scale));
  --flow5: calc((64px + min(1.6vw, 3.2cqw)) * var(--scale));
  --flow6: calc((128px + min(3.2vw, 6.4cqw)) * var(--scale));

  --flow-self1: calc((4px + min(0.1vw, 0.2%)) * var(--scale));
  --flow-self2: calc((8px + min(0.2vw, 0.4%)) * var(--scale));
  --flow-self3: calc((16px + min(0.4vw, 0.8%)) * var(--scale));
  --flow-self4: calc((32px + min(0.8vw, 1.6%)) * var(--scale));
  --flow-self5: calc((64px + min(1.6vw, 3.2%)) * var(--scale));
  --flow-self6: calc((128px + min(3.2vw, 6.4%)) * var(--scale));

  --rounded1: calc((4px + min(0.1vw, 0.2cqw)) * var(--scale) * var(--rounded));
  --rounded2: calc((8px + min(0.2vw, 0.4cqw)) * var(--scale) * var(--rounded));
  --rounded3: calc((16px + min(0.4vw, 0.8cqw)) * var(--scale) * var(--rounded)); */


  --v: 0.66vw; /* viewport */
  --c: min(1cqw, var(--v)); /* container */
  --s: min(1%, var(--v)); /* self */

  /* choose */
  --x: var(--c);

  --text1: calc(13px + .25 * var(--x));
  --text2: calc(15px + .3 * var(--x));
  --text3: calc(17px + 3 * var(--x));

  --flow1: calc(4px + var(--x));
  --flow2: calc(8px + var(--x));
  --flow3: calc(16px + var(--x));
  --flow4: calc(32px + var(--x));
  --flow5: calc(64px + var(--x));
  --flow6: calc(128px + var(--x));
  
  --radius1: calc(4px + var(--x));
  --radius2: calc(8px + var(--x));
  --radius3: calc(16px + var(--x));
}

:where(.compact) {
  /* --flow1: calc((4px + min(0.1vw, 0.2cqw)) * var(--scale));
  --flow2: calc((6px + min(0.2vw, 0.4cqw)) * var(--scale));
  --flow3: calc((9px + min(0.4vw, 0.8cqw)) * var(--scale));
  --flow4: calc((13.5px + min(0.8vw, 1.6cqw)) * var(--scale));
  --flow5: calc((20.25px + min(1.6vw, 3.2cqw)) * var(--scale));
  --flow6: calc((30.375px + min(3.2vw, 6.4cqw)) * var(--scale)); */

  --text1: calc(12px + .275 * var(--x));
  --text2: calc(14px + .3 * var(--x));
  --text3: calc(16px + 0.35 * var(--x));

  --flow1: calc(4px + .75 * var(--x));
  --flow2: calc(6px + .75 * var(--x));
  --flow3: calc(9px + .75 * var(--x));
  --flow4: calc(13.5px + .75 * var(--x));
  --flow5: calc(20.25px + .75 * var(--x));
  --flow6: calc(30.375px + .75 * var(--x));

  --radius1: calc(4px + .75 * var(--x));
  --radius2: calc(6px + .75 * var(--x));
  --radius3: calc(9px + .75 * var(--x));
}