/* .category-deck  {

  .card-segment {
    position: absolute;
    bottom: 0;
    margin-top: auto; 
    justify-content: end;
  }

  img {
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 100%);
    mask-image: linear-gradient(to top, transparent 0%, black 100%);
  }
} */
