:root, .hue-base, .scheme-dark, .scheme-light, .light, .dark {
  --base-1: var(--slate-1);
  --base-2:  var(--slate-2);
  --base-3:  var(--slate-3);
  --base-4:  var(--slate-4);
  --base-5:  var(--slate-5);
  --base-6:  var(--slate-6);
  --base-7:  var(--slate-7);
  --base-8:  var(--slate-8);
  --base-9:  var(--slate-9);
  --base-10:  var(--slate-10);
  --base-11:  var(--slate-11);
  --base-12:  var(--slate-12);
  --base-fg: white;
} 

:root, .hue-accent, .scheme-dark, .scheme-light, .light, .dark {
  --accent-1: var(--cyan-1);
  --accent-2:  var(--cyan-2);
  --accent-3:  var(--cyan-3);
  --accent-4:  var(--cyan-4);
  --accent-5:  var(--cyan-5);
  --accent-6:  var(--cyan-6);
  --accent-7:  var(--cyan-7);
  --accent-8:  var(--cyan-8);
  --accent-9:  var(--cyan-9);
  --accent-10:  var(--cyan-10);
  --accent-11:  var(--cyan-11);
  --accent-12:  var(--cyan-12);
  --accent-fg: white;
}