:root, .base, .light, .dark {
  --base-1: var(--slate-1);
  --base-2:  var(--slate-2);
  --base-3:  var(--slate-3);
  --base-4:  var(--slate-4);
  --base-5:  var(--slate-5);
  --base-6:  var(--slate-6);
  --base-7:  var(--slate-7);
  --base-8:  var(--slate-8);
  --base-9:  var(--slate-9);
  --base-10:  var(--slate-10);
  --base-11:  var(--slate-11);
  --base-12:  var(--slate-12);
  --base-fg: white;
} :root, .accent, .light, .dark {
  --accent-1: var(--indigo-1);
  --accent-2:  var(--indigo-2);
  --accent-3:  var(--indigo-3);
  --accent-4:  var(--indigo-4);
  --accent-5:  var(--indigo-5);
  --accent-6:  var(--indigo-6);
  --accent-7:  var(--indigo-7);
  --accent-8:  var(--indigo-8);
  --accent-9:  var(--indigo-9);
  --accent-10:  var(--indigo-10);
  --accent-11:  var(--indigo-11);
  --accent-12:  var(--indigo-12);
  --accent-fg: white;
}