/* 
                
                
                .impact-low.area-default,
                .impact-low .area-default
                {
                  --bg: var(--base-1);
                  --bg-hover: var(--base-2);
                  --bg-active: var(--base-3);
                  --ring: var(--base-6);
                  --ring-hover: var(--base-6);
                  --text: var(--base-11);
                  --heading: var(--base-12);
                }
               
                
                
                .impact-low.area-panel,
                .impact-low .area-panel
                {
                  --bg: var(--base-2);
                  --bg-hover: var(--base-3);
                  --bg-active: var(--base-4);
                  --ring: var(--base-6);
                  --ring-hover: var(--base-7);
                  --text: var(--base-11);
                  --heading: var(--base-12);
                }
               
                
                
                .impact-low.area-input,
                .impact-low .area-input
                {
                  --bg: var(--base-2);
                  --bg-hover: var(--base-3);
                  --bg-active: var(--base-4);
                  --ring: var(--base-7);
                  --ring-hover: var(--base-8);
                  --text: var(--base-11);
                  --heading: var(--null);
                }
               
                
                
                .impact-low.area-primary,
                .impact-low .area-primary
                {
                  --bg: var(--accent-3);
                  --bg-hover: var(--accent-4);
                  --bg-active: var(--accent-5);
                  --ring: var(--accent-7);
                  --ring-hover: var(--accent-8);
                  --text: var(--accent-11);
                  --heading: var(--null);
                }
               
                
                
                .impact-low.area-secondary,
                .impact-low .area-secondary
                {
                  --bg: var(--null);
                  --bg-hover: var(--accent-3);
                  --bg-active: var(--accent-4);
                  --ring: var(--null);
                  --ring-hover: var(--null);
                  --text: var(--accent-11);
                  --heading: var(--null);
                }
               
                :root,
                :root .areadefault,
                .impact-medium.area-default,
                .impact-medium .area-default
                {
                  --bg: var(--base-1);
                  --bg-hover: var(--base-1);
                  --bg-active: var(--base-1);
                  --ring: var(--base-6);
                  --ring-hover: var(--base-6);
                  --text: var(--base-11);
                  --heading: var(--base-12);
                }
               
                
                :root .areapanel,
                .impact-medium.area-panel,
                .impact-medium .area-panel
                {
                  --bg: var(--base-2);
                  --bg-hover: var(--base-3);
                  --bg-active: var(--base-4);
                  --ring: var(--base-6);
                  --ring-hover: var(--base-7);
                  --text: var(--base-11);
                  --heading: var(--base-12);
                }
               
                
                :root .areainput,
                .impact-medium.area-input,
                .impact-medium .area-input
                {
                  --bg: var(--base-2);
                  --bg-hover: var(--base-3);
                  --bg-active: var(--base-4);
                  --ring: var(--base-6);
                  --ring-hover: var(--base-7);
                  --text: var(--base-11);
                  --heading: var(--null);
                }
               
                
                :root .areaprimary,
                .impact-medium.area-primary,
                .impact-medium .area-primary
                {
                  --bg: var(--accent-9);
                  --bg-hover: var(--accent-10);
                  --bg-active: var(--accent-10);
                  --ring: var(--null);
                  --ring-hover: var(--null);
                  --text: var(--accent-fg);
                  --heading: var(--null);
                }
               
                
                :root .areasecondary,
                .impact-medium.area-secondary,
                .impact-medium .area-secondary
                {
                  --bg: var(--accent-3);
                  --bg-hover: var(--accent-4);
                  --bg-active: var(--accent-5);
                  --ring: var(--accent-7);
                  --ring-hover: var(--accent-8);
                  --text: var(--accent-11);
                  --heading: var(--null);
                }
               
                
                
                .impact-high.area-default,
                .impact-high .area-default
                {
                  --bg: var(--accent-2);
                  --bg-hover: var(--accent-2);
                  --bg-active: var(--accent-2);
                  --ring: var(--accent-6);
                  --ring-hover: var(--accent-6);
                  --text: var(--base-11);
                  --heading: var(--base-12);
                }
               
                
                
                .impact-high.area-panel,
                .impact-high .area-panel
                {
                  --bg: var(--accent-2);
                  --bg-hover: var(--accent-3);
                  --bg-active: var(--accent-4);
                  --ring: var(--accent-6);
                  --ring-hover: var(--accent-7);
                  --text: var(--base-11);
                  --heading: var(--base-12);
                }
               
                
                
                .impact-high.area-input,
                .impact-high .area-input
                {
                  --bg: var(--accent-3);
                  --bg-hover: var(--accent-4);
                  --bg-active: var(--accent-5);
                  --ring: var(--accent-7);
                  --ring-hover: var(--accent-8);
                  --text: var(--accent-fg);
                  --heading: var(--null);
                }
               
                
                
                .impact-high.area-primary,
                .impact-high .area-primary
                {
                  --bg: var(--accent-9);
                  --bg-hover: var(--accent-10);
                  --bg-active: var(--accent-10);
                  --ring: var(--null);
                  --ring-hover: var(--null);
                  --text: var(--accent-fg);
                  --heading: var(--null);
                }
               
                
                
                .impact-high.area-secondary,
                .impact-high .area-secondary
                {
                  --bg: var(--accent-3);
                  --bg-hover: var(--accent-4);
                  --bg-active: var(--accent-5);
                  --ring: var(--accent-7);
                  --ring-hover: var(--accent-8);
                  --text: var(--accent-11);
                  --heading: var(--null);
                }
               
                
                
                .impact-extreme.area-default,
                .impact-extreme .area-default
                {
                  --bg: var(--accent-9);
                  --bg-hover: var(--accent-9);
                  --bg-active: var(--accent-9);
                  --ring: var(--accent-fg);
                  --ring-hover: var(--accent-fg);
                  --text: var(--accent-fg);
                  --heading: var(--accent-fg);
                }
               
                
                
                .impact-extreme.area-panel,
                .impact-extreme .area-panel
                {
                  --bg: var(--accent-9);
                  --bg-hover: var(--accent-10);
                  --bg-active: var(--accent-10);
                  --ring: var(--accent-fg);
                  --ring-hover: var(--accent-fg);
                  --text: var(--accent-fg);
                  --heading: var(--accent-fg);
                }
               
                
                
                .impact-extreme.area-input,
                .impact-extreme .area-input
                {
                  --bg: var(--accent-9);
                  --bg-hover: var(--accent-10);
                  --bg-active: var(--accent-10);
                  --ring: var(--accent-fg);
                  --ring-hover: var(--accent-fg);
                  --text: var(--accent-fg);
                  --heading: var(--null);
                }
               
                
                
                .impact-extreme.area-primary,
                .impact-extreme .area-primary
                {
                  --bg: var(--accent-fg);
                  --bg-hover: var(--accent-fg);
                  --bg-active: var(--accent-fg);
                  --ring: var(--null);
                  --ring-hover: var(--null);
                  --text: var(--accent-9);
                  --heading: var(--null);
                }
               
                
                
                .impact-extreme.area-secondary,
                .impact-extreme .area-secondary
                {
                  --bg: var(--null);
                  --bg-hover: var(--null);
                  --bg-active: var(--null);
                  --ring: var(--accent-fg);
                  --ring-hover: var(--accent-fg);
                  --text: var(--accent-fg);
                  --heading: var(--null);
                }
               */
