:root {
  --space-sm-1: 4px;
  --space-sm-2: 6px;
  --space-sm-3: 8px;
  --space-sm-4: 12px;
  --space-sm-5: 20px;
  --space-sm-6: 40px;
  --space-sm-7: 60px;

  --space-md-1: 5px;
  --space-md-2: 8px;
  --space-md-3: 11px;
  --space-md-4: 14px;
  --space-md-5: 28px;
  --space-md-6: 56px;
  --space-md-7: 84px;

  --space-lg-1: 6px;
  --space-lg-2: 10px;
  --space-lg-3: 14px;
  --space-lg-4: 18px;
  --space-lg-5: 36px;
  --space-lg-6: 72px;
  --space-lg-7: 120px;

  --text-sm-1: 12px;
  --text-sm-2: 14px;
  --text-sm-3: 14px;
  --text-sm-4: 16px;
  --text-sm-5: 18px;
  --text-sm-6: 20px;
  --text-sm-7: 24px;
  --text-sm-8: 30px;

  --text-md-1: 12px;
  --text-md-2: 14px;
  --text-md-3: 16px;
  --text-md-4: 18px;
  --text-md-5: 20px;
  --text-md-6: 24px;
  --text-md-7: 30px;
  --text-md-8: 36px;

  --text-lg-1: 14px;
  --text-lg-2: 14px;
  --text-lg-3: 18px;
  --text-lg-4: 20px;
  --text-lg-5: 24px;
  --text-lg-6: 30px;
  --text-lg-7: 36px;
  --text-lg-8: 48px;
}

@media (min-width: 768px) {
  :root {
    --text-sm-8: 36px;
    --text-md-8: 48px;
    --text-lg-8: 60px;
  }
}

.size-sm {
  --space-1: var(--space-sm-1);
  --space-2: var(--space-sm-2);
  --space-3: var(--space-sm-3);
  --space-4: var(--space-sm-4);
  --space-5: var(--space-sm-5);
  --space-6: var(--space-sm-6);
  --space-7: var(--space-sm-7);

  --radius-1: calc(var(--border-radius, 1) * var(--space-sm-1));
  --radius-2: calc(var(--border-radius, 1) * var(--space-sm-2));
  --radius-3: calc(var(--border-radius, 1) * var(--space-sm-3));

  --text-1: var(--text-sm-1);
  --text-2: var(--text-sm-2);
  --text-3: var(--text-sm-3);
  --text-4: var(--text-sm-4);
  --text-5: var(--text-sm-5);
  --text-6: var(--text-sm-6);
  --text-7: var(--text-sm-7);
  --text-8: var(--text-sm-8);
}

:root,
.size-md {
  --space-1: var(--space-md-1);
  --space-2: var(--space-md-2);
  --space-3: var(--space-md-3);
  --space-4: var(--space-md-4);
  --space-5: var(--space-md-5);
  --space-6: var(--space-md-6);
  --space-7: var(--space-md-7);

  --radius-1: calc(var(--border-radius, 1) * var(--space-md-1));
  --radius-2: calc(var(--border-radius, 1) * var(--space-md-2));
  --radius-3: calc(var(--border-radius, 1) * var(--space-md-3));

  --text-1: var(--text-md-1);
  --text-2: var(--text-md-2);
  --text-3: var(--text-md-3);
  --text-4: var(--text-md-4);
  --text-5: var(--text-md-5);
  --text-6: var(--text-md-6);
  --text-7: var(--text-md-7);
  --text-8: var(--text-md-8);
}

.size-lg {
  --space-1: var(--space-lg-1);
  --space-2: var(--space-lg-2);
  --space-3: var(--space-lg-3);
  --space-4: var(--space-lg-4);
  --space-5: var(--space-lg-5);
  --space-6: var(--space-lg-6);
  --space-7: var(--space-lg-7);

  --radius-1: calc(var(--border-radius, 1) * var(--space-lg-1));
  --radius-2: calc(var(--border-radius, 1) * var(--space-lg-2));
  --radius-3: calc(var(--border-radius, 1) * var(--space-lg-3));

  --text-1: var(--text-lg-1);
  --text-2: var(--text-lg-2);
  --text-3: var(--text-lg-3);
  --text-4: var(--text-lg-4);
  --text-5: var(--text-lg-5);
  --text-6: var(--text-lg-6);
  --text-7: var(--text-lg-7);
  --text-8: var(--text-lg-8);
}
