.root + .root,
.root + .box,
.root + .masonry,
.root + .carousel,
.image + .root,
.icon + .root {
  --space-auto: var(--space-6);
}

.root + .group,
.root + .row,
.root + .wrap,
.root + .button,
.root + .price,
.root + .switch {
  --space-auto: var(--space-5);
}

.card
  :is(
    .root + .root,
    .root + .box,
    .root + .masonry,
    .root + .carousel,
    .image + .root,
    .icon + .root,
    .root + .group,
    .root + .row,
    .root + .wrap,
    .root + .button,
    .root + .price,
    .root + .switch
  ) {
  --space-auto: var(--space-4);
}

.root + .heading,
.root + .link,
.root + .paragraph,
.root + .text,
.root + .tagline,
.root + .input,
.root + .textarea,
.root + .select,
.root + .badge,
.root + .rating {
  --space-auto: var(--space-4);
}

.paragraph + .paragraph,
.text + .text,
.button + .button,
.input + .button {
  --space-auto: var(--space-3);
}

.root + .label,
.label + .input,
.label + .textarea,
.label + .select,
.icon + .icon {
  --space-auto: var(--space-2);
}

.rating + .text,
.text + .rating {
  --space-auto: var(--space-1);
}

.image + .root,
.icon + .root {
  --space-auto: var(--space-6);
}

.link + .heading {
  --space-auto: var(--space-5);
}

/* // .button:not(.variant-link) + .button:not(.variant-link) {
//   margin-top: var(--space-3);
// }

// .variant-link + .variant-link{
//   margin-top: var(--space-2);
// } */
