@import url(https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700,800,900);

:root,
.root {
  --transition: cubic-bezier(0.4, 0, 0.2, 1) 0.15s;

  --font-family: 'Inter', sans-serif;
  --font-weight: 400;

  --text-heading-font-family: var(--font-family);
  --text-heading-font-weight: 700;

  --button-font-family: var(--font-family);
  --button-font-weight: 500;
}
