:root, * {
  --background: var(--base-1);
  --color: var(--base-11);
  --font: 400 var(--text2)/1.625 'Open Sans', sans-serif;
  --transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --radius: 8px;
  --border: 1px solid var(--base-6);
}

.heading {
  --font: 700 var(--text3)/1.25 'Open Sans', serif;
  --color: var(--base-12);
}

.card .heading {
  --font: 600 var(--text3)/1.625 'Open Sans', sans-serif;
}

.tagline {
  --font: 600 var(--text1)/1.625 'Open Sans', sans-serif;
  --color: var(--accent-11);
}

.icon {
  --color: var(--accent-9);

  .features-deck & {
    font-size: 28px;
  }
}

.panel {
  --background: var(--base-2);
  --background-hover: var(--base-3);
  --background-active: var(--base-4);
  --border: 1px solid var(--base-6);
  --border-hover: 1px solid var(--base-7);
  --radius: 12px;
}

.input {
  --background: var(--base-2);
  --background-hover: var(--base-3);
  --background-active: var(--base-4);
  --border: 1px solid var(--base-7);
  --border-hover: 1px solid var(--base-8);
  --radius: 8px;
}

.primary {
  --background: var(--accent-9);
  --background-hover: var(--accent-10);
  --border: 1px solid var(--accent-10);
  --color: var(--accent-fg);
  --radius: 8px;
}

.secondary {
  --background: var(--accent-3);
  --background-hover: var(--accent-4);
  --background-active: var(--accent-5);
  --border: 1px solid var(--accent-7);
  --border-hover: 1px solid var(--accent-8);
  --color: var(--accent-11);
  --radius: 8px;
}

/* ----------------------------------------------- */
/* SUBTLE */
/* ----------------------------------------------- */
.theme-subtle {
  --background: var(--base-4);
  --color: var(--base-11);
  --font: 400 var(--text2)/1.625 Arial, sans-serif;
  --transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  
  .heading {
    --font: 400 var(--text3)/1.25 Arial, sans-serif;
    --color: var(--base-12);
  }
  
  .tagline {
    --font: 400 var(--text1)/1.625 Arial, sans-serif;
    --color: var(--accent-11);
  }
  
  .panel {
    --background: var(--base-2);
    --background-hover: var(--base-3);
    --background-active: var(--base-4);
    --border: 1px solid var(--base-6);
    --border-hover: 1px solid var(--base-7);
    --radius: 12px;
  }
  
  .input {
    --background: var(--base-2);
    --background-hover: var(--base-3);
    --background-active: var(--base-4);
    --border: 1px solid var(--base-7);
    --border-hover: 1px solid var(--base-8);
    --radius: 8px;
  }
  
  .primary {
    --background: var(--accent-9);
    --background-hover: var(--accent-10);
    --border: 1px solid var(--accent-10);
    --color: var(--accent-fg);
    --radius: 8px;
  }
  
  .secondary {
    --background: var(--accent-3);
    --background-hover: var(--accent-4);
    --background-active: var(--accent-5);
    --border: 1px solid var(--accent-7);
    --border-hover: 1px solid var(--accent-8);
    --color: var(--accent-11);
    --radius: 8px;
  }
}

/* ----------------------------------------------- */
/* HIGH */
/* ----------------------------------------------- */
.theme-subtle {
  --background: var(--base-4);
  --color: var(--base-11);
  --font: 400 var(--text2)/1.625 Arial, sans-serif;
  --transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  
  .heading {
    --font: 400 var(--text3)/1.25 Arial, sans-serif;
    --color: var(--base-12);
  }
  
  .tagline {
    --font: 400 var(--text1)/1.625 Arial, sans-serif;
    --color: var(--accent-11);
  }
  
  .panel {
    --background: var(--base-2);
    --background-hover: var(--base-3);
    --background-active: var(--base-4);
    --border: 1px solid var(--base-6);
    --border-hover: 1px solid var(--base-7);
    --radius: 12px;
  }
  
  .input {
    --background: var(--base-2);
    --background-hover: var(--base-3);
    --background-active: var(--base-4);
    --border: 1px solid var(--base-7);
    --border-hover: 1px solid var(--base-8);
    --radius: 8px;
  }
  
  .primary {
    --background: var(--accent-9);
    --background-hover: var(--accent-10);
    --border: 1px solid var(--accent-10);
    --color: var(--accent-fg);
    --radius: 8px;
  }
  
  .secondary {
    --background: var(--accent-3);
    --background-hover: var(--accent-4);
    --background-active: var(--accent-5);
    --border: 1px solid var(--accent-7);
    --border-hover: 1px solid var(--accent-8);
    --color: var(--accent-11);
    --radius: 8px;
  }
}


/* :root {
  --background: var(--base-1);
  --background-hover: ;
  --background-active: ;
  --border: 1px solid var(--base-6);
  --border-hover: ;
  --border-active: ;
  --color: var(--base-11);
  --font: ;
  --radius: 0px;
  --transition: ;
} */


/* ----------------------------------------------- */
/* Helper class to apply the theme */
/* ----------------------------------------------- */
.full-theme, [class*="theme-"]{
  color: var(--color);
  border: var(--border);
  background: var(--background);
  font: var(--font);
  border-radius: var(--radius);
  transition: var(--radius);
}

.full-theme:hover {
  border: var(--border-hover, var(--border));
  background: var(--background-hover, var(--background));
}

.full-theme:active {
  border: var(--border-active, var(--border-hover, var(--border)));
  background: var(--background-active, var(--background-hover, var(--background)));
}