:root, * {
  --background: var(--base-1);
  --color: var(--base-11);

  --border-width: 2px;
  --border-color: var(--base-6);
  --border-style: solid;
  --border: var(--border-width) var(--border-style) var(--border-color);

  --font-weight: 400;
  --font-size: var(--font-size-2);
  --line-height: 1.625;
  --font-family: 'Open Sans', sans-serif;
  --font: var(--font-weight) var(--font-size)/var(--line-height) var(--font-family);

  --transition-property: all;
  --transition-duration: 150ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition: var(--transition-property) var(--transition-duration) var(--transition-timing-function);
}