:root {
  /* Radius */
  --radius: 0.5rem;

  /* Base colors */
  --background: 33.3 30% 97.5%;
  --foreground: 33.3 10% 10.5%;

  /* Used for primary buttons */
  --primary: 20 100% 50%;
  --primary-foreground: 0 0% 100%;
  --primary-hover: var(--primary) / 85%;

  /* Used for secondary buttons */
  --secondary: 20 10% 92%;
  --secondary-hover: var(--secondary) / 75%;
  --secondary-foreground: var(--foreground);

  /* Used for ghost and outline buttons */
  --accent: var(--secondary-hover);
  --accent-foreground: var(--secondary-foreground);

  /* Used for muted text and code snippet backgrounds */
  --muted: var(--accent);
  --muted-foreground: var(--foreground) / 75%;

  /* Card */
  --card: var(--secondary) / 30%;
  --card-foreground: var(--foreground);

  /* Borders */
  --border: var(--foreground) / 13%;
  --input: var(--foreground) / 26%;
  --ring: var(--foreground);
}

.dark {
  --foreground: 0 0% 100%;
  --background: 33.3 10% 5%;
  --primary: 20 100% 50%;
  --secondary: 33.3 10% 11.5%;
}
