@layer utils {
  :root {
    --spacer: var(--space-7);
    --screen: 100vw;
    --gutter: max(24px, calc((100% - var(--screen)) / 2));

    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;

    --transition: var(--default-transition-duration)
      var(--default-transition-timing-function);
  }

  * {
    --gutter: max(24px, calc((100% - var(--screen)) / 2));
  }
}
