---
import { getSlot } from '../../utils'

interface Props {
  id?: string | null
  hue?: 'base' | 'accent' | null
  scale?: 'small' | 'medium' | 'large' | null
  look?: 'ghost' | 'soft' | 'solid' | null
  order?: 'reverse' | 'switch' | null
  scheme?: 'invert' | 'light' | 'dark' | null
  align?: 'start' | 'center' | 'stretch' | null
  layout?: 'split' | 'stack' | null
  frame?: 'fill' | 'panel' | 'screen' | null
  class?: string | null
}

const {
  id,
  scale,
  order,
  scheme,
  hue = 'base',
  look = 'ghost',
  align = 'start',
  layout = 'stack',
  frame = 'fill',
  class: className,
} = Astro.props

const slot = await getSlot(Astro)
---

{
  slot && (
    <section
      {id}
      class:list={[
        'section',
        hue,
        look,
        hue,
        scheme,
        align,
        layout,
        scale,
        frame,
        order,
        className,
      ]}
    >
      <Fragment set:html={slot} />
    </section>
  )
}

<style>
  section {
    position: relative;
    gap: var(--spacing-5);
    background: var(--hue-1);
    padding: var(--spacing-6) var(--gutter);
    overflow-x: hidden;

    /* &:first-child {
      margin-top: 0;
      padding-top: var(--spacing-5);
    } */

    &:where(.reverse) > :global(*:first-child) {
      order: 2;
    }

    &:where(.switch:nth-child(even)) > :global(*:first-child) {
      order: 2;
    }

    &:where(.stack) {
      display: flex;
      flex-direction: column;
    }

    &:where(.split) {
      display: grid;
      align-items: center;

      @media (min-width: 1024px) {
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
      }
    }

    &:where(.start) {
      align-items: start;
    }

    &:where(.stretch) {
      align-items: stretch;
    }

    &:where(.center) {
      align-items: center;
    }

    &:where(.panel) {
      gap: 0;
      margin: var(--spacing-6) var(--gutter);
      border-width: var(--border-width);
      border-color: var(--border-color);
      border-radius: var(--radius);
      border-radius: var(--border-radius-2);
      background: var(--background);
      padding: var(--spacing-5) var(--gutter);
      padding: 0;
    }

    &:where(.screen) {
      min-height: 100vh;
    }

    &:where(.soft) {
      border-color: var(--hue-6);
      background-color: var(--hue-2);
    }

    &:where(.solid) {
      border-color: var(--hue-9);
      background: var(--hue-9);

      :global(*) {
        color: var(--hue-fg);
      }

      :global(.button.solid) {
        border-color: var(--hue-fg);
        background: var(--hue-fg);
        color: var(--hue-9);
      }

      :global(.button.soft) {
        border-color: var(--hue-7);
        background: var(--hue-3);
        color: var(--hue-11);
      }
    }
  }
</style>
