---
import type { HTMLAttributes } from 'astro/types'
interface Props {
  class?: HTMLAttributes<'div'>['class']
}

const { class: className } = Astro.props
//
---

<!-- {
  slot && (
    <div class:list={['group', className]}>
      <Fragment set:html={slot} />
    </div>
  )
} -->
<style is:global>
  .group {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);
  }
</style>
