<!-- ---
// TODO: make it spin lol
import type { HTMLAttributes } from 'astro/types'
import Icon from '../components/Icon.astro'

interface Props {
  icon?: string
  class?: HTMLAttributes<'div'>['class']
}

const { icon = 'loader-2' } = Astro.props
---

<div>
  <Icon icon={icon} />
  <slot />
</div>

<style lang="postcss">
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(360deg); }
  }  
  .div {
    display: flex;
    height: 1rem;

    & > svg {
      animation: spin 1s linear infinite;
    }
  }

</style> -->
