<!-- <div id="window">
  <div id="tab">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div id="slot">
    <slot />
  </div>
</div>

<style lang="postcss">
  #window {
    background-color: #ececec;
    border-radius: 0.5rem;
    
    & > #tab {
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      gap: 0.5rem;
      display: flex;
      background-color: #d9dada;
      padding: 1rem;
      box-shadow: 0 3px 2px -1px rgb(173, 173, 173);
    }

    div > div:nth-child(n) {
      width: 0.9rem;
      height: 0.9rem;
      border-radius: 100%;
      margin-top: 0;

      &:nth-child(1) {
        background-color: #FF605C;
        border: 1px solid #cb4c49;
      }
      &:nth-child(2) {
        background-color: #FFBD44;
        border: 1px solid #d49e39;
      }
      &:nth-child(3) {
        background-color: #00CA4E;
        border: 1px solid #00a13e;
      }
    }

    & > #slot {
      flex-direction: column;
      display: flex;
      padding: 1.5rem;
    }
  }

  html[data-theme="dark"] {
    #window {
      background-color: #242424;

      & > #tab {
        background-color: #1f1f1f;
        box-shadow: 0 3px 2px -1px rgb(41, 41, 41)
      }
    }
  }
</style> -->
