---
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Writeup from 'fulldev-ui/components/Writeup.astro'
import type { ComponentProps } from 'react'

interface Props {
  title?: string | undefined
  description?: string | undefined
  content?: string | undefined
  buttons?: ComponentProps<typeof Buttons>['buttons']
  image?: ComponentProps<typeof Image>
}

const { title, description, content, buttons, image } = Astro.props
---

<Section class="feature feature-1 overflow-hidden">
  <Container class="flex w-full flex-col gap-y-16 lg:grid lg:grid-cols-2 lg:items-center">
    <Writeup class="lg:pr-16">
      <Element as="h1">{title}</Element>
      <Element as="p">{description}</Element>
      <Fragment set:html={content} />
      <slot />
      <Buttons {buttons} />
    </Writeup>
    <Element class="w-screen lg:w-[50vw] lg:max-w-screen-md">
      <Image
        class="rounded-l-lg 2xl:rounded-r-lg"
        {...image}
      />
    </Element>
  </Container>
</Section>
