---
import Abstract from '@/components/Abstract.astro'
import Button from '@/components/Button.astro'
import Card from '@/components/Card.astro'
import Container from '@/components/Container.astro'
import Element from '@/components/Element.astro'
import Heading from '@/components/Heading.astro'
import Image from '@/components/Image.astro'
import List from '@/components/List.astro'
import Matrix from '@/components/Matrix.astro'
import Section from '@/components/Section.astro'
import type { BlockSchema } from '@/schemas/fields/block.ts'

interface Props extends BlockSchema {}

const { heading, button, cards } = Astro.props
---

<Section class="job-categories-1">
  <Container>
    <Element class="spread">
      <Heading
        size="3xl"
        text={heading}
      />
      <Button
        size="sm"
        variant="ghost"
        {...button}
      />
    </Element>
    <Matrix>
      {
        cards?.map(({ href, heading, list, image }) => (
          <Card {href}>
            <Image {...image} />
            <Abstract>
              <Heading
                as="h2"
                size="lg"
                text={heading}
              />
              <List
                size="sm"
                items={list}
              />
            </Abstract>
          </Card>
        ))
      }
    </Matrix>
  </Container>
</Section>

<style>
  @layer fulldev {
    .container {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-12);
    }

    .spread {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: var(--spacing-8);
    }

    .card {
      padding: 0px;

      .writeup {
        padding: var(--spacing-4);
      }
    }
  }
</style>
