---
import Abstract from '@/components/Abstract.astro'
import Container from '@/components/Container.astro'
import Element from '@/components/Element.astro'
import Heading from '@/components/Heading.astro'
import Image from '@/components/Image.astro'
import Paragraph from '@/components/Paragraph.astro'
import Section from '@/components/Section.astro'
import type { BlockSchema } from '@/schemas/fields/block.ts'

interface Props extends BlockSchema {}

const { heading, paragraph, images } = Astro.props
---

<Section class="logos-1">
  <Container>
    <Abstract align="center">
      <Heading
        size="xl"
        text={heading}
      />
      <Paragraph
        size="sm"
        muted
        text={paragraph}
      />
    </Abstract>
    <Element class="logos-1-cards">
      {images?.map((image) => <Image {...image} />)}
    </Element>
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .logos-1 {
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-8);
      }

      .logos-1-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--spacing-8);
      }

      .image {
        max-width: var(--spacing-36);
      }
    }
  }
</style>
