---
import Button from 'fulldev-ui/components/Button.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Price from 'fulldev-ui/components/Price.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Card from 'fulldev-ui/structures/Card.astro'
import Container from 'fulldev-ui/structures/Container.astro'
import Section from 'fulldev-ui/structures/Section.astro'

interface Props extends BlockSchema {}

const { heading, button, cards } = Astro.props
---

<Section class="products-1">
  <Container>
    <Element class="products-1-segment">
      <Heading
        size="2xl"
        text={heading}
      />
      <Button
        variant="ghost"
        size="sm"
        {...button}
      />
    </Element>
    <Element class="products-1-cards">
      {
        cards?.map(({ href, images, heading, price }) => (
          <Card {href}>
            <Image {...images?.[0]} />
            <Element class="products-1-card-content">
              <Heading
                as="h3"
                size="md"
                text={heading}
              />
              <Price amount={price} />
            </Element>
          </Card>
        ))
      }
    </Element>
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .products-1 {
      .container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-8);
      }

      .products-1-segment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacing-8);
      }

      .products-1-cards {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: start;
        gap: var(--spacing-4);

        @media (min-width: 640px) {
          grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @media (min-width: 768px) {
          grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        @media (min-width: 1024px) {
          grid-template-columns: repeat(5, minmax(0, 1fr));
        }

        @media (min-width: 1280px) {
          grid-template-columns: repeat(6, minmax(0, 1fr));
        }
      }

      .card {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: var(--spacing-3);

        &:hover > .image {
          opacity: 0.75;
          transition: var(--transition);
        }

        .image {
          border: 1px solid var(--color-border);
          border-radius: var(--radius-md);
        }
      }

      .products-1-card-content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2);
        height: 100%;
      }
    }
  }
</style>
