---
import Prose from 'fulldev-ui/components/Prose.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Toc from 'fulldev-ui/components/Toc.astro'

const { toc = 'On this page', render } = Astro.props
const { Content } = (render && (await render())) || {}
---

<Section class:list="article">
  <Prose>
    {Content && <Content />}
    <slot />
  </Prose>
  <Toc
    {render}
    heading={toc}
  />
</Section>

<style is:global>
  @layer fulldev {
    .article {
      @apply relative flex h-full flex-grow !flex-row items-start;

      .prose {
        @apply mx-auto max-w-screen-md;
      }
    }
  }
</style>
