---
import Section from 'fulldev-ui/components/Section.astro'

const { href, ...rest } = Astro.props
---

<a href={href}>
  <Section
    class:list="banner"
    size="sm"
    structure="masonry"
    level={1}
    frame="panel"
    align="center"
    {...rest}
  />
</a>

<style is:global lang="scss">
  @layer fulldev {
    .banner {
      &.section.frame-panel {
        margin: 0;
        border: 0;
        border-radius: 0;
        background-color: var(--color-2);
        padding: var(--space-5);
      }
    }
  }
</style>
