---
import Buttons from '@/components/Buttons.astro'
import Container from '@/components/Container.astro'
import Image from '@/components/Image.astro'
import Section from '@/components/Section.astro'
import Split from '@/components/Split.astro'
import Writeup from '@/components/Writeup.astro'
import type { ContentSchema } from '@/schemas/models/content'

interface Props extends ContentSchema {}

const { writeup, buttons, image } = Astro.props
---

<Section class="content content-1">
  <Container>
    <Split align="center">
      <Writeup markdown={writeup}>
        <slot />
        <Buttons {buttons} />
      </Writeup>
      <Image
        class="rounded-lg"
        {...image}
      />
    </Split>
  </Container>
</Section>
