---
import Box from 'fulldev-ui/components/Box.astro'
import Button from 'fulldev-ui/components/Button.astro'
import Card from 'fulldev-ui/components/Card.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Form from 'fulldev-ui/components/Form.vue'
import Section from 'fulldev-ui/components/Section.astro'
import Socials from 'fulldev-ui/components/Socials.astro'
import Split from 'fulldev-ui/components/Split.astro'
import Writeup from 'fulldev-ui/components/Writeup.astro'
import type { ContactSchema } from 'fulldev-ui/schemas/blocks/contact'

interface Props extends ContactSchema {}

const { writeup, channels, socials, form } = Astro.props
---

<Section class="contact contact-2">
  <Container>
    <Split>
      <Writeup>
        <Fragment set:html={writeup} />
        <slot />
        <Box class="flex flex-col items-start">
          {
            channels?.map((channel) => (
              <Button
                class="px-0"
                variant="link"
                {...channel}
              />
            ))
          }
        </Box>
        <Socials {socials} />
      </Writeup>
      <Card>
        <Form
          client:load
          {...form}
        />
      </Card>
    </Split>
  </Container>
</Section>
