---
import type { ComponentProps } from 'astro/types'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Panel from 'fulldev-ui/components/Panel.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import type { CtaSchema } from 'fulldev-ui/schemas/blocks/cta.ts'

interface Props extends ComponentProps<typeof Section>, CtaSchema {}

const { tagline, heading, paragraph, buttons, image, ...rest } = Astro.props
---

<Section
  class:list="cta-1"
  {...rest}
>
  <Container>
    <Panel>
      <Element class="cta-1-segment">
        <Element class="cta-1-content">
          <Tagline text={tagline} />
          <Heading
            size="4xl"
            as="h2"
            text={heading}
          />
          <Paragraph
            size="lg"
            text={paragraph}
          />
        </Element>
        <Buttons
          {buttons}
          size="lg"
        />
      </Element>
      <Image {...image} />
    </Panel>
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .cta-1 {
      .panel {
        @apply flex flex-col items-center gap-16;
      }

      .cta-1-segment {
        @apply z-10 flex flex-col items-center gap-8 text-center;
      }

      .cta-1-content {
        @apply flex max-w-screen-md flex-col items-center gap-4 text-center;
      }

      .text {
        @apply text-balance;
      }

      .image {
        @apply rounded-lg;
      }
    }
  }
</style>
