---
import Buttons from '@/components/Buttons.astro'
import Container from '@/components/Container.astro'
import Panel from '@/components/Panel.astro'
import Section from '@/components/Section.astro'
import Writeup from '@/components/Writeup.astro'
import type { CtaSchema } from '@/schemas/models/cta'

interface Props extends CtaSchema {}

const { writeup, buttons } = Astro.props
---

<Section class="cta cta-1">
  <Container>
    <Panel class="flex flex-col items-center">
      <Writeup
        size="lg"
        class="items-center text-center"
        markdown={writeup}
      >
        <slot />
        <Buttons
          class="justify-center"
          size="lg"
          {buttons}
        />
      </Writeup>
    </Panel>
  </Container>
</Section>
