---
import Buttons from '@/components/Buttons.astro'
import Container from '@/components/Container.astro'
import Panel from '@/components/Panel.astro'
import Section from '@/components/Section.astro'
import Writeup from '@/components/Writeup.astro'
import type { ComponentProps } from 'astro/types'
interface Props {
  buttons?: ComponentProps<typeof Buttons>['buttons']
}

const { buttons } = Astro.props
---

<Section class="cta cta-1">
  <Container>
    <Panel class="flex flex-col items-center gap-8">
      <Writeup
        class="items-center text-center"
        size="lg"
      >
        <slot />
      </Writeup>
      <Buttons
        class="justify-center"
        size="lg"
        {buttons}
      />
    </Panel>
  </Container>
</Section>
