---
import type { ComponentProps } from 'astro/types'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Panel from 'fulldev-ui/components/Panel.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Writeup from 'fulldev-ui/components/Writeup.astro'

interface Props {
  size?: ComponentProps<typeof Writeup>['size']
  align?: ComponentProps<typeof Writeup>['align']
  title?: string | undefined
  description?: string | undefined
  content?: string | undefined
  buttons?: ComponentProps<typeof Buttons>['buttons']
}

const { content, title, description, buttons } = Astro.props
---

<Section class="cta cta-1">
  <Container>
    <Panel>
      <Writeup
        size="lg"
        align="center"
      >
        <Element as="h1">{title}</Element>
        <Element as="p">{description}</Element>
        <Fragment set:html={content} />
        <slot />
        <Buttons {buttons} />
      </Writeup>
    </Panel>
  </Container>
</Section>
