---
import type { HTMLAttributes } from 'astro/types'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import Text from 'fulldev-ui/components/Text.astro'
import type { CtaSchema } from 'fulldev-ui/schemas/blocks/cta.ts'
import Container from '../wrappers/Container.astro'
import Panel from '../wrappers/Panel.astro'
import Section from '../wrappers/Section.astro'

interface Props extends HTMLAttributes<'section'>, CtaSchema {}

const { tagline, heading, text, buttons, image, ...rest } = Astro.props
---

<Section
  class:list="cta"
  {...rest}
>
  <Container>
    <Panel>
      <Element class="segment">
        <Element class="content">
          <Tagline text={tagline} />
          <Heading
            text={heading}
            size="4xl"
            as="h2"
          />
          <Text
            text={text}
            size="lg"
          />
        </Element>
        <Buttons
          {buttons}
          size="lg"
        />
      </Element>
      <Image {...image} />
    </Panel>
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .cta {
      .segment {
        @apply z-10 flex flex-col items-center gap-8 text-center;
      }

      .content {
        @apply flex max-w-screen-md flex-col items-center gap-4 text-center;
      }

      .text {
        @apply text-balance;
      }

      .image {
        @apply rounded-lg;
      }
    }
  }
</style>
