---
import Buttons from '@/components/Buttons.astro'
import Container from '@/components/Container.astro'
import Element from '@/components/Element.astro'
import Panel from '@/components/Panel.astro'
import Section from '@/components/Section.astro'
import Writeup from '@/components/Writeup.astro'
import type { ComponentProps } from 'astro/types'

interface Props {
  size?: ComponentProps<typeof Writeup>['size']
  align?: ComponentProps<typeof Writeup>['align']
  title?: string | undefined
  description?: string | undefined
  content?: string | undefined
  buttons?: ComponentProps<typeof Buttons>['buttons']
}

const { content, title, description, buttons } = Astro.props
---

<Section class="cta cta-1">
  <Container>
    <Panel>
      <Writeup
        size="lg"
        align="center"
      >
        <Element as="h1">{title}</Element>
        <Element as="p">{description}</Element>
        <Fragment set:html={content} />
        <slot />
        <Buttons
          size="lg"
          {buttons}
        />
      </Writeup>
    </Panel>
  </Container>
</Section>
