---
import Accordion from 'fulldev-ui/components/Accordion.vue'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Split from 'fulldev-ui/components/Split.astro'
import Writeup from 'fulldev-ui/components/Writeup.astro'
import type { FaqsSchema } from 'fulldev-ui/schemas/blocks/faqs'

interface Props extends FaqsSchema {}

const { writeup, buttons, faqs } = Astro.props
---

<Section class="faqs faqs-2">
  <Container>
    <Split>
      <Writeup>
        <Fragment set:html={writeup} />
        <slot />
        <Buttons {buttons} />
      </Writeup>
      <Accordion
        client:load
        items={faqs}
      />
    </Split>
  </Container>
</Section>
