---
import { Accordion } from '@/components/Accordion'
import Box from '@/components/Box.astro'
import Buttons from '@/components/Buttons.astro'
import Container from '@/components/Container.astro'
import Section from '@/components/Section.astro'
import Writeup from '@/components/Writeup.astro'
import type { ComponentProps } from 'astro/types'

interface Props {
  buttons?: ComponentProps<typeof Buttons>['buttons']
  faqs?: ComponentProps<typeof Accordion>['items']
}

const { buttons, faqs } = Astro.props
---

<Section class="faqs faqs-1">
  <Container class="flex flex-col items-center gap-y-16">
    <Box class="flex flex-col items-center gap-8">
      <Writeup class="items-center text-center">
        <slot />
      </Writeup>
      <Buttons {buttons} />
    </Box>
    <Accordion
      client:load
      items={faqs}
    />
  </Container>
</Section>
