---
import Accordion from '@/components/Accordion.tsx'
import Box from '@/components/Box.astro'
import Buttons from '@/components/Buttons.astro'
import Container from '@/components/Container.astro'
import Section from '@/components/Section.astro'
import Split from '@/components/Split.astro'
import Writeup from '@/components/Writeup.astro'
import type { ComponentProps } from 'astro/types'

interface Props {
  buttons?: ComponentProps<typeof Buttons>['buttons']
  faqs?: ComponentProps<typeof Accordion>['items']
}

const { buttons, faqs } = Astro.props
---

<Section class="faqs faqs-2">
  <Container>
    <Split>
      <Box class="flex flex-col items-center gap-8">
        <Writeup>
          <slot />
        </Writeup>
        <Buttons {buttons} />
      </Box>
      <Accordion
        client:load
        items={faqs}
      />
    </Split>
  </Container>
</Section>
