---
import Accordion from '@/components/Accordion.vue'
import Buttons from '@/components/Buttons.astro'
import Container from '@/components/Container.astro'
import Section from '@/components/Section.astro'
import Writeup from '@/components/Writeup.astro'
import type { FaqsSchema } from '@/schemas/models/faqs'

interface Props extends FaqsSchema {}

const { writeup, buttons, faqs } = Astro.props
---

<Section class="faqs faqs-1">
  <Container class="flex flex-col items-center gap-y-16">
    <Writeup
      class="items-center text-center"
      markdown={writeup}
    >
      <slot />
      <Buttons {buttons} />
    </Writeup>
    <Accordion
      client:load
      items={faqs}
    />
  </Container>
</Section>
