---
import type { ComponentProps } from 'astro/types'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Writeup from 'fulldev-ui/structures/Writeup.astro'

interface Props extends ComponentProps<typeof Section>, BlockSchema {}

const { tagline, heading, paragraph, buttons, image, ...rest } = Astro.props
---

<Section
  class:list="feature-1"
  {...rest}
>
  <Container>
    <Writeup>
      <Tagline
        size="sm"
        text={tagline}
      />
      <Heading
        size="3xl"
        text={heading}
      />
      <Paragraph
        size="lg"
        text={paragraph}
      />
      <Buttons
        variant="secondary"
        {buttons}
      />
    </Writeup>
    <Image {...image} />
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .feature-1 {
      .container {
        @apply gap-x-gutter gap-y-12 lg:grid lg:grid-cols-2 lg:items-center;
      }

      .writeup {
        @apply lg:max-w-xl;
      }

      .image {
        @apply rounded-lg;
      }
    }
  }
</style>
