---
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import type { FeatureSchema } from 'fulldev-ui/schemas/blocks/feature'
import type { ComponentProps } from 'svelte'

interface Props extends ComponentProps<typeof Section>, FeatureSchema {}

const { tagline, heading, paragraph, buttons, image, ...rest } = Astro.props
---

<Section
  class:list="feature-1"
  {...rest}
>
  <Container>
    <Element class="feature-1-segment">
      <Element class="feature-1-content">
        <Tagline
          size="sm"
          {...tagline}
        />
        <Heading
          size="3xl"
          {...heading}
        />
        <Paragraph
          size="lg"
          {...paragraph}
        />
      </Element>
      <Buttons
        variant="secondary"
        {buttons}
      />
    </Element>
    <Image {...image} />
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .feature-1 {
      .container {
        @apply gap-y-12 lg:grid lg:grid-cols-2 lg:items-center;
      }

      .feature-1-segment {
        @apply flex flex-col items-start gap-6 lg:max-w-xl;
      }

      .feature-1-content {
        @apply flex max-w-screen-md flex-col items-start gap-3;
      }

      .image {
        @apply rounded-lg;
      }
    }
  }
</style>
