---
import Box from '@/components/Box.astro'
import Container from '@/components/Container.astro'
import Grid from '@/components/Grid.astro'
import Heading from '@/components/Heading.astro'
import Icon from '@/components/Icon.astro'
import Paragraph from '@/components/Paragraph.astro'
import Section from '@/components/Section.astro'
import Writeup from '@/components/Writeup.astro'

interface Props {
  features?: {
    icon?: string
    title?: string
    description?: string
  }[]
}

const { features } = Astro.props
---

<Section class="features features-1">
  <Container class="flex flex-col items-center gap-16">
    <Writeup
      class="flex flex-col items-center text-center"
      size="default"
    >
      <slot />
    </Writeup>
    <Grid length={features?.length}>
      {
        features?.map(({ icon, title, description }) => (
          <Box class="flex flex-col items-center gap-4 text-center">
            <Box class="bg-muted text-muted-foreground inline-flex size-9 items-center justify-center rounded-md">
              <Icon name={icon} />
            </Box>
            <Heading as="h3">{title}</Heading>
            <Paragraph>{description}</Paragraph>
          </Box>
        ))
      }
    </Grid>
  </Container>
</Section>
