---
import type { HTMLAttributes } from 'astro/types'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import Text from 'fulldev-ui/components/Text.astro'
import type { ContentSchema } from 'fulldev-ui/schemas/blocks/content'
import Container from '../wrappers/Container.astro'
import Section from '../wrappers/Section.astro'

interface Props extends HTMLAttributes<'section'>, ContentSchema {}

const { tagline, heading, text, buttons, image, ...rest } = Astro.props
---

<Section
  class:list="content"
  {...rest}
>
  <Container>
    <Element class="segment">
      <Element class="content">
        <Tagline text={tagline} />
        <Heading
          text={heading}
          size="3xl"
          as="h2"
        />
        <Text
          text={text}
          size="lg"
        />
      </Element>
      <Buttons
        {buttons}
        variant="secondary"
      />
    </Element>
    <Image {...image} />
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .content {
      .container {
        @apply gap-y-12 lg:grid lg:grid-cols-2 lg:items-center;
      }

      .segment {
        @apply flex flex-col items-start gap-6 lg:max-w-xl;
      }

      .content {
        @apply flex max-w-screen-md flex-col items-start gap-3;
      }

      .image {
        @apply rounded-lg;
      }
    }
  }
</style>
