---
import Abstract from 'fulldev-ui/components/Abstract.astro'
import Box from 'fulldev-ui/components/Box.astro'
import Button from 'fulldev-ui/components/Button.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Grid from 'fulldev-ui/components/Grid.astro'
import Logo from 'fulldev-ui/components/Logo.astro'
import Menu from 'fulldev-ui/components/Menu.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Socials from 'fulldev-ui/components/Socials.astro'
import type { FooterSchema } from 'fulldev-ui/schemas/blocks/footer'

interface Props extends FooterSchema {}

const { logo, description, socials, channels, menus } = Astro.props
---

<Section
  class="footer mt-auto border-t"
  as="footer"
>
  <Container class="flex justify-between gap-16">
    <Grid
      length={4}
      size="lg"
    >
      <Abstract
        size="sm"
        class="flex max-w-xs flex-col gap-3"
      >
        <Logo {...logo} />
        <Box
          as="p"
          set:html={description}
        />
        <Socials {socials} />
      </Abstract>
      <Box class="flex flex-col items-start">
        {
          channels?.map((channel) => (
            <Button
              class="px-0 py-1"
              variant="link"
              {...channel}
            />
          ))
        }
      </Box>
      {
        menus?.map((menu) => (
          <Menu
            class="w-full text-sm"
            {...menu}
          />
        ))
      }
    </Grid>
  </Container>
</Section>
