---
import Abstract from '@/components/Abstract.astro'
import Container from '@/components/Container.astro'
import Element from '@/components/Element.astro'
import Logo from '@/components/Logo.astro'
import Menu from '@/components/Menu.astro'
import Menus from '@/components/Menus.astro'
import Section from '@/components/Section.astro'
import Socials from '@/components/Socials.astro'

const { logo, description, socials, channels, menus } = Astro.props
---

<Section
  class="footer border-t border-border"
  as="footer"
>
  <Container class="flex justify-between gap-16">
    <Abstract
      size="sm"
      class="max-w-xs"
    >
      <Logo
        size="sm"
        {...logo}
      />
      <Element
        as="p"
        set:html={description}
      />
      <Socials
        variant="secondary"
        {socials}
      />
    </Abstract>
    <Menu
      class="w-full max-w-xs"
      heading="Contact"
      size="sm"
      links={channels}
    />
    <Menus
      class="w-full"
      size="sm"
      {menus}
    />
  </Container>
</Section>
