---
import Box from '@/components/Box.astro'
import Buttons from '@/components/Buttons.astro'
import Container from '@/components/Container.astro'
import Image from '@/components/Image.astro'
import Section from '@/components/Section.astro'
import Writeup from '@/components/Writeup.astro'

interface Props {
  buttons?: {
    text?: string
    href?: string
    variant?: 'default' | 'secondary' | 'outline' | 'ghost' | 'link'
  }[]
  image?: {
    src?: string
    alt?: string
  }
}

const { buttons, image } = Astro.props
---

<Section class="hero hero-1">
  <Container class="flex flex-col items-center gap-16">
    <Box class="flex flex-col items-center gap-8">
      <Writeup
        class="items-center text-center"
        size="xl"
      >
        <slot />
      </Writeup>
      <Buttons
        class="justify-center"
        size="lg"
        {buttons}
      />
    </Box>
    <Image
      class="rounded-lg"
      {...image}
    />
  </Container>
</Section>
