---
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Chip from 'fulldev-ui/components/Chip.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Writeup from 'fulldev-ui/components/Writeup.astro'
import type { HeroSchema } from 'fulldev-ui/schemas/blocks/hero'

interface Props extends HeroSchema {}

const { badge, writeup, buttons, image } = Astro.props
---

<Section class="flex flex-col">
  <Container class="flex flex-col">
    <Writeup
      size="xl"
      align="center"
    >
      <Chip
        variant="outline"
        {...badge}
      />
      <Fragment set:html={writeup} />
      <slot />
      <Buttons
        size="lg"
        justify="center"
        {buttons}
      />
    </Writeup>
    <Image
      class="rounded-lg"
      {...image}
    />
  </Container>
</Section>
