---
import type { ComponentProps } from 'astro/types'
import Badge from 'fulldev-ui/components/Badge.astro'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import Writeup from 'fulldev-ui/components/Writeup.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/components/block'

interface Props extends ComponentProps<typeof Section>, BlockSchema {}

const { badge, tagline, heading, paragraph, buttons, image, ...rest } =
  Astro.props
---

<Section
  class:list="hero-1"
  {...rest}
>
  <Container>
    <Writeup align="center">
      <Badge
        size="lg"
        {...badge}
      />
      <Tagline
        size="sm"
        text={tagline}
      />
      <Heading
        as="h1"
        size="6xl"
        text={heading}
      />
      <Paragraph
        size="xl"
        text={paragraph}
      />
      <Buttons
        {buttons}
        size="lg"
      />
    </Writeup>
    <Image {...image} />
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .hero-1 {
      .image {
        @apply rounded-lg;
      }
    }
  }
</style>
