---
import Badge from '@/components/Badge.astro'
import Buttons from '@/components/Buttons.astro'
import Container from '@/components/Container.astro'
import Image from '@/components/Image.astro'
import Section from '@/components/Section.astro'
import Writeup from '@/components/Writeup.astro'
import type { HeroSchema } from '@/schemas/blocks/hero'

interface Props extends HeroSchema {}

const { badge, writeup, buttons, image } = Astro.props
---

<Section class="hero hero-1">
  <Container class="flex flex-col items-center gap-16">
    <Writeup
      class="items-center text-center"
      size="xl"
      markdown={writeup}
    >
      <Badge
        size="lg"
        slot="before"
        variant="outline"
        {...badge}
      />
      <slot />
      <Buttons
        size="lg"
        justify="center"
        {buttons}
      />
    </Writeup>
    <Image
      class="rounded-lg"
      {...image}
    />
  </Container>
</Section>
