---
import Box from '@/components/Box.astro'
import Container from '@/components/Container.astro'
import Section from '@/components/Section.astro'
import Writeup from '@/components/Writeup.astro'
import type { IntroSchema } from '@/schemas/models/intro'

interface Props extends IntroSchema {}

const { writeup } = Astro.props
---

<Section class="intro intro-1 py-0">
  <Container>
    <Box class="border-b py-12">
      <Writeup
        align="start"
        size="sm"
        markdown={writeup}
      >
        <slot />
      </Writeup>
    </Box>
  </Container>
</Section>
