---
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import type { IntroSchema } from 'fulldev-ui/schemas/blocks/intro.ts'
import type { ComponentProps } from 'svelte'

interface Props extends ComponentProps<typeof Section>, IntroSchema {}

const { tagline, heading, paragraph, buttons, ...rest } = Astro.props
---

<Section
  class:list="intro-1"
  {...rest}
>
  <Container>
    <Element class="intro-1-content">
      <Tagline
        size="sm"
        text={tagline}
      />
      <Heading
        as="h1"
        size="3xl"
        text={heading}
      />
      <Paragraph
        size="md"
        text={paragraph}
      />
    </Element>
    <Buttons
      size="sm"
      {buttons}
    />
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .intro-1 {
      .container {
        @apply flex flex-col items-center gap-8 text-center;
      }

      .intro-1-content {
        @apply flex max-w-screen-md flex-col items-center gap-4 text-center;
      }
    }
  }
</style>
