---
import Box from 'fulldev-ui/components/Box.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Writeup from 'fulldev-ui/components/Writeup.astro'
import type { IntroSchema } from 'fulldev-ui/schemas/blocks/intro'

interface Props extends IntroSchema {}

const { writeup } = Astro.props
---

<Section class="py-0">
  <Container>
    <Box class="border-b py-12">
      <Writeup
        align="start"
        size="sm"
      >
        <Fragment set:html={writeup} />
        <slot />
      </Writeup>
    </Box>
  </Container>
</Section>
