---
import Box from '@/components/Box.astro'
import Container from '@/components/Container.astro'
import Section from '@/components/Section.astro'
import Writeup from '@/components/Writeup.astro'

interface Props {}
---

<Section class="intro intro-1 py-0">
  <Container>
    <Box class="border-b py-12">
      <Writeup
        align="start"
        size="sm"
      >
        <slot />
      </Writeup>
    </Box>
  </Container>
</Section>
