---
import type { ComponentProps } from 'astro/types'
import type { CollectionEntry } from 'astro:content'
import Badge from 'fulldev-ui/components/Badge.astro'
import Button from 'fulldev-ui/components/Button.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import List from 'fulldev-ui/components/List.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Prose from 'fulldev-ui/components/Prose.astro'
import Section from 'fulldev-ui/components/Section.astro'

interface Props extends ComponentProps<typeof Section> {
  badges?: ComponentProps<typeof Badge>[] | undefined
  heading?: string | undefined
  paragraph?: string | undefined
  list?: ComponentProps<typeof List>['items'] | undefined
  button?: ComponentProps<typeof Button> | undefined
  render: CollectionEntry<'pages'>['render']
}

const { badges, heading, paragraph, list, button, render, ...rest } =
  Astro.props

const { Content } = await render()
---

<Section
  class:list="job-1"
  {...rest}
>
  <Container class:list="job-1-container">
    <Element class:list="job-1-segment">
      <Element class:list="job-1-content">
        <Element class:list="job-1-badges">
          {
            badges?.map((badge) => (
              <Badge
                size="sm"
                {...badge}
              />
            ))
          }
        </Element>
        <Heading
          as="h1"
          size="4xl"
          text={heading}
        />
        <Paragraph
          size="lg"
          muted
          text={paragraph}
        />
        <List items={list} />
      </Element>
      <Button
        size="lg"
        {...button}
      />
    </Element>
    <Prose>
      <Content />
    </Prose>
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .job-1 {
      .container {
        @apply flex flex-col items-start gap-x-gutter lg:grid lg:grid-cols-2;
      }

      .job-1-segment {
        @apply sticky top-0 flex max-w-xl flex-col items-start gap-8 py-16;

        top: var(--header-height, 0px);
        width: var(--sidebar-width);
        height: calc(100vh - var(--headers));
      }

      .job-1-content {
        @apply flex flex-col items-start gap-4;
      }

      .job-1-badges {
        @apply flex flex-wrap gap-2;
      }

      .prose {
        @apply py-16;
      }
    }
  }
</style>
