---
import Button from 'fulldev-ui/components/Button.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import List from 'fulldev-ui/components/List.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Card from 'fulldev-ui/structures/Card.astro'
import Container from 'fulldev-ui/structures/Container.astro'
import Matrix from 'fulldev-ui/structures/Matrix.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Writeup from 'fulldev-ui/structures/Writeup.astro'
import { getHref } from 'fulldev-ui/utils/getHref'

interface Props extends BlockSchema {}

const { heading, button, pages, ...rest } = Astro.props
---

<Section
  class="job-categories-1"
  {...rest}
>
  <Container class="flex flex-col gap-12">
    <Element class="flex items-center justify-between gap-8">
      <Heading
        size="3xl"
        text={heading}
      />
      <Button
        size="sm"
        variant="ghost"
        {...button}
      />
    </Element>
    <Matrix>
      {
        pages?.map(({ slug, data: { title, list, image } }) => (
          <Card
            class="p-0"
            href={getHref(slug)}
          >
            <Image {...image} />
            <Writeup class="p-4">
              <Heading
                as="h2"
                size="lg"
                text={title}
              />
              <List
                size="sm"
                items={list}
              />
            </Writeup>
          </Card>
        ))
      }
    </Matrix>
  </Container>
</Section>
