---
import type { ComponentProps } from 'astro/types'
import Container from 'fulldev-ui/components/Container.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Writeup from 'fulldev-ui/components/Writeup.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/components/block.ts'

interface Props extends ComponentProps<typeof Section>, BlockSchema {}

const { tagline, heading, paragraph, images, ...rest } = Astro.props
---

<Section
  class:list="logos-1"
  {...rest}
>
  <Container>
    <Writeup>
      <Heading
        size="lg"
        text={heading}
      />
      <Paragraph
        size="sm"
        muted
        text={paragraph}
      />
    </Writeup>
    <Element class:list="logos-1-cards">
      {images?.map((image) => <Image {...image} />)}
    </Element>
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .logos-1 {
      .logos-1-cards {
        @apply grid grid-cols-1 gap-6 lg:grid-cols-3;
      }

      .logos-1-card {
        @apply flex flex-col gap-3;
      }

      .icon {
        @apply text-primary;
      }
    }
  }
</style>
