---
import type { ComponentProps } from 'astro/types'
import Element from 'fulldev-ui/components/Element.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Writeup from 'fulldev-ui/structures/Writeup.astro'

interface Props extends ComponentProps<typeof Section>, BlockSchema {}

const { tagline, heading, paragraph, images, ...rest } = Astro.props
---

<Section
  class:list="logos-1"
  {...rest}
>
  <Container>
    <Writeup align="center">
      <Heading
        size="xl"
        text={heading}
      />
      <Paragraph
        size="sm"
        muted
        text={paragraph}
      />
    </Writeup>
    <Element class:list="logos-1-cards">
      {images?.map((image) => <Image {...image} />)}
    </Element>
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .logos-1 {
      .container {
        @apply flex flex-col items-center gap-8;
      }

      .logos-1-cards {
        @apply flex flex-wrap justify-center gap-12;
      }

      .image {
        @apply max-w-36;
      }
    }
  }
</style>
