---
import type { HTMLTag } from 'astro/types'
import { Heading, Logo, Section, Text, Wrap } from 'fulldev-ui'
import type { Block } from '../../schemas/block'

type Props<As extends HTMLTag = 'section'> = Block<As>

const { logos, heading, text, ...rest } = Astro.props
---

<Section
  class:list={'logos'}
  align="center"
  {...rest}
>
  <Heading
    size="xs"
    html={heading}
  />
  <Text
    size="sm"
    html={text}
  />
  <Wrap
    align="center"
    style={{ justifyContent: 'center' }}
  >
    {logos?.map((logo) => <Logo src={logo} />)}
  </Wrap>
</Section>
