---
import Abstract from '@/components/Abstract.astro'
import Box from '@/components/Box.astro'
import Button from '@/components/Button.astro'
import Container from '@/components/Container.astro'
import Grid from '@/components/Grid.astro'
import Image from '@/components/Image.astro'
import Section from '@/components/Section.astro'
import Writeup from '@/components/Writeup.astro'
import { getHref } from '@/lib/getHref'
import type { PagesSchema } from '@/schemas/models/pages'
import { getCollection, getEntries } from 'astro:content'

interface Props extends PagesSchema {}

const { writeup, button, pages } = Astro.props

const entries = pages ? await getEntries(pages) : await getCollection('pages')
---

<Section class="pages pages-1">
  <Container class="flex flex-col items-center gap-16">
    <Writeup
      class="items-center text-center"
      markdown={writeup}
    >
      <slot />
      <Button
        variant="link"
        reverse
        {...button}
      />
    </Writeup>
    <Grid length={entries?.length}>
      {
        entries?.map(({ collection, id, data: { title, description, image } }) => (
          <Box
            class="group flex flex-col gap-4"
            href={getHref(collection, id)}
          >
            <Image
              class="rounded-lg transition-opacity group-hover:opacity-75"
              {...image}
            />
            <Abstract>
              <Box as="h3">{title}</Box>
              <Box as="p">{description}</Box>
            </Abstract>
          </Box>
        ))
      }
    </Grid>
    <Button
      class="lg:hidden"
      variant="secondary"
      {...button}
    />
  </Container>
</Section>
