---
import Box from 'fulldev-ui/components/Box.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Prose from 'fulldev-ui/components/Prose.astro'
import Section from 'fulldev-ui/components/Section.astro'
import type { PostSingleSchema } from 'fulldev-ui/schemas/blocks/postSingle'

interface Props extends PostSingleSchema {}

const { title, description, image } = Astro.props
---

<Section class="content content-1">
  <Container
    class="flex flex-col"
    size="sm"
  >
    <Prose>
      <Box as="h1">{title}</Box>
      <Box as="p">{description}</Box>
      <Image
        class="rounded-lg"
        {...image}
      />
      <slot />
    </Prose>
  </Container>
</Section>
