---
import Button from '@/components/Button.astro'
import Card from '@/components/Card.astro'
import Container from '@/components/Container.astro'
import Grid from '@/components/Grid.astro'
import Heading from '@/components/Heading.astro'
import List from '@/components/List.astro'
import Paragraph from '@/components/Paragraph.astro'
import Price from '@/components/Price.tsx'
import Section from '@/components/Section.astro'
import Writeup from '@/components/Writeup.astro'

interface Props {
  pricings?: {
    title?: string
    description?: string
    price?: {
      amount?: number
      compare?: number
      unit?: string
    }
    list?: string[]
    button?: {
      text?: string
      href?: string
      variant?: 'default' | 'secondary'
    }
  }[]
}

const { pricings } = Astro.props
---

<Section class="features features-1">
  <Container class="flex flex-col items-center gap-16">
    <Writeup
      class="flex flex-col items-center text-center"
      size="lg"
    >
      <slot />
    </Writeup>
    <Grid length={pricings?.length}>
      {
        pricings?.map(({ title, description, price, list, button }) => (
          <Card class="flex flex-col gap-4 text-lg">
            <Heading as="h3">{title}</Heading>
            <Paragraph>{description}</Paragraph>
            <Price
              className="text-2xl font-medium"
              {...price}
            />
            <List
              class="!mt-8"
              items={list}
            />
            <Button
              class="!mt-8"
              {...button}
            />
          </Card>
        ))
      }
    </Grid>
  </Container>
</Section>
