---
import Button from 'fulldev-ui/components/Button.astro'
import Column from 'fulldev-ui/components/Column.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Input from 'fulldev-ui/components/Input.astro'
import Row from 'fulldev-ui/components/Row.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Text from 'fulldev-ui/components/Text.astro'
import Price from 'fulldev-ui/components/experimental/Price.astro'

const {
  heading,
  title,
  list,
  price,
  image,
  images,
  rating,
  buttons,
  text,
  subheading,
  button,
  description,
  form,
  ...rest
} = Astro.props
---

<Section
  class:list={'product'}
  structure="split"
  {...rest}
>
  <Image src={image || images?.[0]} />
  <Column>
    <Heading
      level={1}
      text={heading || title}
    />
    <Text
      style={{ maxWidth: '420px' }}
      text={text || description}
    />
    <Price value={price} />
    <Row>
      <Input
        value={1}
        name={'quantity'}
        style={{ width: 'var(--space-6)' }}
        type="number"
      />
      <Button
        color="brand"
        text={form?.submit}
      />
    </Row>
    <Button
      style={{ marginTop: 'var(--space-3)', width: '100%', maxWidth: '400px' }}
      variant="soft"
      {...button}
    />
  </Column>
</Section>
