---
import Box from '@/components/Box.astro'
import Container from '@/components/Container.astro'
import Image from '@/components/Image.astro'
import Prose from '@/components/Prose.astro'
import Section from '@/components/Section.astro'
import type { ProjectSchema } from '@/schemas/models/project'

interface Props extends ProjectSchema {}

const { title, description, image } = Astro.props
---

<Section class="project project-1">
  <Container
    class="flex flex-col"
    size="sm"
  >
    <Prose>
      <Box as="h1">{title}</Box>
      <Box as="p">{description}</Box>
      <Image
        class="rounded-lg"
        {...image}
      />
      <slot />
    </Prose>
  </Container>
</Section>
