---
import type { HTMLTag } from 'astro/types'
import { Column, Heading, Row, Section, Text } from 'fulldev-ui'
import type { Block } from '../schemas/block'

type Props<As extends HTMLTag = 'section'> = Block<As>

const { heading, text, cards, ...rest } = Astro.props
---

<Section
  class:list={'stats'}
  align="center"
  size="lg"
  {...rest}
>
  <Heading html={heading} />
  <Text html={text} />
  <Row>
    {
      cards?.map(({ heading, text }) => (
        <Column align="center">
          <Heading
            level={3}
            html={heading}
          />
          <Text html={text} />
        </Column>
      ))
    }
  </Row>
</Section>
