---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

import { typographyListItemStyle } from "./typography-styles"

type Props = HTMLAttributes<"li">

const { class: className, ...props } = Astro.props
---

<li
  data-slot="typography-list-item"
  class={cn(typographyListItemStyle, className)}
  {...props}
>
  <slot />
</li>
