---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

import { typographyTableCellStyle } from "./typography-styles"

type Props = HTMLAttributes<"td">

const { class: className, ...props } = Astro.props
---

<td
  data-slot="typography-table-cell"
  class={cn(typographyTableCellStyle, className)}
  {...props}
>
  <slot />
</td>
