---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

import { typographyMutedStyle } from "./typography-styles"

type Props = HTMLAttributes<"p">

const { class: className, ...props } = Astro.props
---

<p
  data-slot="typography-muted"
  class={cn(typographyMutedStyle, className)}
  {...props}
>
  <slot />
</p>
