---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"a">

const { class: className, ...props } = Astro.props
---

<a data-slot="typography-a" class={cn(className)} {...props}>
  <slot />
</a>

<style is:global>
  @reference "@/styles/global.css";

  [data-slot="typography-a"],
  [data-slot="typography"] a:not(.no-typography):not(.no-typography *) {
    @apply text-primary font-medium underline underline-offset-4;
  }
</style>
