---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

import { typographyH2Style } from "./typography-styles"

type Props = HTMLAttributes<"h2">

const { class: className, ...props } = Astro.props
---

<h2
  data-slot="typography-h2"
  class={cn(typographyH2Style, className)}
  {...props}
>
  <slot />
</h2>
