---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

import { typographyH3Style } from "./typography-styles"

type Props = HTMLAttributes<"h3">

const { class: className, ...props } = Astro.props
---

<h3
  data-slot="typography-h3"
  class={cn(typographyH3Style, className)}
  {...props}
>
  <slot />
</h3>
