---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"li">

const { class: className, ...props } = Astro.props
---

<li data-slot="typography-list-item" class={cn(className)} {...props}>
  <slot />
</li>

<style is:global>
  @reference "@/styles/global.css";

  [data-slot="typography-list-item"],
  [data-slot="typography-list"] > li,
  [data-slot="typography"]
    ul:not(.no-typography):not(.no-typography *)
    > li:not(.no-typography):not(.no-typography *),
  [data-slot="typography"]
    ol:not(.no-typography):not(.no-typography *)
    > li:not(.no-typography):not(.no-typography *) {
    @apply mt-2;
  }
</style>
