---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

import {
  typographyTableContainerStyle,
  typographyTableStyle,
} from "./typography-styles"

type Props = HTMLAttributes<"table"> & {
  containerClass?: string
}

const { class: className, containerClass, ...props } = Astro.props
---

<div
  data-slot="typography-table-container"
  class={cn(typographyTableContainerStyle, containerClass)}
>
  <table
    data-slot="typography-table"
    class={cn(typographyTableStyle, className)}
    {...props}
  >
    <slot />
  </table>
</div>
