---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

import { typographyAStyle } from "./typography-styles"

type Props = HTMLAttributes<"a">

const { class: className, ...props } = Astro.props
---

<a data-slot="typography-a" class={cn(typographyAStyle, className)} {...props}>
  <slot />
</a>
