---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

import { typographyH1Style } from "./typography-styles"

type Props = HTMLAttributes<"h1">

const { class: className, ...props } = Astro.props
---

<h1
  data-slot="typography-h1"
  class={cn(typographyH1Style, className)}
  {...props}
>
  <slot />
</h1>
