---
interface Props {}
import { getSlot } from '@silveltman/fullui/src/utils'

const slot = await getSlot(Astro)
const { props } = Astro
---

{
  slot && (
    <div class:list={['segment', props.class]}>
      <Fragment set:html={slot} />
    </div>
  )
}

<style>
  div {
    display: flex;
    gap: var(--flow4);
  }
</style>
