---
import { Button } from '@silveltman/fullui/components/button'
import { Layout } from '@silveltman/fullui/components/layout'
import { Section } from '@silveltman/fullui/components/section'
import type { CollectionEntry } from 'astro:content'
import { ProductsDeck } from '.'

interface Props {
  entry: CollectionEntry<'products'>
}

const { entry } = Astro.props
---

<Layout {...entry.data}>
  <Section
    layout="split"
    gallery
    {...entry.data}
  >
    <Button
      slot="segment"
      text={'Voeg toe aan winkelwagen'}
      href={'/producten'}
    />
  </Section>
  <Section render={entry.render} />
  <ProductsDeck
    heading={'Overige producten'}
    layout="carousel"
  />
  <slot />
</Layout>
