---
import { getSlot } from '../../utils'

interface Props {
  density?: 'compact' | null
  align?: 'start' | 'center' | 'stretch' | null
  class?: string | null
}

const { density, align, class: className } = Astro.props
const slot = await getSlot(Astro)
---

{
  slot && (
    <div class:list={['action', density, align, className]}>
      <Fragment set:html={slot} />
    </div>
  )
}

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
  }
</style>
