---
import type { ComponentProps } from 'astro/types'
import { ActionRoot } from '.'
import { Buttons } from '../buttons'
import { Form } from '../form'
import { Price } from '../price'

interface Props
  extends ComponentProps<typeof ActionRoot>,
    ComponentProps<typeof Price>,
    ComponentProps<typeof Buttons> {
  form?: ComponentProps<typeof Form>
}

const { props } = Astro
---

<ActionRoot {...props}>
  <Price {...props}>
    <slot name="price" />
  </Price>
  <Form
    slug={typeof props.form == 'string' ? props.form : undefined}
    {...props}
  >
    <slot name="form" />
  </Form>
  <Buttons {...props}>
    <slot name="buttons" />
  </Buttons>
  <slot />
</ActionRoot>
