---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  class={cn("mx-auto flex w-full max-w-screen-xl gap-8 py-3", className)}
  {...props}
>
  <slot />
</div>
