---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div
  data-slot="header-group"
  class={cn("flex min-w-0 items-center gap-2", className)}
  {...props}
>
  <slot />
</div>
