---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div
  data-slot="header-container"
  class={cn("relative mx-auto flex w-full max-w-7xl gap-4 px-4", className)}
  {...props}
>
  <slot />
</div>
