---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { SheetContent } from "@/components/ui/sheet"

type Props = ComponentProps<typeof SheetContent>

const { class: className, side = "right", ...props } = Astro.props
---

<SheetContent
  side={side}
  class="w-[18rem] gap-0 p-0 sm:max-w-[18rem]"
  {...props}
>
  <div
    data-slot="header-mobile"
    class={cn("flex h-full flex-col overflow-auto p-6 pt-16", className)}
  >
    <slot />
  </div>
</SheetContent>
