---
import { MenuIcon } from "@lucide/astro"
import type { ComponentProps } from "astro/types"

import { SheetTrigger } from "@/components/ui/sheet"

type Props = ComponentProps<typeof SheetTrigger>

const { class: className, ...props } = Astro.props
---

<SheetTrigger variant="ghost" size="icon-sm" class={className} {...props}>
  <MenuIcon class="size-4" />
  <span class="sr-only">Toggle mobile menu</span>
</SheetTrigger>
