---
import type { HTMLAttributes } from "astro/types"
import { cva, type VariantProps } from "class-variance-authority"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div">, VariantProps<typeof variants> {
  orientation?: "horizontal" | "vertical"
  decorative?: boolean
}

const variants = cva("bg-border block shrink-0", {
  variants: {
    orientation: {
      horizontal: "h-px w-full",
      vertical: "h-full w-px",
    },
  },
  defaultVariants: {
    orientation: "horizontal",
  },
})

const {
  class: className,
  orientation = "horizontal",
  decorative = true,
  ...props
} = Astro.props
---

<div
  data-slot="separator"
  data-orientation={orientation}
  role={decorative ? "none" : "separator"}
  aria-orientation={decorative ? undefined : orientation}
  class={cn(variants({ orientation }), className)}
  {...props}
>
</div>
