---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {
  orientation?: "horizontal" | "vertical"
  decorative?: boolean
}

const {
  class: className,
  orientation = "horizontal",
  decorative = true,
  ...props
} = Astro.props
---

<div
  role={decorative ? "none" : "separator"}
  aria-orientation={orientation}
  data-orientation={orientation}
  data-slot="separator"
  class={cn(
    "bg-border shrink-0 data-[orientation=horizontal]:h-px data-[orientation=horizontal]:w-full data-[orientation=vertical]:h-full data-[orientation=vertical]:w-px",
    className
  )}
  {...props}
>
</div>
