---
import type { Props as CollapsibleProps } from './Collapsible.astro'
import Collapsible from './Collapsible.astro'

export interface Props {
  collapsibles: CollapsibleProps[]
}

const { collapsibles } = Astro.props
---

<div>
  {
    collapsibles &&
      collapsibles.map((collapsible: CollapsibleProps) => (
        <Collapsible {...collapsible} />
      ))
  }
</div>
