---
export interface Props {
  heading: string
  text: string
}

const { heading, text } = Astro.props
---

<div>
  <details>
    <summary>{heading}</summary>
    <p>{text}</p>
  </details>
</div>

<style>
  summary {
    list-style: none;
    display: flex; /* also removes the list marker */
    align-items: center;
    cursor: pointer;
  }

  summary::after {
    content: '';
    width: 18px;
    height: 10px;
    background: url('https://uploads.sitepoint.com/wp-content/uploads/2023/10/1697699669arrow.svg')
      no-repeat;
    background-size: cover;
    margin-left: auto;
    transition: 0.2s;
  }

  details[open] > summary::after {
    transform: rotate(180deg);
  }

  details {
    cursor: default;
    padding: 20px;
    border-radius: 5px;
  }
</style>
