---
import { getCollection, getEntryBySlug } from 'astro:content'
const entry = await getEntryBySlug('pages', '_pages')
const entries = await getCollection('pages')
console.log('entryyy', entry)
console.log('entries', entries)
---

<!doctype html>
<html lang="en">
  <head> </head>
  <body> </body>
</html>
