---
import type { HTMLAttributes } from 'astro/types'
import { getSlot } from '../../utils'

interface Props {
  class?: HTMLAttributes<'div'>['class']
}

const { class: className } = Astro.props
const slot = await getSlot(Astro)
---

{
  slot && (
    <div class:list={['writeup writeup-root', className]}>
      <slot />
    </div>
  )
}

<style>
  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-3);
    max-width: max(calc(var(--spacing-6) * 3.8), 500px);
  }
</style>
