---
import type { HTMLAttributes } from 'astro/types'
import { getSlot } from 'src/utils'

interface Props {
  align?: 'start' | 'center' | 'stretch'
  class?: HTMLAttributes<'div'>['class']
}

const { align = 'start', class: className } = Astro.props
const slot = await getSlot(Astro)
---

{
  slot && (
    <div class:list={['writeup writeup-root', `align-${align}`, className]}>
      <slot />
    </div>
  )
}

<style>
  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: var(--flow3);
    max-width: max(calc(var(--flow6) * 3.6), 500px);

    &:where(.layout-center) {
      align-items: center;
      text-align: center;
    }

    &:where(.layout-left) {
      align-items: left;
      text-align: left;
    }
  }
</style>
