---
import { getSlot } from '../../utils'

interface Props {
  class?: string | null
}

const { class: className } = Astro.props
const slot = await getSlot(Astro)
---

{
  slot && (
    <div class:list={['writeup writeup-root', className]}>
      <slot />
    </div>
  )
}

<style>
  div {
    display: flex;
    row-gap: var(--spacing-3);
    flex-direction: column;
    width: 100%;
    max-width: max(calc(var(--spacing-6) * 3), 500px);
  }
</style>
