---
import Icon from './Icon.astro'

export interface Props {
  // theme: string
  // hue: string
  icon?: string
  text?: string
}

const { icon, text } = Astro.props
let iconDisplay

switch (icon) {
  case 'info':
    iconDisplay = 'info-circle'
    break
  case 'warning':
    iconDisplay = 'alert-triangle'
    break
  case 'danger':
    iconDisplay = 'alert-hexagon'
    break
  default:
    iconDisplay = icon
}
---

<div class={icon}>
  <Icon iconName={iconDisplay} />
  {text}
  <slot />
</div>

<style lang="postcss">
  div {
    background-color: rgb(109, 109, 118);
    color: white;
    display: flex;
    padding: 1rem;
    gap: 0.25rem;
    border-radius: 0.5rem;
    height: 1rem;

    &:where(.info) {
      background-color: rgb(74, 74, 238);
    }

    &:where(.warning) {
      background-color: rgb(247, 124, 24);
    }

    &:where(.danger) {
      background-color: rgb(232, 7, 7);
    }
  }
</style>
