---
import { cn } from "@/lib/utils"

interface Props {
  class?: string
}

const { class: className, ...props } = Astro.props
---

<div
  class={cn(
    "pointer-events-none absolute inset-0 h-full w-full bg-[radial-gradient(ellipse_closest-side_at_center,hsla(292,91.4%,72.5%,0.3)_25%,hsla(47.9,95.8%,53.1%,0.3)_50%,hsla(158.1,64.4%,51.6%,0.25)_75%,transparent_100%)] opacity-40",
    className
  )}
  {...props}
>
</div>
