---
import tablerIcons from '@iconify-json/tabler/icons.json'
const tabler: any = tablerIcons

import type { HTMLAttributes } from 'astro/types'
interface Props {
  icon?: keyof typeof tabler.icons
  large?: boolean
  class?: HTMLAttributes<'div'>['class']
}

const { icon, large, class: className } = Astro.props
const slot = await Astro.slots.render('default')
---

{
  (icon || slot?.trim().length > 0) && (
    <span class:list={['icon', large ? 'large area-secondary' : '']}>
      {icon && (
        <svg
          class:list={[className]}
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          set:html={tabler.icons[icon].body}
        />
      )}
      <slot />
    </span>
  )
}

<style>
  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: inherit;
    width: 1em;
    height: 1em;
    color: inherit;

    &:where(.large) {
      font-size: var(--flow5);
      color: var(--text);
    }
  }
  svg {
    position: absolute;
    height: 120%;
    width: 120%;
  }
</style>
