---
import { getEntry } from 'astro:content'
const company = (await getEntry('globals', 'company')).data
---

{
  company.logo && (
    <a
      href="/"
      class:list={[Astro.props.class, 'flex']}
    >
      <img
        src={company.logo}
        alt={'Logo ' + company.company}
        loading="lazy"
        decoding="async"
      />
    </a>
  )
}

<style>
  a > img {
    color: var(--un-preset-theme-textColor-primary);
    height: 2em;
    display: block;
    width: auto;
    object-fit: contain;
    /* @apply text-primary h-2em block w-auto object-contain; */
  }
</style>
