---
export interface Props {
  src?: string | null
  alt?: string | null
  href?: string
  class?: string
}

const { src, alt, href = '/' } = Astro.props
---

{
  src && (
    <a
      href={href}
      class:list={[Astro.props.class]}
    >
      <img
        src={src}
        alt={alt}
      />
      <slot />
    </a>
  )
}

<style>
  a > img {
    color: var(--text);
    display: block;
    height: var(--flow5);
    width: auto;
    object-fit: contain;
  }
</style>
