---
import { cn } from "@/lib/utils"

interface Props {
  class?: string
}

const { class: className, ...props } = Astro.props
const slot = await Astro.slots.render("default")
const hasSlot = slot.trim().length > 0
---

{
  hasSlot && (
    <div
      class={cn(
        "relative overflow-hidden rounded-lg border px-4 py-16 md:px-8 lg:px-12",
        className
      )}
      {...props}
    >
      <Fragment set:html={slot} />
    </div>
  )
}
