---
export interface Props {
  price?: number | null
}

const { price } = Astro.props
const priceNumber = parseInt(price, 10)
const fixedPrice = priceNumber?.toFixed(2)
---

{price && fixedPrice && <span> &euro;{fixedPrice}</span>}

<style>
  span {
    font-size: var(--flow-text2);
    line-height: 1;
    /* @apply text-flow2 text-hue12; */
  }
</style>
