---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"option"> {
  value?: string
  disabled?: boolean
  selected?: boolean
}

const { class: className, value, disabled, selected, ...props } = Astro.props
---

<option
  data-slot="select-item"
  class={cn(
    "bg-background text-foreground disabled:text-muted-foreground disabled:cursor-not-allowed",
    className
  )}
  value={value}
  disabled={disabled}
  selected={selected}
  {...props}
>
  <slot />
</option>
