---
export interface Props {
  orientation?: 'horizontal' | 'vertical'
  spacing?: boolean
}

const { orientation = 'vertical' } = Astro.props
---

<span class={orientation}></span>

<style lang="postcss">
  span {
    border-left:1px solid #38546d; 
    border-right:1px solid #16222c; 
  }

  .horizontal {
    height: 1px;
    width: 100%;
  }

  .vertical {
    width: 1px;
    height: 100%;
  }
</style>
