---
// TODO: orientation werkend maken
export interface Props {
  orientation?: 'horizontal' | 'vertical'
  spacing?: boolean
}

const { orientation = 'horizontal' } = Astro.props
---

<span class={orientation}></span>

<style lang="postcss">
  span {
    display: inline-flex;
    background: #38546d;
  }

  .horizontal {
    height: 1px;
    width: 100%;
  }

  .vertical {
    width: 10px;
    height: 100%;
  }
</style>
