---
interface Props {
  orientation?: 'horizontal' | 'vertical'
  spacing?: boolean
}

const { orientation = 'vertical' } = Astro.props
---

<span class={orientation}></span>

<style lang="postcss">
  span {
    border: 1px solid black;
    flex-shrink: 0;

    &:where(.horizontal) {
      height: 1px;
      width: 100%;
    }

    &:where(.vertical) {
      width: 1px;
      height: 100%;
    }
  }
</style>
