---
// interface Props {
//   title?: string
// }

// const { title } = Astro.props
---

<div id="showcase">
  <div id="tab">
    <div></div>
    <div></div>
    <div></div>
    <!-- {title && <div>{title}</div>} -->
  </div>
  <div id="slot">
    <slot />
  </div>
</div>

<style lang="postcss">
  #showcase {
    background-color: #ececec;
    border-radius: 0.5rem;
    
    & > #tab {
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      gap: 0.5rem;
      display: flex;
      background-color: #d9dada;
      padding: 1rem;
      box-shadow: 0 3px 2px -1px rgb(173, 173, 173);
    }

    div > div:nth-child(n) {
      width: 0.9rem;
      height: 0.9rem;
      border-radius: 100%;

      &:nth-child(1) {
        background-color: #FF605C;
        border: 1px solid #de514f;
      }
      &:nth-child(2) {
        background-color: #FFBD44;
        border: 1px solid #e0a73d;
      }
      &:nth-child(3) {
        background-color: #00CA4E;
        border: 1px solid #00b044;
      }
      /* &:nth-child(4) {
        display: flex;
        margin-left: 45%;
        text-align: center;
        align-items: center;
      } */
    }

    & > #slot {
      flex-direction: column;
      display: flex;
      padding: 1.5rem;
    }
  }
</style>
