---
import { cn } from "@/lib/utils"
import Social from "@/components/elements/social.astro"

interface Props {
  socials?: string[]
  size?: string
  variant?: string
  class?: string
}

const { socials, class: className, size, variant } = Astro.props
const hasSocials = socials && socials.length > 0
---

{
  hasSocials && (
    <div
      class={cn("flex gap-1 sm:flex-row", className)}
      style="align-items: inherit;"
    >
      {socials.map((href) => (
        <Social
          variant={variant || "ghost"}
          size={size || "icon"}
          href={href}
        />
      ))}
    </div>
  )
}
