---
export interface Props {
  tagline?: string | null
  class?: string
}

const { tagline, class: className } = Astro.props
const slot = await Astro.slots.render('default')
---

{
  (tagline || slot?.trim().length > 0) && (
    <p class:list={['tagline', className]}>
      {tagline}
      <slot />
    </p>
  )
}

<style>
  p {
    line-height: 1.25;
    font-size: var(--text1);
    color: var(--color-secondary);
  }
</style>
