---
import type { HTMLAttributes } from 'astro/types'
import getSlot from '../../utils/getSlot'

interface Props {
  tagline?: string | null
  class?: HTMLAttributes<'div'>['class']
}

const { tagline, class: className } = Astro.props
const slot = await getSlot(Astro)
---

{
  (tagline || slot) && (
    <p class:list={['tagline', className]}>
      {tagline}
      <slot />
    </p>
  )
}

<style>
  p {
    line-height: 1.25;
    font-size: var(--text1);
    color: var(--text);
  }
</style>
