---
import type { HTMLAttributes } from 'astro/types'
import getSlot from '../../utils/getSlot'

interface Props {
  text?: string | null
  class?: HTMLAttributes<'div'>['class']
}

const { text, class: className } = Astro.props
const slot = await getSlot(Astro)
---

{
  (text || slot) && (
    <p class:list={['text', className]}>
      {text}
      <slot />
    </p>
  )
}

<style>
  p {
    line-height: 1.625;
    color: var(--text);
    font-size: var(--text2);
  }
</style>
