---
import { getSlot } from '../../utils'

interface Props {
  density?: 'compact' | null
  align?: 'start' | 'center' | 'stretch' | null
  class?: string | null
}

const { density, align, class: className } = Astro.props
const slot = await getSlot(Astro)
---

{
  slot && (
    <div class:list={['display display-root', align, density, className]}>
      <Fragment set:html={slot} />
    </div>
  )
}

<style>
  div {
    display: flex;
    row-gap: var(--spacing-3);
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: max(calc(var(--spacing-6) * 3), 500px);
    text-align: left;

    &:where(.center) {
      align-items: center;
      text-align: center;
    }
  }
</style>
