---
import Badge from 'fulldev-ui/components/Badge.astro'
import Button from 'fulldev-ui/components/Button.astro'
import Column from 'fulldev-ui/components/Column.astro'
import FullFooter from 'fulldev-ui/components/Footer.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Split from 'fulldev-ui/components/Split.astro'
import Text from 'fulldev-ui/components/Text.astro'
---

<FullFooter
  structure="split"
  size="sm"
  variant="base"
>
  <Column>
    <Heading level={2}>Fulldev UI</Heading>
    <Text>
      Rapidly build content-driven websites, with the power of modern styling,
      static / server rendering, and cascading styles.
    </Text>
    <Badge> pnpm install fulldev-ui </Badge>
  </Column>

  <Split align="start">
    <Column>
      <Heading>Socials</Heading>
      <Button
        variant="link"
        href="https://github.com/fulldotdev/"
      >
        Github
      </Button>
      <Button
        variant="link"
        href="https://x.com/fulldotdev"
      >
        Twitter
      </Button>
      <Button
        variant="link"
        href="https://discord.gg/vXZqMbadm8"
      >
        Discord
      </Button>
    </Column>

    <Column>
      <Heading>Resources</Heading>
      <Button
        variant="link"
        href="/overview/introduction"
        >Docs</Button
      >
      <Button
        variant="link"
        href="https://github.com/fulldotdev/ui"
        >Source Code</Button
      >
      <Button
        variant="link"
        href="https://github.com/fulldotdev/ui/issues"
        >Github Issues</Button
      >
      <Button
        variant="link"
        href="https://github.com/fulldotdev/ui/blob/main/CONTRIBUTING.md"
      >
        Contributing
      </Button>
    </Column>
  </Split>
</FullFooter>
