---
import type { HTMLAttributes } from 'astro/types'

export type LinkProps = Props
interface Props {
  label?: string | null
  href?: HTMLAttributes<'a'>['href'] | null
}

const { href, label } = Astro.props
---

<a
  href={href}
  class="link text-size-inherit text-hue11 hover:text-hue12"
>
  {label}
</a>
