<!-- ---
import { getEntry } from 'astro:content'
const company = (await getEntry('globals', 'company')).data
---

{
  company.channels.whatsapp && (
    <div>
      <a
        target="_blank"
        title="Whatsapp"
        href={'https://wa.me/' + company.channels.whatsap}
      >
        <i />
      </a>
    </div>
  )
}

<style lang="scss">
  div {
    position: sticky;
    bottom: 0;
    z-index: 50;
    display: flex;
    height: 0;
    width: 100%;
    justify-content: flex-end;

    a {
      background-color: var(--un-preset-theme-backgroundColor-primary);
      color: var(--un-preset-theme-textColor-primary);
      line-height: 1;
      box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
        var(--un-shadow);
      --un-ring-color: var(--un-preset-theme-borderColor-primary);
      padding: var(--spacing-2) !important;
      bottom: var(--spacing-3);
      right: var(--spacing-3);
      position: absolute;
      z-index: 50;
      margin-left: auto;

      &:last-child:not(:first-child) {
        background-color: var(--un-preset-theme-backgroundColor-secondary);
        box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
          var(--un-shadow);
        --un-ring-color: var(--un-preset-theme-borderColor-secondary);
      }

      &:hover {
        background-color: var(--un-preset-theme-backgroundColor-primary-hover);
        --un-ring-color: var(--un-preset-theme-borderColor-primary-hover);
      }

      &:hover:last-child:not(:first-child) {
        background-color: var(
          --un-preset-theme-backgroundColor-secondary-hover
        );
        --un-ring-color: var(--un-preset-theme-borderColor-secondary-hover);
      }

      &:active {
        background-color: var(--un-preset-theme-backgroundColor-primary-active);
      }

      &:active:last-child:not(:first-child) {
        background-color: var(
          --un-preset-theme-backgroundColor-secondary-active
        );
      }

      i {
        --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='m3 21l1.65-3.8a9 9 0 1 1 3.4 2.9z'/%3E%3Cpath d='M9 10a.5.5 0 0 0 1 0V9a.5.5 0 0 0-1 0za5 5 0 0 0 5 5h1a.5.5 0 0 0 0-1h-1a.5.5 0 0 0 0 1'/%3E%3C/g%3E%3C/svg%3E");
        -webkit-mask: var(--un-icon) no-repeat;
        mask: var(--un-icon) no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        background-color: currentColor;
        color: inherit;
        width: 1em;
        height: 1em;
        font-size: 1.8em;
        --un-text-opacity: 1;
        color: rgb(255 255 255 / var(--un-text-opacity));
      }
    }
  }
</style> -->
