---
import type { HTMLAttributes } from 'astro/types'

interface Props {
  label?: HTMLAttributes<'label'>['for']
  class?: HTMLAttributes<'div'>['class']
}

const { label, class: className } = Astro.props
---

{
  (label || slot) && (
    <label
      class:list={['textarea-label', className]}
      for={label}
    >
      {label}
      <Fragment set:html={slot} />
    </label>
  )
}

<style is:global>
  label {
    color: var(--description);
    font-size: var(--text-1);
  }
</style>
