---
import type { HTMLAttributes } from 'astro/types'

interface Props {
  class?: HTMLAttributes<'div'>['class']
}

const { class: className } = Astro.props
---

{
  slot && (
    <div class:list={['textarea textarea-root', className]}>
      <Fragment set:html={slot} />
    </div>
  )
}

<style is:global>
  .textarea {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
  }
</style>
