---
import type { HTMLAttributes } from 'astro/types'

interface Props {
  class?: HTMLAttributes<'div'>['class']
}

const { class: className } = Astro.props
---

{
  slot && (
    <div class:list={['input input-root', className]}>
      <Fragment set:html={slot} />
    </div>
  )
}

<style is:global>
  .checkbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: var(--spacing-3);
  }
</style>
