---
import Layout from "@/components/layout.astro"

export async function getStaticPaths() {
  const blockFiles = import.meta.glob("/src/blocks/*.tsx", { eager: true })
  const blockNames = Object.keys(blockFiles).map((file) => {
    const name = file.split("/").pop()?.split(".")[0]
    return name
  })
  const blockCategories = blockNames.map((name) => {
    const category = name?.split("-")[0]
    return category
  })
  const uniqueBlockCategories = [...new Set(blockCategories)]

  const paths = uniqueBlockCategories.map((category) => ({
    params: {
      block: category,
    },
    props: {
      blockNames: blockNames.filter((name) => name?.startsWith(`${category}-`)),
    },
  }))

  return paths
}

const { blockNames } = Astro.props

const blocks = blockNames.flatMap((name, index) => {
  const blockData = {
    block: name,
    children: `
      <p>Lorem ipsum</p>
      <h1>Lorem ipsum dolor sit amet</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    `,
    links: [
      {
        text: "Get started",
        href: "#",
      },
      {
        text: "Learn more",
        href: "#",
      },
    ],
    channels: [
      {
        type: "email",
        value: "test@test.com",
      },
      {
        type: "phone",
        value: "+31 6 12 34 56 78",
      },
      {
        type: "address",
        value: "Lorem ipsum dolor sit amet",
      },
      {
        type: "website",
        value: "full.dev",
      },
    ],
    items: [
      {
        icon: "check",
        title: "Lorem ipsum dolor sit amet",
        description:
          "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
        image: {
          src: "/images/placeholder.webp",
        },
      },

      {
        icon: "check",
        title: "Lorem ipsum dolor sit amet",
        description:
          "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
        image: {
          src: "/images/placeholder.webp",
        },
      },
      {
        icon: "check",
        title: "Lorem ipsum dolor sit amet",
        description:
          "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
        image: {
          src: "/images/placeholder.webp",
        },
      },
    ],
    image: {
      src: "/images/placeholder.webp",
    },
  }

  const bannerData = {
    block: "banner-1",
    children: `<h2>${name}</h2>`,
  }

  // Add banner before each block (except the first one)
  if (index === 0) {
    return [bannerData, blockData]
  } else {
    return [bannerData, blockData]
  }
})
---

<Layout blocks={blocks} />
