---
import { getCollection } from 'astro:content'
import NavigationLayout from 'fulldev-ui/layouts/NavigationLayout.astro'

const collection = await getCollection('blocks')
---

<NavigationLayout>
  <h1 class="p4 text-2xl font-bold">Blocks</h1>
  <ul class="list-dist my-6 ml-4 list-disc p-4 li:mt-2">
    {
      collection
        .sort((a, b) => a.id.localeCompare(b.id))
        .map((block) => (
          <li>
            <a href={`/blocks/${block.id}/`}>{block.id}</a>
          </li>
        ))
    }
  </ul>
</NavigationLayout>
