---
import type { ComponentProps, HTMLTag, Polymorphic } from 'astro/types'
import Section from './Section.astro'
import { default as Layout } from './_Layout.astro'

type Props<As extends HTMLTag = 'div'> = Polymorphic<{ as: As }> &
  ComponentProps<typeof Layout>

const { as = 'div', ...rest } = Astro.props
---

<Section
  class:list={['full-prose']}
  {as}
  {...rest}
>
  <slot name="before" />
  <slot />
</Section>

<style is:global lang="scss">
  .full-prose {
  }
</style>
