---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  data-slot="card-title"
  class={cn(
    "text-base leading-normal font-medium group-data-[size=sm]/card:text-sm",
    className
  )}
  {...props}
>
  <slot />
</div>
