---
import type { HTMLString } from 'astro/runtime/server/escape.js'
import { getSlot } from '../../utils'

interface Props {
  html?: HTMLString | null
  class?: string | null
}

const { class: className } = Astro.props
const slot = await getSlot(Astro)
---

{
  slot && (
    <div class:list={['html', className]}>
      <slot />
    </div>
  )
}

<style>
  div {
    display: flex;
    row-gap: var(--spacing-3);
    flex-direction: column;
    width: 100%;
    max-width: calc(var(--spacing-6) * 3);
  }
</style>
