---
import type { HTMLString } from 'astro/runtime/server/escape.js'
import { buildProps, getSlot, type BuildProps } from '../../utils'

interface Base {
  html?: HTMLString | null
}

type Props = BuildProps<Base, 'html', 'div'>
const props = buildProps(Astro, 'html')
const slot = await getSlot(Astro)

const { html, class: className, ...rest } = props
---

{
  (slot || html) && (
    <div
      class:list={['html', className]}
      {...rest}
    >
      <Fragment set:html={html} />
      <slot />
    </div>
  )
}

<style>
  div {
    display: flex;
    row-gap: var(--spacing-3);
    flex-direction: column;
    width: 100%;
    max-width: max(calc(var(--spacing-6) * 3), 500px);
  }
</style>
