---
import type { HTMLAttributes } from "astro/types"
import { cva, type VariantProps } from "class-variance-authority"

import { cn } from "@/lib/utils"

type Props = VariantProps<typeof variants> & HTMLAttributes<"div">

const variants = cva(
  "mb-2 flex shrink-0 items-center justify-center [&_svg]:pointer-events-none [&_svg]:shrink-0",
  {
    variants: {
      variant: {
        default: "bg-transparent",
        icon: "bg-muted text-foreground flex size-10 shrink-0 items-center justify-center rounded-lg [&_svg:not([class*='size-'])]:size-6",
      },
    },
    defaultVariants: {
      variant: "default",
    },
  }
)

const { class: className, variant = "default", ...props } = Astro.props

const slot = await Astro.slots.render("default")
---

{
  slot?.trim().length > 0 && (
    <div
      data-slot="empty-icon"
      data-variant={variant}
      class={cn(variants({ variant, className }))}
      {...props}
    >
      <Fragment set:html={slot} />
    </div>
  )
}
