---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props

const slot = await Astro.slots.render("default")
---

{
  slot && (
    <div
      data-slot="empty-title"
      class={cn("text-lg font-medium tracking-tight", className)}
      {...props}
    >
      <Fragment set:html={slot} />
    </div>
  )
}
