:root,
.full-size-md {
  --font-family: 'IBM Plex Sans', sans-serif;
  --font-weight: 400;

  --heading-font-family: var(--font-family);
  --heading-font-weight: 700;

  --heading-compact-font-family: var(--font-family);
  --heading-compact-font-weight: 600;

  --text-xs: 0.75rem/1rem sans-serif;
  --text-sm: 0.875rem/1.25rem sans-serif;
  --text-md: 1rem/1.5rem sans-serif;
  --text-lg: 1.125rem/1.75rem sans-serif;
  --text-xl: 1.25rem/1.75rem sans-serif;
  --text-2xl: 1.5rem/2rem sans-serif;
  --text-3xl: 1.875rem/2.25rem sans-serif;
  --text-4xl: 2.25rem/2.5rem sans-serif;
  --text-5xl: 3rem/1 sans-serif;
  --text-6xl: 3.75rem/1 sans-serif;
  --text-7xl: 4.5rem/1 sans-serif;
  --text-8xl: 6rem/1 sans-serif;
  --text-9xl: 8rem/1 sans-serif;

  --full-text-1: var(--text-sm);
  --full-text-2: var(--text-md);
  --full-text-3: var(--text-3xl);

  --full-text-compact-ui: var(--text-sm);
  --full-text-compact-base: var(--text-sm);
  --full-text-compact-heading: var(--text-md);

  @media (min-width: 1024px) {
    --full-text-1: var(--text-md);
    --full-text-2: var(--text-lg);
    --full-text-3: var(--text-4xl);

    --full-text-compact-ui: var(--text-sm);
    --full-text-compact-base: var(--text-md);
    --full-text-compact-heading: var(--text-lg);
  }
}

.full-size-xs,
.full-size-sm {
  --full-text-1: var(--text-sm);
  --full-text-2: var(--text-sm);
  --full-text-3: var(--text-xl);

  --full-text-compact-ui: var(--text-xs);
  --full-text-compact-base: var(--text-xs);
  --full-text-compact-heading: var(--text-sm);

  @media (min-width: 1024px) {
    --full-text-1: var(--text-sm);
    --full-text-2: var(--text-md);
    --full-text-3: var(--text-3xl);

    --full-text-compact-ui: var(--text-xs);
    --full-text-compact-base: var(--text-sm);
    --full-text-compact-heading: var(--text-md);
  }
}

.full-size-xs {
  @media (min-width: 1024px) {
    --full-text-3: var(--full-text-2xl);
  }
}

.full-size-lg,
.full-size-xl,
.full-size-2xl {
  --full-text-1: var(--text-md);
  --full-text-2: var(--text-lg);
  --full-text-3: var(--text-4xl);

  --full-text-compact-ui: var(--text-md);
  --full-text-compact-base: var(--text-md);
  --full-text-compact-heading: var(--text-lg);

  @media (min-width: 1024px) {
    --full-text-2: var(--text-xl);
    --full-text-3: var(--text-5xl);

    --full-text-compact-ui: var(--text-md);
    --full-text-compact-base: var(--text-lg);
    --full-text-compact-heading: var(--text-xl);
  }
}

.full-size-xl,
.full-size-2xl {
  @media (min-width: 1024px) {
    --full-text-3: var(--text-6xl);
  }
}

.full-size-2xl {
  @media (min-width: 1024px) {
    --full-text-3: var(--text-7xl);
  }
}

.full-compact,
.full-compact * {
  --full-text-1: var(--full-text-compact-1);
  --full-text-2: var(--full-text-compact-2);
  --full-text-3: var(--full-text-compact-3);
}
