---
import type { LayoutSchema } from "@/schemas/layout"
import type { PageSchema } from "@/schemas/page"

import Block from "@/components/misc/block.astro"
import Layout from "@/components/misc/layout.astro"

interface Props extends LayoutSchema, PageSchema {}

const { seo, banner, header, sections, footer, ...props } = Astro.props

const slot = await Astro.slots.render("default")
const hasContent = slot.trim().length > 0
---

<Layout {...props} {...seo}>
  <Block type="banner" {...banner} />
  <Block type="header" {...header} />
  <main>
    <Block level={1} {...props} />
    {
      sections?.map((section, i) => (
        <Block level={i === 0 && !hasContent ? 1 : 2} {...section} />
      ))
    }
  </main>
  <Block type="footer" {...footer} />
</Layout>
