---
import type { CollectionEntry } from 'astro:content'
import Intro from 'fulldev-ui/blocks/Intro.astro'
import PropsTable from 'fulldev-ui/components/docs/PropsTable.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Section from 'fulldev-ui/components/Section.astro'
import MainLayout from 'fulldev-ui/layouts/MainLayout.astro'

type Props = CollectionEntry<'pages'>

const { data, render, ...rest } = Astro.props
const { Content } = await render()
---

<MainLayout
  {...Astro.props}
  class:list={['component-layout']}
>
  <Intro
    variant="base"
    size="sm"
    {...data}
  />
  <Section>
    <PropsTable component={data.title} />
  </Section>
  <Section>
    <Heading size="sm">Examples</Heading>
    <Content />
  </Section>
  <slot />
</MainLayout>
