---
import type { CollectionEntry } from 'astro:content'
import Intro from 'fulldev-ui/blocks/Intro.astro'
import PropsTable from 'fulldev-ui/components/previous-docs-site/PropsTable.astro'
import Section from 'fulldev-ui/components/Section.astro'
import MainLayout from 'fulldev-ui/layouts/MainLayout.astro'

type Props = CollectionEntry<'pages'>

const { data, slug, render, ...rest } = Astro.props
const { Content } = await render()
---

<MainLayout
  {...Astro.props}
  class:list={['component-layout']}
>
  <Intro
    variant="base"
    size="sm"
    {...data}
  />
  <Section>
    <PropsTable component={data.title} />
  </Section>
  <Content />
  <slot />
</MainLayout>

<style is:global lang="scss">
  .component-layout {
    .example-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: var(--space-5);
    }
  }
</style>
