---
import type { CollectionEntry } from 'astro:content'
import Intro from 'fulldev-ui/blocks/Intro.astro'
import PropsTable from 'fulldev-ui/components/docs/PropsTable.astro'
import Prose from 'fulldev-ui/components/experimental/Prose.astro'
import Window from 'fulldev-ui/components/experimental/Window.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Layout from 'fulldev-ui/layouts/Layout.astro'
type Props = CollectionEntry<'pages'>

const { data, render } = Astro.props
const { Content } = await render()

const components = import.meta.glob('/src/components/*.astro')
const found = components[`/src/components/${data.title}.astro`]
// @ts-ignore
const Component = found ? (await found()).default : null
---

<Layout
  {...Astro.props}
  class:list={['component-layout']}
>
  <Intro
    variant="ghost"
    style={{
      paddingBottom: '0px',
      borderColor: 'transparent',
    }}
    {...data}
  />
  <Section>
    {
      Component && data.example && (
        <Window componentProps={{ title: data.title }}>
          <Component
            slot="example"
            {...(data.example as Record<string, unknown>)}
          />
        </Window>
      )
    }
  </Section>
  <Section
    heading="Props"
    size="sm"
  >
    <PropsTable component={data.title} />
  </Section>
  <Section>
    <Prose>
      <!-- <Heading size="sm">Examples</Heading> -->
      <Content />
    </Prose>
  </Section>
  <slot />
</Layout>
