---
import type { CollectionEntry } from 'astro:content'
import Prose from 'fulldev-ui/components/experimental/Prose.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Layout from 'fulldev-ui/layouts/Layout.astro'

type Props = CollectionEntry<'pages'>

const { render } = Astro.props
const { Content } = await render()
---

<Layout
  {...Astro.props}
  class:list="component-layout"
>
  <Section>
    <Prose>
      <Content />
    </Prose>
  </Section>
  <slot />
</Layout>
