---
import type { CollectionEntry } from 'astro:content'
import Intro from 'fulldev-ui/blocks/Intro.astro'
import PropsTable from 'fulldev-ui/components/docs/PropsTable.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Section from 'fulldev-ui/components/Section.astro'
import MainLayout from 'fulldev-ui/layouts/MainLayout.astro'

type Props = CollectionEntry<'pages'>

const { data, render, ...rest } = Astro.props
const { Content } = await render()
---

<MainLayout
  {...Astro.props}
  class:list={['component-layout']}
>
  <main
    class="content"
    data-pagefind-body
  >
    <Intro
      variant="base"
      size="sm"
      {...data}
    />
    <Section>
      <Heading size="sm">Props</Heading>
      <PropsTable component={data.title} />
    </Section>
    <Section>
      <Heading size="sm">Examples</Heading>
      <Content />
    </Section>
    <slot />
  </main>
</MainLayout>

<style is:global lang="scss">
  .component-layout {
    .content {
      flex: 1;
      padding: var(--space-5);
    }

    .example-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: var(--space-5);
      padding: var(--space-5);
    }
  }
</style>
