---
import type { ComponentProps } from 'astro/types'
import Block from 'fulldev-ui/components/Block.astro'
import Blocks from 'fulldev-ui/components/Blocks.astro'
import Prose from 'fulldev-ui/components/experimental/Prose.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Layout from 'fulldev-ui/layouts/Layout.astro'
import Contact from '../blocks/Contact.astro'

type Props = ComponentProps<typeof Layout> & {
  contactProps: ComponentProps<typeof Contact>
}

const { render, section, sections, block, blocks, contactProps, ...rest } =
  Astro.props
const { Content } = await render()
---

<Layout {...Astro.props}>
  <Block
    _bookshop_name="Contact"
    level={1}
    {...rest}
  />
  <Block {...section} />
  <Block {...block} />
  <Section style={{ '--screen': '768px' }}>
    <Prose id="prose">
      <Content />
    </Prose>
  </Section>
  <Blocks {...sections} />
  <Blocks {...blocks} />
  <slot />
</Layout>
