---
import Jobs1 from "@/blocks/jobs-1"

import { type EntryProps } from "@/lib/types"
import Layout from "@/components/layout.astro"

type Props = EntryProps

const { seo, blocks, ...props } = Astro.props
---

<Layout {...props} {...seo} blocks={blocks}>
  <Jobs1 {...props}>
    <h1>{props.title}</h1>
    <p>{props.description}</p>
    <slot />
  </Jobs1>
</Layout>
