---
import { getEntry } from 'astro:content'
import Whatsapp from '../components/elements/Whatsapp.astro'
import Header from '../components/elements/header/Header.astro'
import Footer from '../components/globals/Footer.astro'
import Legal from '../components/globals/Legal.astro'
import Layout from './Layout.astro'

const cta = await getEntry('globals', 'cta')
const globals = await getEntry('settings', 'globals')
const merged = { ...cta.data, ...globals?.data.cta }

const { seo } = Astro.props
---

<Layout {seo}>
  <Header />
  <main>
    <slot />
    <Whatsapp />
  </main>
  <Footer />
  <Legal />
</Layout>
