---
import Footer from '../components/globals/Footer.astro'
import Header from '../components/globals/Header.astro'
import Legal from '../components/globals/Legal.astro'
import Layout from './Layout.astro'

const { seo } = Astro.props
---

<Layout {seo}>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
  <Legal />
</Layout>
