---
// import '@unocss/reset/tailwind.css'
import Body from '../components/elements/body/Body.astro'
import Seo from '../components/misc/Seo.astro'

const { seo } = Astro.props
---

<!doctype html>
<html
  lang="nl"
  class="bg-hue1 scroll-smooth"
>
  <head>
    <Seo {...seo} />
    <!-- <ViewTransitions /> -->
  </head>
  <Body>
    <slot />
  </Body>
</html>
