---
import type { CollectionEntry } from 'astro:content'
import Block from 'fulldev-blocks/components/Block.astro'
import Blocks from 'fulldev-blocks/components/Blocks.astro'
import Layout from 'fulldev-blocks/layouts/Layout.astro'
import { Button } from 'fulldev-ui'

type Props = CollectionEntry<'pages'>

const { logo, header, headers, footer, footers, channels } =
  Astro.props.data || {}
---

<Layout {...Astro.props}>
  <Block
    _bookshop_name="Header"
    {logo}
    {...header}
  />
  <Blocks {...headers} />
  <main>
    <slot />
  </main>
  {
    channels.whatsapp && (
      <Button
        variant="solid"
        color="brand"
        icon="brand-whatsapp"
        size="lg"
        href={`https://wa.me/${channels.whatsapp}`}
        style={{
          position: 'fixed',
          right: 'var(--space-4)',
          bottom: 'var(--space-4)',
          backgroundColor: '#46A758',
        }}
      />
    )
  }
  <Block
    _bookshop_name="Footer"
    {logo}
    {...footer}
  />
  <Blocks {...footers} />
</Layout>
