---
import type { CollectionEntry } from 'astro:content'
import { Button } from 'fulldev-ui'
import Block from 'fulldev-ui/components/Block.astro'
import Blocks from 'fulldev-ui/components/Blocks.astro'
import Sidebar from 'fulldev-ui/components/Sidebar.astro'
import Layout from 'fulldev-ui/layouts/Layout.astro'

type Props = CollectionEntry<'pages'>

const { logo, header, headers, footer, footers, channels, sidebar } =
  Astro.props.data || {}
---

<Layout {...Astro.props}>
  <Block
    _bookshop_name="Header"
    {logo}
    {...header}
  />
  <Blocks {...headers} />
  <div class="layout-container">
    <Sidebar {sidebar} />
    <main data-pagefind-body>
      <slot />
    </main>
  </div>
  {
    channels?.whatsapp && (
      <Button
        variant="solid"
        color="brand"
        icon="brand-whatsapp"
        size="lg"
        href={`https://wa.me/${channels.whatsapp}`}
        style={{
          position: 'fixed',
          right: 'var(--space-4)',
          bottom: 'var(--space-4)',
          backgroundColor: '#46A758',
        }}
      />
    )
  }
  <Block
    _bookshop_name="Footer"
    {logo}
    {...footer}
  />
  <Blocks {...footers} />
</Layout>

<style lang="scss">
  .layout-container {
    .sidebar {
      display: none;
    }

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;

      .sidebar {
        display: flex;
      }
    }
  }
</style>
