---
import type { ComponentProps } from 'astro/types'
import Categories from 'fulldev-ui/blocks/Categories.astro'
import Intro from 'fulldev-ui/blocks/Intro.astro'
import Products from 'fulldev-ui/blocks/Products.astro'
import Blocks from 'fulldev-ui/components/Blocks.astro'
import Prose from 'fulldev-ui/components/experimental/Prose.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Layout from 'fulldev-ui/layouts/Layout.astro'
import { getChildPages } from 'fulldev-ui/utils/getChildPages.ts'
import { getChildRecords } from 'fulldev-ui/utils/getChildRecords.ts'
import { getReferencingPages } from 'fulldev-ui/utils/getReferencingPages.ts'

type Props = ComponentProps<typeof Layout>

const { slug, render, sections, blocks, children, references, ...rest } =
  Astro.props
const { Content } = await render()

const childPages = await getChildPages(slug)
const childRecords = await getChildRecords(slug)
// const siblingPages = await getSiblingPages(slug)
const referencingPages = await getReferencingPages(slug)
---

<Layout {...Astro.props}>
  <Intro {...rest} />
  <Categories
    pages={childPages}
    records={childRecords}
    structure="grid"
    panel
  />
  <Products
    pages={referencingPages}
    structure="grid"
  />
  <Section style={{ '--screen': '768px' }}>
    <Prose id="prose">
      <Content />
    </Prose>
  </Section>
  <Blocks {...sections} />
  <Blocks {...blocks} />
  <slot />
</Layout>
