---
import type { CollectionEntry } from 'astro:content'
import Block from 'fulldev-blocks/components/Block.astro'
import Blocks from 'fulldev-blocks/components/Blocks.astro'
import MainLayout from 'fulldev-blocks/layouts/MainLayout.astro'
import { Prose, Section } from 'fulldev-ui'

type Props = CollectionEntry<'pages'>

const { data, render } = Astro.props
const { section, sections, block, blocks, children, references } = data
const { Content } = await render()
---

<MainLayout {...Astro.props}>
  <Block
    _bookshop_name="Hero"
    size="lg"
    {...data}
  />
  <Block
    _bookshop_name="Categories"
    source="children"
    structure="grid"
    {...children}
  />
  <Block
    _bookshop_name="ProductDeck"
    heading={data.title && references
      ? `Alle ${data.title.toLowerCase()}`
      : undefined}
    source="references"
    structure="grid"
    {...references}
  />
  <Section
    size="lg"
    style={{ '--screen': '768px' }}
  >
    <Prose id="prose">
      <Content />
    </Prose>
  </Section>
  <Blocks {...sections} />
  <Blocks {...blocks} />
  <slot />
</MainLayout>
