---
import Block from '@/components/Block.astro'
import Container from '@/components/Container.astro'
import Prose from '@/components/Prose.astro'
import Section from '@/components/Section.astro'
import Layout from '@/layouts/Layout.astro'
import '@/styles/global.css'

interface Props {
  title?: string
  description?: string
  image?: {
    src?: string
    alt?: string
  }
  sections?: any[]
  meta?: {
    title?: string
    description?: string
    canonical?: string
    noindex?: boolean
    nofollow?: boolean
  }
}

const { title, description, image, sections, meta } = Astro.props
---

<Layout
  class="page"
  {title}
  {description}
  {image}
  {...meta}
>
  <Section class="page page-1">
    <Container
      class="flex flex-col"
      size="sm"
    >
      <Prose>
        <slot />
      </Prose>
    </Container>
  </Section>
  {sections?.map((section) => <Block {...section} />)}
</Layout>
