---
import Container from '@/components/Container.astro'
import Prose from '@/components/Prose.astro'
import Section from '@/components/Section.astro'
import type { PostSchema } from '@/schemas/layouts/post'

interface Props extends PostSchema {}
---

<Section class="page page-1">
  <Container
    class="flex flex-col"
    size="sm"
  >
    <Prose>
      <slot />
    </Prose>
  </Container>
</Section>
