---
import type { ComponentProps } from 'astro/types'
import Intro from 'fulldev-ui/blocks/Intro.astro'
import Blocks from 'fulldev-ui/components/Blocks.astro'
import Prose from 'fulldev-ui/components/experimental/Prose.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Layout from 'fulldev-ui/layouts/Layout.astro'

type Props = ComponentProps<typeof Layout>

const { render, section, sections, blocks, ...rest } = Astro.props
const { Content } = await render()
---

<Layout {...Astro.props}>
  <Intro
    _bookshop_name="Intro"
    style={{ '--screen': '768px' }}
    align="start"
    {...section}
    {...rest}
  />
  <Section>
    <Prose id="prose">
      <Content />
    </Prose>
  </Section>
  <Blocks {...sections} />
  <Blocks {...blocks} />
  <slot />
</Layout>
