---
import type { CollectionEntry } from 'astro:content'
import { Prose, Section } from 'fulldev-ui'
import Block from 'fulldev-ui/components/Block.astro'
import Blocks from 'fulldev-ui/components/Blocks.astro'
import DocsSidebar from 'fulldev-ui/components/docs/DocsSidebar.astro'
import MainLayout from 'fulldev-ui/layouts/MainLayout.astro'

type Props = CollectionEntry<'pages'>

const { data, render } = Astro.props
const { section, sections, blocks } = data
const { Content } = await render()
---

<MainLayout {...Astro.props}>
  <div class="layout-container">
    <DocsSidebar />
    <main class="content">
      <Block
        _bookshop_name="Hero"
        style={{ '--screen': '768px' }}
        align="start"
        {...section}
        {...data}
      />
      <Section
        size="lg"
        style={{
          paddingBottom: 'var(--space-7)',
        }}
      >
        <Prose id="prose">
          <Content />
        </Prose>
      </Section>
      <Blocks {...sections} />
      <Blocks {...blocks} />
      <slot />
    </main>
  </div>
</MainLayout>

<style lang="scss">
  .layout-container {
    display: flex;
    flex-direction: row;
  }

  .content {
    flex: 1;
    padding: var(--space-5);
  }

  @media (max-width: 767px) {
    .layout-container {
      flex-direction: column;
    }
  }
</style>
