---
import Block from '@/components/Block.astro'
import Container from '@/components/Container.astro'
import Element from '@/components/Element.astro'
import Image from '@/components/Image.astro'
import Prose from '@/components/Prose.astro'
import Section from '@/components/Section.astro'
import Sidebar from '@/components/Sidebar.astro'
import Toc from '@/components/Toc.astro'
import type { ComponentProps } from 'astro/types'
import Navigation from './Navigation.astro'

interface Props extends ComponentProps<typeof Navigation> {
  blocks?: any[]
  headings?: any[]
}

const { title, description, image, blocks, headings, ...rest } = Astro.props
---

<Navigation {...Astro.props}>
  <Section>
    <Container>
      <Prose>
        <Element as="h1">{title}</Element>
        <Element as="p">{description}</Element>
        <Image {...image} />
        <slot />
      </Prose>
      <Sidebar>
        <Toc
          size="sm"
          {headings}
        />
      </Sidebar>
    </Container>
  </Section>
  {blocks?.map((block) => <Block {...block} />)}
</Navigation>
