---
import type { CollectionEntry } from 'astro:content'
import Intro from 'fulldev-ui/blocks/Intro.astro'
import Blocks from 'fulldev-ui/components/Blocks.astro'
import Prose from 'fulldev-ui/components/experimental/Prose.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Layout from 'fulldev-ui/layouts/Layout.astro'

type Props = CollectionEntry<'pages'>

const { data, render } = Astro.props
const { section, sections, blocks } = data
const { Content } = await render()
---

<Layout {...Astro.props}>
  <Intro
    _bookshop_name="Intro"
    style={{ '--screen': '768px' }}
    align="start"
    {...section}
    {...data}
  />
  <Section>
    <Prose id="prose">
      <Content />
    </Prose>
  </Section>
  <Blocks {...sections} />
  <Blocks {...blocks} />
  <slot />
</Layout>
