---
import type { CollectionEntry } from 'astro:content'
import { Prose, Section } from 'fulldev-ui'
import Block from 'fulldev-ui/components/Block.astro'
import Blocks from 'fulldev-ui/components/Blocks.astro'
import MainLayout from 'fulldev-ui/layouts/MainLayout.astro'

type Props = CollectionEntry<'pages'>

const { data, render } = Astro.props
const { section, sections, blocks } = data
const { Content } = await render()
---

<MainLayout {...Astro.props}>
  <Block
    _bookshop_name="Hero"
    style={{ '--screen': '768px' }}
    align="start"
    {...section}
    {...data}
  />
  <Section
    size="lg"
    style={{
      '--screen': '768px',
      paddingBottom: 'var(--space-7)',
    }}
  >
    <Prose id="prose">
      <Content />
    </Prose>
  </Section>
  <Blocks {...sections} />
  <Blocks {...blocks} />
  <slot />
</MainLayout>
