---
import type { CollectionEntry } from 'astro:content'
import Block from 'fulldev-ui/components/Block.astro'
import Blocks from 'fulldev-ui/components/Blocks.astro'
import Prose from 'fulldev-ui/components/experimental/Prose.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Layout from 'fulldev-ui/layouts/Layout.astro'

type Props = CollectionEntry<'pages'>

const { data, render } = Astro.props
const { section, sections, block, blocks } = data
const { Content } = await render()
---

<Layout {...Astro.props}>
  <Block
    _bookshop_name="ProductSection"
    {...data}
  />
  <Block {...section} />
  <Block {...block} />
  <Section style={{ '--screen': '768px' }}>
    <Prose id="prose">
      <Content />
    </Prose>
  </Section>
  <Blocks {...sections} />
  <Blocks {...blocks} />
  <slot />
</Layout>
