---
import type { ComponentProps } from "astro/types"

import { getLayout, getSearchRecursive } from "@/lib/shopify"
import Block from "@/components/misc/block.astro"
import Layout from "@/components/misc/layout.astro"

interface Props extends ComponentProps<typeof Layout> {}

const { banner, header, footer } = await getLayout()
const search = await getSearchRecursive()

const pages = await getCollection("pages")
---

<Layout {...Astro.props}>
  <Block type="banner" variant={1} {...banner} />
  <Block type="header" variant={2} search={search} cart={true} {...header} />
  <main>
    <slot />
  </main>
  <Block type="footer" variant={1} {...footer} />
</Layout>
