---
import type { ComponentProps } from "astro/types"

import { getLayout, getSearchRecursive } from "@/lib/shopify"
import Block from "@/components/misc/block.astro"
import Layout from "@/components/misc/layout.astro"

interface Props extends ComponentProps<typeof Layout> {}

const { banner, headerMenus, footerMenus } = await getLayout()
const search = await getSearchRecursive()
---

<Layout {...Astro.props}>
  <Block type="banner" variant={1} items={banner} />
  <Block type="header" variant={2} search={search} menus={headerMenus} />
  <main>
    <slot />
  </main>
  <Block type="footer" variant={1} menus={footerMenus} />
</Layout>
