---
import Moon from "lucide-static/icons/moon.svg"
import Sun from "lucide-static/icons/sun.svg"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<Button
  id="mode-toggle"
  variant="ghost"
  size="icon"
  aria-label="Toggle theme"
  class={cn("relative", className)}
>
  <Sun class="dark:hidden" />
  <Moon class="hidden dark:block" />
</Button>

<style>
  :global(html.no-transitions *) {
    @apply !transition-none !duration-0;
  }
</style>

<script is:inline>
  const theme = (() => {
    const localStorageTheme = localStorage?.getItem("theme") ?? ""
    if (["dark", "light"].includes(localStorageTheme)) {
      return localStorageTheme
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark"
    }
    return "light"
  })()

  if (theme === "light") {
    document.documentElement.classList.remove("dark")
    document.documentElement.setAttribute("data-theme", "light")
  } else {
    document.documentElement.classList.add("dark")
    document.documentElement.setAttribute("data-theme", "dark")
  }

  localStorage.setItem("theme", theme)

  const handleToggleClick = () => {
    const html = document.documentElement
    html.classList.add("no-transitions")
    html.classList.toggle("dark")

    const isDark = html.classList.contains("dark")
    const newTheme = isDark ? "dark" : "light"
    html.setAttribute("data-theme", newTheme)
    localStorage.setItem("theme", newTheme)

    requestAnimationFrame(() => {
      html.classList.remove("no-transitions")
    })
  }

  document
    .getElementById("mode-toggle")
    ?.addEventListener("click", handleToggleClick)
</script>
