---
import type { HTMLAttributes } from 'astro/types'

interface Props {
  text?: string | null
  href?: HTMLAttributes<'a'>['href']
  class?: HTMLAttributes<'div'>['class']
}

const { href, text } = Astro.props
---

{
  href && (
    <a href={href}>
      {text}
      <slot />
    </a>
  )
}

<style>
  a {
    font-size: inherit;
    color: var(--color);

    &:hover {
      color: var(--heading);
      text-decoration: underline;
    }
  }
</style>
