---
import type { CollectionEntry } from 'astro:content'
import { Button } from '../../components/button'
import { Layout } from '../../components/layout'
import { Section } from '../../components/section'
import ProductDeck from './ProductDeck.astro'

interface Props {
  entry: CollectionEntry<'product'>
}

const { entry } = Astro.props
---

<Layout {...entry.data}>
  <Section
    order="reverse"
    layout="split"
    gallery
    {...entry.data}
  >
    <Button
      slot="segment"
      text={'Voeg toe aan winkelwagen'}
      href={'/producten'}
    />
  </Section>
  <Section render={entry.render} />
  <ProductDeck
    heading={'Overige producten'}
    layout="carousel"
  />
  <slot />
</Layout>
