---
import type { Props as TextProps } from '../Text.astro'
import Link from '../link/Link.astro'
import type { Props as BannerRootProps } from './BannerRoot.astro'
import BannerRoot from './BannerRoot.astro'

interface Props extends BannerRootProps, TextProps {}

let { props } = Astro
---

<BannerRoot {...props}>
  <span>{props.text}</span>
  <div>
    <Link
      href="mailto:info@hltw.nl"
      text="info@hltw.nl"
    />
    <Link
      href="tel31616715746:"
      text="316 1671 5746"
    />
  </div>
</BannerRoot>

<style>
  span {
    color: var(--text);
    font-size: var(--text1);
  }

  div {
    display: flex;
    gap: var(--flow3);
    align-items: center;
    color: var(--text);
    font-size: var(--text1);
  }
</style>
