---
import type { HTMLAttributes } from "astro/types"

import "vanilla-calendar-pro/styles/index.css"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div data-slot="calendar" class={cn("vanilla-calendar", className)} {...props}>
</div>

<script>
  // @ts-ignore
  import { Calendar } from "vanilla-calendar-pro"

  const options = {
    type: "default",
    lang: "nl",
    style: {
      calendar: "calendar",
    },
  }

  document.addEventListener("DOMContentLoaded", () => {
    const calendar = new Calendar("[data-slot='calendar']", options)
    calendar.init()
  })
</script>

<style is:global>
  .vc {
    background-color: var(--color-background) !important;

    .vc-date__btn {
      background-color: transparent !important;
      color: var(--color-foreground) !important;

      &:hover {
        background-color: var(--color-accent) !important;
      }
    }

    .vc-week__day {
      color: var(--color-foreground) !important;
    }

    [data-vc-date-today] .vc-date__btn {
      background-color: var(--color-accent) !important;
      color: var(--color-accent-foreground) !important;
    }

    [data-vc-date-month="next"] .vc-date__btn,
    [data-vc-date-month="prev"] .vc-date__btn {
      color: var(--color-muted-foreground) !important;
      background-color: transparent !important;
    }

    [data-vc-date-selected] .vc-date__btn {
      background-color: var(--color-foreground) !important;
      color: var(--color-background) !important;
    }
  }
</style>
