---
import { cn } from "@/lib/utils"

interface Props {
  class?: string
}

const { class: className, ...props } = Astro.props

const slot = await Astro.slots.render("default")
const hasSlot = slot.trim().length > 0
---

{
  hasSlot && (
    <h3
      class={cn(
        "flex w-fit items-center gap-2 text-sm leading-snug font-medium",
        className
      )}
      {...props}
    >
      <Fragment set:html={slot} />
    </h3>
  )
}
