---
/**
 * Navigation Menu - Pure CSS Example
 *
 * This is an example of how to use the pure CSS navigation menu components.
 *
 * Features:
 * - Pure CSS (0 JavaScript)
 * - Keyboard accessible (:focus-within)
 * - Smooth transitions
 * - Mobile-friendly
 *
 * Usage:
 * 1. Simple link (no dropdown):
 *    <NavigationMenuItem>
 *      <NavigationMenuLink variant="trigger" href="/about">About</NavigationMenuLink>
 *    </NavigationMenuItem>
 *
 * 2. Dropdown menu:
 *    <NavigationMenuItem>
 *      <NavigationMenuTrigger>Products</NavigationMenuTrigger>
 *      <NavigationMenuContent>
 *        <NavigationMenuLink href="/product1">Product 1</NavigationMenuLink>
 *      </NavigationMenuContent>
 *    </NavigationMenuItem>
 */

import NavigationMenuContent from "./navigation-menu-content.astro"
import NavigationMenuItem from "./navigation-menu-item.astro"
import NavigationMenuLink from "./navigation-menu-link.astro"
import NavigationMenuList from "./navigation-menu-list.astro"
import NavigationMenuTrigger from "./navigation-menu-trigger.astro"
import NavigationMenu from "./navigation-menu.astro"
---

<NavigationMenu>
  <NavigationMenuList>
    <!-- Simple Link using variant="trigger" -->
    <NavigationMenuItem>
      <NavigationMenuLink variant="trigger" href="/">Home</NavigationMenuLink>
    </NavigationMenuItem>

    <!-- Dropdown Menu -->
    <NavigationMenuItem>
      <NavigationMenuTrigger>Products</NavigationMenuTrigger>
      <NavigationMenuContent>
        <ul class="flex w-[200px] flex-col gap-2">
          <li>
            <NavigationMenuLink href="/products/item1">
              Product 1
            </NavigationMenuLink>
          </li>
          <li>
            <NavigationMenuLink href="/products/item2">
              Product 2
            </NavigationMenuLink>
          </li>
          <li>
            <NavigationMenuLink href="/products/item3">
              Product 3
            </NavigationMenuLink>
          </li>
        </ul>
      </NavigationMenuContent>
    </NavigationMenuItem>

    <!-- Another Simple Link -->
    <NavigationMenuItem>
      <NavigationMenuLink variant="trigger" href="/about">
        About
      </NavigationMenuLink>
    </NavigationMenuItem>

    <!-- Another Dropdown -->
    <NavigationMenuItem>
      <NavigationMenuTrigger>Resources</NavigationMenuTrigger>
      <NavigationMenuContent>
        <ul class="flex w-[200px] flex-col gap-2">
          <li>
            <NavigationMenuLink href="/docs">Documentation</NavigationMenuLink>
          </li>
          <li>
            <NavigationMenuLink href="/blog">Blog</NavigationMenuLink>
          </li>
        </ul>
      </NavigationMenuContent>
    </NavigationMenuItem>
  </NavigationMenuList>
</NavigationMenu>
