---
import { cn } from "@/lib/utils"

interface Props {
  class?: string
}

const { class: className } = Astro.props
const slot = await Astro.slots.render("default")
const hasSlot = slot?.trim().length > 0
---

{
  hasSlot && (
    <div
      class={cn("flex gap-1 sm:flex-row", className)}
      style="align-items: inherit;"
    >
      <Fragment set:html={slot} />
    </div>
  )
}
