---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {
  defaultValue?: string
  orientation?: "horizontal" | "vertical"
  activationMode?: "auto" | "manual"
}

const {
  class: className,
  defaultValue,
  orientation = "horizontal",
  activationMode,
  ...props
} = Astro.props
---

<div
  data-slot="tabs"
  data-default-value={defaultValue}
  data-orientation={orientation}
  data-horizontal={orientation === "horizontal" ? "" : undefined}
  data-vertical={orientation === "vertical" ? "" : undefined}
  data-activation-mode={activationMode}
  class={cn("group/tabs flex gap-2 data-horizontal:flex-col", className)}
  {...props}
>
  <slot />
</div>

<script>
  import { createTabs } from "@data-slot/tabs"

  document.querySelectorAll("[data-slot='tabs']").forEach((el) => {
    createTabs(el)
  })
</script>
