---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {
  value: string
}

const { class: className, value, ...props } = Astro.props
---

<div
  role="tabpanel"
  data-slot="tabs-content"
  data-value={value}
  data-state="inactive"
  hidden
  class={cn("flex-1 text-sm outline-none", className)}
  {...props}
>
  <slot />
</div>
