---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props
---

<div
  data-slot="tabs-content"
  class={cn("flex-1 text-sm outline-none", className)}
  {...props}
>
  <slot />
</div>
