---
import type { HTMLAttributes } from "astro/types"
import { cva, type VariantProps } from "class-variance-authority"

import { cn } from "@/lib/utils"

const tabsListVariants = cva(
  "group/tabs-list text-muted-foreground inline-flex w-fit items-center justify-center rounded-lg p-[3px] group-data-horizontal/tabs:h-9 group-data-vertical/tabs:h-fit group-data-vertical/tabs:flex-col data-[variant=line]:rounded-none",
  {
    variants: {
      variant: {
        default: "bg-muted",
        line: "gap-1 bg-transparent",
      },
    },
    defaultVariants: {
      variant: "default",
    },
  }
)

interface Props
  extends HTMLAttributes<"div">,
    VariantProps<typeof tabsListVariants> {}

const { class: className, variant = "default", ...props } = Astro.props
---

<div
  data-slot="tabs-list"
  data-variant={variant}
  role="tablist"
  class={cn(tabsListVariants({ variant }), className)}
  {...props}
>
  <slot />
</div>
