---
import type { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props
---

<div
  data-slot="tabs-indicator"
  class={className}
  {...props}
>
</div>
