<!-- ---
import { getEntry } from 'astro:content'
import { cva,type VariantProps } from 'cva'
import Segment from '../elements//Segment.astro'
import Channels from '../elements/channel/ChannelGroup.astro'
import Links from '../elements/link/Links.astro'
import Logo from '../elements/Logo.astro'
import SocialGroup from '../elements/social/SocialGroup.astro'

interface Props extends VariantProps<typeof variant> {}

const variant = cva({
  base: 'area-block grid gap-flow5 lg:grid-flow-col lg:auto-cols-fr size-small border-hue6 border-t relative z-20 justify-between',
  variants: {
    frame: {
      fill: 'px-wrapper py-flow6',
      float: 'mx-wrapper py-flow6',
      panel: 'mx-wrapper my-flow6',
    },
    look: {
      ghost: 'bg-transparent',
      soft: 'bg-hue2',
      surface: 'bg-hue2 border border-hue6',
      outline: 'bg-transparent border border-hue6 ',
      solid:
        'bg-hue9 !text-hue-fg [&_*]:!text-hue-fg [&_.button]:(!bg-hue-fg !text-hue9)',
    },
    size: size,
    scheme: scheme,
    hue: hue,
  },
  defaultVariants: {
    frame: 'fill',
    look: 'ghost',
    size: 'medium',
  },
})

const footer = await getEntry('globals', 'footer').then(({ data }) => data)
const company = (await getEntry('globals', 'company')).data
const globals = await getEntry('settings', 'globals')
const config = globals.data.footer
---

{
  footer && (
    <footer class={variant(config)}>
      <Segment class:list="col-span-1.2 density-compact size-medium max-w-xs">
        <Logo />
        {company?.description && (
          <p class="text-primary">{company?.description}</p>
        )}
        <SocialGroup socials />
      </Segment>
      <Channels
        layout="col"
        channels
        class:list="density-compact size-medium"
      />
      {footer?.columns &&
        footer?.columns?.map((column: any) => (
          <Segment class:list="col-span-.8 density-compact size-small">
            <h6 class="heading-secondary">{column.heading}</h6>
            <Links links={column.links} />
          </Segment>
        ))}
    </footer>
  )
} -->
